[2022-01-29 21:21] mikayelh commented on #1461
hey @jinlinyi , you can login following instructions [here](activeloop register

activeloop login). Make sure you create an account [here](https://app.activeloop.ai/register) if you haven't already!

[2022-01-29 21:25] jinlinyi commented on #1461
Great, it works now 💯 . Thank you so much!

[2022-01-29 21:31] mikayelh commented on #1461
of course, @jinlinyi ! let us know if you need any help - here our in our [community slack](http://slack.activeloop.ai/)!

[2022-01-29 21:32] #1461 closed

[2022-02-03 20:28] #1169 closed

[2022-02-08 14:01] #1130 closed

[2022-02-09 17:11] davidbuniat opened #1482 "[INTEGRATION] with AiStore"
## 🚨🚨 Feature Request

- [x] Related to an existing https://github.com/activeloopai/examples/pull/15

### Is your feature request related to a problem?

Add integration to [aistore](https://github.com/NVIDIA/aistore) as a storage provider. Boto3 can not work with AiStore.

### If your feature will improve `HUB`

Hub will support Nvidia AiStore as backend storage.

### Description of the possible s

[2022-02-13 18:28] sainikhileshreddy opened #1488 "[FEATURE] Auto QAing uploaded datasets"
## 🚨🚨 Feature Request

### If your feature will improve `HUB`

This feature is intended to verify datasets converted to Hub.
It looks at all the data and checks if they have proper shapes and labels

### Description of the possible solution

I propose function as `ds.verify_upload()` which intends to:

1. check the shapes of images and their respective labels
2. visualize randomly selected image a

[2022-02-13 18:33] SaiNikhileshReddy commented on #1439
I would like to take up this issue and I have a few additional ideas for this issue like a schema view for the dataset.

I have an idea wherein we just display Dtype, Htype, sample_compression under the name of the tensor of the schema to give greater insight into schema structure.

Example of above idea:

![image](https://user-images.githubusercontent.com/57210912/153768869-e96fac9a-7c4b-4f04-a29

[2022-02-13 18:37] mikayelh commented on #1488
@davidbuniat any suggestions?

[2022-02-14 10:47] mikayelh commented on #1488
@zshashz also adding you in case you have any ideas.

[2022-02-15 06:23] davidbuniat commented on #1488
@SaiNikhileshReddy the issue is good, but we need to understand what do we mean by verifying uploads. It can mean certain things.
- [ ] (ultimate) Does the raw data corresponds to the data stored inside hub?

Other questions
- [ ] Does the structure of the dataset (tensors, shapes and types) semantically make sense?
- [ ] Visually locally the data makes sense see this https://github.com/activeloop

[2022-02-15 06:25] davidbuniat commented on #1439
@SaiNikhileshReddy looks great! lets get started!

[2022-02-15 13:10] khustup commented on #1387
Hey @noringname
We have released local datasets visualization in the platform - https://app.activeloop.ai . To visualize the local dataset you need to open any dataset in our platform and then drag and drop local dataset folder on the visualizer screen.
Please try it and let me know if this works for you.

Thanks,
Sasun.

[2022-02-16 19:39] SaiNikhileshReddy opened #1495 "[BUG] bbox albumentation not working for hub pytorch dataloader"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

Transformation for bboxes is not working as intended using hub pytorch dataloader function. If I try to use it without a dataloader, it works. I have used `hub://activeloop/coco-train` as an example for this code.

I'm not able to create an exact reproducible error due to randomness in dataloder part but when you check output from each block of code, you

[2022-02-16 20:43] SaiNikhileshReddy commented on #1495
## Error 1 - .data()
### Modified Code
[code]
### Output
[code]

[2022-02-16 20:48] SaiNikhileshReddy commented on #1495
## Error 2 - .numpy(aslist=True)
### Modified Code
[code]
### Output
[code]

[2022-02-16 21:12] istranic commented on #1495
Hey @SaiNikhileshReddy . I think you have a minor typo in your code. The return value of `transform` in the first example code should be `boxes` not `bboxes`. That worked on my end. Can you pls check if it solves the issue on your end?

[2022-02-16 21:28] SaiNikhileshReddy commented on #1495
Thanks, @istranic. I checked multiple times but the minor return variable has messed up a lot.

Now, I have modified -> `return image, bboxes, masks, categories;` to `return image, boxes, masks, categories;`.

After this change, the custom transform function is working as intended.

[2022-02-16 21:30] #1495 closed

[2022-02-18 06:24] davidbuniat opened #1497 "[BUG] Installation error"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

A user followed the instructions here for installation
https://docs.activeloop.ai/quickstart

**Input Code**
[code]

[code]

**Expected behavior/code**
During installation correct lib are installed or required to be additionally installed

### ⚙️ Environment

- `Python` version(s): Python 3.9.6
- `OS`: Ubuntu 20.04 WSL

[2022-02-25 03:55] davidbuniat opened #1512 "[BUG] Pytorch dataloader because of transforms and shuffle=false"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
A clear and concise description of the behavior.

[code]

[code]

but when you remove the argument `transform` from dataloader that script works.

### ⚙️ Environment

- Google colab

[2022-02-25 14:28] #1512 closed

[2022-02-26 11:14] dhiganthrao commented on #1182
Is this issue still open to work on? I can open a PR if so!

[2022-03-01 07:02] dhiganthrao commented on #1182
@mikayelh @tatevikh pinging for visibility!

[2022-03-01 08:14] AbhinavTuli commented on #1182
@dhiganthrao sure, you can take this up. We have a dataset_exists function already that's used in api/dataset that you can check out and probably reuse.

[2022-03-01 09:38] dhiganthrao commented on #1182
Hey @AbhinavTuli, thanks! I've opened a PR (#1517). Hopefully that solves the issue!

[2022-03-01 16:56] marekkufel opened #1519 "The name of the original file"
Hi,

I created a hub dataset from my original dataset with pictures.

I need to get the name of the original file (cat.jpg, dog.jpg etc.). Is it stored somewhere in the hub? I tried ```ds.train.images[0].info.__dict__``` and ```ds.train.images[0].meta.__dict__``` but without success.

Kind Regards

[2022-03-01 17:00] istranic commented on #1519
Hi @marekkufel Unfortunately we don't store that information by default right now, but we're currently implementing this exact feature! We'll ping you as soon as that's released.

In the interim, I recommend creating a separate tensor of `htype = 'text'` and appending the filename manually.

Does that work for you?

[2022-03-02 15:53] #1182 closed

[2022-03-03 11:18] dhiganthrao commented on #1178
Hey there, I'd like to work on this issue if no one else is! Quick question: would it be better to show the number of samples uploaded, rather than the number of bytes? As a user, it might be easier to interpret. The progress bar can also be used for every time `extend` is used, not just for times when the number of samples exceeds a certain amount, right?

[2022-03-04 13:17] mikayelh commented on #1178
@dhiganthrao hiya! assigning it to you. thanks for continued support of Hub! :)

[2022-03-04 13:22] gaurav879 commented on #1159
I would like to try and work on this issue.

[2022-03-04 13:24] mikayelh commented on #1159
Perfect @gaurav879 , thanks a lot for helping out with this! Please let us know if you have any questions. :)

[2022-03-04 14:44] mikayelh commented on #1171
hey @jaivanti , I have checked with the team and don't have your address on file. Could you join the community slack (slack.activeloop.ai) and hit @MIkayel there? We'd love to send over some swag to you, but don't know how :(

I'm closing this issue since it's finished.

[2022-03-04 14:44] #1171 closed

[2022-03-04 14:51] #1158 closed

[2022-03-04 19:02] dhiganthrao commented on #1178
@mikayelh, thanks! 😄 @AbhinavTuli, pinging you to confirm if I can proceed with the way I listed in the previous comment. (i.e, showing samples instead of bytes, and displaying a progressbar for every `extend` call)

[2022-03-06 03:01] duclong09 opened #1524 "[BUG]"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

[code]

### ⚙️ Environment

- `Python` version(s):
    - *good*: [e.g. 3.8]
    - **better**: [3.8.6 - Clang 12.0.0 (clang-1200.0.32.27)]
- `OS`: [

[2022-03-06 03:08] davidbuniat commented on #1524
Thanks @duclong09 for starting a bug report, but seems you haven't modified the template for filling in issue, do you mind describing the issue that you are experiencing?

[2022-03-07 16:37] davidbuniat commented on #1524
Closing this issue since no information provided, please reopen it with more information.

[2022-03-07 16:49] neel2299 commented on #1439
Hello!! I see that this issue has already been assigned. Can I still try to work on it? I am new to open source, seems like a nice place to start!!

[2022-03-07 16:53] SaiNikhileshReddy commented on #1439
@neel2299 I don't have any problem with it. I'm partially done. Currently, I'm trying to integrate my solution into the hub.

[2022-03-08 06:33] William1Wu opened #1528 "[FEATURE] Remove one or multiple samples from dataset"
Hi Authors,

Can I use an 'remove' api to remove one or multiple samples from dataset, just like the 'append' api ?
The input of 'remove' api maybe is the specified value of tensor or index of tensor.
Thanks !

[2022-03-08 12:10] dhiganthrao commented on #1178
Hey @AbhinavTuli, apologies for the multiple pings but just waiting for confirmation if I can go ahead with the method suggested above.

[2022-03-08 12:11] AbhinavTuli commented on #1178
Hey, missed this earlier, going sample-wise should be good.

[2022-03-08 16:22] neel2299 commented on #1439
Which branch should I make the PR for?

[2022-03-08 19:47] neel2299 commented on #1167
Hello!! Can I get assigned to this issue?. I will start working on it after 14th though (have exams before then :sweat_smile:)

[2022-03-08 19:59] mikayelh commented on #1167
Hey @neel2299 . thanks a lot for willingness to contribute once again. good luck with the exams and let us know if you hit any roadblocks!

[2022-03-08 21:04] davidbuniat commented on #1528
Thanks @William1Wu for raising the feature request, given the current data layout, we have a filtering or dataset views that you can use to hide the specific elements from the dataset.

We are planning to have a removal in the roadmap and will keep you posted on the progress.

[2022-03-08 23:31] tatevikh commented on #1439
Hi @neel2299 ! Feel free to make the PR for the main branch. Thanks for your interest in Hub.

[2022-03-09 01:29] William1Wu commented on #1528
@davidbuniat Thanks for your reply. Looking forward to the new features.

[2022-03-10 08:26] aadityasinha-dotcom commented on #1168
Can I work on this issue?

[2022-03-10 15:53] tatevikh commented on #1168
Hi @aadityasinha-dotcom! Thanks for your interest in Hub. I just assigned it to you. Have fun!

[2022-03-10 15:54] aadityasinha-dotcom commented on #1168
Thanks 👍

[2022-03-10 17:04] aadityasinha-dotcom commented on #1168
So we have to implement Redis client just like we implemented the S3 storage.

[2022-03-10 22:23] colobas opened #1532 "How will TorchData change Hub?"
PyTorch just announced [the beta release of TorchData ](https://pytorch.org/blog/pytorch-1.11-released/)

I was wondering how (if at all) this will change Hub. It sounds like the main change is the creation of DataPipes to subsume and extend the notion of Datasets

[2022-03-10 22:32] davidbuniat commented on #1532
Hey @colobas, thanks for raising the question.

We are currently working on low-level high-performance primitives for Hub that will be shared across `tf.data` and `torch.utils.data`. Once TorchData api gets finalized in their stable version, we will likely add a native integration into it as well. [See their supported storages backends](https://github.com/pytorch/data/tree/main/torchdata/datapipes

[2022-03-10 23:03] colobas commented on #1532
I think Hub serves an awesome purpose. I'm particularly interested in using it in a scenario where I have a self-hosted s3-like datastore and several bare metal compute nodes which can consume data from it for training. A key part for me there is the caching, which Hub also handles.

I wish it was possible to self-host the web interface as well, but I understand that's part of the business model :

[2022-03-10 23:03] #1532 closed

[2022-03-10 23:36] mikayelh commented on #1532
@colobas , thanks for the suggestion! that's a great piece of feedback. If you want to join the community slack (slack.activeloop.ai), I'd be happy to chat about the self-hosted  solution, too!

[2022-03-11 07:21] noringname commented on #1387
Hi @khustup
Tried it, worked like a charm.
Thank you for your fast improvement!

[2022-03-11 07:23] mikayelh commented on #1387
music to our ears, @noringname . Let us know if you need anything here or in the community slack (slack.activeloop.ai). :)

[2022-03-11 07:23] #1387 closed

[2022-03-11 11:10] jaivanti commented on #1172
Hi! I am just thinking of grabbing this issue....But just wanna recollect and clarify about whatever I understood, Please feel free to correct me:
So, basically, I have to make a Jupyter notebook where I need to consider different datasets with any ML algorithm and prepare a pipeline using HUB.
So, will I have to consider different different ML algorithms also?

[2022-03-11 11:25] jaivanti commented on #1157
Can I try working on this issue if nobody is assigned for it?

[2022-03-11 13:23] jaivanti commented on #1157
I went across the dataset on the website but it has many structures....so which structure exactly are you looking for?
![image](https://user-images.githubusercontent.com/62715739/157875313-761fdca5-df37-4d99-979d-7e6e909bac48.png)

[2022-03-11 15:51] mikayelh commented on #1172
it's ok to stick to one model, but the training ideally should happen both with PyTorch and Tensorflow!

[2022-03-11 16:43] brlrb commented on #1165
Hey Activeloop Team, I will try to contribute to this issue.

[2022-03-11 16:44] mikayelh commented on #1165
@tatevikh is this still needed? Thanks a lot @brlrb for your willingness to contribute, will get back to yu shortly. Please wait for @tatevikh 's instructions to proceed.

[2022-03-11 17:33] tatevikh commented on #1165
Hi @brlrb. Unfortunately, his is task has already a PR up. Please fill free to choose any other from the [list](https://github.com/activeloopai/Hub/projects/11)

[2022-03-11 18:16] brlrb commented on #1164
a couple of questions:

- does the dataset here mean the tensor object?
- what extension does the dataset will have?
- is `src` `dest` on the `Hub` server itself or third-party cloud storage?
- what if there is a tensor object with filename `a` and then another with filename `b` but they contain exact data then what do we do? do we compare filename or do a deep comparison to check for identical va

[2022-03-11 18:24] mikayelh commented on #1164
@brlrb i do apologize for this, we've just resolved [this issue](https://github.com/activeloopai/Hub/pull/1296) (@tatevikh for visibility).

However by dataset we do need yes, a classic hub dataset, the function should be storage agnostic (e.g. if people store their hub dataset in AWS).

[2022-03-11 18:24] #1164 closed

[2022-03-11 18:25] #1174 closed

[2022-03-11 18:25] #1162 closed

[2022-03-11 18:26] #1165 closed

[2022-03-11 18:26] #1163 closed

[2022-03-11 18:30] gaurav879 commented on #1159
I have opened PR #1534 that fixes above issue.

[2022-03-11 18:32] tatevikh commented on #1159
Thanks a lot @gaurav879 ! We'll review it right away :)

[2022-03-11 18:34] mikayelh commented on #1159
nice @gaurav879 , thanks a lot for the contribution! Feel free to pick another issue! if you don't find anything that's up for grabs, please let me know in community slack (slack.activeloop.ai) we will definitely think of something!

[2022-03-12 06:17] jaivanti commented on #1172
Alright! I will give it a try then

[2022-03-12 19:31] jaivanti commented on #1172
https://colab.research.google.com/drive/13rkYj5qfAn8YdoomNV8fLcH7--gb_vBQ#scrollTo=iKEAxW7FENld
This is a mock notebook of ML pipeline I have prepared using CIFAR-10 and HUB for Image Classification using tensorflow... Is this fine to proceed with...Please let me know so i will make more changes

[2022-03-14 12:33] LucasVandroux commented on #1528
@William1Wu thank you for posting this feature request. I was also looking for this feature.

@davidbuniat maybe instead of removing data, would it be possible to `commit` a specific dataset view? And basically when checking out this specific commit, the dataset would be the one from the committed dataset view?

[2022-03-14 14:48] LucasVandroux opened #1539 "Modify a dataset in-place using parallel computing"
I am trying to apply some modifications (remove the 4th channel of some images) to the images in a dataset and then commit the new dataset. I want to use the parallel computing feature of Hub to do so.

I am trying something like this:

[code]

But this is not working and returning me the following error:

[code]
Is what I am trying to do possible with parallel computing, or should I just go seque

[2022-03-14 15:43] LucasVandroux commented on #1539
@istranic, thank you for your prompt reply. The tutorial helped. If anyone is interested in the solution, I had to change my code to:

[code]

[2022-03-14 15:43] #1539 closed

[2022-03-14 15:58] LucasVandroux opened #1541 "Revert / Move HEAD of the commit history"
I am experimenting with a dataset and I want to revert to the last commit and undo all the changes that I have done since this last commit.

I tried to do a simple checkout on the hash of the last commit:

[code]

But when starting to modify the dataset again, hub is automatically checking me out on a new generated branch:

[code]

How can I revert to my last commit or move the HEAD back to this l

[2022-03-15 00:41] mikayelh commented on #1541
hey @LucasVandroux , thanks a lot for the query. We'll take a look into this for you asap, tagging @AbhinavTuli for visibility!

[2022-03-15 05:17] AbhinavTuli commented on #1541
Hey @LucasVandroux! We currently don't have this functionality of removing a commit that's already made from an existing branch. You can modify samples in the new auto-checked-out branch for now.
I'll pass on this feature request to the product team, will keep you posted if there's any development.

[2022-03-15 07:02] jaivanti commented on #1172
@mikayelh Should i raise the pull request with this work? Like do youall want me to make any changes into it?

[2022-03-15 07:17] mikayelh commented on #1172
@jaivanti hi! thanks for following up. @farizrahman4u will review this and get back to you asap (@tatevikh FYI). Thanks a lot for the contribution (upon quick glance looks ok, but @farizrahman4u definitely will have more tips).

Maybe you can add a screenshot to the colab from app.activeloop.ai and say "you can also visualize the dataset at [dataset link]".

[2022-03-15 08:46] farizrahman4u opened #1545 "[FEATURE] Disallow appending/extending Dataset/Tensor views."
## 🚨🚨 Feature Request

Dataset and Tensor views (a view is a result of an indexing operation, for e.g `ds[1:100]`, `ds.tensor[:-100]` etc) are readonly and should not support `append` and `extend` methods. Currently calling these methods appends/extends to the base dataset/tensor. Instead an exception should be raised stating that views are readonly and suggest appending/extending to the base data

[2022-03-15 08:56] farizrahman4u opened #1546 "[BUG] np.array(hub.read(path)) fails if path is remote url"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
[code]

**Expected behavior/code**
The remote image should be downloaded and decompressed

### 🧰 Possible Solution

Check if path is a remote path before calling Pillow here: https://github.com/activeloopai/Hub/blob/main/hub/core/sample.py#L236
(If remote path, read the bytes and then pass the bytes to pillow.)

[2022-03-15 08:59] #1545 closed

[2022-03-15 09:43] farizrahman4u opened #1547 "[FEATURE] Text dataset example"
## 🚨🚨 Feature Request

Create a notebook demonstrating uploading a text dataset such as Squad. Raw text tensors can be accompanied by token index tensors which can be used for training.

[2022-03-15 10:04] istranic commented on #1541
Hey @LucasVandroux. Thx for the comment! We'll add this feature in the next 3 weeks!

[2022-03-15 12:43] #1161 closed

[2022-03-15 12:43] #1160 closed

[2022-03-15 12:46] #307 closed

[2022-03-15 15:46] LucasVandroux commented on #1541
@mikayelh, @AbhinavTuli, @istranic thank you for your fast replies. I am looking forward to this feature to be able to experiment different transformations and always be able to roll back.

[2022-03-15 15:58] mikayelh commented on #1541
perfect, @LucasVandroux . in the meantime you are welcome to join our slack community to stay in tune (although we can update you here as well). It's slack.activeloop.ai. :)

[2022-03-16 07:10] FayazRahman commented on #1439
@SaiNikhileshReddy @neel2299 Any updates on this issue? Do tell me if you need any help!

[2022-03-16 07:25] SaiNikhileshReddy commented on #1439
@FayazRahman

I would be pushing the code for pretty prints in 2-3 days.

I was working on dataset notebooks in hub/examples repo.

[2022-03-16 22:07] LucasVandroux opened #1553 "htype for tensors containing only numbers"
I am wondering what `htype` to use for a tensor containing only numbers.

In the tutorial [Creating Time-Series Datasets](https://docs.activeloop.ai/hub-tutorials/creating-time-series-datasets), the tensors containing only numbers are not given any `htype` which from what I understand would default to `htype=generic` for those tensors with `dtype=None`. ([Source](https://github.com/activeloopai/Hu

[2022-03-16 22:20] davidbuniat commented on #1553
Thanks @LucasVandroux for raising the question. Leaving `htype=generic` as default and optionally specifying `dtype=np.uint8` or `dtype=int` in `create_tensor` would be suffice for optimally storing the data. If you don't specify `dtype`, then the first element inserted into the tensor would be assumed dtype for it.

Would you like to have stricter mode where only `int`s can be appended to the ten

[2022-03-16 23:57] LucasVandroux commented on #1553
@davidbuniat thank you for your prompt answer.

Yes, I would find it useful and more intuitive if there would be a `htype` mode for `int` and `float`, which would also prevent appending data of a different type to the tensor later on. It might definitely prevent some type's problems down the line.

[2022-03-16 23:58] mikayelh commented on #1553
very interesting point @LucasVandroux , tagging @istranic for visibility re: this!

[2022-03-17 00:18] LucasVandroux commented on #1528
@William1Wu not sure if this what you are trying to do, but it seems that when doing transformations on existing datasets using parallel computing (as described in this [Tutorial](https://docs.activeloop.ai/hub-tutorials/data-processing-using-parallel-computing#transformations-on-existing-datasets)) you can remove samples from the datasets (by not appending them to the sample_out) and that the cha

[2022-03-17 00:45] davidbuniat commented on #1528
@LucasVandroux oh that's an interesting use of @hub.compute transform functions instead of running .filter() with user-defined function. I guess it works! :) (though there is a lot of speedup optimizations potentially can be done behind the scene)

[2022-03-17 00:57] LucasVandroux commented on #1528
@davidbuniat main difference is that the changes can be committed. However, the history in the diff doesn't seem to match, as it says basically that new images were added to the dataset (every image except the ones removed).

I guess having a `remove` API to remove the samples would definitely be a cleaner and straight forward way to do this.

[2022-03-17 03:40] davidbuniat commented on #1528
yes, you are right, missed that, transforms essentially create a copy of tensors.

working on the `remove`!

[2022-03-18 18:26] gaurav879 commented on #1546
I would like to work on this.

[2022-03-18 18:49] tatevikh commented on #1546
Hi @gaurav879 ! Go for it:)

[2022-03-19 02:06] SaiNikhileshReddy commented on #1439
@FayazRahman I have got an error running unchanged hub source files.

I have excuted thise command : `pytest -x --local .`
![image](https://user-images.githubusercontent.com/57210912/159102631-636c10ca-c241-45d6-9524-0dc0d31d7608.png)

Should this be ignored?

[2022-03-19 06:55] FayazRahman opened #1556 "[FEATURE] hub.auto for audio and video htypes"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Extend hub.auto to enable ingesting audio and video data. Take a look at [ingesting image datasets](https://github.com/activeloopai/Hub/blob/main/hub/auto/unstructured/image_classification.py) for a start.

### Description of

[2022-03-19 14:24] uday-uppal commented on #1547
hi, I want to work on this issue.

[2022-03-19 16:06] neel2299 commented on #1439
@FayazRahman Thank you for giving a helping hand! Much needed... Until now I was running only the tests that were in the core/tests. Thanks to @SaiNikhileshReddy 's post I noticed that we had other tests. Can you please give my PR a look and point if I am in the right direction? I will be changing the code a bit according to some edge cases the tests point to.

My main concern is if the code in th

[2022-03-19 16:21] neel2299 commented on #1439
@SaiNikhileshReddy I googled and found that the convention was to comment "# type: ignore" when its not mandatory. Its also written in our testing scripts. I think it would be nice to check where the error happened and if there is "# type: ignore" mentioned there. Though someone who is experienced would answer best.

![image](https://user-images.githubusercontent.com/61134339/159129176-1a1e9f31-d6

[2022-03-19 17:16] tatevikh commented on #1547
Hi @uday-uppal thanks for your interest in Hub. I've assigned it to you. Let us know if you have any questions.

[2022-03-19 17:20] jaivanti commented on #1172
Thanks @mikayelh for the response! I have added whatever changes you mentioned.

[2022-03-19 17:29] jaivanti commented on #1166
Hi! I am thinking of considering to grab this issue and would like to understand more in detail about it? Like what is a conventional way of supporting different data types/format in hub?

[2022-03-19 17:48] SaiNikhileshReddy commented on #1439
Thanks @neel2299 for sharing this. @FayazRahman has mentioned that, it is a known issue and can be ignored.

[2022-03-21 09:24] ubergeekNZ commented on #1172
I created a docker, hub, tensorboard, jupyter notebook example based on pytorch MNIST example. Wondering if that is of any use.

https://github.com/ubergeekNZ/pytorch_and_hub

[2022-03-21 12:11] farizrahman4u commented on #1172
@jaivanti The notebooks look good, maybe format the cells with black?

[2022-03-21 18:18] jaivanti commented on #1172
@farizrahman4u  I have added the black extension to the cells and also provided text instead of comments

[2022-03-21 19:04] neel2299 commented on #1167
Hello!! A method like this already exists in hub/api/dataset . `hub.ingest_dataframe`
Should this issue be closed?

[2022-03-21 19:09] istranic commented on #1167
@neel2299 Yes. Thank you for pointing this out!

[2022-03-21 19:09] #1167 closed

[2022-03-21 20:51] neel2299 commented on #1556
Can I work on this issue ??

[2022-03-22 05:09] FayazRahman commented on #1556
@neel2299 Of course. I'll assign it to you.

[2022-03-22 14:26] AbhinavTuli opened #1560 "[Improvement] Make index errors while accessing Dataset and Tensor easier to understand."
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Currently, if a user tries to access an index that is larger than the dataset length or tensor length, an internal error is thrown which is not easy to understand.

### Description of the possible solution

We can catch the error and throw a more descriptive error that's e

[2022-03-22 19:19] AtelLex opened #1561 "[BUG]"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

[code]

### ⚙️ Environment

- `Python` version(s):
    - *good*: [e.g. 3.8]
    - **better**: [3.8.6 - Clang 12.0.0 (clang-1200.0.32.27)]
- `OS`: [

[2022-03-22 19:38] #1561 closed

[2022-03-22 21:30] neel2299 commented on #1560
Hello! Do we wish to output the details of the tensor that did not have the index specified? I am guessing that would be much more helpful in debugging.

[2022-03-23 09:37] jaivanti commented on #1172
Should I pull a PR for this? I have made most of the changes as prescribed. Thanks

[2022-03-23 12:49] SaiNikhileshReddy commented on #1439
@davidbuniat @FayazRahman I have been working on generating below output. I would push the code for the both table and schema soon.

![image](https://user-images.githubusercontent.com/57210912/159702996-af6032c7-ba1a-4632-b3bd-3e9206e4d7b3.png)

[2022-03-23 19:32] neel2299 commented on #1560
Great!!
![image](https://user-images.githubusercontent.com/61134339/159771491-997e9ce4-063d-448d-a488-c8e3fe921f57.png)
I tried it and got an error raised from validate method(s) in index.py as shown above. The error made me think that even dataset was using tensors to validate(may be changing **tensor to dataset** in that error message for datasets will help).

[2022-03-23 20:14] neel2299 commented on #1439
The formatting is really nice!!
Btw seeing you too have not included compression type(I had trouble too) in the table it is in ds.tensor.meta.sample_compression
When a tensor is made the compression type is stored in meta, so its there.

[2022-03-23 21:16] mikayelh commented on #1439
wow, good job @SaiNikhileshReddy , pretty exciting!

[2022-03-24 16:55] mikayelh commented on #1172
Thanks for the ping @jaivanti ! adding @tatevikh to the thread.

[2022-03-24 18:36] farizrahman4u commented on #1172
@jaivanti Sure, go ahead.

[2022-03-25 16:13] olivia632 commented on #1560
we can use if-else statements for this to show if the length is greater than 10 then show up the error

[2022-03-28 18:43] olivia632 commented on #1178
hey is there something i can do or help in this please let me know

[2022-03-28 18:44] olivia632 commented on #1168
hey can i work on this

[2022-03-28 18:45] olivia632 commented on #1560
can you assign this to me i want to work in this
issue

[2022-03-29 18:43] neel2299 commented on #1556
Hello!! Can we add dependencies to get the video/audio meta data ??

[2022-03-29 19:43] SaiNikhileshReddy commented on #1439
@davidbuniat @mikayelh @FayazRahman
Below are the generated schema for the coco-train hub dataset.

For verbose = False;
![image](https://user-images.githubusercontent.com/57210912/160694294-8f4cd50c-ca36-4c9b-944d-2a19370db53c.png)

For verbose = True;
![image](https://user-images.githubusercontent.com/57210912/160694384-91dd57f8-67e6-499c-8378-fada87c4086f.png)

[2022-03-29 20:24] mikayelh commented on #1439
can we replace the word "verbose" with "detailed"? "verbose" is a little advanced vocab, could be not very clear to english as a second language speakers. :)
I defer to @istranic regarding the rest.

[2022-03-29 20:28] davidbuniat commented on #1439
@mikayelh verbose is mostly used for detail level logs, so I believe it is fine here though context is debug logs.

Other than it looks great, I believe for dynamic shapes there stationary dimensions or the number of dimensions is important so having to show Nones would be better instead of Dynamic in verbose mode.

[2022-03-29 20:30] SaiNikhileshReddy commented on #1439
@davidbuniat Can you suggest me on how to modify the shapes values if they have different across the images?

[code]

[2022-03-29 20:34] SaiNikhileshReddy commented on #1439
@davidbuniat. Table and Schema use `tensor_info()` to retrieve info about the tensor. Next step would be incorporate them into hub api without any function call except for schema.

Does hub support nested groups?

[2022-03-29 20:41] davidbuniat commented on #1439
Regarding shapes you have two options easy, just show `tensor.shape` which includes `None`s or slightly more sophisticated `min_shape[i]:max_shape[i] for all i` and if they are the same then only show one integer.

Sounds great! btw much better to have discussion on a specific PR rather than issues here.

Yes, seems hub supports nested groups.

[2022-03-29 20:49] SaiNikhileshReddy commented on #1439
Sure @davidbuniat. I'll integrate the code in hub and raise these doubts in that PR. Thanks for clarifying and sharing feedback!

[2022-03-31 03:58] brlrb commented on #1172
Can multiple people contribute to creating Notebook Tutorials? If yes then I can try this one.

[2022-03-31 06:00] mikayelh commented on #1172
yes @brlrb , absolutely. Do you have a tutorial in mind?

[2022-04-03 12:25] farizrahman4u commented on #1556
No.

[2022-04-03 12:46] farizrahman4u commented on #1556
Also note that we are switching from miniaudio to PyaAV for audio in this : #1576  so it would be ideal if you base your PR against it.

[2022-04-04 15:46] mikayelh commented on #1172
@brlrb i'm tagging @istranic who has some ideas re: which tutorials would be more interesting/priority for Hub. Thanks for your ideas!

[2022-04-05 04:57] neel2299 commented on #1556
Noted, Thanks for the tip. I will check the PR out.

[2022-04-06 11:12] istranic commented on #1541
Hey @LucasVandroux We just released hub 2.3.3 which has a method `ds.reset()` that reverts any uncommitted HEAD changes. I hope you have a chance to check it out, and let us know if you have any feedback.

[2022-04-06 11:12] #1541 closed

[2022-04-07 00:12] noringname opened #1581 "[FEATURE]Unstructured annotations"
Hi,

I'm wondering how to deal with unstructured annotations. For example, some annotations have five fields, some have three fields.
So I setup the empty hub with maximum number of fields (five), then when I put data in, for those annotations with three fields, what should I do, just fill in some dummy data?

Thanks.

[2022-04-07 00:35] istranic commented on #1581
Hi @noringname. Yes, for annotations that don't contain all the fields, you can upload an empty array, as long as the dtype and  length of the shape of the empty array is equal to the length of the shape of the other data in that tensor.

**Empty bounding boxes:** np.zeros((0,4), dtype = 'float32')
**Empty class labels:** np.zeros((0), dtype = 'uint32')

I wouldn't recommend uploading non-empty du

[2022-04-07 00:44] noringname commented on #1581
Thank you for you fast reply @istranic , my case is a little more complicated, for example, image1 with fields 1,3,5, image2 with fields 1,2,4, so just fill in zeros to make all the fields have same length right?

[2022-04-07 01:16] istranic commented on #1581
Hey @noringname Sorry I may have written my comment in a confusing way. Just want to clarify two things:

**Regarding length**: yes, it's important that all tensors have the same length. Therefore, if you have separate tensors for each of the 5 fields, you have to append _something_ to each tensor, regardless of whether there is actual data in the field on not.

**Regarding shape:** In hub, all sa

[2022-04-07 01:19] noringname commented on #1581
Very clear, thank you!

[2022-04-07 01:23] istranic commented on #1581
@noringname Ok great. I had a few typos in the comment above which I edited, in case they caused confusion.

[2022-04-07 01:23] #1581 closed

[2022-04-07 17:50] jaivanti commented on #1339
Is this issue still open to work in?

[2022-04-07 20:10] istranic opened #1585 "[FEATURE] Add important tutorials to hub docs"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

[Hub docs](https://docs.activeloop.ai/hub-tutorials) are missing the following tutorials:

- Training an object detection model in Pytorch
- Training a segmentation model in Pytorch
- Training a classification model in Tensor

[2022-04-07 20:11] istranic commented on #1585
@Manas2030

[2022-04-10 21:32] kordc commented on #127
Hi, does it work now?

[2022-04-11 17:48] farizrahman4u commented on #1439
Closed by #1543

[2022-04-11 17:48] #1439 closed

[2022-04-11 18:17] istranic commented on #127
Hi @kordc. Unfortunately we were not able to get around to building a conda distribution. Is sounds like this is important for you to be able to use hub?

[2022-04-11 18:29] kordc commented on #127
Hi, it's not that important. I was just looking for a nice datasets tool for my university projects and somehow pip install doesn't work under my conda env, but it's not a necessary tool for me

[2022-04-11 18:46] istranic commented on #127
@kordc Sorry about not getting to this sooner. We'll ping you as soon as the conda distribution is ready.

[2022-04-12 07:44] farizrahman4u commented on #1168
@aadityasinha-dotcom this isnt even valid python: ```class ReadisProvider(redis_url):````, how are you inheriting from a string?

And no, this isnt an implementation of redis provider for hub. You just copied a random snippet from [walrus](https://github.com/coleifer/walrus/blob/master/walrus/containers.py#L1549) which uses variables (like `self.operations`) that are defined no where in your code.

[2022-04-12 07:57] aadityasinha-dotcom commented on #1168
Sorry for doing the same thing.
I have referenced this from https://redis.readthedocs.io/en/latest/commands.html#core-commands

[2022-04-12 08:27] aadityasinha-dotcom commented on #1168
From what I found redis is like a dictionary which holds key:value pairs. And I have to implement commands like get, set, del, etc.

[2022-04-12 10:16] aadityasinha-dotcom commented on #1168
@farizrahman4u Is it necessary to pass all the parameters?

[code]

[2022-04-12 18:43] brlrb commented on #1172
@mikayelh  @istranic  I am still interested in this issue. when I go to `https://docs.activeloop.ai/datasets` and randomly check on a few of the datasets, I see that it has something that helps us to get started. I am unsure which datasets are popular that does not have tutorials since I do not see a way to filter them.

[2022-04-13 01:34] aadityasinha-dotcom commented on #1560
Is this issue available?
Can I work on this issue?

[2022-04-13 11:11] aadityasinha-dotcom commented on #1560
Do I have to raise an exception in the `__getitem__` method if `self.index` is greater than the length of the list then print the required message else return the item.

[2022-04-13 12:59] aadityasinha-dotcom commented on #1560
Like this :-
[code]

[2022-04-13 15:27] Manas2030 commented on #1585
Hey @istranic, I'll work on the tutorials. 🙂

[2022-04-14 15:46] aadityasinha-dotcom commented on #1166
Is this issue available?
I have found the list of the supported files there are a few remaining files like BLP, DDS, EPS, SPIDER, etc that can be added.
Can I work on this issue?
![Screenshot from 2022-04-14 21-11-30](https://user-images.githubusercontent.com/75474786/163425466-9c77d709-6734-4bdc-a76a-c1a0994e02e3.png)

[2022-04-18 01:27] AntreasAntoniou opened #1599 "[FEATURE] Add the API key pathway for logging in, in the main log in guide"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Not a problem, per se, but a source of friction for new adopters. I had to search separately for how to use the API key to log in, after I had already read how to sign it via the terminal. I believe the API key pathway should

[2022-04-18 01:32] AntreasAntoniou opened #1600 "[FEATURE] A way to either automatically accept License terms for relevant datasets, or, a one liner that allows one to accept the License of multiple datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

I noticed that when using datasets that require me to accept a license, I have to accept the same license multiple times for each one of the dataset's sets. For example, I have to separately accept imagenet-train, imagenet-v

[2022-04-18 01:38] AntreasAntoniou opened #1601 "[BUG] hub.copy does not support pathlib.Path arguments"
## 🐛🐛 Bug Report

hub.copy does not seem to play well with pathlib.Path. Since pathlib.Path seems to be the up and coming new standard for Python3 paths, I think it would greatly reduce friction and increase compatibility if it was supported.

### ⚗️ Current Behavior
Currently, the hub.copy method's signature looks like:

[code]

For src and dest we should include pathlib.Path as a potential type.

[2022-04-18 01:55] AntreasAntoniou opened #1602 "[FEATURE] Improve PyTorch-user adoption by better aligning with expected behaviours of Dataset and DataLoader"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

The current way the hub implements PyTorch datasets/dataloaders looks like the following:

[code]

where .pytorch's signature looks like so:

[code]
The issue I have is that most people using PyTorch have implemented their Da

[2022-04-18 02:02] AntreasAntoniou opened #1603 "[FEATURE] Explicit "download" option for datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Current PyTorch datasets tend to support an explicit "download" flag which downloads a dataset locally before consuming it.

The Hub is able to stream datasets which is awesome. However, it can also download datasets using th

[2022-04-19 08:57] pietz opened #1607 "[BUG] UnicodeDecodeError when accessing Tensor.meta"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

Im getting an error when reading an image file that seems to be fine.

`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xea in position 1: invalid continuation byte`

It happens when accessing Tensor.meta apparently.

I don't think I can attach files. I'll happily share it. The image is 0077 from the NWPU crowd dataset.

**Input Code**

[code]

**Exp

[2022-04-19 08:59] mikayelh commented on #1607
Hey @pietz! Thanks a lot for reporting the issue - sorry you've run into this. We will take a look into this straight away!

[2022-04-19 09:05] pietz commented on #1607
Purging the EXIF data solved the problem. I used EXIFPurge from the AppStore.

[2022-04-19 09:07] mikayelh commented on #1607
Oh, nice, you beat us to it, hehe. We are taking a look to see if there's something we can adjust on our side to make sure this doesn't happen. :) let us know if you run into any other issues, @pietz !

[2022-04-19 09:10] pietz commented on #1607
Experiencing the same error with multiple images now.

[2022-04-19 09:12] pietz commented on #1607
Might be relevant:

https://github.com/python-pillow/Pillow/issues/1605#issuecomment-167402651

[2022-04-19 09:26] pietz commented on #1607
@mikayelh Could you provide me a quick workaround to using hub.read() to append images to the dataset? You docs state:

However, it looks like that's a typo. fromarray() needs an array parameter and not a path. However using `PIL.Image.open(path)` throws a `TypeError: Cannot serialize sample of type <class 'PIL.Image.Image'>` error.

I'm stuck here.

[2022-04-19 09:29] mikayelh commented on #1607
I'm sorry about that, @pietz (thanks for flagging this, tagging @istranic to fix the docs).

The team is already on it trying to see if there's a workaround. By the way, would you mind sharing a couple of the pictures that are raising errors?

[2022-04-19 09:31] pietz commented on #1607
![0178](https://user-images.githubusercontent.com/13137132/163974386-79fe1736-3697-4c7f-8530-4902e722c43c.jpg)

I hope GitHub keeps the meta data.

[2022-04-19 09:33] pietz commented on #1607
Yepp, that image triggers the error even after downloading it here.

`hub.read(path).meta` should trigger the error.

[2022-04-19 09:35] mikayelh commented on #1607
Nice. Thanks. Fun fact I might actually be somewhere on this exact picture. :D one of my teammates will update you shortly on this, @pietz !

[2022-04-19 09:37] pietz commented on #1607
I'll let you know when I see your avatar among the 8359 people, haha.

[2022-04-19 09:46] farizrahman4u commented on #1607
@pietz thanks for reporting and the test image, will fix soon. In the mean time you can do `ds.tensor.append(np.array(PIL.Image.open(path)))` as a workaround.

[2022-04-19 09:51] pietz opened #1608 "[FEATURE] htype for point annotations"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

I'm working with point annotation labels and none of the suggested htypes seem to fit my need. Each sample has an associated (N, 2)-shape label storing N different x,y-cordinates.

### If your feature will improve `HUB`

Out

[2022-04-19 09:56] pietz commented on #1607
Beautiful, cheers @farizrahman4u

[2022-04-19 09:58] JossWhittle opened #1609 "[BUG] QuotaExceeded exception when copying large datasets out of hub://"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Performing a hub:// to s3:// copy operation throws a `QuotaExceeded` exception on large datasets.

[code]

On day one I copied `hub://activeloop/imagenet-test` (13 GiB) successfully, followed by `hub://activeloop/imagenet-val` which failed at 75% of the way through the image tensors.

A full day later I retried `hub://activeloop/imagenet-val` on its own wh

[2022-04-19 10:10] JossWhittle commented on #1609
@mikayelh no worries. I just wanted to move the discussion to here so it's easier to track.

[2022-04-19 10:10] mikayelh commented on #1609
@JossWhittle much appreciated!

[2022-04-19 12:15] pietz opened #1610 "[FEATURE] Force RGB option"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Description of the possible solution

When creating a tensor, it would be nice to force the tensor to always have three color channels. Right now grayscale images produce a warning, but RGBA images will still produce an error. It would be nice to guarantee that images alw

[2022-04-19 12:48] JossWhittle commented on #1609
Hi, I thought about this again because it struck me the error was being thrown on a Put operation not a Get.

[code]

I think the issue I've been seeing is actually a fault with our s3 cluster, not with hub://, I've pushed this to our support team so hopefully they can confirm. It's entirely possible that due to the Easter break something has happened. If it is as I now suspect I'm sorry for throw

[2022-04-19 15:44] farizrahman4u commented on #1601
Will be adding support for for Path argument soon.

[2022-04-19 17:17] JossWhittle commented on #1609
It was indeed an issue with our s3. I've been able to copy the imagenet datasets to local storage without issue and I'll copy them to our s3 when things are resolved.

The only thing still relevant on this bug report now is validating and skipping existing chunks when restarting a dropped copy operation, but that's more of a feature request.

[2022-04-19 19:37] istranic commented on #1608
Hi @pietz. We can definitely find a solution that unlocks more flexibility for storing points. I have a few additional questions about your use-case.

1. Could you please briefly describe what the points would represent?
2. In your case, would M be 3, for a 3D objects? I'm asking because in hub, the arrays can represent any data in any order, but in our visualizer, we need make assumptions about t

[2022-04-19 19:40] istranic commented on #1603
Hey @AntreasAntoniou We can definitely do something like this. Would you expect the download to happen when you load the dataset using` hub.load/hub.dataset`, or would you expect the download to happen when you call `ds.pytorch`?

Are you interested in having control over the path where the dataset is stored locally, or do you prefer for that to happen under the hood?

Is there any expectation for

[2022-04-19 19:45] istranic commented on #1602
Hey @AntreasAntoniou We're currently making several updates to our training API in order to enable more customizability between a hub datasets and pytorch training. Our primary tradeoff is that it's hard to make the pytorch syntax above highly performant unless we re-implement key methods like prefetching and shuffling inside hub. However, we can definitely expose more customizability beyond our c

[2022-04-19 19:47] AntreasAntoniou commented on #1603
Thanks for the prompt response! :smiley:

1. I'd expect the download to happen when I load the dataset, and before I load it into a PyTorch dataloader, so the former of your proposals, . See an example from the default PyTorch dataset behaviour [here](https://pytorch.org/vision/stable/generated/torchvision.datasets.STL10.html#torchvision.datasets.STL10) .

Based on the above reference link, we wan

[2022-04-19 19:50] istranic commented on #1600
Hey @AntreasAntoniou Thanks for this feedback. We will store the acceptance of terms/conditions on a per-user basis, so you'll just have to login from the CLI and we'll know whether you accepted the terms. We'll also combine the terms for the different subsets of ImageNet.

[2022-04-19 20:04] AntreasAntoniou commented on #1602
Streaming performance for sure.

The main thing that I would love to have is to be able to create new datasets by inheriting from hub datasets for example. As it currently stands the code I am showing above is the best I could come up with.

In an ideal world we'd have the standard Dataset/DataLoader separation that PyTorch has, to maximize compatibility with existing datasets, and increase onboar

[2022-04-19 20:06] AntreasAntoniou commented on #1600
OK perfect.

The only other thing that could be useful, is a single liner for CLI, perhaps something like:

```hub accept-terms "dataset1" "dataset2" ...```

Followed by a proper presentation of the terms, and a way to accept them one by one. This way we can have the users pay attention when they accept terms, without introducing friction on large-scale experiments.

[2022-04-19 20:45] istranic commented on #1599
Thanks for the feedback @AntreasAntoniou! This has been implemented.

[2022-04-19 20:45] #1599 closed

[2022-04-20 08:49] LucasVandroux opened #1612 "[BUG] Impossible to create datasets with sequences of values"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Creating a dataset with sequences of values is not working when using sequential processing, or parallel computing and it has different behavior with both.

**Input Code**

***Initialization***

[code]
[code]

***Sequential***
[code]
[code]

***Parallel Computing***
[code]
[code]

**Expected behavior/code**
Both function (sequential and parallel computing)

[2022-04-20 13:43] LucasVandroux opened #1613 "[BUG] Filtering with user-defined-functions returns different dataset as when using filtering with pythonic query language"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Using a user-defined-function or the pythonic query language (see [Step 9: Dataset Filtering](https://docs.activeloop.ai/getting-started/dataset-filtering)) to filter a dataset on the same parameter doesn't return the same dataset.

**Input Code**

***Initialization***
[code]
[code]
***Adding elements***
[code]
[code]

***Filtering using pythonic query lan

[2022-04-20 17:26] istranic commented on #1603
@AntreasAntoniou Great. Thank you for the feedback!

[2022-04-20 18:11] istranic commented on #1612
Hi @LucasVandroux Thank you for raising this issue. I was able to replicate it, and we will debug + fix asap!

[2022-04-21 16:10] davidbuniat commented on #1602
@AntreasAntoniou here is a of draft potential pytorch dataloader APIs that we have brainstormed. Would love to get your feedback (and possibly your colleagues) to see which option you prefer most. Feel free to suggestion an Option 4 if you think there is a better way we have missed.

https://activeloop.notion.site/Feedback-on-Pytorch-Data-loader-b70881cf7e5947838d49b05789653940

[2022-04-21 16:19] AntreasAntoniou commented on #1602
@davidbuniat Option 1 is the best I believe. Love how it's exactly how the default Pytorch does things. Should make adoption and extension so much easier.

[2022-04-21 16:22] mikayelh commented on #1609
hey @JossWhittle , if it's not too much to ask, would you be able to raise a feature request regarding this so we can keep track? in the meantime, I'm closing this issue. Thank you so much!

[2022-04-21 16:22] #1609 closed

[2022-04-21 16:22] davidbuniat commented on #1602
Thanks a lot for your input @AntreasAntoniou!

[2022-04-21 16:23] mikayelh commented on #1613
hey @LucasVandroux , sorry that you've run into this issue. I've brought it up with the team and they're on it, hang tight!  :)

Tagging @istranic and @Diveafall for querying visibility.

[2022-04-21 16:31] davidbuniat commented on #1602
The only issue with Option 1 is that it makes quite tricky (or nearly impossible) to do JIT optimizations on transform function or future near-zero copy transfer to GPUs.

So we might keep this option for easy onboarding, but for speed and performance come up with another option if the users prefer so.

[2022-04-21 16:57] davidbuniat commented on #1602
Added minor Option 1.2 that replaces `index: int` in __get_item__ with `item: hub.Sample` that can directly return torch tensor.

[code]

Do you think this would create a lot of limitations for users?

[2022-04-21 18:06] JossWhittle commented on #1609
Can do.

[2022-04-21 18:14] istranic commented on #1585
Hey @Manas2030 Just making sure that you're still working on this? How is progress so far? Do you need any assistance?

[2022-04-21 18:16] JossWhittle opened #1617 "[FEATURE]"
## 🚨🚨 Feature Request

- [ ] Related to #1609 (closed)

### Is your feature request related to a problem?

When `hub.copy` throws an exception the transfer is terminated. Rerunning prompts to use the `overwrite=True` flag which force redownloads all of the data, ignoring the chunks that have already been downloaded.

[code]

### Description of the possible solution

When a transfer is restarted, v

[2022-04-21 18:18] mikayelh commented on #1617
really appreciate this, @JossWhittle . let us know if you have any other feature suggestions/feedback in the meantime!

[2022-04-21 18:25] JossWhittle commented on #1617
No worries, sorry I missed a title.

[2022-04-21 19:32] AntreasAntoniou commented on #1602
I like the way you think regarding JIT and future-proofing for GPU speed ups.

I actually told @istranic yesterday that one way to go could be to do something similar to what Pytorch does with scripting and tracing.

You can have your fully flexible dynamic graph with default PyTorch, or restrict yourself a bit and get speed ups with scripting and tracing. One is less restrictive than the other, b

[2022-04-23 18:19] Godofnothing opened #1619 "Bug in loading validation set of imagines"
I was trying to load [imagenet-val](https://app.activeloop.ai/activeloop/imagenet-val) during the colab session, in a following way

[code]
But I receive the following error (like the image is grayscale):

[code]

However, when removing the normalisation transforms the data is loaded successfully and images in the batch are in tensor of shape `(4, 3, 224, 224)` i.e RGB image with 3 channels.

**Ve

[2022-04-23 19:00] davidbuniat commented on #1619
thanks for raising the issue! It is somewhat related to the feature described here https://github.com/activeloopai/Hub/issues/1610.

I think in your transform you need to add explicit conversion from grayscale to rgb if the image contains only one dimension. We intentionally let delegated this behavior to the user not add data transformation that the use is not aware of. However, seems it causes a

[2022-04-23 19:01] davidbuniat commented on #1610
Hi @pietz thanks for raising the issue, seems different dimension of generic images cause significant overhead for users accessing the data. We are thinking of various ways to constrain it both during the input and the output! Will get back once we have a solution.

[2022-04-25 07:45] LucasVandroux opened #1622 "[BUG] API Token authentication not working when loading a dataset requiring the acceptation of an agreement"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
When trying to load the `ImageNet` dataset from hub, the exception `NotLoggedInError` is raised even if a valid API token is given to the function. However, the agreement is successfully presented to the user if the user is logged in using the `activeloop login`  CLI command.

**Input Code**

[code]

[code]

**Expected behavior/code**
First, hub shouldn't

[2022-04-25 07:52] LucasVandroux commented on #1622
In order to reproduce the bug, it is useful to mentioned that I never used the CLI command `activeloop login` on my machine before trying to load the dataset using the API token only.

[2022-04-25 12:20] istranic commented on #1622
Hey @LucasVandroux Thanks for bringing up this issue. Our implementation of the Imagenet agreement is still fairly primitive, because it identifies individual machines and not users.

We are updating the implementation in our next sprint to track the agreement based on users, and we will release it in 3 weeks. Do you need this to be fixed sooner?

[2022-04-25 13:40] LucasVandroux commented on #1622
@istranic thank you for your prompt reply. No, this is not urgent. #1612 and #1613 are way more urgent and important to me.

[2022-04-25 19:33] brlrb commented on #1157
@farizrahman4u @FayazRahman @mikayelh  is this still up for grabs? I believe I can work on this.

[2022-04-25 20:33] istranic commented on #1619
Hey @Godofnothing as @davidbuniat mentioned, the issue is that pytorch is struggling with a mix of color and grayscale images. You can add the transform below to fix the issue.

`transforms.Lambda(lambda x: x.repeat(int(3/x.shape[0]), 1, 1))
`
More information is available in our docs [here](https://docs.activeloop.ai/getting-started/connecting-to-ml-frameworks#iteration-and-training).

[2022-04-26 09:39] Godofnothing commented on #1619
@istranic many thanks for the suggestion!

[2022-04-26 09:39] #1619 closed

[2022-04-27 02:05] istranic commented on #1612
Hey @LucasVandroux. This issue has been fixed in hub 2.3.5.

[2022-04-27 02:05] #1612 closed

[2022-04-27 09:09] LucasVandroux opened #1629 "[BUG] Different htype for sequences of values when created using sequential or parallel processing."
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Creating a dataset with sequences of values is having a different `htype` when created using sequential processing, or parallel computing.

**Input Code**

***Initialization***

[code]
[code]

***Sequential***
[code]
[code]

***Parallel Computing***
[code]
[code]

**Expected behavior/code**
Both function (sequential and parallel computing) should produce t

[2022-04-27 09:11] LucasVandroux commented on #1612
@istranic thank you for taking care of this. It is indeed fix, but the `htype` of the tensors have changed. Just wondering why, it is now `link[sequence[...]]` and why the `link` is now needed.

I also opened a new issue (#1629) as the `htype` of the sequences is different when created with sequential or parallel processing.

[2022-04-27 10:04] dhiganthrao commented on #1601
@farizrahman4u, with respect to this issue, will it be resolved with the workaround @AntreasAntoniou suggested, or does it have some more depth to it? I'd like to work on this if I can!

[2022-04-27 12:05] istranic commented on #1629
Hey @LucasVandroux Apologies for the sloppy testing. I was too fixated on shape. Our team will look into this asap!

[2022-04-27 20:50] #1629 closed

[2022-04-28 15:44] LucasVandroux commented on #1629
Thank you to your team for their fast response, the version 2.4.0 is fixing it.

[2022-04-28 15:45] mikayelh commented on #1629
thanks for confirming, @LucasVandroux . Let us know if you need anything else. :)

[2022-04-28 15:46] LucasVandroux commented on #1613
@mikayelh any update on this? The pythonic query language for dataset filtering would be very handy to have, compared to making a custom filtering function every time.

[2022-04-28 16:16] mikayelh commented on #1613
@LucasVandroux I'll check in with @istranic and he'll update you shortly on this! Sorry for the holdup.

[2022-04-29 03:36] noringname opened #1642 "Speed up creating dataset"
Hi,
This is probably a dummy question, when creating a large hub dataset, are there ways to speed things up?
I tried to use the multiprocessing module, but it didn't work out.
(All my operations are local, so it has nothing to do with the internet speed.)

Thanks!

[2022-04-29 04:17] istranic commented on #1642
Hi @noringname. Sorry about the slow upload process. In general, the most critical elements for having a high upload speed are:

1. Making sure to use the [with syntax](https://docs.activeloop.ai/how-hub-works/storage-synchronization).
2. Using the correct compression settings. For example, if you upload `pngs` to a dataset with `sample_compression = 'jpeg'`, your machine will spend significant ti

[2022-04-29 13:21] istranic commented on #1613
Hey @LucasVandroux We'll have a fix for this on Monday at the latest. It's great that you're interested in language-based queries instead of user-defined-functions. We're considering major improvements to the querying experience over the next 1-2 months, and I think you'll find them exciting! I'll send you more details when we're further along.

[2022-04-29 14:04] istranic commented on #1642
Hey @noringname. In general, you should use hub's multiprocessing module in order to work with hub data in parallel. Can you pls check out [this example](https://docs.activeloop.ai/getting-started/parallel-computing) for uploading datasets in parallel. Lmk if it's clear, and if not, I'll provide you a code snippet that's more relevant to your example. Several of us are attending PyCon, so I can't

[2022-04-29 18:42] noringname commented on #1642
Hi @istranic, the example is very clear, thank you!

[2022-04-29 18:42] #1642 closed

[2022-05-02 20:09] AntreasAntoniou opened #1648 "[BUG] ImageNet loader returns weird S3GetError when using memory_cache_size=12000 and local_cache_size=120000"
## 🐛🐛 Bug Report
I was trying to increase the performance of the dataloader by giving it more cache both in memory and disk, and somehow it backfired, as I now keep getting the following error even when I remove the cache requirements.

*Note: I am using the skip/agreement branch as I am running my stuff at scale and do not want to accept all agreements every time, also, somehow the current way hu

[2022-05-03 14:54] AbhinavTuli commented on #1648
Hey @AntreasAntoniou, I'm looking into the issue currently but the behavior is indeed very weird.
Could you try out other datasets, maybe different splits of imagenet, and let me know if the behaviour persists?

[2022-05-04 13:19] farizrahman4u commented on #1613
Fixed in main by #1647

[2022-05-04 13:19] #1613 closed

[2022-05-04 23:35] noringname opened #1653 "Dealing with imbalanced data"
Hi,
I am trying to find an optimum way dealing with imbalanced data.
One way I can think of would be using the pipeline to do some up-sampling and down-sampling, but this would create a new dataset, which takes time and space.
The other way would be modifying __getitem__ of custom torch dataset, which can handle sampling on the fly.
Now I am switching to ds.pytorch, is there a good way to do this?

[2022-05-04 23:56] davidbuniat commented on #1653
hi @noringname, we are working on custom sampler strategies to enable pytorch training. Unfortunately at this point you might need to filter the dataset before feeding it. One idea is to create a dataset view using `ds.filter` (though you might need group_by functionality here for), another one is to use `@hub.compute` transforms.

Stay tuned!

[2022-05-05 00:38] noringname commented on #1653
@davidbuniat Thank you, ds.filter seems okay for now. Look forward for the new feature.

[2022-05-05 11:49] pietz opened #1654 "[BUG] ReadOnlyModeError on read_only=False datasets"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
I'm getting this error when trying to change the name of a tensor in the dataset.

`ReadOnlyModeError: Modification when in read-only mode is not supported!`

The dataset has been explicitely loaded with read_only=False which is why this error doesn't make sense.

Furthermore, while changing tensor names on 10 datasets only two of them threw this error. It

[2022-05-05 12:49] farizrahman4u commented on #1601
@dhiganthrao we have a PR up: https://github.com/activeloopai/Hub/pull/1651

[2022-05-05 21:50] mikayelh commented on #1654
one additional comment by @pietz:

_the problem arises when creating the batch through ds.pytorch(). when accessing elements directly through ds[0] i see the new and updated keys. after it comes out of the dataloader it still uses the old keys._

tagging @tatevikh, @istranic  and @farizrahman4u for visibility on this

[2022-05-06 17:44] farizrahman4u commented on #1654
Thanks for raising this, we are on it.

[2022-05-06 18:49] farizrahman4u commented on #1654
Thanks for reporting this, we are on it.

[2022-05-09 08:59] #1178 closed

[2022-05-10 01:46] JossWhittle opened #1666 "[BUG] hub.copy significantly slower transfer for labels and bboxes"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

`hub.copy` achieves significantly faster transfer speeds when copying images compared to label and bbox tensors. I performed several transfers for the imagenet splits, from a fast local ssd to a ceph s3 endpoint. In each transfer, images copied at an average of 25.5 MB/s while labels and then bounding boxes copied at 0.7 MB/s.

**Input Code**

[code]

In

[2022-05-10 05:54] davidbuniat commented on #1666
Thanks @JossWhittle for raising the issue. We have also recently noticed through benchmarks that data access to small htypes is pretty slow. That what happens during `.copy()`. We are working on a core fix.

Would using [deepcopy](https://api-docs.activeloop.ai/#hub.deepcopy) feature fix the issue meanwhile?

[2022-05-10 11:29] JossWhittle commented on #1666
@davidbuniat I'll give `deepcopy` a benchmark now and let you know.

[2022-05-10 11:40] JossWhittle commented on #1666
![image](https://user-images.githubusercontent.com/1933494/167620058-839212da-c00f-41ae-ba98-672a01c020c4.png)

Imagenet-val transferred faster and at one consistent speed. Thanks for the tip! From reading the docs it felt like `deepcopy` would be slower as it carries over all the meta not just the data. But I can see how the unpacking and repacking of the chunks with `copy` would add overhead.

[2022-05-12 13:41] farizrahman4u commented on #1654
This happened probably because the dataset was locked for writing by one of your team mates. Even if you pass `read_only=False`, hub only throws a warning if its locked by someone else and the dataset instance is actually returned with `readonly=True`. We are changing this behavior such that if you explicitly specify `read_only=False` and write access is not available  an exception is raised.

[2022-05-14 16:08] FayazRahman commented on #1610
Resolved by #1663. @pietz You can now specify `htype="image.rgb"` or `htype="image.gray"` when creating tensors.

[2022-05-14 16:08] #1610 closed

[2022-05-17 05:04] #1602 closed

[2022-05-17 13:21] harpone opened #1681 "Is there any support for multiprocessing distributed training?"
Typically big datasets are trained on multiple GPUs in distributed data parallel (DDP) fashion (multiple processes, NOT single main process + multiple worker processes) on one or several nodes.

Does activeloop support this use case? Couldn't find anything in docs...

This is kind of a crucial aspect of CV deep learning. Can't really see the benefit of something like Hub for 1 GPU training jobs...

[2022-05-17 21:30] istranic commented on #1681
Hey @harpone. Thank you for your comment and I totally agree with your assessment. We're currently working on a performant implementation of PyTorch training using DDP, but it's taking us longer than we hoped. We'll ping you as soon as that's ready!

Tomorrow, we are also releasing an interim-implementation that will enable you to use DDP with _local_ hub datasets, and I'll post here as soon as th

[2022-05-18 03:36] #1603 closed

[2022-05-18 09:15] harpone commented on #1681
OK makes sense, thanks for the info!

[2022-05-18 09:15] #1681 closed

[2022-05-18 13:34] istranic commented on #1608
Hey @pietz, we just released `htype = 'point'`, including support in the visualizer. We'd love for you to check it our and give us any feedback.

https://docs.activeloop.ai/dataset-visualization/data-type-htype/point

[2022-05-18 13:34] #1608 closed

[2022-05-25 23:09] nahidalam opened #1695 "[FEATURE] Please add API support for timestamp of each frame retrieved from video"
## 🚨🚨 Feature Request

- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Using Hub, we can get frames from a video. But currently there is no way to get timestamp of those frames.

### If your feature will improve `HUB`

This feature will improve HUB because many video analytics applications depends on the timestamp of the frame - such as video

[2022-05-26 06:06] FayazRahman commented on #1695
Hi @nahidalam, can you tell us how you expect this output to look like?

[2022-05-26 06:15] nahidalam commented on #1695
Say a video is 10 minutes. The timestamps should be in seconds referring to anywhere in the video from 0 seconds to 10 minutes depending on the frame.

[2022-05-27 05:09] adolkhan commented on #1601
Hi @AntreasAntoniou! We have added support for pathlib.path to hub.copy and many other methods. Thank you for your patience!

[2022-05-27 05:09] #1601 closed

[2022-05-30 12:54] Phoveran opened #1699 "[BUG] Getting Wrong Labels for Tiny-Imagenet"
Using this code:

[code]

But in `y`, I'm getting numbers like 10985, which is bigger than 200. Why is that?

[2022-05-30 16:14] mikayelh commented on #1699
thanks a lot for filing this bug and sorry you're experiencing this issue, @Phoveran ! We will look into this shortly. @tatevikh for visibility.

[2022-05-31 02:18] Phoveran opened #1700 "[FEATURE] API for sampler"
Thanks for your remarkable contribution!
Is there any API for `sampler` in pytorch when getting the dataloader?
e.g. torch.utils.data.WeightedRandomSampler

[2022-05-31 02:21] davidbuniat commented on #1700
@Phoveran thanks for raising the issue, we are reimplementing the pytorch dataloader and adding the sampler strategies as well. Please stay tuned!

[2022-05-31 08:30] adolfogc commented on #1700
Hi, is there a way to request a subset of a dataset? For example, the first 256 samples?

[2022-05-31 15:00] davidbuniat commented on #1700
yes you should be able to `ds[0:256].pytorch(...)`

[2022-05-31 15:55] AbhinavTuli commented on #1699
Hey @Phoveran, thanks for bringing this issue up. I looked into it and turns out we're reusing the original labels from imagenet and not bringing those down to 0-199 as was expected. I'll be shortly reuploading the dataset with fixed labels. Will ping in this thread once it's updated.

[2022-06-01 09:17] #1695 closed

[2022-06-01 19:26] davidbuniat commented on #1695
@nahidalam, we just did the release `2.5.1` adding timestamp to video tensors. There are two ways you can access it.
* one is through `ds.<tensor>[0, 0:10].timestamp`
* you should be able to access frames, timestamp pairs by `ds.<tensor>[0].data()`

please let us know if you have any further feedback we can iterate on.

[2022-06-02 01:34] #1699 closed

[2022-06-02 12:22] #1666 closed

[2022-06-13 10:07] #1166 closed

[2022-06-13 10:09] #1179 closed

[2022-06-13 10:14] tatevikh commented on #1339
Hey @jaivanti sorry for late reply. It's open to work on if you're still interested.

[2022-06-13 19:20] jaivanti commented on #1339
Yeah! I would like to work

[2022-06-13 22:44] jielin-dev opened #1727 "[FEATURE]Do not overwrite python logging configuration"
## 🚨🚨 Feature Request

Be able to use both `logging` and `hub` in the same python script

### Current behavior

I found the following code has undesired behavior: when adding the line `import hub`, the logging configuration will be overwritten.

[code]

[2022-06-14 12:04] tatevikh commented on #1157
Hi @brlrb. Sorry for the late reply. You can work on this if you're still interested.

[2022-06-15 13:24] #308 closed

[2022-06-15 14:44] JossWhittle opened #1735 "[FEATURE] Adding FFHQ dataset"
I have the 1024 and 128 scale pngs from the FFHQ dataset. I'd like to upload this as a hub:// dataset so that you can copy it to the activeloop namespace.

Currently I am considering how to structure the dataset, and what splits it should be uploaded as.

Below is the schema I have used so far. It includes all of the metadata from the original dataset including the URLs to the original files, and

[2022-06-15 14:50] mikayelh commented on #1735
hey @JossWhittle , thank you so much for the contribution - we really appreciate that. I will defer to the team re: structure, but [here are some standards activeloop datasets should follow](https://docs.google.com/spreadsheets/d/1q1kDA0RtddHL54RDV1QnMZIHazLVrEOxAslVNfl4L3U/edit). Can you please make sure it's in line with our best practices?

[2022-06-15 14:52] istranic commented on #1735
Hey @JossWhittle Crazy timing.. i uploaded this dataset yesterday. I didn't split the metadata quite as must as in your scheme, but the information content is still there. Can you pls check out the dataset below and see if it contains what you're looking for?

https://app.activeloop.ai/activeloop/ffhq

[2022-06-15 14:53] JossWhittle commented on #1735
Crazy timing indeed, that's great news. Your dataset is private for me, but if you've managed to get the full dataset with the wilds too that's fantastic!

[2022-06-15 15:44] JossWhittle commented on #1735
I do think it's worth preserving the meta data for the original author, flickr URLs, and the licenses that each image was released under. As well as the full dataset license.

I just realized that that `hub.deepcopy` accepts a `tensors=[]` parameter so my thought about splitting into meta, 128+meta, and 1024+128+meta datasets is unnecessary as it will be easy for people to download just the bits t

[2022-06-15 16:42] istranic commented on #1735
Hey @JossWhittle, sorry, _now_ the access is fixed for `activeloop/ffhq`. Pls make sure to use that one. The others were used for debugging and will be deleted. Pls lmk if you still can't access the one above.

Regarding metadata, can you pls check out the tensor `ds.images_metadata[0].data()`. It should contain the Flickr URLS, licenses, author etc, but you're correct that the fields are not brok

[2022-06-16 12:32] JossWhittle commented on #1735
[code]

Fantastic. I didn't see this json tensor before.

I wasn't too sure from the docs, when you create a json tensor do you provide the data to append as json encoded string or as a python dict/list structure which gets serialized?

[2022-06-16 15:40] 99991 commented on #1735
I found this library through [this post](https://www.reddit.com/r/MachineLearning/comments/vdjpzr/d_ffhq_is_now_hosted_by_activeloopai_with_128/) where it was mentioned that a subset of the FFHQ dataset could be downloaded with the following code:

[code]

Unfortunately, this raises the following exception:

[code]

Is this a bug with the dataset or am I doing it incorrectly?

My goal is to export

[2022-06-16 15:51] istranic commented on #1735
Hi @JossWhittle. For `htype = 'json'`, you should append data as a dict/list structure. @farizrahman4u Can you pls comment on exactly on how the serialization works?

[2022-06-16 15:58] istranic commented on #1735
Hi @JossWhittle. Two follow-ups:

- The face landmarks are uploaded as `htype = 'keypoints_coco'` ([details](https://docs.activeloop.ai/dataset-visualization/data-type-htype/coco-keypoints)), which follows the convention that each point is followed by visibility. For this particular dataset, the visibility is 2 for all points, because they are all visible in all images. I did it this way because I

[2022-06-16 16:18] istranic commented on #1735
Hey @99991. I recreated your issue and this is a bug. Apologies for that, and thank you for highlighting it. We will fix this asap! @farizrahman4u for visibility.

Regarding Hub being around... Activeloop is a company, and Hub is open source and has a growing community of 75+ contributors, so we're planning to stick around. :)

[2022-06-16 16:57] JossWhittle commented on #1735
Ahh that makes sense, for the landmarks. No need to change it to points, I just didn't appreciate that was the format.

For the `face_rect` and `face_quad` formats this is what I did to create the images.

[code]

[2022-06-16 18:27] istranic commented on #1735
@JossWhittle I see. It looks like `face_quad `are just 4 points that are connected consecutively.

[2022-06-16 18:34] 99991 commented on #1735
In my experience, web services are ephemeral and Hub does not work when the server is unreachable. Nevertheless, I still wish you best of luck sticking around as long as possible :)

I am now downloading by iterating over `ds.tensors["images_wild/image"]` and calling `.tobytes()` on the resulting image. Everything is looking good so far and the value of `file_md5` matches the computed md5 checksum

[2022-06-16 18:49] davidbuniat commented on #1735
Thanks! my two cents here, Hub is not a web-service despite the name, but a tensor storage format with version control and other features. The main goal is to create datasets and stream to deep learning models which you can absolutely do without Activeloop or remote storage servers. Those datasets are demonstrations/examples to get started with the technology, not the service as of itself. You can

[2022-06-16 18:53] 99991 commented on #1735
Ah, then I had the wrong idea. Thanks for the clarification!

[2022-06-20 05:04] #1727 closed

[2022-06-21 18:33] jaivanti commented on #1339
Hello @tatevikh
If possible can you please explain on what exactly do I have to do

[2022-06-21 18:51] tatevikh commented on #1339
Hi @jaivanti . Thanks a lot for your interest. To be honest this ticket is not relevant anymore. But we very much value your interest in Hub. So I would like to ask you to reach out to @mikayelh (Mikayel) in our slack community. He will point you to a good starting tasks for new contributors. Good luck and thanks again.

[2022-06-22 14:12] JossWhittle commented on #1735
Hi @istranic, has there been any updates on fixing this bug? I tried testing a deep copy again and still have this issue.

When testing with other datasets `hub.deepcopy` works without issue:

[code]

But fails for FFHQ specifically.

[code]

[2022-06-22 20:30] noringname opened #1746 "More query/mapping/modification examples"
Hi, I wanted to do more advanced query/modifications on my ds, for example, delete some samples based on multiple conditions, but can't find related examples. Can you please add more examples?

[2022-06-23 02:34] istranic commented on #1735
Hey @99991 Thank you for debugging the two missing images. For the next two weeks I'm away from the hard drive that contains those images and their annotations, but I'll upload the missing images as soon as I'm able.

[2022-06-23 02:44] istranic commented on #1735
Hey @JossWhittle Apologies for the issue. I pinged our engineers and we'll get back to you with an update tomorrow (Thursday).

[2022-06-23 07:40] hakanardo opened #1748 "[BUG]"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Commiting metadata changes alone fails

**Input Code**

[code]

The code above raises hub.util.exceptions.TensorDoesNotExistError: "Tensor 'has_head_changes' does not exist.". But if the append line is uncommented it works as expected.

**Expected behavior/code**
No exception raies and a new commit with only metadata changes made.

### ⚙️ Environment

- `P

[2022-06-23 11:42] farizrahman4u commented on #1735
@99991 @JossWhittle  We have a [PR](https://github.com/activeloopai/Hub/pull/1749) up for fixing the deepcopy issue. Here is notebook deepcopying ffhq: [colab](https://colab.research.google.com/drive/1ifLvVLUu_ZiomF1GL2qkVZbP8wFGYeac?usp=sharing). These changes will be in the next release.

[2022-06-23 15:15] AbhinavTuli commented on #1748
Hey @hakanardo, thanks for noticing this. I've just raised a PR to fix it (#1753), it should be included in our next release.

[2022-06-23 21:06] JossWhittle commented on #1735
@farizrahman4u @istranic thanks for the responses and cheers for sorting this out!

[2022-06-24 00:45] istranic commented on #1746
Hi @noringname We're making updates to our query and dataset subsample APIs, and once they're finished, we're going to release tons of examples for how to work with queries. This info will be released next week. Pls stay tuned!

[2022-06-24 01:43] noringname commented on #1746
Sounds great! Look forward to it.

[2022-06-24 01:43] #1746 closed

[2022-06-24 08:24] hakanardo commented on #1748
Nice! Thanx for the quick response.

On Thu, Jun 23, 2022 at 5:27 PM Abhinav Tuli ***@***.***>
wrote:

--
Håkan Ardö

[2022-06-24 20:20] plstcharles opened #1754 "[BUG] Consent for bug reports is automatically set to true?"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Simply installing Hub (via pip or conda) auto-assumes that consent is given for (bug?) reports to be uploaded. This is sneaky, and probably not what it should be by default (especially to be GDPR-compliant, at least according to the bugout/humbug documentation). The reporting code seems to assume in many places that consent is FALSE by default, but it is n

[2022-06-24 23:29] mikayelh commented on #1754
hey @plstcharles , thank you for reaching out!

We do collect usage/bug data using Bugout, and users are welcome to opt out of it using the reporting using the CLI command below:

`activeloop reporting --off`

The data is anonymous (unless you're registered) and helps us make Hub better for the open-source community, as well as troubleshoot issues as they arise. Please note that there is a note re

[2022-06-25 01:37] plstcharles commented on #1754
Hello @mikayelh !

Thanks for the info, the `activeloop reporting --off` command does seem to help even when hub is only installed via pip, so that's a good fix for me.

It might be a good idea to add the same mention in the documentation and/or API reference though, because those are the places I first looked for such information and could not find it.

Enjoy the weekend!

[2022-06-25 19:08] istranic commented on #1754
Hey @plstcharles Another useful option for turning off reporting is to set the environmental variable `BUGGER_OFF `to `True`. I just added this to the Readme as well.

[2022-06-25 19:08] #1754 closed

[2022-06-25 19:41] michelemoretti opened #1757 "[FEATURE] Detect duplicate samples when adding new data to tensors (images)"
## 🚨🚨 Feature Request

- A new implementation (Improvement, Extension)

Is it possible to discard samples in case they are already present in the dataset? If not, would this be something interesting to implement? I feel like this would make the dataset extension pipeline much easier to use and implement

[2022-06-25 21:01] davidbuniat commented on #1757
hi @michelemoretti, thanks for the feature request! yes, this is a great idea but would add some overhead for computing hashes of the data while ingesting (assuming they are exactly the same images).

Can you tell us more about how this would simplify the dataset extension pipeline for you (maybe just illustrating by an example)? The answer would help us with prioritizing.

[2022-06-28 07:31] pietz opened #1760 "[BUG] Delay at the beginning of each epoch with num_workers > 0"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
When I set num_workers > 0 with pytorch there is a pause of ~90sec in the beginning of each epoch before the first batch is processed. At first I though it is a problem with pytorch lightning but after creating a minimal training loop from your docs I experience the same problem. I'm training on Google Colab with the hub 2.5.2

**Expected behavior/code**
N

[2022-06-28 13:13] michelemoretti commented on #1757
Hi David,
I was thinking of my most frequent use case, in which I receive the dataset in batches as it is collected.
Updating the dataset would require me to change the script (that appends the samples to the dataset) to target only the new samples received.
Having a syntax to update the dataset by feeding it all of the samples would allow me to use the same script for both creating the original d

[2022-06-28 13:23] AbhinavTuli commented on #1760
Hey @pietz, I'm looking into this, could you let me know whether shuffle=True or False in your experiments?

[2022-06-28 13:39] pietz commented on #1760
@AbhinavTuli Turning shuffle off does fix the problem!

[2022-06-28 13:42] AbhinavTuli commented on #1760
I see. So the reason for this is most likely that we create a shuffle buffer and fill it up with elements before iteration starts. The default size of this is 2GB (but can be overridden) which could be why it takes 90 seconds for iteration to start for you.
We just merged a PR yesterday that would make this behavior more obvious.

[2022-06-28 13:50] pietz commented on #1760
Thanks mate!

Could you elaborate in which direction (smaller or bigger) I should change the buffer size to accelerate it? Will accelerating it initially lead to a slowdown later in the epoch?

Do you have a few tips for dealing with high resolution datasets when only a small random crop is needed during each iteration?

I'm thinking about writing a custom collate function so that I can take N dif

[2022-07-03 19:14] davidbuniat commented on #1760
Hi @pietz sorry for late follow, please see answers below

here is a documentation explaining how shuffling works (https://docs.activeloop.ai/how-hub-works/shuffling-in-ds.pytorch). If you want to kickstart training faster than making shuffle buffer smaller would help, however it would significantly impact the randomness of the order, hence might impact the accuracy/generalization. We are working

[2022-07-03 19:16] davidbuniat commented on #1757
Got it, @michelemoretti, just to make sure we are on the same page, are those repeating images are pixel-perfect exactly same or still there could be some minor changes between those?

[2022-07-03 19:48] michelemoretti commented on #1757
Absolutely. We're talking about identical files/images.

[2022-07-06 07:48] pietz commented on #1760
Thanks for your answer. The buffer size seems to be what I was looking for. Having "less" randomness for faster loading speeds is exactly what I'm looking for.

The tiling also sounds very interesting. I don't understand what I need to do on my part in order to keep it going. I'm using a transform function that also includes the random crop operation. Would this be enough so the dataset object mag

[2022-07-07 10:14] AbhinavTuli commented on #1760
Hey @pietz. The tiling does automatically figure out what information to pull but we currently don't have a good way to do so in our PyTorch implementation but we do plan on supporting it in the future. As a work around, you can write a custom dataloader that accesses a slice of the images inside using something similar to ds.images[i, 0:200, 0:200].numpy() which will only access the relevant tile

[2022-07-07 16:27] istranic commented on #1735
Hey @99991 I added the two missing images to the dataset. Thank you for the PIL tips to make it work!

[2022-07-07 16:27] #1735 closed

[2022-07-10 10:43] jaivanti commented on #1585
Is this issue still open? I would love to work on it?

[2022-07-10 19:26] istranic commented on #1585
Hi @jaivanti The PyTorch components are complete, but the TensorFlow ones are not. Are you interested in those?

[2022-07-11 03:32] jaivanti commented on #1585
Yes! I would go for it

[2022-07-11 18:13] istranic commented on #1585
Hi @jaivanti Great. I think the best approach would be to implement the tutorial below using hub's TensorFlow integration.

https://docs.activeloop.ai/hub-tutorials/training-an-object-detection-and-segmentation-model-in-pytorch

Let me know if you have any questions.

https://docs.activeloop.ai/hub-tutorials/training-an-object-detection-and-segmentation-model-in-pytorch

[2022-07-13 17:12] jaivanti commented on #1585
Thanks @istranic
So just want to confirm....I just have to build a similar pipeline as that mentioned in the link but i gotta do it in Tensorflow?

[2022-07-15 13:20] dotphoton-ziad opened #1784 "How to add custom compression / decompression?"
Hi all! I have all my data stored in an S3 bucket and I would like to use Hub to load my data from S3, yet my data on the cloud is compressed using [Jetraw by Dotphoton](https://www.jetraw.com/) and I would like it to decompress the images as I am pulling them from the cloud. I would be ready to write code to make this happen, but as I am new to the code base I would like to know where this would

[2022-07-16 22:18] davidbuniat commented on #1784
Hey @ziadomalik would love to accept the contribution to support your compression method. Most of our compression code is written here https://github.com/activeloopai/Hub/blob/main/hub/core/compression.py.

Feel free to join our slack communtiy at https://slack.activeloop.ai #develop channel to discuss in more details how to complete the contribution.

Looking forward to it.

[2022-07-17 03:38] FayazRahman commented on #1784
Hey @ziadomalik. The list of supported compressions can be found in [hub/compression.py](https://github.com/activeloopai/Hub/blob/main/hub/compression.py). Make sure to add your new format there. The decompression code can be found at [hub/core/compression.py](https://github.com/activeloopai/Hub/blob/main/hub/core/compression.py). Import the required libraries and write your decompression function

[2022-07-28 01:34] Darkev77 opened #1798 "A Hub dataset does not exist at the given path"
Hello, I have recently gone through the [Activeloop ](https://docs.activeloop.ai/quickstart) Quickstart docs. I started by installing the Hub package first via: `pip3 install hub`, then all the Hub dependencies via: `pip3 install "hub[all]"`.

However, now when I try running the following:

[code]

I get:

And the same was true when using 'hub://activeloop/cifar10-train' and 'hub://activeloop/pacs

[2022-07-28 01:37] mikayelh commented on #1798
hey @Darkev77 , sorry you've been experiencing issues. @AbhinavTuli , would you be able to look into this? I was unable to replicate this issue on my end in a logged out state.

[2022-07-28 01:41] mikayelh commented on #1798
@Darkev77 , in the meantime, would you be able to share the following details: your OS, where are you trying to run hub (python/colab/etc.), and whether or not you're registered. Thanks!

[2022-07-28 03:24] #1798 closed

[2022-07-28 11:02] tatevikh commented on #1798
Hi @Darkev77. We've been trying to replicate the issue, but no luck so far. Will keep you posted as soon as we have more info. In the meantime can you please run the following script and let us know the result. Thanks
`import json
from hub.client.client import HubBackendClient

hub_client = HubBackendClient()
url, creds, mode, expiry = hub_client.get_dataset_credentials(
    "activeloop", "mnist-t

[2022-07-31 10:32] nollied opened #1804 "[bug] video player won't work"
EDIT: the flask install part is the minor part of the bug, major part in next comment)

fresh pip install hub, tried to play from a video sample (cool API btw), says flask needs to be installed

![image](https://user-images.githubusercontent.com/26421036/182022065-3e0b5af3-5959-4264-a2ab-7ad031cbca25.png)

[2022-07-31 10:33] nollied commented on #1804
after pip installing, actually the video won't play (ubuntu 20.04, using a conda environment on python version 3.7.13, on a jupyter notebook in visual studio code)

[2022-07-31 10:39] nollied commented on #1804
yoooo but using `ds.visualize` works! damn. that shits cool

[2022-07-31 11:32] nollied opened #1805 "[BUG] pytorch not working for video tensors"
## 🐛🐛 Bug Report
created a video tensor (mp4), added 35 samples, tried to use the `ds.pytorch` function, got this error:

![image](https://user-images.githubusercontent.com/26421036/182024238-d481af10-4e28-48ba-9e29-d0deb9b4f30c.png)

### ⚙️ Environment

ubuntu 20.04, python=3.7.13

[2022-07-31 11:38] nollied commented on #1805
would be nice if i could get a batch of frames instead a batch of videos too

[2022-07-31 18:59] davidbuniat commented on #1805
@nollied thanks for reporting the issue, will take a look. @AbhinavTuli the new dataloader we should make sure this works.

[2022-07-31 22:38] nollied commented on #1805
@davidbuniat cool, btw are the [concerns about random shuffling](https://docs.activeloop.ai/how-hub-works/shuffling-in-ds.pytorch) applicable to video datasets?

basically, lets say there's 100 video sequences ~100MB each (so these videos are stored in individual chunks), if my goal is to train a model where each batch has, say, 20 frames but i would like it to be shuffled with respect to the vide

[2022-08-01 07:30] FayazRahman commented on #1804
@nollied Yeah, we currently don't support playing videos on colab :( It works on jupyter notebook and plays the video on a browser if you are running from terminal.

[2022-08-01 07:31] nollied commented on #1804
@FayazRahman this was on a local jupyter notebook instance

[2022-08-01 07:48] FayazRahman commented on #1804
@nollied Tried on jupyter notebook and it works. But there seems to be an issue with VScode. I tried playing a video directly from a link and it didnt work:
[code]

[2022-08-13 13:59] istranic commented on #1622
Hey @LucasVandroux This issue has been resolved. Apologies for the delay in the fix.

[2022-08-13 13:59] #1622 closed

[2022-08-13 14:05] istranic commented on #1600
Hey @AntreasAntoniou We deployed a fix so that agreement acceptance is permanently associated with a user. Currently, you still have to accept the agreements separately for imagenet-train/-test/-val, but those are the only datasets with agreements, so hopefully that's not too much of a hassle.

Apologies in the delay of the fix.

[2022-08-13 14:05] #1600 closed

[2022-08-16 14:56] gorinars commented on #1653
Hi guys. Is my understanding correct that `ds.filter` would only allow downsampling (reducing the number of samples from dominating class)?

I was trying to implement upsampling in a view but this does not seem to work.

Here is pseudo-code of adding 10 copies for positive class to explain what I mean

[code]

so, in this case I get `len(ds_train_balanced) == len(ids_with_copies)` and can iterate

[2022-08-16 16:11] farizrahman4u commented on #1653
@gorinars We are looking into it. Will update you soon.

[2022-08-16 16:18] farizrahman4u commented on #1653
@gorinars `.pytorch` doesn't support views at the moment, it iterates through the base dataset. A workaround might be to materialize your view with `ds_view.copy(new_path)` and train on it, or write a custom Data Loader  (will post code for this asap).

[2022-08-16 17:24] gorinars commented on #1653
Thanks @farizrahman4u. The solution with copy is clear but I would ideally like to avoid copying the data.
I am currently using PyTorch Datasets and DataLoader with weighted sampler - it does seem a bit slower but works. Looking forward to transferring this to hub.pytorch at some point
Thanks

[2022-08-18 23:14] szj-github opened #1826 "[FEATURE] Hi~,how to download the dataset to local computer"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

A clear and concise description of what the problem is. Ex. I have an issue when [...]

### If your feature will improve `HUB`

A clear and concise description of how it will help `HUB`. Please prefer references, if possible

[2022-08-18 23:16] mikayelh commented on #1826
Hey @szj-github , thanks a lot for the inquiry! Please take a look at [hub API docs reference](https://api-docs.activeloop.ai/index.html#hub.load), you just have to select access method as 'download' the first time you download (and then select 'local' if the download was done in a previous run). Let us know if you have more questions. :)

[2022-08-18 23:16] #1826 closed

[2022-08-18 23:24] szj-github commented on #1826
Thank you for your reply! Can you direct me how to do it？
![image](https://user-images.githubusercontent.com/54060024/185511986-1e70e775-a7fc-4964-a552-daf93e8b1b7c.png)

[2022-08-18 23:37] szj-github commented on #1826
hi~how to set HUB_DOWNLOAD_PATH

[2022-08-19 00:38] istranic commented on #1826
Hi @szj-github. You should be able to do it in the Python using:

`os.environ["HUB_DOWNLOAD_PATH"] = "/path_to_datasets"`

In some notebooks you can also run:

`!env HUB_DOWNLOAD_PATH = "/path_to_datasets"`

[2022-08-19 07:06] szj-github opened #1827 "[BUG]Some datasets are not divided into training sets and test sets"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

[code]

### ⚙️ Environment

- `Python` version(s):
    - *good*: [e.g. 3.8]
    - **better**: [3.8.6 - Clang 12.0.0 (clang-1200.0.32.27)]
- `OS`: [

[2022-08-19 07:08] mikayelh commented on #1827
@szj-github thanks for reaching out. However, this is not a bug. Some datasets do not have a train / test split in their original version (see here for [Caltech](https://data.caltech.edu/records/20086)). All datasets are uploaded as intended by their creators.

[2022-08-19 07:08] #1827 closed

[2022-08-20 00:26] szj-github opened #1828 "[BUG]Hi！These data sets cannot be used. How to apply for the dataset authority？"
![image](https://user-images.githubusercontent.com/54060024/185722110-b8e3bc65-f5e5-4283-b73e-19036cc357a2.png)

[2022-08-20 00:30] davidbuniat commented on #1828
hi @szj-github, couldn't reproduce the issue. Can you please share the stack trace error including the code that you are running?

[2022-08-20 00:32] szj-github commented on #1828
hub.util.exceptions.UserNotLoggedInException: Please log in through the CLI in order to load this dataset, or create an API token in the UI and pass it to this method using the ‘token’ parameter. The CLI commands are ‘activeloop login’ and ‘activeloop register’.

[2022-08-20 00:34] davidbuniat commented on #1828
this should not have been a problem since the dataset is public, but one quick solution is you generate API token `https://app.activeloop.ai/profile/{USERNAME}/apitoken` and pass it to the hub.load function

[code]

Please let me know if that works?

[2022-08-20 00:41] szj-github commented on #1828
Thank you for your reply, I applied the token,But had this problem.
requests.exceptions.SSLError: HTTPSConnectionPool(host='app.activeloop.ai', port=443): Max retries exceeded with url: /api/org/activeloop/ds/FER2013-private-test/creds?no_cache=False (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate (_ssl.c:1108)'))

[2022-08-20 00:59] szj-github commented on #1828
Can you help me to certificate verify,My token is eyJhbGciOiJIUzUxMiIsImlhdCI6MTY2MDk1Njg5OCwiZXhwIjoxNjYxMzAyNDUwfQ.eyJpZCI6InN6amdpdGh1YiJ9.aAjfPYdMt-v4aGSQEQUGZ_GUBmUoUFQp1DgLNbNaQJ6rxdjQqPMcWpN9VJrlmaS-MYmmsSBqz7MwmmMF2lRZkQ

[2022-08-20 01:02] davidbuniat commented on #1828
thanks! @szj-github please don’t share publicly your private api token. Can you please disvalidate it and create a new one. Meanwhile our team is looking into the issue and will follow up once we have a solution.

[2022-08-20 01:04] szj-github commented on #1828
okey,I delete this api token .

[2022-08-21 13:14] szj-github commented on #1828
Now,it works~Thanks

[2022-08-21 18:38] #1828 closed

[2022-09-01 20:39] FayazRahman commented on #1804
Closing since its an issue with VScode.

[2022-09-01 20:39] #1804 closed

[2022-09-04 07:31] aryatalathi commented on #1157
I would like to work on this issue. Can you please elaborate?

[2022-09-04 07:34] aryatalathi commented on #1172
hey there! I would like to give it a try. May I? Or the issue is solved already?

[2022-09-04 07:37] aryatalathi commented on #1556
I would like to contribute to this issue. Can you please elaborate?

[2022-09-05 07:19] tatevikh commented on #1172
Hi @aryatalathi . Of course! Do you have a tutorial in mind?

[2022-09-05 07:36] FayazRahman commented on #1157
@aryatalathi The issue is to upload the IAM Handwriting Dataset (which can be found [here](https://fki.tic.heia-fr.ch/databases/iam-handwriting-database#:~:text=The%20IAM%20Handwriting%20Database%20contains,1%5D%20at%20the%20ICDAR%201999.)) into hub format. See our [docs](docs.activeloop.ai) to find details on how to do this.

[2022-09-05 17:55] #1760 closed

[2022-09-06 18:50] rajdeepdas2000 commented on #1438
I am interested to work on this issue.

[2022-09-06 18:53] tatevikh commented on #1438
Hi @rajdeepdas2000 ! Sure, go for it:)

[2022-09-06 18:54] rajdeepdas2000 commented on #1497
I'm interested to work on this issue.

[2022-09-06 19:11] anonymous-baaka commented on #1173
if its alright, I'll definitely love working on this

[2022-09-07 08:53] aryatalathi commented on #1157
Okay! I will try my best. Can I start working on the same? Just need your approval.

[2022-09-07 15:56] protocolog commented on #1757
I want to work on this issue. Please assign me this issue. Thanks.

[2022-09-08 16:45] protocolog commented on #1757
I want to work on this issue. Please assign me this issue. Thanks. @michelemoretti @davidbuniat @sgrove @jraman

[2022-09-08 16:47] mikayelh commented on #1757
hey @protocolog , thanks a lot for your contribution, and apologies for the late reply. Assigned the issue! You can join the Activeloop community slack ([slack.activeloop.ai](slack.activeloop.ai)) to ask questions. :)

[2022-09-08 16:49] mikayelh commented on #1157
hey @aryatalthi , thanks a lot for your contribution, and apologies for the late reply. I will highly suggest to join the Activeloop community slack ([slack.activeloop.ai](slack.activeloop.ai)) - I will reach out to you and send some more resources and guidelines on dataset upload!

[2022-09-08 16:50] mikayelh commented on #1497
@rajdeepdas2000 hey there, thanks a lot for wanting to contribute. You can join the Activeloop community slack ([slack.activeloop.ai](slack.activeloop.ai)) to ask questions. :)

[2022-09-08 16:52] mikayelh commented on #1556
hi @aryatalathi, do you prefer working on this issue or the datase tupload issue? I would recommend working on one issue at a time.

[2022-09-08 17:03] protocolog commented on #1757
Please assign #1757 issue, You assigned me but my profile is showing not assigned. your slack link is not working, please give the alternate source of contact@davidbuniat @mikayelh @michelemoretti @sgrove

[2022-09-08 17:17] mikayelh commented on #1757
@protocolog apologies, fixed the link. Please refrain from tagging people who are not involved in this conversation to spare their inboxes. Thanks. :)

[2022-09-08 17:32] aryatalathi commented on #1157
@mikayelh sure! I will consider joining the slack community. Thank you!

[2022-09-08 17:33] aryatalathi commented on #1556
Yeah, sure! I will prefer the dataset upload issue. Thank you!

[2022-09-08 23:28] mikayelh commented on #1556
gotcha, good luck - let us know if you have any questions and hit me up in community slack for some guidance.

[2022-09-10 04:27] aryatalathi commented on #1172
Yes, have some thoughts. Can you just give me the approval to work on this issue, so that I can start working on the same?

[2022-09-12 09:51] h20200051 commented on #1653
@noringname .I would like to work in this issue if it is still open.Kindlybassign me

[2022-09-12 09:52] h20200051 commented on #1653
@noringname I would like to work under this issue.Kindly assign me

[2022-09-12 09:53] h20200051 commented on #1438
@davidbuniat I would like to work under this issue.Kindly assign me

[2022-09-12 09:55] h20200051 commented on #1234
@nollied I would like to work under this issue.Kindly assign me

[2022-09-12 11:00] mikayelh commented on #1784
hey @h20200051 , We can only assign one issue per contributor, which one would you like to take on?

[2022-09-13 10:10] hakanardo opened #1859 "[BUG]"
## 🐛🐛 Bug Report
Local databases no longer works together with wandb:

  File "/home/hakanad/.local/lib/python3.9/site-packages/hub-2.7.6-py3.9.egg/hub/core/dataset/dataset.py", line 1042, in commit
    return self._commit(message)
  File "/home/hakanad/.local/lib/python3.9/site-packages/hub-2.7.6-py3.9.egg/hub/core/dataset/dataset.py", line 1106, in _commit
    commit(self, message, hash)
  File

[2022-09-13 17:41] #1653 closed

[2022-09-14 15:14] farizrahman4u commented on #1859
@hakanardo Thanks for bringing this up and providing the quick fix. Closing as the PR is merged.

[2022-09-14 15:14] #1859 closed

[2022-09-15 18:54] vict0rsch opened #1877 "Add Ellipsis support for indeexing"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

I don't want to specify the number of dimensions of a tensor I'm handling but I do want to access its last dimension. Numpy or Pytorch allow the use of Ellipsis to do that but hub does not.

### Description of the possible so

[2022-09-15 19:05] davidbuniat commented on #1877
thanks @vict0rsch for the feature request, seems we have ellipses working for trivial numpy example below.

[code]

Can you please share the error that you are observing, if any, with minimal reproducible example (including tensor details such as htype, dtype, compression etc.) ?

[2022-09-15 19:29] Hussain0520 commented on #1784
Hey @mikayelh @davidbuniat is this issue still open? I would like to try and contribute to this issue.

[2022-09-15 20:35] ziadomalik commented on #1784
Hi all, so I've been assigned to work on other projects, so in this case this issue is on hold (for now). Yet it's still something we are actively discussing, and if it's appropriate, we could close this issue and reopen it once it becomes relevant again. I still need to the green light from my Project Manager. I hope you understand and thank you for your patience.

[2022-09-15 20:48] mikayelh commented on #1784
@ziadomalik if you'd like, we can assign this issue to @Hussain0520 else in the meantime, but if you want to be the one who writes this particular code, I'm not against putting this on hold. Maybe the best solution could be allowing someone else to take a stab and then improving on their contribution later on?

[2022-09-15 20:54] ziadomalik commented on #1784
@mikayelh Sounds like a plan! As a starting point, you guys could check out our Python documentation [here](https://github.com/Jetraw/Jetraw/blob/main/doc/py_doc.md) and learn about the technology itself [here.](https://jetraw.com) We also have a C++ API. Whenever you have questions, code review requests or anything I could help with, feel free to ping me!
cc: @Hussain0520

[2022-09-15 20:58] mikayelh commented on #1784
That's awesome!

hey @Hussain0520! I've just assigned you this issue - feel free to check in with us and @ziadomalik in case you need any help! Thanks for following up, @ziadomalik :)

[2022-09-16 01:04] farizrahman4u commented on #1877
Hi @vict0rsch, thanks for the feature request. We have a PR up adding ellipsis support: #1878

[2022-09-16 07:02] ziadomalik commented on #1784
Hi, so I spoke with my project manager. Normally, we wanted to postpone this all the way to January because internally, we are still experimenting with the cloud and how our compression fits best into that context. If you guys would like to discuss, we could hop on a call so we could figure out the best way we can integrate Jetraw into the Activeloop Hub.
cc: @mikayelh

[2022-09-16 10:40] Hussain0520 commented on #1784
Thank you @mikayelh @ziadomalik . I'll surely contact you guys for help.

[2022-09-16 15:31] #1877 closed

[2022-09-18 14:50] daniel-falk opened #1885 "[BUG] Iterating ds.tensorflow() is 200 times slower than ds"
## 🐛🐛 Bug Report
If loading the mnist dataset and iterating the `HubCloudDataset` it takes 8e-5 seconds per image. If accessing it as a tensorflow dataset (`DatasetAdapter`) it takes 0.02 seconds per sample, i.e. ~200 times longer.

See this gist for example:
https://gist.github.com/daniel-falk/c58eae122acf730607aeeddaf1848229

Am I doing it in the wrong way? In that case the documentation would n

[2022-09-18 16:57] farizrahman4u commented on #1885
@daniel-falk This is because normal dataset iteration does not download or decompress the samples, but tensorflow iteration does. To get a fair comparison, try doing `sample['image'].numpy()` in the ds iteration.

[2022-09-18 19:04] daniel-falk commented on #1885
@farizrahman4u I see, that was indeed the case. When accessing the tensor it was no significant difference when using `.tensorflow()` or not.

Is it however expected to be this slow? According to my benchmarks it would take 2 hours to iterate the data for a single epoch on the MNIST dataset (28x28, 60k images).

It does seem like it is the request overhead that takes most time, fetching a data sam

[2022-09-18 19:19] davidbuniat commented on #1885
@daniel-falk indeed current implementation of `.tensorflow()` is not optimized compared to `.pytorch()`. Furthermore, our current efforts are focused on making `.pytorch()` even further optimized dataloader which you can get started [here](https://colab.research.google.com/drive/1Sky4YX0WQlf3F-0pU34QnhB-fzL_SsTZ?usp=sharing) or check the [docs](https://docs.deeplake.ai/en/latest/hub.experimental.h

[2022-09-19 01:27] farizrahman4u commented on #1885
@daniel-falk You can get faster iteration by passing `fetch_chunks=True` to your `.numpy()` call. We are looking into how we can enable this by default for iteration.

[code]

Above script takes 30s to complete on colab (compared to ~1hr with `fetch_chunks=False`).

[2022-09-19 06:18] daniel-falk commented on #1885
Thank you @farizrahman4u and @davidbuniat, that was exactly what I was looking for! I will look more into Deep Lake / Hub3 dataset and see if that works for me.

[2022-09-20 08:01] hakanardo opened #1888 "[BUG] Multiple hub.experimental.dataloader dedlocks with num_workers > 0"
## 🐛🐛 Bug Report
If multiple hub.experimental.dataloader instances are used with num_workers > 0, things will hang.

### ⚗️ Current Behavior
The code below hangs when the emulated testing starts. If I set `workers = 0` it works fine.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

[cod

[2022-09-20 08:02] mikayelh commented on #1888
hello @hakanardo , thank you so much for opening this issue - @AbhinavTuli will look into the bug right away! Thanks for making Hub better. :) (cc: @tatevikh @istranic)

[2022-09-21 11:25] AbhinavTuli commented on #1888
Hey @hakanardo!  Thanks for reporting this. I was able to reproduce the issue. Will get back to you with a fix soon.

[2022-09-23 02:54] impredicative opened #1893 "[BUG] Where is the deeplake repo?"
https://arxiv.org/pdf/2209.10785v1.pdf is published but it has at least two issues in it:

* The repo https://github.com/activeloopai/deeplake is not accessible. Is it private?
* The email address team@activeloop.ai doesn't work.

[2022-09-23 03:06] davidbuniat commented on #1893
Hey @impredicative, thanks for the ping and great the paper is out!

We were expecting arxiv.org would release it slightly later, but we basically got ahead of us. Here is getting started in alpha for deeplake (hub 3.0.0) https://colab.research.google.com/drive/1Sky4YX0WQlf3F-0pU34QnhB-fzL_SsTZ.

- We are planning to rename this repository into deeplake early next week and release publicly :)
- ju

[2022-09-23 03:11] davidbuniat commented on #1893
quick update the rename just happened :)

[2022-09-23 03:15] davidbuniat commented on #1893
@impredicative please let us your know your feedback! would love to see what else we missed and how we can improve it!

[2022-09-23 04:46] davidbuniat commented on #1893
Done, thanks a lot for finding inconsistencies, let's keep this thread until we do the final merge and do the release `deeplake`

[2022-09-29 21:18] #1893 closed

[2022-10-08 08:27] GxjGit opened #1931 "Poor performance"
Compared to pytorch native dataloader,  I find that the speed of deeplake dataloader reaches 165 images/s,  while the native loader is up to 819.15 images/s,   the webdataset loader is 1404 images/s. deeplake dataloader  is more than 5 times slower.

the imformation of our test:
num_worker: 16
batch_size: 256
dataset: imagenet
storage:   object storage  / Local storage
our local dataset building i

[2022-10-08 10:17] mikayelh commented on #1931
Hi @GxjGit , thanks for reaching out. This is not expected and contrary to some [third party benchmarks for Deep Lake](https://www.google.com/url?sa=t&source=web&rct=j&url=https://arxiv.org/abs/2209.13705&ved=2ahUKEwiQlvOzs9D6AhWuVfEDHYiNCYQQFnoECA0QAQ&usg=AOvVaw36PQJJnATKoedSNrEc13jr).

I'm tagging @AbhinavTuli to look into your example benchmark and follow up with troubleshooting!

Thanks a lot

[2022-10-08 12:15] GxjGit commented on #1931
Thank you for your reply. Looking forward to your results, if there is any information that can help to troubleshoot the problem, I am very happy to provide it here.

[2022-10-08 17:42] davidbuniat commented on #1931
thanks for raising the issue, @GxjGit can you please share your code for dataloader and which cloud provider have you been using for storing the data including for webdataset?

[2022-10-09 01:52] GxjGit commented on #1931
Thanks @davidbuniat.
(1).  The use of native dataloader is:    https://github.com/pytorch/examples/blob/main/imagenet/main.py

![image](https://user-images.githubusercontent.com/24288375/194733430-8f351e26-8258-4a69-87e2-c60c2389be8b.png)

Running cmd:           python main.py -a resnet18  --workers 16 --b 256    **dir**
**dir** is the path of imagenet dataset,
which can be downloaded from https:/

[2022-10-11 05:47] protocolog commented on #1757
I am unable to join the workspace on slack. Please help me out. My slack ID is h20220047@goa.bits-pilani.ac.in , Thanks
@davidbuniat @mikayelh @michelemoretti

[2022-10-12 07:51] GxjGit commented on #1931
@mikayelh Hello, Have you looked into my example, any progress on troubleshooting?

[2022-10-12 09:08] mikayelh commented on #1931
hi @GxjGit,  I know @AbhinavTuli has been working on this.  @AbhinavTuli can you provide us with an interim update? cc: @tatevikh

[2022-10-13 06:18] davidbuniat commented on #1931
Thanks for your patience @GxjGit, we are still looking into the issue. The root reason for slowdown is not identified, but some insights that we are looking into on our side.

- Cifar-10 roughly ~4000 images/s, wanted to confirm if it is the same on your side?
- ImageNet (streaming from remote over internet storage), got the same speed of 165 images/s as reported above (though s3 calls overhead wa

[2022-10-13 13:37] GxjGit commented on #1931
Thanks for your update @davidbuniat,  thhe following conclusions are different from yours.
(1)  Cifar 10 roughly ~580 on my side (with transform),  with new experimental dataloader.
(2) In the new experimental dataloader streaming from hub remote storage （hub://activeloop/imagenet-train） getting 350 images/s  (both with transform and  without transform).
![image](https://user-images.githubusercont

[2022-10-13 16:08] #1528 closed

[2022-10-14 07:14] kisseternity commented on #1931
Hello, I'm also intrested in the high performance of Deep Lake in experiments in the paper _Deep Lake: a Lakehouse for Deep Learning_.  I wonder if there is experiment code in this repository so that I can reproduce the experiment C as the pic shown in the paper? Thanks very much!
![image](https://user-images.githubusercontent.com/15059072/195785390-c72ece2b-9bc7-4cdd-a447-df407a315489.png)

[2022-10-14 07:18] mikayelh commented on #1931
hey @kisseternity , i'm not sure it's public, tagging @levongh to share more on this subject. There's also a wide array of benchmarks in this third-party review by Yale researchers, but I couldn't find the code in arxiv. https://arxiv.org/abs/2209.13705 (most of these are from there).

[2022-10-14 14:31] levongh commented on #1931
@GxjGit currently we are working to identify the root cause of the problem

[2022-10-14 14:35] levongh commented on #1931
hey @kisseternity, unfortunately now, we do not have any open benchmarks repository, we will come up with one in near future.

As @mikayelh already mentioned the only open benchmarks are done by Yale researchers and the whole code base is here  https://github.com/smartnets/dataloader-benchmarks

[2022-10-14 14:52] rajdeepdas2000 commented on #1497
I installed deeplake on Ubuntu 22.04.1 LTS.
Then I run the above mentioned lines of code on jupyter notebook. The mnist-trian dataset is displayed successfully by running the ds.visualize() command.
![done](https://user-images.githubusercontent.com/53941109/195876379-fbdf3b92-0bf8-4456-9b56-6539655ea586.png)
I suggest you to kindly re run/install all the required things (jupyter, deeplake, pip, et

[2022-10-14 15:53] rajdeepdas2000 commented on #1438
The abalone_full_dataset is not available in hub(deeplake). What is the way to import the dataset from a csv file?

[2022-10-14 16:02] davidbuniat commented on #1438
@rajdeepdas2000 @h20200051 really appreciate willingness to contribute here, but just checked and this problem has been fixed. I will close it for now and can be reopened if the problem still persists.

[2022-10-14 16:02] #1438 closed

[2022-10-14 16:08] rajdeepdas2000 commented on #1438
Alright. But can you tell  how do we import datasets in deeplake from our local machine?

[2022-10-14 16:26] davidbuniat commented on #1438
you can use local paths such as  `./path/to/your/local/dataset` while creating or loading a dataset.

[code]
and then access it
[code]

[2022-10-14 22:13] rizavelioglu opened #1941 "[BUG] S3GetError: An error occurred (InvalidAccessKeyId)"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Trying to train a simple model on fashionpedia dataset. After 7 epochs during training (approximately 9 hours later) the below error was thrown.

**Input Code**

[code]

### ⚙️ Environment

- `Python`: 3.9
- `OS`: Ubuntu 18.04
- `Packages`: [ `albumentations==1.2.1`, `pytorch-lightning==1.7.5`, `deeplake==3.0.10`, `libdeeplake==0.0.20`]

### 🖼 Additional c

[2022-10-14 22:52] davidbuniat commented on #1941
Thanks for reporting the issue @rizavelioglu. Short term solution is to cache locally the dataset [docs](https://docs.deeplake.ai/en/latest/deeplake.html#deeplake.dataset) while we are looking into the issue.

[code]

[2022-10-15 01:28] thecooltechguy commented on #1931
I'm also facing poor performance when using Deep Lake, compared to Webdataset (which is really fast). My use-case is around MP3 audio files. I'll try to create a reproducible setup for this.

[2022-10-15 01:38] davidbuniat commented on #1931
yes, reproducible script would help us a lot and we gonna make sure that each use case is optimized, thanks for your help :)

[2022-10-17 17:11] levongh commented on #1931
@GxjGit Can you please also provide your system i formation, so we will identify and resolve the performance issues that you can see?

[2022-10-17 23:48] BenSpex opened #1946 "[BUG]"
## 🐛🐛 Bug Report
When Uploading binary_masks with a large amount of objects (40 or so)
The visualization breaks, even the online one on the hub. It does not show the mask anymore and just some seemingly random pattern.

[2022-10-18 00:04] istranic commented on #1946
Hi @BenSpex Thank you for reporting this issue. Just curious, what was the approximate resolution of the masks. I'm asking because we have data in our coco dataset with 40+ masks/image, but they're not very high-resolution, so perhaps that's a contributing factor. Also, which sample_compression or chunk_compression did you use?

In any case, we'll look into this asap.

[2022-10-18 00:07] BenSpex commented on #1946
Hi @istranic
okay I can test it with different resolutions in the next days.
Tested with 2048x3072 and sample_compression lz4.
Should I try a different compression?

[2022-10-18 02:04] GxjGit commented on #1931
Hi, @levongh   The information is as following:

![image](https://user-images.githubusercontent.com/24288375/196318090-a57cc4b1-02ce-49f9-a453-66b87552ec84.png)

[2022-10-18 06:28] istranic commented on #1946
Hi @BenSpex A lower resolution is worth trying, as well as `sample_compression = 'apng'`.

Regardless, we'll make sure this feature works at the original resolution (assuming there are no fundamental issues such as memory constraints, etc.).

Btw, we also added support polygons recently, which is another way to store mask information without needing to create large mask arrays. It's less computati

[2022-10-18 07:09] farizrahman4u commented on #1885
Closing as fixed by #1887

[2022-10-18 07:09] #1885 closed

[2022-10-18 10:52] BenSpex commented on #1946
Hi @istranic

okay maybe I am doing something wrong here. I resized the image to 256,256.

it did not make a difference if it was stored on hub or gcp for the vis test.

[code]

The combined masks plots nicely.
Bboxes and labels are also correct.
And the images show up correct as well.

Just the masks do not show.

[2022-10-18 13:45] istranic commented on #1946
Hi @BenSpex Thx for the details. We found an issue in the visualization code that is the likely culprit. We'll release a fix in 3 days. When you resized the data to 256x256, is the failure still occurring at ~40 masks, or is that number higher?

Just to clarify your previous statement, what do you mean by "The combined masks plots nicely." vs "Just the masks do not show."? Does the first statement

[2022-10-19 13:34] istranic commented on #1946
Hi @BenSpex We fixed a visualizer issue that is the likely cause of your problem. Can you pls let us know if the issue is fixed on your end?

[2022-10-19 14:55] BenSpex commented on #1946
Hi @istranic
Sorry I oversaw the comment from yesterday.
For the first question. Plotting the masks with matplotlib works, but not with ds.viszualize.

I tried the hub version and seems to have fixed the problem.
To make it easier for you here is the minimal example with three images, the dataset is set to public, but I will delete again after the issues has been resolved.

[code]

Thanks
Ben

[2022-10-19 15:11] jangop opened #1952 "Paths joined as strings"
Looking through the code surrounding dataset downloads, I noticed that in [`get_local_storage_path`](https://github.com/activeloopai/deeplake/blob/392f8e92235b29ffa8bd59ee7d0969c7d4bbc2ee/deeplake/util/storage.py#L166) two path-representing strings are joined via an f string:

https://github.com/activeloopai/deeplake/blob/392f8e92235b29ffa8bd59ee7d0969c7d4bbc2ee/deeplake/util/storage.py#L170

Are

[2022-10-20 15:36] BenSpex commented on #1946
@istranic
Thank you for the update:
I can confirm it works with full resolution and `lz4` :tada:
![image](https://user-images.githubusercontent.com/52712273/196993566-08e05e3f-e983-4d2e-9438-eb854b4a7b6a.png)

Thanks for the quick turn around :rocket:

[2022-10-20 15:36] #1946 closed

[2022-10-20 15:41] BenSpex opened #1954 "[FEATURE] Integration with Detectron2"
It would be great to see an integration with [Detectron2](https://github.com/facebookresearch/detectron2)

Overwriting the DataLoader is not good enough:

[code]

And fails at
[code]

[2022-10-20 18:34] istranic commented on #1954
Hey @BenSpex I don't believe this is a fundamental integration issue. The issue is likely:

- Our coco dataset has ~20X tensors with bounding boxes, labels, masks, keypoints, and other metadata.
- In most use cases, you don't train on all of the tensor simultaneously, so it's recommended to only load the tensors that are needed for training
- Some of the tensors, such as `images_meta`, contain jso

[2022-10-21 20:05] BenSpex commented on #1954
Hi @istranic

Thanks.
I made slight changes to the code you mentioned to make it consistent with the data detectron2 expects.
Now it works.
If some one else comes across this here are my changes.

[code]

[code]

And add this to iterate over the dataset more than once:
[code]

Then just overwrite the trainer like so:
[code]

You may need to write your own evaluator to be in line with your data and

[2022-10-21 20:05] #1954 closed

[2022-10-23 11:03] nmichlo opened #1957 "[FEATURE] injest fiftyone datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

My problem is being able to ingest fiftyone datasets into deeplake

### If your feature will improve `HUB`

Fiftyone is a common dataset import and export tool, integration with deeplake would make such operations easy, and w

[2022-10-23 11:05] mikayelh commented on #1957
hey @nmichlo, thanks a lot for the feature request! I'm tagging @istranic for visibility and follow-up here. If you are feeling like it, we would welcome a contribution to this enhancement!

[2022-10-23 19:03] davidbuniat commented on #1957
@nmichlo thanks a lot for opening the issue. Curious can you give us more context on the use case why would you like to import FiftyOne datasets?

[2022-10-23 22:30] nmichlo commented on #1957
**Use Case**:

As part of my day to work I often need to find, download, import and pre-process many different existing datasets which are all usually in common formats like COCO or YOLOv5. Occasionally I will need to write a script to import a custom format, but I generally try and avoid that. These datasets are then often merged together or added to existing datasets that are then use for re-tra

[2022-10-23 23:03] nmichlo commented on #1757
This is an interesting problem that I face, but not just for identical images, but near-identical images. One way to do this could be to generate a perceptual hash of the image (eg. with the `imagehash` lib) and store this in a separate tensor that corresponds to your main image. Then on ingest you can query against this to skip duplicates or near duplicates based on the fine-grained-ness of the h

[2022-10-23 23:08] nmichlo commented on #1957
Based on my clarified use case, I might even argue with my own issue, in that fiftyone injest would be a nice-to-have, and ultimately a better solution would be built in support for ingesting and exporting common dataset formats.

[2022-10-24 04:09] istranic commented on #1957
Hey @nmichlo Thank you for the feedback. This is extremely useful for our product development.

As I was reading your comments, I had the same thought as your last note:

- "Based on my clarified use case, I might even argue with my own issue, in that fiftyone injest would be a nice-to-have, and ultimately a better solution might be built in support for ingesting and exporting common dataset forma

[2022-10-24 06:23] GxjGit commented on #1931
Hi, @levongh   can this problem be fixed in the near future? We are considering whether to use this solution according to the plan to solve this problem.

[2022-10-24 06:59] AbhinavTuli commented on #1931
Hey @GxjGit! We have a solution for the slowdown, it will be included in the next release before the end of this week.

[2022-10-24 15:48] istranic commented on #1957
Got it. Thanks @nmichlo!

[2022-10-27 07:19] AbhinavTuli commented on #1888
Hey @hakanardo! This issue has been resolved in the latest release of deeplake==3.0.11. Closing this for now, would be great if you could confirm on your end too.

[2022-10-27 07:19] #1888 closed

[2022-10-27 09:36] GxjGit commented on #1931
Hi @AbhinavTuli ,  thank you for updating.   I have upgraded the deeplake version to 3.0.11.  But encountered an error：
![image](https://user-images.githubusercontent.com/24288375/198249149-1f9683e7-cfae-4259-b4a9-0016d3b69011.png)

My code is as following:
   from deeplake.experimental import dataloader
    #ds = deeplake.load('hub://activeloop/cifar10-train')
    # ds = deeplake.load('/home/oppo

[2022-10-27 09:56] AbhinavTuli commented on #1931
Hey, thanks for the feedback. This should be a quick fix. There's an issue with our shuffle buffer + handling the new implementation of jpeg+png. We should have a minor release for this today.

In the meantime, you can modifiy the existing code to the following:-
2 changes were made, the transform syntax was fixed and shuffle was removed.
[code]

Will ping you shortly once the new release with the

[2022-10-27 10:02] AbhinavTuli commented on #1931
Also, please use 3.0.12, not 3.0.11

[2022-10-27 10:12] GxjGit commented on #1931
@AbhinavTuli , ok,  I  have changed to version 3.0.12,  and  modified my code as well.  It seemed that the code can run succeessfully, but another error countered:

![image](https://user-images.githubusercontent.com/24288375/198257870-e9edb117-d0d5-4488-94ae-292b20dc05dd.png)

[2022-10-27 10:47] levongh commented on #1931
@GxjGit can you please confirm if you are running the training on "imagenet-train", is the transform function the same that you provided before?

[2022-10-27 11:29] GxjGit commented on #1931
Hi @levongh,
1. I ran the trainning on my local dataset,  referred to  https://docs.activeloop.ai/tutorials/creating-datasets/creating-object-detection-datasets .   I will check if there is something wrong with my dataset.

2. The transform function is the same that i provided before: (removed ToPILImage)
    tform = transforms.Compose([
        #transforms.ToPILImage(), # Must convert to PIL imag

[2022-10-27 11:55] AbhinavTuli commented on #1931
One guess I have is that perhaps one of your images is RGBA and has 4 channels, which makes `transforms.Lambda(lambda x: x.repeat(int(3/x.shape[0]), 1, 1))` return 0, 224, 224
But that should raise an error in the normalize function call itself, so we're not sure yet.

[2022-10-27 16:41] AbhinavTuli commented on #1931
@GxjGit we have released deeplake==3.0.13 which fixes the issue with shuffling.
We're yet to reproduce the error you reported where you ended up with a tensor with 0 channels, do let us know if you find any more information to help us reproduce it.

[2022-10-28 06:49] GxjGit commented on #1931
@davidbuniat  I suspect there is something wrong with my local dataset，so I built it yesterday,   but it ended up  with this error:

![image](https://user-images.githubusercontent.com/24288375/198518017-32c26546-6c76-464e-ab47-b290a83c2090.png)

![image](https://user-images.githubusercontent.com/24288375/198518088-48b4e1eb-5fc1-4016-9c1f-3da23eb74cdb.png)

I am not sure if this error also occurs w

[2022-10-28 07:55] AbhinavTuli commented on #1931
@GxjGit Seems like you might have 1 or more png files that have been renamed to jpeg. One simple way to check or skip these files is to do this:-
[code]

[2022-10-31 12:35] GxjGit commented on #1931
@AbhinavTuli  Thanks a lot.  With your tips,  we  rebuilt the deeplake dataset of  imagenet and ran successfully.  Compared to the pre version, the speed raise from 350 fps to 1230 fps.    It performs well when only load and  transform the data.  But when I integrate it into training process,  its performance drops a lot.   Compare it with pytorch, webdataset.
![image](https://user-images.githubus

[2022-10-31 20:59] FayazRahman commented on #1952
@jangop Hey there, thanks for raising the issue. There's no reason for joining the paths as strings and we should do it the way you suggested.

[2022-10-31 21:28] FayazRahman commented on #1952
@jangop were you still able to use 'local' access method after performing the download?

[2022-11-01 12:23] jangop commented on #1952
Yea. I was testing the different options. Still seems odd to me that one has to manually switch `download` to `local`. I implemented `auto`, which goes something like this:

[code]

[2022-11-01 14:00] FayazRahman commented on #1952
This is because we wanted to have a distinct option to download / re-download the remote dataset if it has any changes. We'll change these options soon to avoid the switch.

[2022-11-01 15:17] lucasmaheo opened #1981 "[FEATURE] Add license in PyPI packages"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement)

### Is your feature request related to a problem?

deeplake, hub and libdeeplake currently use [Mozilla Public License](https://www.mozilla.org/en-US/MPL/) (MPL). However they do not advertise their license in their respective PyPI packages. This makes automatic license checks (`liccheck`) fail.

### Description of the possible solut

[2022-11-01 15:26] tatevikh commented on #1981
Hey there @lucasmaheo, thank you for bringing this to our attention! We'll add this to our roadmap and let you know when it will be implemented.

[2022-11-01 17:13] AbhinavTuli commented on #1941
Hey @rizavelioglu! We have a solution for this issue here https://github.com/activeloopai/deeplake/pull/1983
We'll be including it in the next release.

[2022-11-01 17:17] rizavelioglu commented on #1941
Thanks a lot for the message @AbhinavTuli!

[2022-11-01 17:23] mikayelh commented on #1757
thanks a lot @nmichlo for chiming in here and the suggestion! @protocolog I've re-sent you an invite to our slack (let me know if you haven't received it).

I'm also tagging @istranic here in case he thinks this can be included on the roadmap. :)

[2022-11-02 16:22] noringname opened #1984 "Indexing using certain key"
Hi,
I'm wondering if there is an easy way of indexing using certain column (image name) instead of using row number?
For example, I want to check the annotation of "0001.jpg", can I do something like ds["0001.jpg"] to get the record?
The solution I can think of is using the filter function, which is not very convenient.

[2022-11-02 18:18] FayazRahman commented on #1984
We don't support that and it seems like ``ds.filter`` will be your best option.

[code]

which will return the samples with the given image name. If you already tried this, could you tell me why it's not a good option for you?

[2022-11-03 07:37] noringname commented on #1984
Thanks, it's because I want to do upsampling and downsampling on the dataset based on certain conditions, if i can do something like ds["0001.jpg"], then I can just play with the image name list, upsample or downsample the image names, then access corresponding records.

[2022-11-03 07:38] noringname commented on #1984
Basically what indexes are for, providing quick access to certain records.

[2022-11-03 07:47] AbhinavTuli commented on #1984
Hey @noringname! Thanks for the feature request, we've seen custom indexing requested by multiple users and we plan on implementing this in the near future.
In the meantime, an alternate way to handle this is to keep a dictionary and maintain a mapping of image names to indexes. You can store this dictionary in ds.info or ds.images.info and use it to translate the image name to the relevant indexe

[2022-11-03 20:02] nollied opened #1985 "[BUG] Visualizing with Chunk Compressed Images looks crazy"
i create an image tensor with:
[code]

then populate with samples using a with block and they're of 128x128x3 (uint8).

calling `ds.visualize()` inside of a jupyter notebook when using sample_compression="png" looks fine, but with chunk compression png it looks like this:

![image](https://user-images.githubusercontent.com/26421036/199822275-0cf1f760-0d37-4368-acab-5ae1b75d5ade.png)

[2022-11-04 11:33] istranic commented on #1985
Hi @nollied . We identified the issue and will fix shortly. Thanks for reporting the problem!

[2022-11-04 12:37] #1941 closed

[2022-11-07 09:54] GxjGit commented on #1931
@davidbuniat I reported my  test results of deeplake in our department last week. Everyone is very interested in it, because we saw the potential of deeplake in data reading and processing.  we are integrating it into our project. But we are still concerned about the efficiency performance of the integration into the training end-to-end process as mentioned above.  Have you reproduced the issue an

[2022-11-07 11:21] #1952 closed

[2022-11-07 12:06] jangop commented on #1952
I would have expected an additional flag along the lines of `redownload: bool = False`. Just my gut feeling, though. That's why I implemented the extra option `auto` on our end.

[2022-11-07 12:22] FayazRahman commented on #1952
We thought it best to have a single flag for this feature. With an extra ``redownload`` flag, you will have to switch it to True and then to False in order to use the downloaded dataset anyway, so instead of this, you can switch to ``access_method="download"`` and back to ``"local"``.  Also ``"local"`` will now download the dataset if it doesn't exist. See full options [here](https://docs.deeplake

[2022-11-07 12:57] levongh commented on #1931
Hi @GxjGit, sorry for the delayed response. We are currently working on a couple of improvements and will have preliminary results by tomorrow. We will keep you updated with the updates.

[2022-11-07 14:04] jangop commented on #1952
Well, no, that would defeat the entire point. 😅 `redownload` would stay `False` almost always. One would not need to switch anything for the typical usecase “download if not downloaded; use local if available”.

Just looking at the link you shared, it appears that the second point for `local` is now wrong:

The point above it says that the dataset will be downloaded if not found, so no exception s

[2022-11-07 20:05] nollied opened #1990 "[BUG] Can't write objects to JSON"
v3.0.14

[code]

[code]

passing strings and such into this tensor works fine, but for some reason any pickled object or python object that gets pickled gives the above ValueError.

[2022-11-07 20:07] nollied commented on #1990
same issue persists in 3.0.15

[2022-11-08 18:53] levongh commented on #1931
We examined a few avenues of improvement but they did not materialize into meaningful speed increases. We're going to perform more detailed profiling within the next two weeks and will get back to you with the results as soon as they're done.

[2022-11-09 01:20] davidbuniat commented on #1990
@nollied thanks for noting the issue! we also observed issues writing under `lz4` compression. Let us take a deeper look at it and get back when this gets fixed.

[2022-11-09 01:48] nollied commented on #1990
@davidbuniat its actually not due to lz4, this bug happens for all pickle objects even without compression (unless it always defaults to lz4 even when not specified)

[2022-11-09 02:09] GxjGit commented on #1931
@levongh  ok, Thanks for your reply.

[2022-11-09 09:50] AbhinavTuli commented on #1990
Hey Dyllan! Fixed the issue in #1994, we'll include it in the next release.

[2022-11-10 08:55] #1990 closed

[2022-11-10 20:04] khustup commented on #1985
Hi @nollied , the issue is fixed.

[2022-11-12 08:22] daniel-falk opened #2002 "[BUG] deeplake.compute slow if no tensors in output dataset"
## 🐛🐛 Bug Report
I was debugging a memory leak when using the parallel compute functions and while doing that I discovered that if the output dataset does not have any tensor created, the iteration is painfully slow.

In google Colab the iterations reduced from 75-130 images per second to 25-30 images per second. On my desktop computer it reduced from 110 to 1.5 iterations per second!

[Colab exam

[2022-11-12 12:47] istranic commented on #2002
Thank you for reporting the issue @daniel-falk. We'll look into this asap. For transforms that do not need to create new datasets, have you seen the syntax below? Does that satisfy your use-case?

https://docs.activeloop.ai/tutorials/data-processing-using-parallel-computing#transformations-on-existing-datasets

[2022-11-13 08:07] daniel-falk commented on #2002
Hi @istranic, thanks! I have seen that syntax, it is almost what I want but the issue is that I cannot apply it to read-only datasets. Since my function only has side-effects, it will not modify the dataset and thus it should work with read-only datasets too. If it is not possible, then it is no big deal. I can either use a writable copy of the dataset or a temporary output dataset.

[2022-11-13 11:39] aswinvk28 opened #2003 "[BUG] CORS error happening in console and the dataset is not loading!"
**Description**

![image](https://user-images.githubusercontent.com/1046939/201519653-d9095fe0-ffbe-46d7-958b-e21a7632561d.png)

**Error Described**

![image](https://user-images.githubusercontent.com/1046939/201519689-dd52ef63-05dc-4f74-890d-7fbb41c5451d.png)

A CORS error is occurring when I load the dataset:
[code]

The error is happening when I navigate to the page:
[https://app.activeloop.ai/

[2022-11-13 11:59] aswinvk28 opened #2004 "[BUG] Push the annotations via Command Line!"
**Observation**
- I may be able to do this

[code]

- I'm not able to push the code from Github command line

[https://docs.activeloop.ai/getting-started/dataset-version-control](https://docs.activeloop.ai/getting-started/dataset-version-control)

[https://docs.activeloop.ai/getting-started/dataset-version-control](https://docs.activeloop.ai/getting-started/dataset-version-control)

- Also the doc

[2022-11-13 13:12] istranic commented on #2003
Hi @aswinvk28 Thank you for raising the issue. You have to enable CORS in the bucket where the dataset is stored by adding the information below to it's policy.

https://docs.activeloop.ai/storage-and-credentials/managed-credentials/enabling-cors

[2022-11-14 10:14] #1981 closed

[2022-11-17 19:48] #2003 closed

[2022-11-20 09:44] daniel-falk opened #2015 "[BUG] Strangeness with dataset.merge()"
## 🐛🐛 Bug Report
To start with, awesome work getting the merge functionality implemented! I have used it for a while now and discovered a few issues with it:

### Text tensors are not merged
When two branches are merged, where both branches has the same tensors, some tensors are empty after merge. This applies to e.g. `htype="text"` and `htype="generic"`. See [example on colab here](https://gist.g

[2022-11-20 13:23] istranic commented on #2015
Hi @daniel-falk thank you for raising the issue and for the reproduction script. We'll take a look at these issues asap.

[2022-11-20 15:00] elda27 opened #2016 "[FEATURE] Simple data iterator for deeplake.Dataset"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
The current implementation requires TensorFlow or PyTorch to generate the iterator on the Windows.
Of course, I could use `deplake.Dataset.dataloader` to accomplish something like this question.
I would like to provide a simpl

[2022-11-21 14:21] istranic commented on #2002
Hi @daniel-falk Just spoke to our team about this and I think the main issue is our communication of the purpose of `deeplake.compute`.

We built this feature in order to support parallel updates to datasets, because users implementing this would be tricky, due to the uniqueness of our data format. For example, for the read-only error, we assume the `deeplake.compute` function will update the data

[2022-11-21 18:38] daniel-falk commented on #2002
Hi @istranic ,

I understand how you are thinking.

Firstly, my first attempt was to use multithreading in python. Doing so I got loads of strange exceptions from deeplake, so I assumed that the datasets was not thread safe and that it was the reason for the compute functions. [See example here generating the errors.](https://github.com/daniel-falk/ai-ml-principles-exercises/blob/7fdcb95bf6769a146

[2022-11-21 18:40] daniel-falk commented on #2002
How about an override for the read-only check, like this: https://github.com/activeloopai/deeplake/pull/2019 ?

[code]

[2022-11-22 08:41] St3V0Bay commented on #1784
Please allow me to sneak in here... I was looking for a way how to compress my 1 million nifti stacks. On one hand "nifti" is not yet supported by deeplake (but dicom is). On the other hand, I was looking for a way to use the general dtype and add a custom compression on top. I was even more surprised to see someone from dotphoton here (@ziadomalik) You guys are on my list for more than a year. Th

[2022-11-22 22:59] istranic commented on #1784
Hi @St3V0Bay. Thx for following up on this thread! Adding custom compression is quite tricky, because even if it's implemented in Deep Lake OSS, it won't work in our visualizer or the optimized C++ dataloader, because they are not in the OSS repo.

We're also happy to add support for your nifti data directly. Are you working with dicom files that are combined into nifti stacks? If you're able to p

[2022-11-23 15:03] daniel-falk opened #2023 "[BUG] sample_by on view does not work"
## 🐛🐛 Bug Report

Hi, when using the `sample by` query on the result of another query, it fails with an exception.
[code]

This fails with exception:
[code]

Using versions:
[code]

It would also be nice if I could automatically sample to get a uniformed distribution instead of using weights, because now I need to do the query in two steps:
* Filter on any metadata that I am insterested in
* Calcu

[2022-11-23 15:15] daniel-falk commented on #2023
Does not seem to work for me on master either:

[code]

[2022-11-24 12:31] AbhinavTuli commented on #2023
Thanks for pointing it out Daniel. This seems like a different problem than the one addressed in the PR mentioned above. @khustup is working on fixing this issue and we should have a fix soon.

[2022-11-25 03:07] istranic commented on #2015
Hi @daniel-falk We had some internal miscommunication that led to the merge strangeness. Long-story-short, merging will bring back samples that were popped on other branches, and there are some technical limitation that resulted in this behavior.

Enabling merges to respect popped samples is not a problem if a merge happens once. However the technical problem occurs if a merge has already happened

[2022-11-25 10:14] daniel-falk commented on #2015
First, let me just make sure I understand what cases would work and what would not. In this image, number 1 and 3 would be OK, not 2 and 4?

![DSC_1512](https://user-images.githubusercontent.com/23218783/203942459-e50b86d2-3828-41a1-84c4-1e03dbed5f10.JPG)

Number 2 could be solved by locking the branch. Once branch 2 is merged to master, we could lock branch 2 from accepting more commits.
![DSC_15

[2022-11-25 15:00] St3V0Bay commented on #1784
Hi @istranic,
thanks for the swift response. I see  - so custom compressions are a bit tricky to handle.

Re nifti: In the medical imaging domain most open-source data is offered as nifti (bioimaging has their own preference however). That's the best format for data scientists to get started. However, DICOM is the true standard that is actually used in the clinic (you have that already integrated,

[2022-11-26 14:26] istranic commented on #1784
Thanks for the info @St3V0Bay. We'll keep you in the loop regarding our decision making around nifti support.

[2022-11-30 12:11] AbhinavTuli commented on #2015
Hey @daniel-falk.
You're correct case 2 and case 4 will not work.
The problem is that we had designed our version control 2 years ago with the following assumptions:-
- The version control history will be stored as a tree i.e. each node will have only 1 parent.
- Data won't be deleted

Further down the line we got requests for merge, which doesn't follow assumption 1. We got around this by making