[2019-09-11 10:21] mo-zahran opened #5 "Available Datasets"
I want to thank you first for the great work.
My question is, are you planning to provide **pre-loaded datasets** like the **Imagenet** example?
I tried to load **Nuscenes dataset**, but it is not working.

[2019-12-03 15:29] davidbuniat opened #8 "GZIP Compression"
Add Gzip compression to chunks

[2019-12-03 15:30] davidbuniat opened #9 "Dynamic Shapes"
Discuss Dynamic Shapes and implement

[2019-12-03 15:31] davidbuniat opened #10 "Repository Naming Error"
There is an error naming hub repositories

[2019-12-04 12:00] edogrigqv2 commented on #8
https://github.com/snarkai/Hub/commit/6790a53fb78b63d1e014a82ce426f8bd1b9590c4

[2019-12-04 12:02] edogrigqv2 commented on #10
https://github.com/snarkai/Hub/commit/e437ab1220f9269c47d3f4cd5e29c488bb24f075

[2020-04-07 12:25] radao commented on #9
Could someone explain exactly how dynamic shapes work in Hub? I see they are used in the Waymo dataset example as well as a small test script but its still a bit unclear.

Specifically it would be helpful to know the following:

- What does the `dsplit` argument in `bucket.array_create` do? Must it be set to dynamically change the shape while writing to an array?
- Seems the logic is first to set

[2020-04-08 17:01] edogrigqv2 commented on #9
1. Let's say your array has shape [10000, 1920, 1080, 3], `dsplit == 1` (number of static dimensions) will mean that first dimension of your array(10000) is static, and the rest (1920, 1080, 3) depends on the index of the first dimension.
2. For the shape example above `darray` will be a fully static array with shape = [10000, 3], where 3 is number of dynamic dimensions: (1920, 1080 and 3). For ea

[2020-04-08 17:02] edogrigqv2 commented on #9
1. Let's say your array has shape [10000, 1920, 1080, 3], `dsplit == 1` (number of static dimensions) will mean that first dimension of your array(10000) is static, and the rest (1920, 1080, 3) depends on the index of the first dimension.
2. For the shape example above `darray` will be a fully static array with shape = [10000, 3], where 3 is number of dynamic dimensions: (1920, 1080 and 3). For ea

[2020-04-09 13:21] radao commented on #9
Thanks for the explanation. Could you confirm this is the correct way to use dynamic shapes?

[code]

[2020-04-10 17:52] edogrigqv2 commented on #9
Yes, this is a correct way. Every idx from 0 .. n will have different shape, so calling `dataset['arr][idx, :]` will have different shapes depending on idx. Btw, dsplit can be = 2, 3, .... It means the first 2, 3, ... dimensions are deciding the values of the remaining dimensions. Regarding to shapes being None, it is recommended to specify the maximum dimension size that dimension can have. There

[2020-04-10 18:52] radao commented on #9
Cool, that makes sense. Could you also explain what is the purpose of the `chunk` argument for arrays? I'm guessing its for efficiently uploading data to storage in batches, but its not very clear what role it plays when you open a dataset and access it via a `DataLoader` with a different batch size:

[code]

[2020-04-15 06:38] davidbuniat commented on #9
That's a good point. You are right the data is chunked to be efficiently uploaded and stored. In theory, dataloader should follow `batch_size=chunk` pattern. However, we wanted to let developers be flexible in choosing storage `chunk` and `batch_size` for various data access patterns.

What do you think?

Also we are considerirng combining `.to_pytorch(...)` and `torch.utils.data.DataLoader(...)`

[2020-04-15 09:26] radao commented on #9
I understand the need to chunk for efficient upload and storage but as a developer I would prefer the option to use any batch size. However I don't know the internals of Hub well enough to understand if thats possible without greatly impacting read performance.

Regarding your second point, I don't necessarily see any advantage combining datasets with data loaders. I'd rather have them separate to

[2020-04-16 16:37] davidbuniat commented on #9
Got it, thanks for the feedback! That's pretty useful.

[2020-04-16 22:52] radao commented on #9
Last thing I wanted to point out is [Zarr](https://zarr.readthedocs.io/en/stable/), a higher level Numpy wrapper that provides support for n-dimensional arrays with chunking, compression, etc. Not sure if you came across it previously but it could greatly simplify Hub's backend.

[2020-04-26 14:35] rjanovski opened #13 "optional dependency torch failing on import hub"
trying to use the package fails:
[code]

This is a bad first experience really. is there a way to use hub without the torch failing me?

[2020-05-01 18:37] davidbuniat commented on #13
Hi @rjanovski, yep sorry about that. The problem is fixed, just pushed another update, can you please try again?

[code]

[2020-05-01 18:38] #10 closed

[2020-05-01 18:38] #9 closed

[2020-05-01 18:38] #8 closed

[2020-05-01 18:38] #5 closed

[2020-05-10 05:14] #13 closed

[2020-05-11 10:04] rjanovski opened #14 "s3 access via IAM-role doesn't seem to work"
trying to connect to s3 without explicit credentials by running from ec2 with IAM role that allows access:
[code]
(boto seems to supports this mode: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#iam-role)

but I get access denied:
[code]

I do manage to access s3 from this machine just fine with aws-cli without configured credentials.

Is this mode of s3 authenti

[2020-05-11 11:55] rjanovski commented on #14
also, the config-file option is expecting some json, and not the ~/.aws/credentials [INI] format.

I would expect hub to leave handling this to boto3 and not fill explicitly the credentials, so the various auth methods will work (iam-role, env-vars, ~/.aws/credentials, etc.)

[2020-05-11 18:12] rjanovski opened #15 "hub.array assignment not as robust as np.array"
`hub_array[0, :,:,:] = image`
raises a MemoryError: unable to allocate 112GiB with shape ...

while
`hub_array[0] = image`
works fine as expected.

in np.array both versions work the same way.

took us several hours to debug the issue, and in the end was just a slight incompatibility to np.array.
would be nice to add the first assignment just in case someone else tries it expecting np.array behavi

[2020-05-12 07:39] rjanovski commented on #15
ok, looks like this was our own typo (missing coma between index and first colon)

[2020-05-12 07:39] #15 closed

[2020-05-12 18:05] rjanovski opened #16 "tensorflow integration not supported"
dataset.to_tensorflow() seems to be broken:

https://github.com/snarkai/Hub/blob/9539dc4d9699df454d87dd4faf480c763945cd33/hub/dataset.py#L11-L14

isn't dataset integration with tensorflow supposed to be supported?

[2020-05-12 22:55] davidbuniat commented on #14
Fixed the following issue. If you don't specify any parameter, it will try to default to boto3 as requested. However, if there are no defaults found by boto3 then it will switch to snark open bucket.

[2020-05-12 23:46] davidbuniat commented on #16
Added minimal TensorFlow dataset support. Please feel free to post any required functionality and we will add that. Also, it might not be very efficient in terms of data loading, please do let us know if you have issues.

https://github.com/snarkai/Hub/blob/6c9611433874f67d69419e677d8b724ae65d468f/test/test_dataloader.py#L136-L139

[2020-05-12 23:47] davidbuniat commented on #16
Please let us know if the problem is fixed in `pip install --upgrade hub==0.4.1.5`

[2020-05-12 23:48] davidbuniat commented on #14
Please let us know if the problem is fixed in `pip install --upgrade hub==0.4.1.5`

[2020-05-13 11:58] rjanovski commented on #14
seems to work fine now without credentials

[2020-05-13 17:00] davidbuniat commented on #14
Great closing the issue!

[2020-05-13 17:00] #14 closed

[2020-05-24 21:54] surabhi96 opened #18 "class labels access and labels shape"
Hi,
If I understand it correctly, the shape of 'labels' which is (frame_count, 11, 400, 7) corresponds to the 7 box values (center coordinates, box dimensions and heading) for a maximum of 400 obstacles in each of the images, lasers_camera_projection and lasers_range_image.
I have two questions here,
1) Where can I access the class labels? Eg. Pedestrian, Vehicle etc.
2) Considering the number of

[2020-05-25 16:40] davidbuniat commented on #18
Hi @surabhi96,

1. We haven't ingested the class labels as of yet. Help would really be appreciated here.
2. For the second question. Here are located 2 .proto files that define the original format of waymo dataset
https://github.com/waymo-research/waymo-open-dataset/blob/master/waymo_open_dataset/dataset.proto
As for labels, there is 1 label per camera and there are 5 cameras.
projected_lidar_lab

[2020-08-10 05:12] davidbuniat commented on #16
Added better TensorFlow integration into `v0.10.0` version and closing this issue.

[2020-08-10 05:12] #16 closed

[2020-08-17 19:20] davidbuniat opened #22 "From Pytorch dataset to Hub format"
# Describe your feature request

Create a converter that takes any PyTorch dataset and converts it into a hub format.

A simple test would be
[code]

Please follow Contribution [guidelines](https://github.com/activeloopai/Hub/blob/master/CONTRIBUTING.md) and look into uploading dataset [guidelines](https://github.com/activeloopai/Hub/blob/master/docs/dataset.md) for more details about meta informa

[2020-08-20 21:56] davidbuniat opened #24 "Support TFDS datasets"
# Describe your feature request

Create a converter that takes any [Tensorflow Dataset](https://github.com/tensorflow/datasets) dataset and convert it into a hub format.

[code]

More advanced test would require to run the conversion for each dataset in parrarel
[code]

## Notes
* General advice: start with simple small datasets (low hanging fruits), commit often maybe mid-PRs to Master, then stea

[2020-08-24 16:35] davidbuniat opened #29 "Add CI/CD"
# Describe your feature request

Please add CI/CD for open source development
- Will automatically run tests with
    - Embedded AWS S3 credentials connection tests
    - Embedded GCS credentials tests
    - PyTorch/Tensorflow tests
- Move docs here from dataflow and automatically deploy docs from here
- On Tag will make a package and deploy to Pipy
- Ci/CD badge to Readme
- Test Coverage to Readm

[2020-08-27 16:03] GevorgAghekyan opened #32 "Concerns related to provided guidelines."
Can not find the [Uploading MNIST](https://github.com/activeloopai/Hub/blob/master/examples/mnist.py), [Uploading CIFAR](https://github.com/activeloopai/Hub/blob/master/examples/cifar100.py), [Uploading COCO](https://github.com/activeloopai/Hub/blob/master/examples/coco2017.py) URLs provided in [Guidelines](https://github.com/activeloopai/Hub/blob/master/docs/dataset.md). Seems that they does not

[2020-08-27 16:20] davidbuniat commented on #32
1. We have changed the folder directory for `examples` please find those examples here https://github.com/activeloopai/Hub/tree/master/examples, will update the docs in meantime.

2. For the second issue. Did you use `username/dataset` or `Gevorg/dataset`?

[2020-08-27 16:23] GevorgAghekyan commented on #32
have used gevorg/dataset

[2020-08-28 02:49] davidbuniat commented on #32
I can see that your dataset has been uploaded. Looks to me a backend related issue. Thanks for letting it know. Will look into it.

[2020-08-29 19:15] GevorgAghekyan opened #34 "tensor.from_array() fails running."
![without_chunks](https://user-images.githubusercontent.com/34982567/91644458-3b825500-ea4d-11ea-834e-ec40d9696878.png)

![with_chunks](https://user-images.githubusercontent.com/34982567/91644475-5c4aaa80-ea4d-11ea-8be5-d3e3e551611a.png)

[2020-08-29 19:16] GevorgAghekyan commented on #34
no matter with or without 'chunks' arguments, it has started hours ago.

[2020-08-30 18:08] edogrigqv2 commented on #34
@GevorgAghekyan Can you specify your hub & dask versions?

[2020-08-30 18:37] GevorgAghekyan commented on #34
@edogrigqv2

Name: hub
Version: 0.11.0.0

Name: dask
Version: 2.20.0

[2020-09-02 10:19] GevorgAghekyan opened #35 "AttributeError: 'Dataset' object has no attribute 'compute'"
![No_Compute_Attribute](https://user-images.githubusercontent.com/34982567/91969439-247e8400-ed27-11ea-91d7-f929b5b8c37c.png)

[2020-09-02 19:58] davidbuniat commented on #35
If you want to take a look at a tensor, you would need to specify the key including the index
[code]

Otherwise, you should be able to directly store the dataset
[code]

[2020-09-03 18:36] GevorgAghekyan commented on #35
Thanks!!!

[2020-09-03 18:36] #35 closed

[2020-09-03 18:37] GevorgAghekyan commented on #32
Thanks!!!

[2020-09-03 18:37] #32 closed

[2020-09-03 22:06] GevorgAghekyan opened #36 "Exception: Connect timeout on endpoint URL"
![Script](https://user-images.githubusercontent.com/34982567/92178251-34938200-ee53-11ea-9293-98d13ec383f1.png)
![Failure](https://user-images.githubusercontent.com/34982567/92178263-3cebbd00-ee53-11ea-9d03-2cebbb2651df.png)

[2020-09-03 22:07] GevorgAghekyan commented on #36
Also:
distributed.utils_perf - WARNING - full garbage collections took 10% CPU time recently (threshold: 10%)

[2020-09-03 22:33] davidbuniat commented on #36
Looks to me in an internet connection issue with uploading large amounts of data. If you share the minimal reproducible code, we will try to replicate it.

[2020-09-03 22:37] davidbuniat commented on #34
Strange, we haven't been able to reproduce the issue. Also the argument name for `.from_array(...)` function is `chunksize` instead of `chunks`

[2020-09-03 22:47] GevorgAghekyan commented on #34
It's weird, the failure has disappeared.

[2020-09-03 22:48] GevorgAghekyan commented on #34
It weird: the issue has disappeared.

On Fri, Sep 4, 2020 at 2:37 AM Davit Buniatyan <notifications@github.com>
wrote:

[2020-09-03 23:24] GevorgAghekyan commented on #36
The folder for annotations is here: [annotations](https://1drv.ms/f/s!AgQWAZGjry_Sizo60bZDBf4Xq7RU)
The folder for images is here: [images](https://1drv.ms/f/s!AgQWAZGjry_SijEo6rZMmrKz4EY0)

The reproducible script is below:

`import json
import os
import cv2
import hub
import psutil
import numpy as np
from hub import Transform
from hub import tensor, dataset

# read file
with open('annot/train.js

[2020-09-04 00:42] davidbuniat commented on #34
ok closing this issue

[2020-09-04 00:42] #34 closed

[2020-09-05 17:41] GevorgAghekyan opened #39 "ClientError: An error occurred (ExpiredToken) when calling the PutObject operation: The provided token has expired."
Have tried to store the dataset trice.

The loading was taking place more than 12 hours, however, at some point, I am getting the ExpiredToken error:

![Expired_Token](https://user-images.githubusercontent.com/34982567/92310532-75f57000-efc0-11ea-988f-0a556dbf7314.png)

Have already uploaded the script and have provided the URLs of data and annotations in [issues/36](https://github.com/activeloopa

[2020-09-09 21:24] davidbuniat commented on #39
This issue is caused by long data upload, we generate token per session. To fix this issue, we would need to check if the token is getting expired between the upload of the data and if so update the token.

[2020-09-10 10:59] AbhinavTuli opened #42 "PermissionException on AWS"
Facing issues with ds.store() on AWS while the same code works properly locally.
Error : `hub.exceptions.PermissionException: No permision to store the dataset at s3://snark-hub/public/abhinav/ds`

For now, got it working using `sudo rm -rf /tmp/dask-worker-space/`.
A proper fix is needed.

[2020-09-12 03:57] davidbuniat commented on #42
The problem is when you have multiple users on the same machine using hub writing cache to global directory (`/tmp`) then you have permission issues.

Solution to this problem is to move `/tmp/*` to local directory of the user `~/tmp/` or hidden folder `~/.activeloop/tmp` near credentials.

The line is here
https://github.com/activeloopai/Hub/blob/master/hub/collections/client_manager.py#L75

[2020-09-12 08:25] GevorgAghekyan commented on #39
Agree!

[2020-09-21 06:00] AbhinavTuli opened #44 "Fixes in to_tensorflow method"
Observed a couple of problems while converting stored datasets to TensorFlow format that need some small fixes.

to_tensorflow fails when the meta information for a tensor includes dtype="object" ("object" dtype has been used for images, area, id, bbox in Coco dataset - https://github.com/activeloopai/Hub/blob/master/examples/coco/upload_coco2017.py#L24)
A fix for this is to keep the dtype="uint8"

[2020-09-23 16:55] davidbuniat opened #45 "Serialization of data types"
## Describe your feature

Implement the Serialization of Dataset Structure. Then implement Tensor derivatives such as Image, ClassLabel, Mask, Segmentation, Polygon, Bounding Box, Tabular, and other TFDS Features.

There are two subtasks
1. Serialize and Deserialize the metadata into `meta.json`
2. Implement Tensor Derivatives

## Additional Notes
Have a call with @edogrigqv2 to get started
Please

[2020-09-23 16:57] davidbuniat opened #46 "Dynamic Shape Handling"
# Describe Feature details

Implement Dynamic Shapes for tensors with according chunking
1. Automatic size extension/expansion.
2. Boundary checking

## Additional notes
PR to `release/v1.0`

[2020-09-23 16:59] davidbuniat opened #47 "Slices views of datasets"
# Describe Feature

Implement virtual datasets
1. Get and set a dataset from the subview of the dataset.

## Additional Notes
PR to `release/v1.0`

[2020-09-23 17:03] davidbuniat opened #48 "Dataset Caching"
## Describe the feature

Zarr caching is per array not shared. Please come up with shared caching, and once the dataset is uploaded. We need our shared storage to have options to write to the array. Dataset will have `.commit()` function. Once caching get an alert if the dataset is ready, call `.commit()`.

## Additional notes
PR to `release/v1.0`

[2020-09-25 17:27] davidbuniat opened #53 "Datatypes to Zarr files"
# Describe the feature

Zarr needs max_shape, url, and other parameters. We need a component to parse the hierarchy of datatypes and let the dataset to create the zarr arrays. Similar to StorageTensor and DynamicTensor (it's an API). This is implemented in _flatten, we need to make more robust.

## Solution
- Decide on API
- Add max_shape
- Decide on how to chunk automatically

[2020-09-25 17:29] davidbuniat opened #54 "Merging all together"
# Describe the feature

- Combine all PRs together
- Finalize the user API
- Test backend
- Add documentation

## Notes
PR to release `release/v1.0`

[2020-09-25 23:46] #48 closed

[2020-09-26 21:06] #39 closed

[2020-09-27 16:50] edogrigqv2 commented on #53
This general converter from user input data to data that should be inserted by us to Zarr.

[2020-09-27 16:53] edogrigqv2 commented on #47
Slice Dataset to seperate tensors or tensor slices ( or sub dataset). This new object (handle) should have the same R/W API as dataset but only focused on the part of it.

[2020-09-30 05:34] edogrigqv2 opened #55 "Auto-chunking of tensor based user given dtype information with minimal extra user input"
We have to find a way to understand how we do tensor chunking without explicitly asking user how to do it. The less extra information we ask from user to figure this out the better. Maybe it is better to go with suboptimal solution for sake of not asking user extra information.

[2020-10-02 16:30] davidbuniat commented on #53
Partial implemented for chunking, move the rest of chunking issues into Autochunking

[2020-10-09 19:37] kristinagrig06 opened #56 "Add CamVid dataset"
Add [CamVid](http://mi.eng.cam.ac.uk/research/projects/VideoRec/CamVid/) dataset to [app.activeloop.ai](https://app.activeloop.ai/datasets/explore) with the correct version.

For more information regarding creating and uploading a dataset please see the [Hub documentation](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere).

[2020-10-09 19:41] kristinagrig06 opened #57 "Add IMDB-WIKI dataset"
Add [IMDB-WIKI](https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/) dataset to [app.activeloop.ai](https://app.activeloop.ai/datasets/explore) with the correct version.

For more information regarding creating and uploading a dataset please see the [Hub documentation](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere).

[2020-10-09 19:44] kristinagrig06 opened #58 "Add Caltech Pedestrian Detection dataset"
Add [Caltech Pedestrian Detection](http://www.vision.caltech.edu/Image_Datasets/CaltechPedestrians/) dataset to [app.activeloop.ai](https://app.activeloop.ai/datasets/explore) with the correct version.

For more information regarding creating and uploading a dataset please see the [Hub documentation](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere).

[2020-10-09 20:36] AbhinavTuli opened #59 "Add documentation for using text labels in datasets"
Add documentation for the function get_text that retrieves text labels from the stored dataset.
Function definition:- https://github.com/activeloopai/Hub/blob/master/hub/collections/dataset/core.py#L655
Examples of usage:-
Pytorch: https://github.com/activeloopai/Hub/blob/master/examples/fashion-mnist/train_pytorch.py#L95
Tensorflow: https://github.com/activeloopai/Hub/blob/master/examples/fashion

[2020-10-09 20:42] AbhinavTuli opened #60 "Documentation for using ingestors for big datasets"
Add documentation describing transformers being used as dataset ingestors while uploading large datasets.

References:-
Example of usage:- https://github.com/activeloopai/Hub/blob/master/examples/coco/upload_coco2017.py
Upload documentation:- https://docs.activeloop.ai/en/latest/concepts/dataset.html#how-to-upload-a-dataset
Documentation for transformers:- https://docs.activeloop.ai/en/latest/conc

[2020-10-09 21:28] davidbuniat opened #61 "Add top contributors to Readme"
## Describe Task

Add top contributors to the readme. For reference please take a look at other repositories. https://github.com/huggingface/transformers

[2020-10-09 21:31] davidbuniat opened #62 "Add code test coverage"
# Describe Task
Add code test coverage for the repository.

## Notes
Feel free to use any online resource and connect with circleci.

[2020-10-09 21:33] davidbuniat opened #63 "Create a Colab demo"
# Create a tutorial on Colab

Users should be able to load a dataset, train a model, and upload the dataset. Feel free to start from a small example and then make the example comprehensive.

[2020-10-09 21:33] davidbuniat opened #64 "Create a tutorial on Colab"
# Create a tutorial on Colab

Users should be able to load a dataset, train a model, and upload the dataset. Feel free to start from a small example and then make the example comprehensive.

[2020-10-09 23:59] Paola351 commented on #64
I can do this i you need help

[2020-10-10 03:43] SambhavBhurtel commented on #61
Hey, @davidbuniat can you assign me with this? I'll do it.

[2020-10-10 08:02] edoardottt commented on #61
https://github.com/sourcerer-io/hall-of-fame

[2020-10-11 10:39] platipo commented on #62
Hi @davidbuniat, the coverage should be persisted locally or uploaded to any service like Codecov?

[2020-10-11 10:44] platipo commented on #62
Also i think it would be useful to add the [PyPi orb](https://circleci.com/developer/orbs/orb/pennlabs/pypi-tools) to publish the package automatically.

[2020-10-11 20:54] davidbuniat commented on #61
I think this is the way to go! @SambhavBhurtel can you implement it?

[2020-10-11 20:56] davidbuniat commented on #62
@platipo if you think Codecov would be the easiest to implement, let's go with that. Please let me know if you need an account/token and I will create for you.

[2020-10-11 20:57] davidbuniat commented on #62
We have automatic package deployment with CirceCI, how this would be better?

[2020-10-11 20:57] #63 closed

[2020-10-11 21:10] edoardottt commented on #61
As far as I know, only the owner of the project can do that. The Hall of Fame project needs the GitHub Token to work.
[Read here](https://github.com/sourcerer-io/hall-of-fame#getting-started)

[2020-10-11 22:34] keshav340 commented on #64
can I do this? It is easy for me.

[2020-10-12 00:13] davidbuniat commented on #64
Assigning you as well, to avoid replication of the task, please think of the extended introduction of Hub to a user.

[2020-10-12 00:31] davidbuniat commented on #61
@edoardottt thanks for the tip, created an account and added to #hof. Here is the code from sourcerer to do the PR to Readme ;) The only issue is that I don't see contributors as of yet. Probably it's still ingesting the repo.

[code]

[2020-10-12 04:30] SambhavBhurtel commented on #61
@davidbuniat Yes, I will do it.

[2020-10-12 06:20] davidbuniat opened #70 "Store and Load Models"
# Describe Feature

We want to be able to store and load models, similar to datasets. The model has a computational graph and weights. Look into how Pytorch saves and loads the model. Check ONNX or TF later.

[code]

### Notes
1. Start from Pytorch
2. Implement TensorFlow
3. Include ONNX and other types.

[2020-10-12 19:12] #61 closed

[2020-10-12 19:39] platipo commented on #62
I think Codecov is the best alternative and the easiest to implement.

The main steps are:
1. Sign up on codecov.io and with the organization GitHub account.
2. Now Codecov should show you all the available repositories once it'll sync
3. Then you can navigate thought available repos (this specific repo url should be https://codecov.io/gh/activeloopai/Hub)
4. Upload `$CODECOV_TOKEN` to CircleCI

R

[2020-10-12 19:42] platipo commented on #62
I'm not a big fan of the _if it's not broke, don't fix it_ motto, in my opinion using an orb reduce the burden to maintain the configuration file.

Let me know your opinion and if you encounter any problem in the Codecov registration.

[2020-10-12 20:18] davidbuniat commented on #62
Hey @platipo, I have added `CODECOV_TOKEN` to CircleCI as an environment variable. Do you want to give a try to configure the circle ci to run the process below for reporting the coverage and adding to readme.md?

[code]

Also, I took a look at the orb you mentioned, it looks useful. Feel free to do a separate PR for that and I will review.

Thanks for the tips!

[2020-10-13 10:11] Paola351 commented on #64
Sorry, i have to give up as I'm very busy in these days, sorry!

[2020-10-13 18:48] davidbuniat commented on #64
No worries at all, thanks for thinking of us!

[2020-10-13 18:59] ADI10HERO commented on #44
A fix for this is to keep the dtype="uint8" or something similar while uploading. The Coco example needs to be updated to reflect this.

Changing the values in the dict returned by meta would work?

And I did not get this part...

This can be fixed by commenting out this line https://github.com/activeloopai/Hub/blob/master/hub/collections/dataset/core.py#L633, which will set the output_shapes as N

[2020-10-14 05:42] AbhinavTuli commented on #44
Yeah should work by changing the dtype in meta, but it's better to change it in _call_ as well, to make it obvious for any user

When the user doesn't specify the shape and just mentions shape = (1,), to_tensorflow strictly expects shape as (1,). If we comment out https://github.com/activeloopai/Hub/blob/master/hub/collections/dataset/core.py#L633, it will accept any shape given to it.

Once you m

[2020-10-14 18:03] #62 closed

[2020-10-15 04:25] rafaeelaudibert commented on #42
Hey! I can tackle on this. Is the only needed change the one you outlined, changing it to (I prefer the hidden folder one) `~/.activeloop/tmp`?

[2020-10-15 04:49] #42 closed

[2020-10-15 07:04] sparkingdark commented on #58
Hey @kristinagrig06 want to work on this.

[2020-10-15 07:07] sparkingdark commented on #59
Am i need to just add the comments on function working want to work.

[2020-10-15 08:31] AbhinavTuli commented on #59
Assigning you to the task.
You can add it after Combine here https://github.com/activeloopai/Hub/blob/master/docs/source/concepts/dataset.md

[2020-10-15 08:40] sparkingdark commented on #59
Thanks for assigning

[2020-10-15 09:54] rohankmr414 commented on #59
Can I do this?

[2020-10-15 14:03] kristinagrig06 commented on #58
@sparkingdark , you can find some examples of dataset loading and uploading here: https://github.com/activeloopai/Hub/tree/master/examples

[2020-10-15 14:04] kristinagrig06 commented on #57
@kzuri you can find some examples of dataset loading and uploading here: https://github.com/activeloopai/Hub/tree/master/examples

[2020-10-15 14:18] sparkingdark commented on #58
Thanks Will do it soon and check the example dataset is there any discord or slack channel regarding communication @kristinagrig06

[2020-10-15 16:11] kzuri commented on #57
@kristinagrig06 Should I combine both IMDB and WIKI photos and labels ?

[2020-10-15 16:55] sound-wave commented on #56
@kristinagrig06 Can I help with this issue?
And how do add label for segmentation map from this database for `label` key?

[2020-10-15 18:48] #59 closed

[2020-10-15 19:36] davidbuniat commented on #58
Hi @sparkingdark, we actually got into the beta access of Github Discussions (https://github.com/activeloopai/Hub/discussion). Would love to get your feedback, otherwise, if this doesn't work, we will likely revert to Slack.

[2020-10-16 01:41] sparkingdark commented on #58
I got error 404

[2020-10-16 02:31] Tanujcbe commented on #64
@davidbuniat  Can I work on it?

[2020-10-16 05:05] davidbuniat commented on #64
Thanks for your willingness to contribute. @Tanujcbe assigning you the task.

[2020-10-16 05:06] davidbuniat commented on #58
@sparkingdark sorry about that, now the link should be fixed.

[2020-10-16 06:10] Tanujcbe commented on #64
@davidbuniat Please accept pull request #83

[2020-10-16 06:15] davidbuniat commented on #64
@Tanujcbe thanks for the PR. Probably the issue was not clear enough from the beginning.

We are looking for a Hub tutorial on Google Colab to demonstrate the user Hub in action, e.g. how users can create datasets and load them into pytorch/tensorflow.

Finally we look for adding the created notebook into the readme.

[2020-10-16 06:22] kristinagrig06 opened #84 "Same values in Dataset"
I have a Dataset of logs which is defined like that:
[code]
I also have some average metrics stored in a dict, i.e.
[code]
To store those metrics in logs, I run:
[code]
But when I run
[code]
all these values are equal.

[2020-10-16 08:42] kristinagrig06 commented on #56
@sound-wave A label can be a segmentation array for this dataset. You can find an example of segmentation dataset loading and uploading here: https://github.com/activeloopai/Hub/blob/master/examples/coco/upload_coco2017.py

[2020-10-16 13:35] thisiseshan commented on #64
Hi. Is this issue resolved?
I find this repo interesting and would wish to contribute.

[2020-10-16 13:45] thisiseshan commented on #70
Hi. PyTorch uses Pickle to save its model. Please correct me, if I'm wrong. The solution would save the pickle file to Hub?

[2020-10-16 15:33] davidbuniat commented on #64
@thisiseshan thanks for your interest, no this issue is still pending, would love your help!

[2020-10-16 16:17] thisiseshan commented on #64
Thank you for assigning this to me, would MNIST classification be an appropriate example?

[2020-10-16 17:25] KarenEfereyan commented on #60
Nobody is on this. Waow

[2020-10-16 17:43] mikayelh commented on #60
@KarenEfereyan feel free to take care of this yourself! :)

[2020-10-16 17:57] muskanlalit18 commented on #64
Hi, this looks interesting. I would like to work on it too

[2020-10-16 18:00] davidbuniat commented on #64
@thisiseshan yes, as long as you the tutorial demonstrates in very simple terms the main values of the package Mnist is fine.
@muskanlalit18 assigning you the task as well, please feel free to choose another dataset.

[2020-10-16 18:41] davidbuniat commented on #70
@thisiseshan yes, this has been already implemented, please take a look in case you spot any issue.

[2020-10-16 18:41] #70 closed

[2020-10-17 04:19] musk101 commented on #60
Can I take this up?

[2020-10-17 05:51] sparkingdark commented on #58
Yeah Now I can access and @davidbuniat can add new datasets as well with opening a issue?

[2020-10-17 05:57] drashtipatel2503 commented on #64
Hii, can I go for this?

[2020-10-17 08:23] AbhinavTuli commented on #58
Sure @sparkingdark if you feel that some dataset would be a good addition to the platform, feel free to create a new issue for it!

[2020-10-17 08:48] AbhinavTuli commented on #60
Sure, @musk101 assigning you to this.

[2020-10-17 09:04] muskanlalit18 commented on #64
Thanks for assigning it to me, should I try CIFAR classification example?

[2020-10-17 09:24] AbhinavTuli commented on #64
Sure @muskanlalit18 CIFAR sounds good! Feel free to post here or in the discussions https://github.com/activeloopai/Hub/discussions if you need any help.

[2020-10-17 20:41] agarwalBinay18 commented on #56
Can I work on this issue?

[2020-10-17 20:45] thisiseshan commented on #64
Hi, I am training my model on MNIST dataset but it's taking way too long.
The model seems to be running fine. Should I proceed to the upload dataset part? and send a PR so you can review it?

[2020-10-17 22:54] davidbuniat commented on #64
It is not supposed to take that long, can you please proceed with the PR with collab link. I will give a try and see what's wrong.

[2020-10-18 05:04] RitikaAg opened #93 "Add FSDKaggle2019 dataset"
I would like to add this dataset to Hub

[2020-10-18 05:06] davidbuniat commented on #93
Looks great! this will be the first audio dataset. Please let us know if you hit any issue.

[2020-10-18 05:09] RitikaAg commented on #93
Sure! Also I had query when I logged into hub my personal page is completely blank, so do we have to completely upload the dtaset using our local machine or this is some glitch

[2020-10-18 05:17] kristinagrig06 commented on #57
@kzuri Yes, I think samples from datasets will be useful.

[2020-10-18 05:18] davidbuniat commented on #93
Currently, the only way for uploading a dataset is to use the pip package. Please follow guidelines here https://docs.activeloop.ai/en/latest/concepts/dataset.html#how-to-upload-a-dataset and feel free to ask us any question.

[2020-10-18 05:40] RitikaAg commented on #93
okay,thanks for the link!

[2020-10-18 20:39] thisiseshan commented on #64
Hi! Please review my PR and let me know your thoughts. I can make necessary changes.

[2020-10-18 23:20] davidbuniat commented on #56
@agarwalBinay18 temporarily adding you to the task as well, but soon we are going to add more dataset samples, feel free to switch to the new one once get used to the API.

[2020-10-19 00:32] davidbuniat commented on #64
@thisiseshan added comments there, please also take a look at other examples of colabs to demostrate core values of hub.

- [TFDS](https://colab.research.google.com/github/tensorflow/datasets/blob/master/docs/overview.ipynb)
- [Transformers](https://colab.research.google.com/github/huggingface/transformers/blob/master/notebooks/02-transformers.ipynb)

[2020-10-19 03:45] kzuri opened #100 "Errors in Dataset docs"
I came upon following errors while referencing [docs](https://docs.activeloop.ai/en/latest/concepts/dataset.html) :
1. Under **Guidelines**  sub-heading, there is enumeration error. Proposed solution - Using indentation of 4, this issue could be solved. To make page uniform, former changes are applied for every code blocks.
2. Under **How to Upload a Dataset** sub-heading, links are updated for MN

[2020-10-19 03:46] kzuri commented on #100
Kindly refer to this PR #99

[2020-10-19 04:38] davidbuniat commented on #100
Great thanks!

[2020-10-19 04:38] #100 closed

[2020-10-19 05:31] davidbuniat opened #101 "Add Tiny ImageNet dataset"
# Describe the dataset

Add [Tiny ImageNet](https://www.kaggle.com/c/imagenet-object-localization-challenge/data?select=imagenet_object_localization_patched2019.tar.gz) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:35] davidbuniat opened #102 "Add Dataset The 20BN-something V2"
# Describe the dataset

Add [The 20BN-something](https://20bn.com/datasets/something-something) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:41] AbhinavTuli opened #103 "Add Cityscapes dataset"
# Describe the dataset

Add [Cityscapes](https://www.cityscapes-dataset.com) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:41] kristinagrig06 opened #104 "Kinetics-700"
# Describe the dataset

Add [Kinetics-700](https://deepmind.com/research/open-source/kinetics) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:44] davidbuniat opened #105 "Add Pascal Dataset"
# Describe the dataset

Add [Pascal](https://pjreddie.com/projects/pascal-voc-dataset-mirror/) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:45] kristinagrig06 opened #106 "MPII Human Pose Dataset"
# Describe the dataset

Add [MPII Human Pose Dataset](http://human-pose.mpi-inf.mpg.de/) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/activeloopai/Hub/blob/

[2020-10-19 05:45] AbhinavTuli opened #107 "Add Barcelona Dataset"
# Describe the dataset

Add [Barcelona](http://www.cs.unc.edu/~jtighe/Papers/ECCV10/) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:45] mikayelh opened #108 "Add VIRAT Video Dataset"
# Describe the dataset

Add [VIRAT](https://data.kitware.com/#collection/56f56db28d777f753209ba9f/folder/56f57e748d777f753209bed6) dataset to Hub. So this would work.

[code]

Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub.

[2020-10-19 05:46] davidbuniat opened #109 "Add Stanford Background Dataset"
# Describe the dataset

Add [Stanford background](http://dags.stanford.edu/projects/scenedataset.html) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/concepts/dataset.html#how-to-upload-a-dataset) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/activeloopai/Hub/blob/

[2020-10-19 05:47] AbhinavTuli opened #110 "Add SIFT Flow Dataset"
# Describe the dataset

Add [SIFT Flow](https://www.cs.unc.edu/~jtighe/Papers/ECCV10/index.html) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/activeloopai/H

[2020-10-19 05:48] kristinagrig06 opened #111 "Open Images Dataset"
# Describe the dataset

Add [Open Images Dataset](https://opensource.google/projects/open-images-dataset) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/activ

[2020-10-19 05:50] kristinagrig06 opened #112 "Caltech-UCSD Birds 200"
# Describe the dataset

Add [Caltech-UCSD Birds 200](http://www.vision.caltech.edu/visipedia/CUB-200.html) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/acti

[2020-10-19 05:51] mikayelh opened #113 "Add the 3D Object Dataset"
# Describe the dataset

Add [3D Object Dataset](https://cvgl.stanford.edu/resources.html) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/activeloopai/Hub/blob

[2020-10-19 05:58] sohamsshah commented on #113
@mikayelh I would like to work on this issue, Please assign me.

[2020-10-19 06:01] mikayelh commented on #113
Hi @sohamsshah! Let me know if you have any questions!

[2020-10-19 06:10] mikayelh opened #114 "Add the Fine-Grained Visual Categorization Plant Pathology dataset"
# Describe the dataset

Add [FGVC7-plant-pathology](https://www.kaggle.com/c/plant-pathology-2020-fgvc7) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/active

[2020-10-19 06:12] Satyam-kumar-yadav commented on #101
hey, I would like to that. Please assign it to me

[2020-10-19 06:15] mikayelh opened #115 "Add the the Fine-Grained Visual Categorization IMET 2020 dataset"
# Describe the dataset

Add [IMET 2020 FGVC7](https://www.kaggle.com/c/imet-2020-fgvc7) dataset to Hub. So this would work.

[code]

### Steps
1) Please take a look at the [docs](https://docs.activeloop.ai/en/latest/simple.html#upload-your-dataset-and-access-it-from-anywhere) on uploading datasets.

2) Uploading script should be added to [examples folder](https://github.com/activeloopai/Hub/blob/m

[2020-10-19 06:16] sohamsshah opened #116 "The example link for adding new datasets in CONTRIBUTING.md isn't working"
This link redirects to: https://github.com/activeloopai/Hub/blob/master/docs/dataset.md
Which says: PAGE NOT FOUND.

Since we are having a lot of new dataset contributions coming along the way, a detailed explanation of how to upload a dataset is required in the Docs (or atleast we must fix this first).

I would like to fix this with the guidance of the Maintainers. (Since this could be my first P

[2020-10-19 06:16] Satyam-kumar-yadav commented on #101
Hey, please assign this to me ( :

[2020-10-19 06:20] mikayelh commented on #101
Hi @Satyam-kumar-yadav! Assigned you to this issue. Thanks for your willingness to contribute! Let me know if you have any questions, and please star our package while you're at it. :)

[2020-10-19 06:24] sohamsshah commented on #116
Changes done. No problem 😁

[2020-10-19 06:24] #116 closed

[2020-10-19 06:57] davidbuniat commented on #84
The problem was caused by caching into the same tensor at the same root path. I modified the following function by adding a custom path for each tensor and looks like it worked. After @kristinagrig06 merges this into v1.0.x branch, this issue will be solved.

[code]

[2020-10-19 06:57] #84 closed

[2020-10-19 07:48] mikayelh commented on #116
Thanks for flagging this, @sohamsshah! :)

[2020-10-19 08:06] sanchitvj commented on #106
@kristinagrig06  I would like to work on this issue, please assign me.

[2020-10-19 08:33] mikayelh commented on #106
Hi @sanchitvj ! Assigned you to this issue. Thanks for your willingness to contribute! Let me know if you have any questions! :)

[2020-10-19 11:54] Satyam-kumar-yadav commented on #101
Hey @mikayelh! Please check the [ImageNet](https://www.imagenetconsulting.com/) dataset  . My doubt is if you have provided the correct link or not. :)

[2020-10-19 12:03] thisiseshan commented on #64
Hi, Current functionality implemented to Colab is:
[PyTorch]
-  Load MNIST dataset using Hub
- Create Model
- Train model on dataset
- Print Accuracy of Model from Test subset

Should the 'upload dataset' be integrated to this notebook. If Yes, What dataset is to be uploaded as an example (should I use the same example as in docs)?

[2020-10-19 12:11] aksh-02 commented on #112
I would like to work on this.

[2020-10-19 12:29] kristinagrig06 commented on #112
Hi @aksh-02! Thanks for willingness to contribute! Let me know if you have any questions, and please star our package while you're at it.)

[2020-10-19 13:03] VinulaUthsara commented on #111
Hey @kristinagrig06, can I be assigned to this?

[2020-10-19 13:29] mikayelh commented on #111
Hi @VinulaUthsara! Thanks for your willingness to contribute! Let me know if you have any questions, and [please star our package](https://github.com/activeloopai/Hub/stargazers) while you're at it.)

[2020-10-19 13:32] VinulaUthsara commented on #111
Thank you, will do.

[2020-10-19 13:44] harshitsankhla commented on #115
Hi, please assign me to this ! Thanks :)

[2020-10-19 14:09] aksh-02 commented on #112
I'm new to opensource and will need lots of help. Is there a slack channel for this ?

[2020-10-19 14:26] kristinagrig06 commented on #112
We don't have a slack channel at this moment. Feel free to post any questions in https://github.com/activeloopai/Hub/discussions.

[2020-10-19 15:45] mikayelh commented on #115
Hi @harshitsankhla  Thank you so much for your willingness to contribute! Let me know if you have any questions, and please star our package](https://github.com/activeloopai/Hub/stargazers)` while you're at it.

[2020-10-19 16:36] mikayelh commented on #101
Hey @Satyam-kumar-yadav, thank you so much for flagging this! :) I've updated link to the entire ImageNet dataset. We'd appreciate if you converted that, but if it is too big of a dataset (may take forever to upload), you can go ahead with the TinyImagenet version ([here](https://tiny-imagenet.herokuapp.com/)). Let me know which one will you choose!

[2020-10-19 16:40] Satyam-kumar-yadav commented on #101
Yeah I will go with `Tinylmagenet` version only. :)

[2020-10-19 16:42] sohamsshah commented on #113
Hey @mikayelh I am facing some roadblocks in understanding the issue with utmost clarity.
Steps I think that has to be followed:
* I have to set up the dev env.
* Download the corresponding dataset from the origin website that is to be uploaded on my local.
* Write code to read that dataset in numpy arrays.
* Use .store method to store everything on my local to the cloud so it can be accessed in f

[2020-10-19 16:42] mikayelh commented on #101
I've updated the issue name to reflect your choice. Thanks a lot for volunteering! :)

[2020-10-19 22:03] sentinelprime619 commented on #114
@mikayelh would love to work on this issue :)

[2020-10-20 00:41] davidbuniat commented on #114
@sentinelprime619 assigned the issue. Please let us know if you have any further question at https://github.com/activeloopai/Hub/discussions/119

[2020-10-20 00:45] davidbuniat commented on #64
@thisiseshan for uploading to work, the user would need to authenticated inside collab. We don't have yet token so my guess would be tricky to do with colab.

I think this would be out of scope for the first tutorial. We can do a separate PR for uploading the dataset with colab and add any required functionality :)

[2020-10-20 05:52] thisiseshan commented on #64
Okay perfect!

[2020-10-20 07:53] sohamsshah commented on #113
@mikayelh Just curious, can we use Google Colab to do this task? Or I have to do this only from my local?

[2020-10-20 07:56] AbhinavTuli commented on #113
Yes, you can use Colab if that's more convenient for you.

[2020-10-20 13:12] sohamsshah commented on #113
Okay!

[2020-10-21 05:43] mikayelh commented on #115
Hi, @harshitsankhla! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the GitHub Discussions (we have beta access!) or our dedicated Slack channel. Thanks a mil!

[2020-10-21 05:45] mikayelh commented on #114
Hi, @sentinelprime619 ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Also, if you haven't already, please [star

[2020-10-21 05:46] mikayelh commented on #112
Hi, @aksh-02 ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 05:47] mikayelh commented on #111
Hi, @VinulaUthsara ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 05:47] mikayelh commented on #101
Hi, @Satyam-kumar-yadav ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 05:50] mikayelh commented on #106
Hi, @sanchitvj ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 05:51] mikayelh commented on #56
Hi @agarwalBinay18 and @sound-wave!

Hope this finds you all well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg).

Thanks a mil!

[2020-10-21 05:52] mikayelh commented on #57
Hi, @kzuri ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 05:52] sanchitvj commented on #106
Yes I'm working on it.

On Wed, Oct 21, 2020, 11:20 AM mikayelh <notifications@github.com wrote:

[2020-10-21 05:53] mikayelh commented on #58
Hi, @sparkingdark ! Hope this finds you well. Dropping a note to check in on you an ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg).

We've also added a couple of other datasets t

[2020-10-21 06:20] thisiseshan commented on #64
Hi. I have made the fixes. Please let me know your thoughts and any changes you need :)

[2020-10-21 06:23] mikayelh commented on #60
Hi, @musk101  ! Hope this finds you well. Dropping a note to check in on you and ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 06:25] sparkingdark commented on #58
That's awesome actually I am quite busy with some other work that's why can't focus on this work for some days.But after finishing the work I will totally starting working on this and love to get some other dataset as well.

For now if I get some guide on uploading a dataset on activepool/hub like how to start that will be great.

[2020-10-21 06:31] mikayelh commented on #58
Hey @sparkingdark - thanks so much for letting us know. Did you check [this](https://docs.activeloop.ai/en/latest/dataset.html?highlight=upload)? Also, some basic info is available in our [readme](https://github.com/activeloopai/Hub/blob/master/README.md). Let us know if that information is insufficient, this is valuable feedback for us! Good luck with all the work this week and hit us up in case

[2020-10-21 06:32] mikayelh commented on #113
Hi, @sohamsshah! Hope this finds you well. Dropping a note to check in on you and ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 06:33] mikayelh commented on #64
Hi, @muskanlalit18  ! Hope this finds you well.

Dropping a note to check in on you and ask if you need a hand with uploading the dataset. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-21 06:34] mikayelh commented on #64
Hi @thisiseshan! Thanks so much for following up. We will be reviewing the code shortly. Meanwhile, if there is any other task in the [project board](https://github.com/activeloopai/Hub/projects/2) you'd like to work on, feel free to let us know!

[2020-10-21 06:36] thisiseshan commented on #64
Sure, Thank you!

[2020-10-21 06:36] mikayelh commented on #64
thank YOU, @thisiseshan :)

[2020-10-21 06:42] sparkingdark commented on #58
Hey @mikayelh send me the slack invite link I can not access the channel.

[2020-10-21 06:46] aksh-02 commented on #112
Hi, @mikayelh . I had some issues and still have some questions. I've joined the slack channel and will discuss there.

[2020-10-21 06:47] mikayelh commented on #58
Heya @sparkingdark - the link seems to be working fine for other users - [here it is again](https://join.slack.com/share/zt-ihhlezv8-LNcxULTKJMnLrUZQeQdl_w). Do you have a Slack workspace?

[2020-10-21 06:48] mikayelh commented on #112
Thanks a lot, @aksh-02! :)

[2020-10-21 06:48] mikayelh commented on #58
If not, can you send me your email and I'll gladly send you an invite to the channel!

[2020-10-21 06:59] sparkingdark commented on #58
debomastet335@gmail.com

[2020-10-21 07:03] mikayelh commented on #58
Sent an invite, let me know if it works for you!

On Wed, Oct 21, 2020 at 9:00 AM Debojyoti Chakraborty <
notifications@github.com> wrote:

[2020-10-21 07:13] sparkingdark commented on #58
Joined and thanks for inviting me.

[2020-10-21 07:56] davidbuniat opened #121 "Change Documentation style"
# Describe the Issue

Change the documentation style at https://docs.activeloop.ai/en/latest/ to a more modern style like [PyTorch](https://pytorch.org/docs/stable/index.html) or [Ray](https://docs.ray.io/en/master/)

### Notes
Documentation is automatically deployed with https://readthedocs.org/

[2020-10-21 11:29] harshitsankhla commented on #115
@mikayelh I'll have a go later in the day. If I find any problems will ping you here or on slack.

[2020-10-21 11:30] mikayelh commented on #115
hi @harshitsankhla! Thanks a lot, let me know if you any further questions! :)

[2020-10-21 13:40] VinulaUthsara commented on #111
Hi @mikayelh,

Hope you are well. At the moment I have not come across any issue or need
for help, but won't hesitate to let you know if I am in need of anything.
Thank You so much for your concern.

On Wed, Oct 21, 2020 at 11:17 AM mikayelh <notifications@github.com> wrote:

[2020-10-21 14:01] lopeselio commented on #121
How can we go about this ?

[2020-10-21 14:16] muskanlalit18 commented on #64
Hi, I'm working on it, I shall ask in the Discussions if I need any help.

[2020-10-21 14:28] sandeep3136 commented on #121
assign me and explain the issue more clearly

[2020-10-21 14:35] mikayelh commented on #121
Hi @sandeep3136! Thank you so much for your willingness to contribute! Let me know if you have any questions, and please star our package while you're at it.  @davidbuniat will be in touch shortly and explain in greater detail.

Feel free to ask us additional questions in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channe

[2020-10-21 14:36] mikayelh commented on #121
Hi @lopeselio, thank you so much for reaching out! Do you also want to be assigned to this task once @davidbuniat provides more detail? Thanks a lot!

[2020-10-21 14:37] lopeselio commented on #121
sure @mikayelh

[2020-10-21 16:11] KarthiK2601 commented on #109
Can you assign me this task ?

[2020-10-21 16:13] mikayelh commented on #109
Hi @KarthiK2601! Thank you so much for your willingness to contribute! Let me know if you have any questions, and please star our package while you're at it.  @davidbuniat will be in touch shortly and explain in greater detail.

Feel free to ask us additional questions in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channe

[2020-10-21 16:22] KarthiK2601 commented on #109
can I get a Idea how big is the data set ?
for implementing the corresponding method for adding the dataset

[2020-10-21 16:24] mikayelh commented on #109
@KarthiK2601 , it should be 14.0MB - it is linked [here](http://dags.stanford.edu/projects/scenedataset.html)

[2020-10-21 16:26] KarthiK2601 commented on #109
oh yeah got it

[2020-10-21 18:33] mikayelh commented on #64
Hi, @muskanlalit18, thanks!

[2020-10-21 18:44] davidbuniat commented on #121
@lopeselio @sandeep3136 thanks for willing to contribute!

Here is more information about the task, but this requires slightly more exploration from your end!
1) First of all need to research how other open-source tools build their documentation.  We are using [Sphinx](https://www.sphinx-doc.org/en/master/) for building the [our docs](https://github.com/activeloopai/Hub/blob/master/docs/Makefile).

[2020-10-21 18:47] davidbuniat commented on #121
Moved convo to here https://github.com/activeloopai/Hub/discussions/123

[2020-10-21 19:00] davidbuniat commented on #64
@muskanlalit18 please take a look at @thisiseshan contribution [colab](https://colab.research.google.com/drive/1LUeZG20A4X4WZX2AYHdI4F6InG6Jb51i?usp=sharing) and feel free to think of another exciting tutorial to demonstrate hub capabilities. e.g. uploading a dataset or more advanced use case such as training coco.

[2020-10-21 19:02] dexterpuru commented on #110
Hey @AbhinavTuli, can I try this one?

[2020-10-21 20:10] mikayelh commented on #110
Hi, @dexterpuru! Thanks a lot for your willingness to contribute! Assigned you the issue. If you haven't already, please star our package. If you have any questions, feel free to hit us up in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil

[2020-10-21 21:09] dexterpuru commented on #110
@mikayelh  can you help me understanding 2nd step please?

[2020-10-22 02:09] AbhinavTuli commented on #110
@dexterpuru please take a look at this thread https://github.com/activeloopai/Hub/discussions/119 to understand the details.
The upload script will be similar to https://github.com/activeloopai/Hub/blob/master/examples/coco/upload_coco2017.py.
Feel free to follow up if you have any specific doubts!

[2020-10-22 05:13] KarthiK2601 commented on #109
can you please guide me through ?

[2020-10-22 06:03] AbhinavTuli commented on #115
@harshitsankhla Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub that might be helpful for you!

[2020-10-22 06:04] AbhinavTuli commented on #109
@KarthiK2601 Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub that might be helpful. Let me know if you need more help!

[2020-10-22 06:06] AbhinavTuli commented on #106
That's great @sanchitvj. Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub that might be helpful for you!

[2020-10-22 06:08] AbhinavTuli commented on #93
@RitikaAg I hope you're making good progress on the task. Here's a  [step by step tutorial](https://github.com/activeloopai/Hub/discussions/125) for uploading datasets using Hub that might be helpful for you!

[2020-10-22 06:12] RitikaAg commented on #93
@AbhinavTuli thanks for the step by step tutorial, I wasn't able to work on this due to some prior commitments,will be starting from today!

[2020-10-22 07:47] WinstonPais commented on #107
I would Like to work on this!

[2020-10-22 07:59] AbhinavTuli commented on #107
Hey @WinstonPais! It's great to see that you're interested in contributing! Let me know here if you have any questions along the way either here or in the [discussions](https://github.com/activeloopai/Hub/discussions). Also, it'd be great if you could star our package while you're at it, it helps us get more traction. :)

[2020-10-22 13:40] sanchitvj commented on #106
I've one query, do I need to know the codebase of hub.

[2020-10-22 13:49] AbhinavTuli commented on #106
@sanchitvj No, it's not required but feel free to take a look if you ever want to understand how something is working under the hood!

[2020-10-22 15:27] KarthiK2601 commented on #109
I am facing problems installing the package, i have downloaded the whole code and extracted it on my desktop, I am using python 3.8, when i type pip3 install hub I am facing a syntax error

[2020-10-22 15:46] AbhinavTuli commented on #109
Hey Karthik, you don't need to download our repository to install hub, it should work with just pip.
You need to type in pip3 install hub in the terminal and not inside a python shell/file for it to install.
Hope this clears things up!

[2020-10-22 15:55] KarthiK2601 commented on #109
'pip3' is not recognized as an internal or external command,
operable program or batch file.

i get this error when i run it on the windows command prompt

[2020-10-22 16:14] AbhinavTuli commented on #109
Try using pip install hub. If that doesn't work try python --version and let me know the output.

[2020-10-22 17:55] davidbuniat opened #127 "Create conda distribution"
## Describe the task

Create conda distribution for hub and automate the builds.

### Notes
* Our team will create the account and provide necessary credentials.
* "hub" name on conda is already used, please feel free to come up with an alternative name on conda for the package.

[2020-10-22 17:56] davidbuniat opened #128 "Add automatic docker deployment of hub"
# Describe the task

Create a docker for each version of hub. Please take a look at Tensorflow or PyTorch docker version.

The task includes modifying circleci building process to automate docker pushing to our docker hub.

### Notes
* Please let us know of any necessary access required.

[2020-10-22 17:57] KarthiK2601 commented on #109
okay i got it, i installed anaconda and now it works fine
anyway to retrieve my Snark AI credentials ?

[2020-10-22 18:01] KarthiK2601 commented on #109
registered with another username and email and now i have logged in

[2020-10-22 19:12] KarthiK2601 commented on #109
Now in the standford dataset, for every image we have 4 integer matrices, now how do i load the  array of examples and corresponding array of labels ?

should i use this Load NumPy arrays with tf.data.Dataset

[2020-10-22 20:21] sanchitvj commented on #106
@AbhinavTuli is there any example available on how to use the hub for loading dataset, visualize data(like what is present in the data), and training(using TensorFlow).

[2020-10-22 21:29] ADI10HERO commented on #44
Actually @AbhinavTuli  by that I meant I did not get this (below) part

So by example, do you mean the example py file (https://github.com/activeloopai/Hub/blob/master/examples/coco/upload_coco2017.py) or example dataset? 😅

[2020-10-23 03:42] AbhinavTuli commented on #44
Essentially both. You'll update the py file and then upload the dataset using the modified file, so both will get updated.

[2020-10-23 05:24] AbhinavTuli commented on #106
@sanchitvj did you take a look at the tutorial mentioned above? It has links to a couple of examples that would be helpful.
Here's an example that includes training as well, https://github.com/activeloopai/Hub/tree/master/examples/fashion-mnist.
Let me know if you have any particular doubts. I'd be happy to help.

[2020-10-23 06:29] davidbuniat opened #131 "Dataset storage versioning in meta.json"
## Describe the feature

Since we are modifying the way we store the datasets quite often, we would like to keep versions of it in `meta.json` for each dataset. Then after reading `meta.json`, we can use the corresponding interface to load it.

For convenience, if no `version` is specified in meta.json, then we assume `version: 0` which is the current version on master (0.12.x). For the release, w

[2020-10-23 16:06] harsh2201 commented on #60
I am interested in taking this issue. Is it still open?

[2020-10-23 16:23] sanchitvj commented on #106
Using the approach as shown in the COCO upload example, I'm converting image and annotation data into the dictionary having image name as keys. So when there is more than one person in an image so [annotation](https://github.com/yuanyuanli85/Stacked_Hourglass_Network_Keras/blob/master/data/mpii/mpii_annotations.json) for each individual is given separately. Dictionary does not support duplicate ke

[2020-10-23 16:50] akshay11298 commented on #108
Hi, If this issue is still up for grabs I would like to work on it

[2020-10-23 16:51] AbhinavTuli commented on #60
Hey @harsh2201, it's good to see that you're interested in contributing! Nobody was really taking initiative for this one so I went ahead and created a tutorial:- https://github.com/activeloopai/Hub/discussions/125, I'll add this to the documentation too.
Feel free to pick up one of the other issues. Looking forward to your contributions :)

[2020-10-23 16:51] #60 closed

[2020-10-23 16:59] mikayelh commented on #108
Hi, @akshay11298! Hope this finds you well. Thanks for the willingness to contribute! :) Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Also, please star our package if you haven't already. Thanks a mil!

[2020-10-23 17:00] harsh2201 commented on #60
Ohh sure no issues :)

[2020-10-23 17:03] mikayelh commented on #101
Hey @Satyam-kumar-yadav, hope this finds you well! I see you've removed your assignment. It is totally fine - just wanted to ask what was the reason behind it? Was the task too challenging? Thanks a lot!

[2020-10-23 17:15] Satyam-kumar-yadav commented on #101
Yeah, I found it quite challenging to do, and I am also not good at it so rather than doing this bigger one I would like to work on some smaller sections. I will be happy if you can help me to get started with it.

[2020-10-23 17:17] mikayelh commented on #101
Thanks a lot, @Satyam-kumar-yadav. Can you let me know what exactly was the part that was complicated?
I'm tagging @AbhinavTuli in the thread to follow-up regarding this, and maybe suggest a smaller task.

[2020-10-23 20:36] sanchitvj commented on #106
Can I know what CocoGenerator class is doing? I'm facing difficulties understanding that. How the output of that class looks like.

[2020-10-23 22:07] ADI10HERO commented on #44
Makes sense, got it.

While making changes in the meta file, you mentioned "unit8" or something similar...
The changes I currently made (on my local system are)
area  --> uint32
bbox --> uint16
id --> uint32
image --> uint32

The reason, why I chose these values, is because, after a quick google search on coco, I got a feeling that uint8 won't be sufficient.
But then, I am not sure what these valu

[2020-10-24 05:04] AbhinavTuli commented on #44
The dtype is essentially similar to numpy dtype that we keep track of as metadata, it helps us in storing chunks of data efficiently (in case chunk_size isn't explicitly mentioned). It also helps us in converting from hub format to other formats as well.

The dtypes you chose should be fine as long as the entire range of values fits in them, which I think they will.
Try saving the dataset locally

[2020-10-24 05:39] itsManjeet commented on #22
I can do this if you want

[2020-10-24 06:52] davidbuniat commented on #22
@itsManjeet thanks for willing to contribute. This is a very important feature for our `v1` release, and happy to assign you! @AbhinavTuli is working on `from_tensorflow`. Please feel free to schedule a call with him for getting up to date on `v1` version.

### Notes
- Can you please check out from release/v1.0.1 branch and do PR there.
- Feel free to create a discussion in the [GitHub Discussions

[2020-10-24 09:49] rajat1433 commented on #104
Assign me this, I would like to work on it. Thanks.

[2020-10-24 09:50] rajat1433 commented on #103
Assign me this, I would like to work on this.

[2020-10-24 10:23] mikayelh commented on #104
Hi, @rajat1433! Thank you so much for your willingness to contribute! Let me know if you have any questions, and please star our package while you're at it. Feel free to ask us questions in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-24 10:24] mikayelh commented on #103
Hi, @rajat1433! Thank you so much for your willingness to contribute for this dataset, too! I've assigned you both issues. Feel free to ask us questions in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-24 10:47] rajat1433 commented on #103
@mikayelh @AbhinavTuli  Since cityscapes website has many different datasets available to download(https://www.cityscapes-dataset.com/downloads/). Will it be alright to use one of them particularly this one:
fine annotations for train and val sets (3475 annotated images) and dummy annotations (ignore regions) for the test set (1525 images)

[2020-10-24 10:51] mikayelh commented on #103
Hey @rajat1433, of course, this one sounds great! Go ahead and do it. :)

[2020-10-25 06:58] harshitsankhla commented on #115
@mikayelh @AbhinavTuli I've tried downloading the dataset a couple of times, unsuccessfully. The connection to the host server doesn't seem all good. Do you have any alternative locations for this ?

[2020-10-25 08:16] mikayelh commented on #115
Hi @harshitsankhla - I'm currently looking for other sources and will update you in about two hours. It doesn't look like they've published the dataset anywhere else. I'll let you know - if we don't manage to find an alternative source, you can pick another dataset!

[2020-10-25 10:34] mikayelh commented on #115
Hey @harshitsankhla , what browser are you using for the download? I've just managed to download the entire dataset via Chrome (it allows you to resume the download if something fails). I would be happy to re-upload it, but it's going to take about 10 hours on my internet connection. Can you please give it a try via Chrome and let me know if it works?

[2020-10-25 13:19] hacky1997 commented on #131
@davidbuniat I want to work on this! Could you please assign me this?

[2020-10-25 13:40] mikayelh commented on #131
Hi, @hacky1997! Hope this finds you well. Thank you so much for your eagerness to contribute! Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). While you're at it, please star our package. :)
Thanks a mil,
M.

[2020-10-25 15:31] harshitsankhla commented on #115
I was using safari and the kaggle api. I'll try with chrome now.

[2020-10-25 15:36] mikayelh commented on #115
In any case, I've already kickstarted the upload for you, but it will take quite some time - just let me know how it goes! :)

[2020-10-25 20:03] davidbuniat commented on #115
@harshitsankhla happy to provide access to an AWS instance for you to download the data and do the processing. Feel free to join our [slack](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg) channel and claim one

[2020-10-25 20:08] davidbuniat commented on #109
Great @KarthiK2601! Please feel free to put 4 integers in a single tensor or have 4 separate tensors with each having a single digit.

Just using NumPy should work, no need for tf.data.Dataset.

[2020-10-25 22:11] davidbuniat opened #139 "Automate package deployment"
## Describe the feature

We have automatic pipy package deployment, however, preparing for release v1.0 we would also love to have GitHub packages and according to release notes as much as automated possible.

Would love to get a recommendation on automating the process.

### Aditional notes
As a separate issue, we also have conda distribution addition https://github.com/activeloopai/Hub/issues/12

[2020-10-25 22:27] hugovk commented on #139
So also deploy to https://github.com/features/packages from CircleCI?

[2020-10-25 22:30] davidbuniat commented on #139
Yep, that would be perfect!

[2020-10-26 04:52] AbhinavTuli commented on #106
@sanchitvj sorry for getting back to you so late, somehow missed this.
The purpose of the generator class is to take a single item from a list and return a dictionary of numpy arrays. The dictionary will contain separate keys corresponding to each feature of the dataset(i.e. for images and for all the different annotations in MPII). You don't really need to go too much into how hub collections wor

[2020-10-26 07:11] hugovk commented on #139
I'm not sure if GitHub Packages yet supports Python packages. I've not seen any other Python projects using it, but that might be because PyPI is usually enough.

https://docs.github.com/en/free-pro-team@latest/packages/publishing-and-managing-packages/publishing-a-package says:

The latter links to:

The [first one](https://docs.github.com/en/free-pro-team@latest/packages/using-github-packages-wi

[2020-10-26 12:42] SanvirDessai commented on #105
Hi @davidbuniat , I'd like to work on this.

[2020-10-26 12:55] ADI10HERO opened #142 "Hub local"

[2020-10-26 13:45] mikayelh commented on #105
Hi, @SanvirDessai ! Thank you so much for your willingness to contribute! Let me know if you have any questions, and please star our package while you're at it. Feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). Thanks a mil!

[2020-10-26 14:16] AbhinavTuli commented on #22
Hey @itsManjeet, it's good to see that you're interested in contributing. Do bear in mind that this is one of the heaviest issues that we currently have and would require a good amount of work and communication with the team.
If you're still interested, please do join [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg) and I'd be happy to get on a call wi

[2020-10-26 16:58] itsManjeet commented on #22
surely i will, i am getting issues while joining the slack channel, currently i analyzing the both the dataset format

[2020-10-26 19:11] sanchitvj commented on #106
@AbhinavTuli I'm almost done. But how can I see that output is as expected? Here is my [code](https://colab.research.google.com/drive/1A4PxomDRG22BFSgD-fBcDqJd_VmR0rbW?usp=sharing). When I'm trying to print, this: '<hub.collections.dataset.core.Dataset object at 0x7f55ae0aac50>' is the output. So how can I check it's working correctly?

[2020-10-26 21:23] davidbuniat commented on #139
@hugovk I think you are right, for python couldn't find an example for package deployment. So totally agree with you on this point. What do you then think about conda distribution #127 ?

Also on another note, I saw automatic linting failed in this case https://github.com/activeloopai/Hub/pull/140
[check here](https://github.com/activeloopai/Hub/pull/140/checks?check_run_id=1306229756)

[2020-10-26 21:29] hugovk commented on #139
I'm not familiar with Conda, so best leave that to someone else.

Yep, the CI is doing its job and found non-Black-formatted code! It's an easy fix for the author:

[code]

I've dropped a comment on that PR.

[2020-10-26 21:32] mikayelh commented on #22
hey @itsManjeet , I'm sorry you're having issues with the Slack channel - how about you send me your email and i'll add you directly?

[2020-10-26 21:34] mikayelh commented on #115
Hey, @harshitsankhla - I've uploaded the dataset for you to access to[ our google drive](https://drive.google.com/file/d/1ZO4im1w5cVoRsWQZ9SqphDr92Jq0kNSj/view?usp=sharing). Let me know if this works for you

[2020-10-26 21:51] davidbuniat commented on #139
@hugovk thank you very much for your contribution and the groundwork above! Feel free to join [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg).

[2020-10-26 21:52] #139 closed

[2020-10-26 22:26] WinstonPais commented on #107
![Screenshot_12](https://user-images.githubusercontent.com/51374812/97235018-005f9080-1808-11eb-9943-173981705223.png)

Hope I have downloaded the proper Dataset.

I went through the tutorial and the upload.py for fashion MNIST.
I am still confused about what exactly I am supposed to upload. as 2 of the folders contain .mat files and I have not worked with them before.

Some Details specific to th

[2020-10-27 04:12] itsManjeet commented on #22
itsmanjeet1998@gmail.com

[2020-10-27 04:34] harshitsankhla commented on #115
Are you sure this is the right file ? Its just a 1MB CSV, I thought the dataset is 23GBs

[2020-10-27 06:31] AbhinavTuli commented on #106
Hey @sanchitvj, you can test out the code by using ds.store("./mpii"), this will store the dataset locally instead of uploading it to hub and should be much faster.
You can then load this saved dataset and try iterating over it
[code]
Just replace the keys ("data" and "labels") with your actual ones. Let me know how it goes!

[2020-10-27 08:17] mikayelh commented on #115
Oops, apologies! I've [updated the link](https://drive.google.com/drive/folders/12-zojrTBErsz60FUu9UVQirGhoeE6YJ6?usp=sharing). If this doesn't work for you, you can go ahead and pick another dataset!

[2020-10-27 08:23] mikayelh commented on #22
Sent you an invite, @itsManjeet !

[2020-10-27 13:20] sanchitvj commented on #106
@AbhinavTuli  This is the error coming after I'm doing ds.store(). Can you help me with it?

`0
Traceback (most recent call last):
  File "<ipython-input-8-1475f5996290>", line 45, in __call__
    ds["image"][i] = np.array(Image.open(img_path + all[i]['img_paths']))
KeyError: 0
Stack (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 884, in _bootstrap
    self._bootstrap_inne

[2020-10-27 13:34] AbhinavTuli commented on #106
I would probably need to look at the code to help you out but seems like an issue in implementing the _call_ function

[2020-10-27 13:38] sanchitvj commented on #106
Here is the [code](https://colab.research.google.com/drive/1A4PxomDRG22BFSgD-fBcDqJd_VmR0rbW?usp=sharing).

[2020-10-28 22:54] ADI10HERO commented on #139
Would [**this**](https://github.com/actions/starter-workflows/blob/d7ac62140faf23b67c29e892d4ce68342eb09609/ci/python-package.yml) be of any help?

[2020-10-28 22:59] hugovk commented on #139
Unfortunately not, that one installs dependencies, runs the linter and tests, but doesn't deploy anything.

[2020-10-29 06:18] davidbuniat opened #149 "Improve test coverage"
## Describe the issue

Our test coverage is low 64%, would love help in adding more tests for edge cases. Please follow the 20%-80% rule by identifying tests that with 20% of work will have 80% of the impact. This is also a good task for learning about the code.

Happy to discuss internals here.

[2020-10-29 13:30] Abhilasha06 commented on #101
Hey @mikayelh , can I work on this?

[2020-10-29 13:35] mikayelh commented on #101
Hi, @Abhilasha06! Thanks a lot for volunteering - we appreciate it a lot Assigned you the task - if you ever need a hand with uploading the dataset, feel free to ask us in the [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) (we have beta access!) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg). If you haven't already - please

[2020-10-29 19:37] Anselmoo opened #150 "Create a circle-ci shield"
Let the community know that your project is working

[2020-10-29 19:39] Anselmoo opened #151 "Add a black check to the CI/CD"
Check if your code fits with the [black](https://github.com/psf/black)-style

[2020-10-29 19:40] Anselmoo opened #152 "Add a flake8 statistic"

[2020-10-29 19:53] Anselmoo opened #154 "There is a pull-request and push-pipeline missing"
@davidbuniat, it would be good if the `CircleCi` pipeline will be updated to see if contributing pull-request are crashing.
I see only `GitHub-Actions` running without any information about conflicts

[2020-10-30 01:46] davidbuniat commented on #154
We have enabled CircleCI running on external pull requests, but still can't see for some of them.

[2020-10-30 01:47] davidbuniat commented on #151
We have black linting check on GitHub actions please see #136, shall we move to circleci?

[2020-10-30 01:49] #150 closed

[2020-10-30 02:20] davidbuniat opened #157 "Windows CLI support"
## Describe the feature

Running hub commands on Windows does not seem to work. We likely need to add testing on windows.

[2020-10-30 04:19] sohamsshah commented on #149
I would love to work on this issue. Can you elaborate how to proceed to this?

[2020-10-30 05:15] #152 closed

[2020-10-30 05:30] #44 closed

[2020-10-30 08:48] ADI10HERO commented on #157
I tested on a Windows machine. Basic hub commands are working fine.

Upload Code:
----------------
[code]

Terminal Output:
--------------------
[code]

On the front end:
---------------------
![image](https://user-images.githubusercontent.com/39651310/97677587-7ab63c00-1ab8-11eb-8848-3f4deab05603.png)

Download Code:
--------------------
[code]

Terminal Output:
--------------------
[code]

Pleas

[2020-10-30 08:50] Anselmoo commented on #151
@davidbuniat Thx for the quick feedback

I cannot see that your [GitHub-Actions](https://github.com/activeloopai/Hub/runs/1330416054?check_suite_focus=true) provides you feedback about hitting the black-regulations.

I thought about having something like this in case:

1. [Works](https://travis-ci.com/github/Anselmoo/bashcalc/jobs/377335989)
![Screenshot 2020-10-30 at 09 49 34](https://user-images

[2020-10-30 09:11] Anselmoo commented on #151
I finally saw the linting check, but it's a little nested.

[2020-10-30 09:11] #151 closed

[2020-10-31 13:05] sanchitvj commented on #106
@AbhinavTuli @kristinagrig06 @davidbuniat  dataset is uploaded, It's visible on the app and I've loaded it and used it.  Working fine, so can I send the PR now with an example code.

[2020-11-01 02:53] vvkpd commented on #149
I would like to help on this  one...

[2020-11-01 05:27] akshay11298 commented on #108
Hi @mikayelh, sorry I was not able to work on this. I was facing issue in understanding the dataset. KIndly unassign me so that someone else is able to pick this up. I will look for more issues where I can help.

[2020-11-01 07:07] sanchitvj commented on #106
@AbhinavTuli I've sent PR but one of the checks is failing, can you help me understand it.

[2020-11-01 09:06] davidbuniat commented on #107
@WinstonPais you would need to do the following steps.
1) load the data and parse .mat (matlab format) files
2) transform them into numpy format
3) then hub package to upload the dataset.

This method from scipy could be very handy https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.io.loadmat.html

[2020-11-01 09:16] davidbuniat commented on #149
@rohankmr414 and @vvkpd great to see that you are interested in contributing! This is a very essential task for us at this point. To have a high impact code coverage we need to review the [codecov](https://codecov.io/gh/activeloopai/Hub) report and understand where tests are missing mostly.

Codecov for some reason is not available at this point at least from me, but here is an example from one of

[2020-11-01 09:51] davidbuniat commented on #157
@ADI10HERO can you please take a look at discussion https://github.com/activeloopai/Hub/discussions/125, where @SanvirDessai mentions about
[code]

[2020-11-01 09:57] davidbuniat commented on #106
@sanchitvj there is a linting error with Black, if you can fix it then happy to merge! thanks for making the dataset!

[2020-11-01 09:58] davidbuniat commented on #108
@akshay11298 I have just unassigned you, please feel free to share your feedback regarding the issue you have faced. It will help to improve the experience. In meantime feel free to choose any other issue or let us know how we can be helpful!

[2020-11-01 10:21] sudiptog81 commented on #128
Can work on this. My plan is as follows:
  - Add Job to build an image tagged `activeloop/hub:latest` on every push to `master`.
  - Add Job to build an image on every tag/release as `activeloop/hub:<tag>`.

I'd require the maintainers to add `DOCKERHUB_USERNAME` and `DOCKERHUB_PASS` environment variables to the CI using Circle CI Project Settings.

[2020-11-01 12:56] sanchitvj commented on #106
@davidbuniat All build checks passed.

[2020-11-01 13:59] Anselmoo opened #171 "Tensorflow-Import in Core"
https://github.com/activeloopai/Hub/blob/2f2f613b9226648ea5b83ebe3283f148315ca9c4/hub/collections/dataset/core.py#L569-L572

In my opinion, it should not a pass, it should be sys.exit(1)

[code]

Otherwise, he ignores the import and _crashes later_ if it is calling a `tf.`-instance.
Also, should not be `TensorFlow` of the [`requirements.txt`?](https://github.com/activeloopai/Hub/blob/master/requir

[2020-11-01 18:55] davidbuniat commented on #128
@sudiptog81 Looks great, really thanks for the contribution! I have added comments regarding environment variables directly in the PR. Other than that looks good to me.

[2020-11-01 18:59] davidbuniat commented on #171
@Anselmoo Tensorflow is not a strict requirement. Users might choose only using for PyTorch and do not have Tensorflow. The same goes for other optional dependencies. If you think there is a better way of handling, would love to get your thoughts.

[2020-11-01 19:00] davidbuniat commented on #106
@sanchitvj awesome! once we check the dataset is working will merge the PR! Thanks for the awesome job!

[2020-11-01 20:11] Anselmoo commented on #171
@davidbuniat Thank you very much for feedback. This make sense, it‘s just if you are running tests and it crashes. Maybe 🤔 we should think about to let it as it is but update the requirements_dev.txt

[2020-11-01 20:11] #171 closed

[2020-11-02 07:15] #128 closed

[2020-11-02 13:41] Anselmoo opened #172 "Missing get_package_logger"
There exists no `logger` in `hub`, there exist only a `log`. The  function `get_package_logger` is not defined  expect in [logger.py](https://github.com/activeloopai/Hub/search?q=get_package_logger).
https://github.com/activeloopai/Hub/blob/9c20be55201e86715596f2e79fa659c83219df6a/hub/collections/dataset/logger.py#L1-L3

Consequently, if `logger.py` will be called it has to crash.

[2020-11-02 18:19] sanchitvj opened #173 "Computing numpy array from dask array taking very long time."
I am using MPII Human Pose Dataset having around 25k images of resolution 1280x720 in the form of dask array. So I'm converting it to a numpy array for further processing purposes. I've tried two approaches:
1. To process a single image it is taking around 3 min. Below is the code I'm using.

`import hub`
`ds = hub.load("username/MPII_Human_Pose_Dataset")`
`ds['image'][1].compute()`

2. Below appr

[2020-11-03 05:30] davidbuniat commented on #173
@sanchitvj as shown in the example here https://colab.research.google.com/drive/1LUeZG20A4X4WZX2AYHdI4F6InG6Jb51i?usp=sharing can you please turn on caching and see if subsequent data access is sped up?

[code]

[2020-11-03 08:00] sanchitvj commented on #173
@davidbuniat  This is not making any difference. And also noticed one thing, converting the 5000th image is taking 2 min and 1st image 1min.

[2020-11-03 08:31] davidbuniat commented on #173
Got it! @AbhinavTuli is taking a look at the way the data is stored and he got a couple of insights.

[2020-11-03 08:33] sanchitvj commented on #173
Yaa I'm reuploading the dataset with chunksize  = 5.

[2020-11-03 08:38] AbhinavTuli commented on #173
Yup, as we discussed, chunk size of 1000 for high-resolution images was causing chunks of huge sizes to be created, causing the slowdown. Chunk size of 5 should fix this.

[2020-11-04 13:10] vvkpd commented on #149
Do we have any communication channel?
Getting this error while running `pytest .`
`========================================================================= test session starts =========================================================================
platform darwin -- Python 3.9.0, pytest-6.1.2, py-1.9.0, pluggy-0.13.1
rootdir: /Users/vivekp/Projects/playground/Hub
collected 24 items / 1 error /

[2020-11-04 15:03] kristinagrig06 commented on #104
Hi, @rajat1433. Hope you’re doing well. How are things going with uploading the dataset? Can I be helpful in anything?

[2020-11-04 15:08] kristinagrig06 commented on #56
Hi, @agarwalBinay18 @sound-wave . Hope you’re doing well. How are things going with uploading the dataset? Can I be helpful in anything?

[2020-11-04 20:02] sanchitvj opened #176 "To add a code to view progress while uploading dataset using store() function."
https://github.com/activeloopai/Hub/blob/c4f648ea9f14121a6834b1e0e5d7d9b9d7d387e2/hub/collections/dataset/core.py#L499

Using tqdm or any other method to view progress like ('this much %' of data is uploaded and 'this much' time is taken.) while uploading large data. It'll be helpful while debugging.

[2020-11-05 05:20] davidbuniat opened #178 "Better Error Handling for v1"
## Describe the issue

Improve the error handling for the v1
- [ ] Dataset Permission
- [ ] Broadcasting error when assigning errors
- [ ] Dataset creation parameter error
- [ ] Dataset folder creation error handling

### Notes
Merge with release/v1.0.0-alpha branch

[2020-11-05 05:29] davidbuniat opened #179 "Add dataset creation in the backend"
### Describe the issue

Sync the backend with the dataset creation and deletion. Datasets should be based on our backend only.

- [ ]  Creation POST `{api_url}dataset/create`
[code]

- [ ]  Deletion DEL `{api_url}/dataset/davis/mnist`

- [ ] Update state `/api/dataset/state`

[code]
## Notes
Merge with release/v1.0.0-alpha branch

[2020-11-05 05:50] davidbuniat commented on #149
@vvkpd yes we have a slack channel please send an email to support@activeloop.ai and I will send an invite.

Otherwise feel free to use, [GitHub Discussions](https://github.com/activeloopai/Hub/discussions) or [our dedicated Slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg).

[2020-11-05 05:53] davidbuniat commented on #149
### Describe the feature

@edogrigqv2 Since we are working on v1 please follow from `release/v1.0.0-alpha`, please PR to this branch.

[2020-11-05 07:09] davidbuniat opened #180 "After commit there is no way to read the data again"
## Describe the issues

After commiting/closing the dataset the data cannot be read again or written.

### Expected behavior

It should be able to be read or written with another commit.

### To reproduce
[code]

[code]

[2020-11-05 07:14] davidbuniat opened #181 "Dtype and shape for tensorview"
## Describe the feature

Working with tensors should feel numpy-native. One of the most frequent access properties is shape and dtype. I have added a non-efficient shape and dtype which requires to call numpy function. We would like to have this feature without retrieving the data.

[code]

### Notes
PR to release/v1.0.0-alpha

[2020-11-05 07:22] davidbuniat opened #182 "Update examples to new version in v1"
### Describe

Old examples have not been updated to the v1 version. please update all examples into newer format `examples/`

There are basic examples that have been already converted and there are more complicated ones that need data pipelines.

[2020-11-05 08:06] davidbuniat opened #184 "Add inline documentation within the code and update the docs to comply with the api"
### Enhance documentation

- [ ] inline documenting with all algorithm description, parameters, examples, methods, and attributes for classes
- [ ] updating the documentation for building docs.activeloop.ai

[2020-11-05 08:36] sanchitvj commented on #173
Thanks for addressing the issue, everything is working fine now.

[2020-11-05 08:36] #173 closed

[2020-11-05 09:21] AbhinavTuli commented on #110
@dexterpuru any progress on this task? I'd be happy to discuss any issues that you faced either on our [slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg) or on a call if needed. Our hacktoberfest event is going on till 15th November so you still have time!

[2020-11-05 09:24] AbhinavTuli commented on #107
Hey @WinstonPais! Any progress on this task? I'd be happy to discuss any issues that you faced either on our [slack](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg) channel or on a call if needed. This [tutorial](https://github.com/activeloopai/Hub/discussions/125) could also be helpful.

[2020-11-05 09:56] AbhinavTuli commented on #103
Hey @rajat1433! Any progress on this task? I'd be happy to discuss any issues that you faced either on our [slack channel](https://join.slack.com/share/zt-ihfwn0s4-4dmI6BzPq6tqvVdEWq9kIg) or on a call if needed. Here's a [tutorial](https://github.com/activeloopai/Hub/discussions/125) that might also be helpful.

[2020-11-05 10:35] #106 closed

[2020-11-06 05:49] davidbuniat commented on #172
@Anselmoo this file is redundant and should be removed, thanks for spotting it!

[2020-11-06 06:05] davidbuniat commented on #172
Have been addressed in #183 that will be merged into #release/v1.0.0-alpha

[2020-11-06 15:55] WinstonPais commented on #107
@AbhinavTuli Yes I would love some help.
The slack channel invitation link is expired could you please send the updated one. Thanks!

[2020-11-06 16:06] AbhinavTuli commented on #107
Thanks for pointing that out! Here's the new [invite](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ). Looking forward to seeing you there!

[2020-11-09 12:37] edogrigqv2 commented on #180
@davidbuniat
How about we rename `.commit()` to `.flush()` and add a `.close()` function?
LMDB uses those names.

[2020-11-09 14:05] edogrigqv2 commented on #131
This issue is already resolved in [release/v1.0.0-alpha](https://github.com/activeloopai/Hub/blob/a3e1fbcb2b08668e9bbffceb880e21f34a36425a/hub/api/dataset.py#L136) branch.
@davidbuniat if there is nothing more to this issue, I suggest we close it.

[2020-11-09 14:12] edogrigqv2 commented on #149
First of all I think we have to define goal test coverage percentage for this issue. I think 80% is a good milestone for a start.
For those who want to get started with test coverage issue, @sohamsshah @vvkpd, here how to run test coverage.
[code]
This will generate  html report of entire package.
For now avoid `hub/collections` folder as it is deprecated and will be removed.
Soon I'll post which

[2020-11-09 16:28] ADI10HERO commented on #157
Commented there, would try to simulate a similar environment and test the command again

[2020-11-13 16:29] edogrigqv2 commented on #149
So first of all we have very weak test coverage for `hub/features` and `hub/cli`. Would be very nice to have test cases specifically for them. @vvkpd @sohamsshah and anyone else are welcome to help us to solve this issue. Tell me on what part you plan to work on so there is no work collision happening.

[2020-11-16 07:57] vvkpd commented on #149
I was facing some issue in order to run unit test. I have posted issues on slack. @davidbuniat is helping me to resolve the things quickly. please check slack thread for more info.
Once, I will be able to run test then i will start adding unit tests.
Thanks

[2020-11-16 22:02] Anselmoo opened #205 "Consitent style in the examples"
New examples look great, and it's not a big issue more a suggestion!

However example [basic.py](https://github.com/activeloopai/Hub/blob/release/v1.0.0-beta/examples/basic.py) is just scripted in contrast to [load_pytorch](https://github.com/activeloopai/Hub/blob/release/v1.0.0-beta/examples/load_pytorch.py) with the nice

[code]

[2020-11-17 04:30] davidbuniat commented on #205
Yep, totally agree @Anselmoo ! Let me quickly change it.

[2020-11-17 04:32] #205 closed

[2020-11-20 18:29] davidbuniat opened #214 "When user id or email exists the error is not clearn"
## Describe the issue

When the user run `hub register` with an id or email already exists, the following error is shown.

[code]

Instead would be better to show

[code]

[2020-11-21 00:38] davidbuniat opened #215 "Caching fails on windows with s3://"
### Describe the issue

Caching path fails on windows

[code]

Error shown
[code]

Likely caused by converting Linux style paths to windows.

[2020-11-21 02:25] davidbuniat opened #216 "Dynamic shapes with multi threading"
When I run transforms under multithreaded mode with dynamic shapes, I hit the following problems.

This has became known after I removed compression from the dynamic shape array to avoid blosc problem.

The test can be reproduced by running. https://github.com/activeloopai/Hub/blob/feature/pipeline/hub/compute/tests/test_transform.py#L53-L88

[code]

or

[code]
[code]

[2020-11-21 17:43] davidbuniat opened #217 "Loading a dataset on Windows"
### Describe the issue

Reported by a user that on windows loading the dataset doesn't work
[code]

[2020-11-22 15:44] vvkpd commented on #214
I would like to work on this card, Could you please assign to me?
Thanks

[2020-11-22 15:46] AbhinavTuli commented on #214
Assigned you! Looking forward to your PR.

[2020-11-22 16:29] vvkpd commented on #214
What is currently working branch, on which i should create pr?

[2020-11-22 16:40] davidbuniat commented on #214
THanks for taking this PR, please use `release/v1.0.0-beta`

[2020-11-22 18:05] kzuri opened #220 "Hard-coded input path in MPII Human pose dataset upload.py"
In MPII Human pose dataset [upload.py](https://github.com/activeloopai/Hub/blob/master/examples/MPII%20Human%20Pose%20Dataset/mpii_data_upload.py), path is hard coded with `/home/sanchit` and doesn't generalize well.

Now a single directory `mpii_human_pose_v1` ( consistent with download [link](https://datasets.d2.mpi-inf.mpg.de/andriluka14cvpr/mpii_human_pose_v1.tar.gz) ) which contains images an

[2020-11-22 18:49] davidbuniat commented on #220
yep @kzuri, thanks for the help with reorganizing the code!

[2020-11-23 07:11] davidbuniat opened #226 "Error is unclear when user creates a Dataset"
## Describe the issue

The user tries to create a dataset, it is not clear from the error what she should do.

[code]
---------------------------------------------------------------------------
ClientError                               Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/hub/api/dataset.py in __init__(self, url, mode, safe_mode, shape, schema, token, fs, fs_map

[2020-11-23 11:54] calebjuma27 commented on #217
Windows Version: Microsoft Windows 10 Home
Python Version 3.7.8

[2020-11-23 12:45] edogrigqv2 commented on #216
@davidbuniat I think cache and zarr synchronizer can be at fault, I'll try to implement cache with multithreading in mind.
Have you tried to test zarr seperately?

[2020-11-23 14:13] ADI10HERO commented on #215
Hello, I am unable to reproduce the issue at my end

[code]

Output:
![image](https://user-images.githubusercontent.com/39651310/99972048-0f643f00-2dc4-11eb-809f-8da0b75f51ef.png)

[2020-11-23 16:27] #220 closed

[2020-11-23 19:34] davidbuniat commented on #216
Yes, I tried zarr synchronizers, but it didn't solve the issue. ok! I will dig further on this issue.

[2020-11-23 19:35] davidbuniat commented on #215
@calebjuma27 can you please give us more information here as well to reproduce the issue on our side?

@ADI10HERO Another issue from @calebjuma27 was found in this environment.
[code]

[2020-11-24 04:17] davidbuniat opened #230 "uppercase and lowercase username issue"
## Describe the issue

Sometimes users have problems with the uppercase username.

1. Requires to create a user with upper case.
2. Identify the underlying problem (either frontend or backend)
3. Fix the issue

[2020-11-24 06:01] AbhinavTuli opened #232 "Issue in object storage"
Faced an issue while storing objects using slices.
[code]

The second last line works properly while the last line gives the following error:-
`ValueError: parameter 'value': expected array with shape (2,), got (2, 10, 20, 30)`

[2020-11-24 07:37] edogrigqv2 commented on #232
This is expected to be this way. This is a feature not a bug.

[2020-11-24 14:37] 96RadhikaJadhav commented on #230
Could you please assign this issue to me?

[2020-11-24 15:49] mikayelh commented on #230
Hey @96RadhikaJadhav - thank you so much for volunteering! I've assigned the issue to you. Feel free to join our [community slack](Join me on Slack — it’s a faster, simpler way to work. Sign up here, from any device: https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask any questions as they arise.

[2020-11-25 05:52] davidbuniat opened #234 "Combining Datasets"
### Describe the feature

An efficient way to combine multiple datasets together into a single dataset. It is required for having sharded computation and then combining datasets together in a distributed manner.

[code]

[2020-11-25 12:01] sanchitvj opened #236 "Add 'ds.version' to the dataset object to track version formatting."
Dataset uploaded using an older version of hub gives below warning when loaded.
Deprecated Warning: Given dataset is using deprecated format v0.x. Please convert to the v1.x version upon availability.
So script for `ds.version` needs to be added to check hub version.

[2020-11-25 12:22] sanchitvj opened #237 "Appending data loaded from hub in a list makes kernel run out of memory on colab and kaggle."
I'm trying the below code to create a separate list for train and validation data. Data is in the form of a dask array and when appending it to the list, it is very slow, also because while adding data to the list it's going in RAM and slowly kernel runs out of memory and it blows off the kernel. Dataset consists of 25k instances.

with open('../input/mpii-data/mpii_annotations.json') as f:
    an

[2020-11-25 13:37] sanchitvj opened #238 "How to use hub for training model."
How to use the hub to train models using the bigger datasets like MPII, COCO. These datasets are bigger and complex with multiple labels. So using them is not straight forwards as it is with the MNIST dataset. I'm working on Stacked Hourglass Network which uses MPII Human Pose Dataset. I'm using TensorFlow. Assign this issue to me. I'll send PR for this issue after the completion of the code and t

[2020-11-25 19:04] davidbuniat commented on #237
Thanks @sanchitvj for posting it here. Can you please provide the full reproducible script for blowing the RAM?

[2020-11-25 19:12] sanchitvj commented on #237
The full reproducible script as in?

[2020-11-25 19:19] edogrigqv2 commented on #237
@sanchitvj Please give us a script that results in kernel running out of memory so we can try to fix it or find a workaround for you.

[2020-11-25 21:26] ADI10HERO commented on #217
Can't replicate this issue on my machine.

Code:
![image](https://user-images.githubusercontent.com/39651310/100282578-e42f4a80-2f91-11eb-812a-a014cc4d7057.png)

Output:
![image](https://user-images.githubusercontent.com/39651310/100282609-f14c3980-2f91-11eb-8771-358fa975e528.png)

I have Windows 10 home too and python 3.7.9 but I don't think that is causing the issue (since 3.7.8 was the last bug

[2020-11-26 14:14] Diveafall opened #240 "No easy way of type checking a Tensor"
I have downloaded the entire `mnist` dataset using `front_tfds`. Here's the code I used:
[code]
I wish to iterate through dataset's tensors and perform actions based on its type.

I could iterate using `ds.keys`, however, once you have the name of the tensor there is no easy way of getting its type for type checking.

Here is what I've tried:
[code]
[code]
Even calling `type` directly on `hub.feat

[2020-11-26 14:33] AbhinavTuli commented on #240
As we discussed on slack, the current approach is to use the .dtype. In this particular case,
`isinstance(ds["/image"], hub.features.Image)` should return true.
Let me know if you feel that there should be a more straightforward way for this and we can work on it. Otherwise, we can close this.

[2020-11-26 14:39] Diveafall commented on #240
This seems straightforward enough. Feel free to close the issue and thanks for you help!

[2020-11-26 14:53] #240 closed

[2020-11-27 03:46] 96RadhikaJadhav commented on #230
Hey @mikayelh ..Thanks for giving me a chance :)  Could you please tell me in which file I could find username details?

[2020-11-27 04:27] davidbuniat commented on #230
Hi @96RadhikaJadhav,

Here are some notes that might be helpful.

1) Please take a look at the authentication part https://github.com/activeloopai/Hub/blob/release/v1.0.0-beta/hub/cli/auth.py, try to get a sense of how users register when they run `>hub register` and `>hub login`?
2) Then take a look at what is actually sent to the server https://github.com/activeloopai/Hub/blob/release/v1.0.0-bet

[2020-11-27 08:31] ADI10HERO commented on #215
Finally got the issue

`C:\Users\Administrator/.activeloop/cache/s3://snark-hub/public/eurosat/eurosat-rgb`
This is the cache path created as a result of appending the dataset path to the cache folder.
In Windows you can't have "://" in the folder name.

(PS: I got no idea how it worked on my machine)

[2020-11-27 17:01] mikayelh opened #246 "Test issue"

[2020-11-27 17:02] mikayelh commented on #246
test

[2020-11-27 18:30] ADI10HERO commented on #217
Hey @calebjuma27

The issue should be fixed by #242
Please try again and let me know if you get the error.

[2020-11-27 23:08] Diveafall opened #248 "Issue with _flatten"
I have loaded the `mnist` dataset from their website and uploaded to my Activeloop account.

After de-serializing its schema I get a `FeatureDict` which has a `Mask` and a `ClassLabel` inside of it.

Calling the `_flatten` function on it gives me this error:

[code]

[2020-11-28 17:18] davidbuniat opened #251 "hub commands do not work on windows"
As reported by @SanvirDessai

[code]

[2020-11-28 17:47] ADI10HERO commented on #251
Tested on Windows Version 1909 (local machine) and AWS Windows Server (2016) as well.

`hub login` and `hub logout` works but `hub register` fails with the following error:

`Error: The resource you are looking for was not found. Check if the name or id is correct.`

[2020-11-28 17:50] #246 closed

[2020-11-28 21:28] calebjuma27 commented on #217
Hi @ADI10HERO , still getting the same issue. Should i reinstall hub again. By the way i am accesing Python installed within a conda environment

[2020-11-28 22:04] davidbuniat commented on #251
This problem has appeared in #214

[2020-11-28 22:09] davidbuniat commented on #217
@calebjuma27 can you try installing hub from the source release beta branch and let us know if it has been fixed?
[code]

[2020-11-28 22:43] davidbuniat commented on #248
@Diveafall can you please post a minimal reproducible code to replicate the issue?

[2020-11-28 23:11] Diveafall commented on #248
This is a [link](https://drive.google.com/drive/folders/1bZHFWMaqUMuq_b_VlTRlKz7bTW9kjrfU?usp=sharing) for downloading the dataset.

Below are statements that lead to the error.
[code]

[2020-11-29 00:13] mikayelh commented on #115
Hey @harshitsankhla dropping a note to see if you're still interested in contributing! I would also love to invite you to the launch event of Hub v1.0, DM me here or in [our slack community](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) if interested!

[2020-11-30 00:18] calebjuma27 commented on #217
@davidbuniat , now not able to import Dataset from Hub. The error is listed below

ImportError: cannot import name 'Dataset' from 'hub' (C:\Users\Acer\anaconda3\envs\FirstTest37\lib\site-packages\hub\__init__.py)

[2020-11-30 00:22] davidbuniat commented on #217
@calebjuma27 looks to me installing through pip directly from git in conda environment didn't go well on Windows.

Looking into it.

[2020-12-01 04:26] harshitsankhla commented on #115
Hi @mikayelh will finish this week

[2020-12-01 17:21] #22 closed

[2020-12-01 17:21] #131 closed

[2020-12-01 17:21] #216 closed

[2020-12-01 17:21] #217 closed

[2020-12-01 17:21] #226 closed

[2020-12-01 17:21] #230 closed

[2020-12-01 17:21] #234 closed

[2020-12-02 08:54] #181 closed

[2020-12-02 08:55] #45 closed

[2020-12-02 09:03] AbhinavTuli commented on #248
I think the issue is that max_shape of Mask became a list after deserialization. I had pushed a fix for this a few days back, should work properly now.

[2020-12-02 17:02] mikayelh commented on #115
Supercool, @harshitsankhla, thanks!

[2020-12-03 09:01] kristinagrig06 opened #270 "Issue with large chunk sizes"
This error occurs while filling a dataset with tensors having chunk size >= 2048.
![Screenshot from 2020-12-02 19-05-53](https://user-images.githubusercontent.com/70504162/100986455-a7052280-3566-11eb-9c35-a5d736dbabef.png)

[2020-12-04 17:33] Anselmoo opened #274 "Updating the issue, feature-request and pull-request templates"
It might be useful to generate an issue template to guide people better into the `hub`-world and to reproduce errors and issues

[2020-12-04 22:47] #274 closed

[2020-12-06 19:59] davidbuniat commented on #270
@kristinagrig06 can you please follow the new format for templating the issue. It will be much easier for us to reproduce the issue.

[2020-12-07 16:55] edogrigqv2 commented on #270
@kristinagrig06
This error can occur if you chunk size is off charts. Because Codec only compresses chunk by chunk.
Can you send me script and send chunk size of that tensor?

[2020-12-07 17:01] kristinagrig06 commented on #270
https://github.com/activeloopai/Hub/blob/c5675b355b58cf30c168b51520d275c9c7d5504f/test/benchmark_new/chunk_benchmark.py
The chunk size is 2048

[2020-12-08 05:07] #232 closed

[2020-12-08 06:02] sparkingdark opened #285 "Shape could not find while ds.commit() to upload a dataset"
## 🐛🐛 Bug Report
I am uploading the pokemon types dataset and while uploading the dataset I got that `hub.exceptions.NotFoundException: 'shape'
'shape'`

### ⚗️ Current Behavior

I write the code to upload pokemon dataset but while do the final run `python upload_dataset.py` I got this error message:

[code]

**Input Code**
- REPL or Repo link if applicable:https://repl.it/@darkdebo/BeautifulImper

[2020-12-08 14:39] kristinagrig06 opened #288 "Issue with transform on non-empty Datasets"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
All the schemas in sample of the inner transform function are empty. In the example below `sample["code"].compute()` returns an empty string.

**Input Code**
[code]

**Expected behavior/code**
Have the previously filled data in the transform function.

### ⚙️ Environment

- `Python` version(s): 3.7
- `OS`: Ubuntu 18.04
- `IDE`:VS-Code

[2020-12-08 14:56] AbhinavTuli commented on #288
@kristinagrig06 I tried to replicate your issue:-
[code]
But I was able to successfully print the correct output in both print statements marked with #here. What version of hub are you one?

[2020-12-08 15:04] kristinagrig06 commented on #288
1.0.2

[2020-12-08 15:23] AbhinavTuli commented on #288
Could you try it with 1.0.3 once and let me know? Also, try running my exact code and tell me the output you get

[2020-12-08 15:32] kristinagrig06 commented on #288
Tried with v1.0.3, my code didn't work again, but yours worked. So, the issue is in the same path for creating and storing the ds?

[2020-12-08 15:56] AbhinavTuli commented on #288
Yes, I think storing with the same path possibly overwrites the original dataset before getting the actual information from it.
This practice should be discouraged in my opinion.

[2020-12-08 15:59] kristinagrig06 commented on #288
Ok, thanks for help)

[2020-12-08 15:59] #288 closed

[2020-12-09 04:53] edogrigqv2 commented on #270
@kristinagrig06
I have looked into the issue. There is no bug here. It is just API misuse. When you say chunks=cs, it thinks you want cs samples in 1 chunk + every chunk should contain entire (cs, cs)  Tensor in it. Thus you get chunk shape (cs, cs, cs).
Either mention chunks=1, which will automatically mean (1, cs, cs) or say explicitly (1, cs, cs). Maybe another issue should be opened for docume

[2020-12-09 04:54] #180 closed

[2020-12-09 04:55] edogrigqv2 commented on #248
@AbhinavTuli
If this works properly, let's close the issue.

[2020-12-09 06:36] edogrigqv2 opened #291 "Add support for .compute in the end of command"
## 🚨🚨 Feature Request
Add support for .compute at the end of the command. This is for nested structures like Tensor inside Tensor

### Is your feature request related to a problem?

When nested structure occurs in schema, ex. `Tensor(..., dtype=Tensor)`, the .compute() part isn't in the end of command.
When you retrieve data you have to retrieve it like this: `ds["tensor", 0].compute()[2, 3]`.
It

[2020-12-09 06:41] edogrigqv2 opened #292 "Update s3 credentials the backend on the go"
## 🚨🚨 Feature Request

On the backend, s3 credentials expire very fast in 1 day.
We have to
- [ ] Be able to update credentials when the program starts, otherwise, users have to hub login again.
- [ ] For long uploads update credentials on the go. This is a much harder task, probably should be separated into a separate issue.

### Description of the possible solution

Just run get_credentials logi

[2020-12-09 07:35] sparkingdark opened #293 "Template Schema Generator For Categorical Image Data"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### improve `HUB` using by Defining a new Schema Generator

Various Image Recognition Datasets which have a pattern to identify a object,Like these kind  of categorical data have similar structure like
[code]
this kind of folder structure with images ,we need to define

[2020-12-09 07:45] sparkingdark commented on #293
@davidbuniat assign it

[2020-12-09 08:11] davidbuniat commented on #293
@sparkingdark what about adding `Dataset.from_directory()` that will generate the schema and upload the dataset like other convertors `from_pytorch()` or `from_tensorflow()`?

[2020-12-09 09:26] sparkingdark commented on #293
Okay that's a good idea

On Wed, 9 Dec 2020, 13:41 Davit Buniatyan, <notifications@github.com> wrote:

[2020-12-09 11:53] sanchitvj opened #294 "MemoryError: /root/.activeloop/cache/MPII_human_pose_data: Cannot allocate memory"
## 🐛🐛 Bug Report
[code]

### ⚗️ Current Behavior
After uploading 100 samples of data locally faced this issue. This error was after executing the below code 5-6 times.

**Input Code**
- REPL or Repo link if applicable:
[code]

**Expected behavior/code**
Output like
`[321.3]`

### ⚙️ Environment

- `Python` version(s):
    - *good*: [e.g. 3.8]
    - **better**: [3.8.6 - Clang 12.0.0 (clang-1200.0.3

[2020-12-09 12:42] Atom-101 commented on #291
Please assign this issue to me.

[2020-12-09 12:45] AbhinavTuli commented on #294
@sanchitvj I'm having trouble replicating the issue as the dataset in question is in your local storage. Could you add some reproducible code for the same? Thanks!

[2020-12-09 12:47] sparkingdark commented on #293
@davidbuniat more like a getting the directory structure and generate the based on that or first analyze the directory structure to generate schema to build the Dataset.

[2020-12-09 13:03] sanchitvj commented on #294
## Complete code
@AbhinavTuli
[code]
apart from this, those commented lines I'm not able to include because it's 'saying index list out of range'.

[2020-12-09 19:26] AbhinavTuli commented on #294
@davidbuniat I think you can help out best in this issue. We already suggested him to use storage_cache=None as a workaround.

[2020-12-09 21:39] mynameisvinn commented on #127
@davidbuniat how about `hub-data` on `conda-forge`?

[2020-12-09 21:55] davidbuniat commented on #293
@sparkingdark exactly!

[2020-12-09 22:00] davidbuniat commented on #127
@mynameisvinn please check @ADI10HERO effort here https://anaconda.org/activeloop/hub

We were thinking to ask users to write, we can also add conda-forge with `hub-data`
[code]

[2020-12-10 12:44] mikayelh commented on #61
Hey @@SambhavBhurtel, for some reason the top contributors are not showing anymore. Can you please investigate? Thanks!

[2020-12-10 12:48] mikayelh commented on #109
Hey @KarthiK2601, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:49] mikayelh commented on #107
Hey @WinstonPais , do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, ask us in the community - we know you're a part of it!

[2020-12-10 12:49] mikayelh commented on #56
Hey @agarwalBinay18, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:50] mikayelh commented on #56
Hey @sound-wave, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:50] mikayelh commented on #111
Hey @VinulaUthsara, checking in again to see if you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:51] mikayelh commented on #112
Hey @aksh-02, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions (or in the slack channel you've joined).

[2020-12-10 12:52] mikayelh commented on #104
Hey @rajat1433, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions! If you're too busy, let us know - we will unassign you from t

[2020-12-10 12:53] mikayelh commented on #103
Hey @rajat1433, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:53] mikayelh commented on #110
Hey @dexterpuru, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:54] mikayelh commented on #114
Hey @sentinelprime619, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:54] mikayelh commented on #113
Heya, @sohamsshah! Let us know in Slack if you need any help with this - v1 of [Hub](https://docs.activeloop.ai/en/latest/) should make uploading easier. :)

[2020-12-10 12:55] mikayelh commented on #101
Hey @Abhilasha06, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 12:55] mikayelh commented on #105
Hey @SanvirDessai, do you need any assistance with uploading the dataset? We've just released v1 of [Hub](https://docs.activeloop.ai/en/latest/), which makes uploading even easier. If you need any help, feel free to join our [Community Slack](https://join.slack.com/t/hubdb/shared_invite/zt-ivhsj8sz-GWv9c5FLBDVw8vn~sxRKqQ) to ask questions!

[2020-12-10 13:54] sparkingdark commented on #293
need some light up @davidbuniat

[2020-12-10 14:56] sohamsshah commented on #113
Hey, this is the [link](https://github.com/activeloopai/Hub/blob/master/examples/old/3D%20Object%20Dataset/upload.py) of this example Dataset. So do I have to upload it again using new version and functions?

[2020-12-10 17:48] davidbuniat commented on #61
@SambhavBhurtel @mikayelh looked like the issue was on sourcer.io side, might be wrong but when I checked they lost HTTPS certificates.

[2020-12-10 17:49] davidbuniat commented on #293
@sparkingdark ofc, how can I help?

[2020-12-11 06:51] sparkingdark opened #298 "Getting Assertion error when set max shape to a different shape in schema"
## 🐛🐛 Bug Report
I am currently want to upload an animal categorical dataset to hub but when I define the schema shape=(120,120,3) and max_shape=(120,120,4) it will give me the assertion error but when the max_spape is set to max_shape=(120,120,3) ii is fixed.

when you set the max shape and shape to different shapes you got an assertion error but the assertion error does not give an explanation t

[2020-12-11 12:12] sanchitvj opened #299 "Maximum number of server active requests exceeded. Error while uploading data using EC2."
## 🐛🐛 Bug Report
Not able to upload data using EC2.

### ⚗️ Current Behavior
Check screenshot below.

**Input Code**
[code]

**Expected behavior/code**
Last checked uploaded till 11k instances. The same code working fine on colab stored all 25k instances(59 GB data) locally.

### ⚙️ Environment

- `Python` version(s):
    - *good*: [e.g. 3.8]
    - **better**: [3.8.6 - Clang 12.0.0 (clang-1200.0.3

[2020-12-11 12:55] mynameisvinn commented on #299
i've had this issue before. if i recall correctly it might be `boto`'s [limitation](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html).

[2020-12-12 02:33] mynameisvinn commented on #298
@sparkingdark You could use a dynamic schema in this example and set `image_shape = (120,120,3)` to `image_shape = (None, None, None)`.

[2020-12-12 16:12] Atom-101 opened #303 "[BUG] Tensor __init__ does not validate contents of shape and max_shape"
## 🐛🐛 Bug Report
Currently when initialising a Tensor object only len(max_shape) and len(shape) are checked. There should also be checks to see:

1. The shape does not exceed max shape
2. There is no None in max_shape
3. There is a max_shape explicitly defined if shape has any None element

### ⚗️ Current Behavior
The following snippets are accepted:

[code]

**Expected behavior/code**
There shoul

[2020-12-12 16:36] Atom-101 commented on #303
Fixed in https://github.com/activeloopai/Hub/pull/304

[2020-12-12 16:36] #303 closed

[2020-12-12 16:40] #270 closed

[2020-12-12 16:43] edogrigqv2 commented on #285
@davidbuniat @sparkingdark
I think this issue is resolved and we can close it.

[2020-12-13 04:08] #24 closed

[2020-12-13 04:10] edogrigqv2 commented on #18
@surabhi96
I am closing this GitHub issue as it is old. Here is a new way in Hub to convert Waymo dataset into Hub format.
[code]

[2020-12-13 04:10] #18 closed

[2020-12-13 04:10] #29 closed

[2020-12-13 04:12] #46 closed

[2020-12-13 04:12] #47 closed

[2020-12-13 04:13] #53 closed

[2020-12-13 04:14] #54 closed

[2020-12-13 04:14] #55 closed

[2020-12-13 04:16] #157 closed

[2020-12-13 04:17] edogrigqv2 commented on #154
@Anselmoo
We are closing this issue. If you experience this issue again, please reopen it.

[2020-12-13 04:17] #154 closed

[2020-12-13 04:18] #172 closed

[2020-12-13 04:18] #176 closed

[2020-12-13 04:19] #179 closed

[2020-12-13 04:20] #178 closed

[2020-12-13 04:20] #182 closed

[2020-12-13 04:21] #184 closed

[2020-12-13 04:27] edogrigqv2 commented on #237
@sanchitvj
I am closing this issue. If you experience the issue again with Hub v1.0, please reopen the issue and provide colab link.

[2020-12-13 04:27] #237 closed

[2020-12-13 04:28] #248 closed

[2020-12-13 04:30] AbhinavTuli commented on #248
@Diveafall could you send a script for this that we can use to replicate this? I think this is fixed but it'd be great if I could add this as a new test

[2020-12-13 04:32] AbhinavTuli opened #305 "[FEATURE]Private dataset creation option is missing in API"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Yes. Users are currently unable to create private datasets.

### If your feature will improve `HUB`

Many users work with datasets that aren't supposed to be shared publicly. Such users are unable to upload datasets to

[2020-12-13 04:34] edogrigqv2 opened #306 "Installing Hub package on Windows fails"
## 🐛🐛 Bug Report
Running `pip install hub` fails.
Here is the error
[code]

### ⚙️ Environment
`Python 3.9`
`Powershell`
`Windows 10`

[2020-12-13 04:34] edogrigqv2 commented on #251
Related to #306 as well

[2020-12-13 04:35] edogrigqv2 commented on #285
This was a backend issue and @Diveafall has solved this.

[2020-12-13 04:35] #285 closed

[2020-12-13 04:37] edogrigqv2 commented on #292
Related to #36

[2020-12-13 05:55] sparkingdark commented on #306
some kind of dependency is missing it shows ....

[code]
message in python 3.6

[2020-12-13 07:00] sparkingdark commented on #306
Adding `patch-ng` solved that error got by you @edogrigqv2 but later numcodecs build failed but I have installed vscode c++ 14.0.27 installed.

[2020-12-13 07:12] sparkingdark commented on #306
[code]

[2020-12-13 08:24] edogrigqv2 opened #307 "Dataset description, citation, license should be added"
## 🚨🚨 Feature Request

We need description, citation, license, and version meta info to be added to the dataset.

### Is your feature request related to a problem?

Some datasets need this info inside them for legal reasons.

### If your feature will improve `HUB`

Easy to implement, won't hurt for sure.

### Description of the possible solution

Currently, we have all metadata stored in the `meta

[2020-12-13 08:51] edogrigqv2 opened #308 "Storing/Loading models similar to Datasets (API wise)"
## 🚨🚨 Feature Request

@AdelZakirov
Storing/Loading models similar to Datasets (API wise).

I think this is a long shot feature that needs to be thought about thoroughly.
For now, I think having `hub.load` and `hub.store` working with Tensorflow and Pytorch models is fine.

### If your feature will improve `HUB`

In the future, having models stored on the backend it would allow us to run training/

[2020-12-13 08:58] davidbuniat commented on #308
@kristinagrig06 implemented the first version of model saver/loader https://github.com/activeloopai/Hub/blob/master/hub/training/model.py

API wise we want to make it work like this.
[code]

Generic function wrapper for loading and storing models/datasets could work unless it won't be confusive.

[2020-12-13 10:01] edogrigqv2 opened #309 "Benchmark JPG/PNG compression with hub and without hub"
## 🚨🚨 Feature Request

Benchmark JPG/PNG compression with hub and without a hub to check if the hub adds serious overhead/bottleneck. Fix overhead if there is one.

### Is your feature request related to a problem?

A benchmarking script is required to be able to compare raw compression performance vs ours.

### If your feature will improve `HUB`

We need fast and efficient image compression to no

[2020-12-13 14:12] sparkingdark opened #310 "Improving Hub CLI with commands like delete,visualize and upload"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### It will improve `HUB`

As for now hub has only three commands:

`Hub register`
`Hub login`
`Hub logout`

Now hub-cli can be made more helpful with other commands.

### Description of the possible solution

To do more out of the hub-cli:

Suggesting sum extra command

[2020-12-13 14:15] sparkingdark opened #311 "Making hub tutorials like google codelab which can help beginners"
Creating a crash course on usage of hub and training with pytorch,tensorflow.
Probably  a cheatsheet of using hub like github cheatsheet.

[2020-12-13 14:20] sparkingdark opened #312 "Feature request for pre trained model uploading in hub"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
For now Hub only used to store dataset but we can not store pretrained model,that's why we need this feature.

### If your feature will improve `HUB`
This will extend the usage of hub more than on the datasets and Hub th

[2020-12-13 14:31] sparkingdark opened #313 "Creating Dataset uploading checkpoint for better usage of Hub in Low speed internet and other conditions"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

The Problem is that you need to complete the uploading of a dataset at once which is kind of impossible for big dataset with huge size >100GB.

### If your feature will improve `HUB`

To improve hub this feature will ma

[2020-12-13 14:35] sparkingdark commented on #309
The imagecodecs can be a better alternative to this with prebuilt algorithms.
Imagecodecs is a Python library that provides block-oriented, in-memory buffer transformation, compression, and decompression functions for use in the tifffile, czifile, and other scientific image input/output modules.

Decode and/or encode functions are implemented for Zlib (DEFLATE), ZStandard (ZSTD), Blosc, Brotli, Sn

[2020-12-13 17:24] edogrigqv2 opened #314 "The training model using to_pytorch and to_tensorflow is slow"
## 🐛🐛 Bug Report
The training model using to_pytorch and to_tensorflow is slow.
10X slow compared to old Hub.

Here is the [script](https://github.com/activeloopai/Hub/blob/feature/benchmark/test/benchmark_new/basic_train.py)
Here are the [benchmark results ](https://docs.google.com/spreadsheets/d/1at1qfWs0W9mdagB-_Cm37PUFRgv5N5ANCt00cpXbaiY/edit#gid=0)
We have to find what is wrong and fix it.
@k

[2020-12-13 17:32] edogrigqv2 opened #315 "Running pytest on master branch fails some tests"
## 🐛🐛 Bug Report

Running `pytest` when with only `requirements` and `requirements-dev` installed makes 4 tests to fail.
[code]

### ⚙️ Environment

Python 3.6
WSL Ubuntu 20.04 LTS
Windows Terminal

### 🧰 Possible Solution  (optional)
@davidbuniat I think we have to CI/CD tests twice once with `requirements-optionals`, once without.

[2020-12-13 18:59] davidbuniat commented on #315
@edogrigqv2 agree to add two steps for running tests and fixing the issues.

[2020-12-13 19:25] mynameisvinn commented on #313
@sparkingdark This seems solvable, I think. We could handle interruptions if we tracked hashes of uploaded data and compared it with hashes of data/file to be uploaded. I’m still new to the codebase so I will defer to others.

[2020-12-13 20:27] davidbuniat opened #316 "[BUG] 'float' object has no attribute 'shape' in Data pipelines"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Receive `float` object has no attribute `shape` inside data pipelines.

[code]

**Input Code**

[code]

**Expected behavior/code**
Data pipelines should be able to process floats without creating a NumPy array.

### ⚙️ Environment

- `Python` version(s): [Clang 11.0.3 (clang-1103.0.32.62)] on darwin
- `OS`: OSX 10.15.7
- `IDE`:  VS-Code

### 🧰 Possible Sol

[2020-12-13 23:15] davidbuniat opened #317 "[BUG] Schema errors are not clear"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
When the schema is misused, the error thrown to the user does not explain the issue itself.

[code]

[code]

**Expected behavior/code**
It turns out the solution to the problem is to use the following schema for the provided data.

[code]

The exception should provide
- [ ] the key of the tensor which threw an error.
- [ ] The mismatch of expected value an

[2020-12-13 23:28] davidbuniat opened #318 "[BUG] Accessing the dataset without thinking about mode"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Users hit issues with default append mode 'a'.

**Input Code**

[code]
Error seen
[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

[code]

### ⚙️ Environment

- `Python` version(s): [Clang 11.0.3 (clang-1103.0.32.62)] on darwin
- `OS`: OSX 10.15.7
- `IDE`:  VS-Code

### 🧰 Possible Solution
Curren

[2020-12-13 23:37] davidbuniat opened #319 "[FEATURE] Accessing dataset index as if it's a dictionary"
## 🚨🚨 Feature Request

- [ ] A new implementation

### Is your feature request related to a problem?

Instead of accessing elements in a dataset by index, sometimes users prefer to provide a key instead of an index.

### If your feature will improve `HUB`

Improves user experience for accessing datasets with a key instead of an index. The drawback is that the user would miss chunked access and thi

[2020-12-14 00:09] mynameisvinn commented on #299
By design, `listObjectsV2` returns a [maximum of 1,000 objects](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html).

If I recall correctly, `listObjectsV2` returns a `NextContinuationToken`, which we can pass as an argument when we invoke `listObjectsV2` again to fetch the next 1,000 objects (and so on).

[2020-12-14 04:58] AbhinavTuli commented on #316
I think the issue here is that the shape has been set to (1,) which is why it expects a numpy array. If the shape is (), it should probably work.

[2020-12-14 05:04] davidbuniat commented on #316
Could be but it's strange/not expected, if you try just using primitive type, then it would work.

We should follow [broadcasting rules](https://numpy.org/doc/stable/user/basics.broadcasting.html#general-broadcasting-rules) as seen in Numpy.

[2020-12-14 05:28] AbhinavTuli commented on #316
Agreed. But the weird part is that this shouldn't even be treated as a dynamic tensor, line 187 in dynamic_tensor shouldn't be hit. I think this might even be happening because max_shape is set but the shape isn't. Will need to test it out.

[2020-12-14 09:14] #298 closed

[2020-12-14 11:14] AbhinavTuli commented on #305
I've added basic functionality to the API in the branch "fixes/private". There are some credentials issues that need to be resolved from the backend I believe. Currently, the backend only provides creds for the public s3 bucket and not the private s3 bucket and that needs to be modified. @Diveafall @davidbuniat

[2020-12-14 12:23] AbhinavTuli opened #321 "[BUG] lz4 ValueError: bad input data when using Transform with multiple threads"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
After reducing the size of the shard to avoid exceeding memory limit in the branch fixes/transform. Started facing this issue when using multithreading. The below code works well in a single thread.

**Input Code**
[code]

Error:-
[code]

### ⚙️ Environment

- `Python` version(s): Python 3.8.5
- `OS`: Ubuntu 20.04.1 LTS (Focal Fossa)
- `IDE`: VS-Code

[2020-12-14 12:44] AbhinavTuli opened #323 "[BUG] Transform with multiprocessing gives RecursionError"
## 🐛🐛 Bug Report
RecursionError: maximum recursion depth exceeded while calling a Python object

### ⚗️ Current Behavior

**Input Code**

[code]

Error:-
[code]

### ⚙️ Environment

- `Python` version(s): Python 3.8.5
- `OS`: Ubuntu 20.04.1 LTS (Focal Fossa)
- `IDE`: VS-Code

[2020-12-14 17:05] sparkingdark opened #326 "testing issue"
checking github integration

[2020-12-14 17:17] evolearner opened #327 "hello mikayel are you notified"
hello world testing

[2020-12-14 17:18] #326 closed

[2020-12-14 17:18] #327 closed

[2020-12-14 17:19] mikayelh opened #328 "test"
test

[2020-12-14 17:19] #328 closed

[2020-12-15 05:51] sparkingdark opened #329 "Creating a from_csv method to upload data in Hub"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

There is csv format which is pretty much very useful in traditional machine learning but for handling such data we need a easy solutiion for that.

### If your feature will improve `HUB`

It will make easy to upload the

[2020-12-15 08:49] #309 closed

[2020-12-15 09:42] AbhinavTuli opened #331 "[BUG]Backend issue, unable to create dataset with Sequence of BBox"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
A clear and concise description of the behavior.

**Input Code**
[code]

Error:-
[code]
**Expected behavior/code**
The above code works fine when we store locally instead of in Hub. Also, removing "bboxes" from the schema and storing in Hub works. It should work fine when storing with "bboxes" to Hub as well.

### ⚙️ Environment

- `Python` version(s): Pyt

[2020-12-15 13:38] edogrigqv2 commented on #299
@mynameisvinn  So we can't use s3fs?

[2020-12-15 13:46] edogrigqv2 commented on #299
@sanchitvj Can you give us the `annotations.json` file, so we can run the script?

[2020-12-15 13:52] sanchitvj commented on #299
https://hubdb.slack.com/archives/C01D9P7SSKU/p1607801672151200?thread_ts=1607800699.150000&cid=C01D9P7SSKU

[2020-12-15 15:24] AbhinavTuli commented on #329
This sounds interesting @sparkingdark. Do you want to take this up? I can assign you to this. Let me know.

[2020-12-15 15:32] sparkingdark commented on #329
Okay assign this to me.starting this after finishing from_directory.

On Tue, 15 Dec 2020, 20:54 Abhinav Tuli, <notifications@github.com> wrote:

[2020-12-15 15:38] haiyangdeperci opened #334 "[BUG] setting max_shape to an empty tuple results in TypeError"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Setting `max_shape` to an empty sequence (to represent an empty array with no dimensions) results in assigning `shape` to `max_shape` which may contain `None` values when `shape` is not specified, leading to an exception:
[code]
Potentially related to #303.

**Input Code**
[code]

**Expected behavior/code**
Variable `max_shape` should not receive `None`(s)

[2020-12-15 15:44] AbhinavTuli commented on #334
@haiyangdeperci thanks for raising this issue! I was just looking into it but was unable to replicate it. What version of Hub are you on?

[2020-12-15 15:50] haiyangdeperci commented on #334
@AbhinavTuli It is version 1.0.3. Thanks for looking into it. Let me know if you need more details.

[2020-12-15 16:35] edogrigqv2 commented on #317
@davidbuniat Why should casting to a single element array be done? if you have 1000 samples, you will get an array with shape (1000,), your way it will be (1000, 1).

[2020-12-15 16:43] edogrigqv2 commented on #334
@haiyangdeperci If you want to store a primitive just write
[code]
Is this what you want?

[2020-12-15 16:44] edogrigqv2 commented on #331
@Diveafall Are you solving this issue? You are assigned

[2020-12-15 17:04] edogrigqv2 commented on #318
@davidbuniat
I think I can do this one quickly.

[2020-12-16 09:28] Anselmoo opened #335 "[FEATURE] Automatic IPython alias *.ipynb generator for the example"
## 🚨🚨 Feature Request: `example.py` to transformed into `example.ipynb`

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

* [Examples](https://github.com/activeloopai/Hub/tree/master/examples) can be directly open, test, and verified in [Colab](https://github.com/activeloopai/Hub/tree/master/examples)

[2020-12-16 13:10] haiyangdeperci commented on #334
@edogrigqv2 Thanks for the suggestion. I still think it would be useful if hub allowed having such tensors as defined though.

[2020-12-16 16:30] edogrigqv2 commented on #318
@davidbuniat I have tested this one. The test is passing.
[code]

   Somebody just forgot that when you are creating a dataset, you have to mention the shape that is all.
   A user had an issue that he wanted to change the shape of the dataset but forgot to mention mode="w" and the program crashed. This is an error handling issue.

[2020-12-16 16:50] davidbuniat opened #340 "[BUG] TypeError: `pad_width` must be of integral type."
## 🐛🐛 Bug Report

@sanchitvj is still experiencing the issue connected with padding dynamic arrays.
### ⚗️ Current Behavior

**Input Code**
[code]
[code]

### ⚙️ Environment
- `Python` version(s): [Clang 11.0.3 (clang-1103.0.32.62)] on darwin
- `OS`: OSX 10.15.7
- `IDE`:  VS-Code

[2020-12-16 22:36] davidbuniat opened #341 "[BUG] Sequences + Segmentation Codec does not support buffers of > 2113929216 bytes"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Using Sequences+Segmentation cause buffer error

**Input Code**

[code]

[code]
but after image 13th image user gets this error: `Codec does not support buffers of > 2113929216 bytes` caused by 'segmentation'

**Expected behavior/code**

### ⚙️ Environment

Environment should be added
- `Python` version(s): python3.7
- kaggle kernel on Kaggle notebook

###

[2020-12-17 00:54] mynameisvinn commented on #311
Hey @sparkingdark I'm putting together a few tutorials - would you want to help?

[2020-12-17 01:51] sparkingdark commented on #311
Okay I will

On Thu, 17 Dec 2020, 06:24 v, <notifications@github.com> wrote:

[2020-12-17 04:51] sparkingdark commented on #313
That's great let's talk

[2020-12-17 05:06] AbhinavTuli commented on #341
Hmm.. we somehow got a 2GB+ chunk. What were the maximum dimensions of the Segmentations? The current implementation of sequences is ideal only for small amounts of data.

[2020-12-17 17:55] mynameisvinn commented on #335
Thanks @Anselmoo! I'm not familiar with Keras-autodo's `python2ipynb` - what is the biggest pain point addressed by that feature? (Sorry for the dumb question, asking because I rarely convert `.py` source to `ipynb` notebooks :)

[2020-12-18 05:32] edogrigqv2 commented on #299
Finally reproduced the error. In forums some point on wasabi not being stable.
[code]

[2020-12-18 07:20] edogrigqv2 commented on #341
I am afraid the issue here is inner implementation. I doubt we support lists for __setitem__.

[2020-12-18 07:37] #318 closed

[2020-12-18 09:20] edogrigqv2 opened #351 "[BUG] Hard to understand error message on NotHubDatasetToOverwriteException"
## 🐛🐛 Bug Report
The current error message is hard to understand. Need to add more detailed elaboration.
![image](https://user-images.githubusercontent.com/3873521/102597358-f6854a00-4133-11eb-96b3-12207dee2a60.png)

[2020-12-18 10:52] edogrigqv2 commented on #341
@davidbuniat @AbhinavTuli
The code below worked for me.
[code]

[2020-12-18 12:25] AdelZakirov commented on #308
Hey guys,
indeed, I foresee a lot of hidden gems during the development.
Good luck with that, I will test some of my models once you have something working

[2020-12-18 17:15] Anselmoo commented on #335
@mynameisvinn Thank you very much for feedback. I think in the long term that `HUB` can profit from the fact the tutorial section of the docs becomes interactive, as you can see on:

[https://autokeras.com/tutorial/text_regression/](https://autokeras.com/tutorial/text_regression/)

you can straight start the docs as interactive notebook

[https://colab.research.google.com/github/keras-team/autoker

[2020-12-19 06:21] #351 closed

[2020-12-19 20:42] AbhinavTuli opened #358 "[FEATURE] Add support for other dtypes to Image in schema"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Currently, users are only able to use Image in schema with dtypes "uint8" and "uint16". Using other integer and float types raises an error.

### If your feature will improve `HUB`

More freedom for users to use different dtypes in Image.

### Description of the possible s

[2020-12-19 21:22] AbhinavTuli opened #359 "[FEATURE] A better way to access string value of ClassLabels"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Accessing the string value of ClassLabels is inconvenient and complicated as illustrated below:-

[code]

### If your feature will improve `HUB`

Yes, it will make accessing the string value of ClassLabels much easier

### Description of the possible solution

Add a parame

[2020-12-20 07:11] davidbuniat commented on #359
love this feature request!

[2020-12-21 02:11] sparkingdark commented on #307
Hello assign please @davidbuniat

[2020-12-21 08:27] #315 closed

[2020-12-21 08:29] davidbuniat commented on #317
I think we should add proper broadcasting to avoid those issues.

[2020-12-21 16:38] raijinspecial opened #364 "pytorch dataloader can crash if num_workers > 0 when loading hub dataset to_pytorch [BUG]"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Iterating over a pytorch dataloader can fail when the dataset is a hub.Dataset.to_pytorch if multiprocessing is enables (num_workers > 0). Adjusting batch_size and num_workers can allow a few iterations to occur before crashing.

The following example should cause this behavior.

**Input Code**
[code]

[code]

### ⚙️ Environment

- `Python` version(s):

[2020-12-21 22:43] davidbuniat opened #365 "[BUG] Mutable default args should be avoided"
## 🐛🐛 Bug Report
@ElevenPhonons on [reddit](https://www.reddit.com/r/Python/comments/khdufo/project_package_hub_store_stream_and_access_large/) provided feedback to remove Mutable default args if possible with reference to [link](https://docs.python-guide.org/writing/gotchas/#mutable-default-arguments)

### ⚗️ Current Behavior
Examples
* https://github.com/activeloopai/Hub/blob/master/hub/api/tens

[2020-12-22 01:36] Hemantr05 opened #366 "Uploading text dataset"
I tried uploading text files to Hub using this code:

[code]

And got the following error:

Time:  9.655952453613281e-05
Traceback (most recent call last):
  File "hub-stock-data.py", line 33, in <module>
    ds2 = ds.store(tag)
  File "/home/hemant/anaconda3/lib/python3.7/site-packages/hub/compute/transform.py", line 342, in store
    n_samples = get_sample_size(self.schema, self.workers)
  File

[2020-12-22 01:44] davidbuniat commented on #366
@Hemantr05 we just fixed a couple of transform-related issues. Could you please kindly test if the same issue persists in the `fixes/stacked_transform` branch?

[2020-12-22 02:04] mpkocher commented on #365
It's also worth noting that `pylint` can help catch some of these issues.

[code]

While `pylint` can be a bit chatty, it can be useful to catch or suggest other improvements, or proactively catch potential bugs in the code.

[code]

[2020-12-22 05:07] AbhinavTuli commented on #366
@Hemantr05 I believe the issue here is that max_shape hasn't been set for the Text. max_shape is the max number of characters across all files that you expect. @edogrigqv2 this should have raised an appropriate error I think.

try this:-
[code]
You can change 1000 if your text files are larger.

[2020-12-22 05:38] davidbuniat commented on #365
@mpkocher thanks! we have been just using [lint checking with black](https://github.com/activeloopai/Hub/blob/master/.pre-commit-config.yaml), but this looks more advanced with static code analysis.

@ADI10HERO @Anselmoo what do you think shall we add pylint to the CI/CD you are working at?

[2020-12-22 07:41] Anselmoo commented on #365
@mpkocher @davidbuniat thx for commits and suggestions concerning `pylint`.

Indeed `pylint` is extremely powerful and useful however it will be part of the CI/CD pipeline it will probably block it all time before bugs will be removed. This doesn't mean that the bugs should stay forever.

A possible workflow could look like [this](https://github.com/AI2Business/ai2business/blob/main/.github/workfl

[2020-12-22 07:50] ADI10HERO commented on #365
I agree with @Anselmoo

@davidbuniat  Shall I add the pylint step to the github actions pipeline?

[2020-12-22 11:32] Anselmoo opened #367 "[FEATURE] Docker Release of HUB"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

A Docker Release of `HUB` will allow using `HUB` as a container solution; plus all dependencies are bundled in one image. This will allow attracting a broader audience which willing to maintain a python application from scratch up.

### Description of the possible solution

A GitHub

[2020-12-22 15:56] davidbuniat commented on #367
This sounds great @Anselmoo! Please see https://github.com/activeloopai/Hub/issues/128 issue that has been implemented with CircleCI though it is not currently working during the pipeline deployment.

[2020-12-22 17:22] Hemantr05 commented on #366
@davidbuniat It doesn

[2020-12-22 17:23] Hemantr05 commented on #366
@AbhinavTuli after making the changes I get this error:

Traceback (most recent call last):
  File "/home/hemant/Desktop/Github/hub/Hub/hub/api/dataset.py", line 170, in __init__
    self.meta = self._store_meta()
  File "/home/hemant/Desktop/Github/hub/Hub/hub/api/dataset.py", line 231, in _store_meta
    self._fs_map["meta.json"] = bytes(json.dumps(meta), "utf-8")
  File "/home/hemant/Desktop/Gi

[2020-12-23 06:47] #366 closed

[2020-12-23 08:09] ADI10HERO opened #371 "[FEATURE] Github Action CI Pipeline for packaging HUB"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues/)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

New commits might break some features, so automated testing and packaging is needed

### Description of the possible solution

Github Action pipeline to run on every PR and Pull request on every branch
The pipeline will test

[2020-12-23 08:36] ADI10HERO opened #373 "[BUG] Feature request issue template bug"
## 🐛🐛 Bug Report

Feature request issue template's line "related to an existing issue" has a bug..
The link embedded in the word "issue" has some extra `../`'s

### ⚗️ Current Behavior
Just appending issue number to the link gives 404.

**Expected behavior/code**
Appending the issue number should link to the desired issue.

### 🧰 Possible Solution  (optional)
Remove the extra `../`'s

[2020-12-23 08:42] ADI10HERO opened #374 "[FEATURE] Pylint Workflow for static code analysis"
## 🚨🚨 Feature Request

- [x] Related to an existing [Issue](../issues/365)

### Is your feature request related to a problem?

Code currently has missing docstrings and other linting issues

### If your feature will improve `HUB`

A clean code with docstrings is what the community loves

### Description of the possible solution

A GitHub action workflow to use pylint for static code analysis

[2020-12-23 21:03] YuvalOfer commented on #373
Hey:) I created a pull request (#378) to fix this issue.

[2020-12-24 18:23] #305 closed

[2020-12-24 18:48] #331 closed

[2020-12-24 19:12] #291 closed

[2020-12-24 19:45] #340 closed

[2020-12-25 00:31] mynameisvinn commented on #358
For those interested, here is the [relevant loc](https://github.com/activeloopai/Hub/blob/ff3f478e261151d64c542fe4383831ab658aa356/hub/schema/image.py#L20).

[2020-12-25 00:32] mynameisvinn commented on #329
Hey @sparkingdark! Let me know how you're thinking about this: one approach could be represent columns as `np.arrays` and wrapping with `hub.Primitive`.

[2020-12-25 00:35] mynameisvinn commented on #311
@sparkingdark here is a [first draft of beginner tutorials](https://github.com/activeloopai/Hub/tree/master/examples/tutorial). Improvements welcomed!

[2020-12-25 03:15] sparkingdark commented on #329
Hey vinn after 25th merry Planning to first get the dimension of the whole
dataframe mxn then make a tensor of size that into that each row of size n
Colin size tensor.

On Fri, 25 Dec 2020, 06:02 v, <notifications@github.com> wrote:

[2020-12-25 03:15] sparkingdark commented on #311
Great will take a look if possible today merry Christmas ⛄☃️🌲🎅

On Fri, 25 Dec 2020, 06:05 v, <notifications@github.com> wrote:

[2020-12-25 08:31] #316 closed

[2020-12-25 08:32] #334 closed

[2020-12-25 10:19] evolearner opened #389 "Need to make Tutorials more concise and with proper comments"
@mynameisvinn I reviewed your tutorial notebook seem to add some good description will make them good to the beginners and also hosting them to the activeloop website will be a good addition.

@davidbuniat this is my second account @sparkingdark

[2020-12-25 12:58] mynameisvinn commented on #389
Thanks @evolearner. It's a first step for absolute beginners and could use your (and everyone's) help :)

[2020-12-25 13:38] evolearner opened #390 "while load a dataset you get shapeargumenterror for wrong dataseturl which is not relevant"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
if you give wrong dataset url to load the dataset you got shapeargument error which is not relevant.
[code]

**Input Code**

[code]

**Expected behavior/code**
Instead of shapeargument error you should get dataset not exist in database or the directory.

### ⚙️ Environment

- `Python` version(s):
    - *good*: [e.g. 3.6]

- `OS`: [e.g. Ubuntu 18.04]
- `IDE

[2020-12-25 15:43] mynameisvinn opened #393 "[FEATURE] Create a Tutorial for Uploading Video Datasets"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

There are tutorials for images and audio. There should be a tutorial for more complicated data, including video.

### Description of the possible solution

Extend [existing tutorials for absolute beginners](https://github.com/activeloopai/Hub/tree/master/examples/tutorial) for video

[2020-12-25 16:34] mynameisvinn opened #395 "[FEATURE] Visualizing Audio Files"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

`hub.Audio` could be treated as images, and therefore viewable as images through `activeloop.ai/datasets/explore`. This would improve the user experience for those working with audio, who often inspect audio files as images (eg spectrograms).

For example, here we [inspect a wav file

[2020-12-27 06:19] davidbuniat commented on #390
@evolearner thanks for reporting the problem! yep, totally agree.

[2020-12-27 15:10] mynameisvinn commented on #389
@evolearner @sparkingdark Is there anything specific you'd like to see in tutorials?

[2020-12-27 21:33] ADI10HERO opened #397 "[BUG] Remove '?' from filenames"
## 🐛🐛 Bug Report
Windows does not allow `?` or `\` in file names, as a result, a windows user (I) can't pull activeloopai/Hub's master branch

### ⚗️ Current Behavior
[code]

**Expected behavior/code**
`git pull activeloopai master` to complete without throwing errors

### ⚙️ Environment

- `Python` version(s):
    - 3.8
- `OS`: Windows 10
- `IDE`: VS-Code

### 🧰 Possible Solution  (optional)

Rem

[2020-12-28 19:03] #397 closed

[2020-12-29 00:54] davidbuniat opened #400 "[BUG] Storage backend is down"
## 🐛🐛 Bug Report

Storage servers are down

### ⚗️ Current Behavior
[code]

[code]

### ⚙️ Environment

- `Python` version(s): [Python 3.8.5, Clang 11.0.3 (clang-1103.0.32.62)]
- `OS`: OSX 10.15.7
- `IDE`: terminal

### 🧰 Possible Solution  (optional)
Fix issues on the storage provider, consider how to deal with this type of outage next time.

[2020-12-29 10:05] sparkingdark opened #403 "Native support for google drive,mega like third party online storage"
## 🚨🚨 Feature Request

- [x] Related to an existing #400

A method or support for  google drive,mega,Microsoft Dropbox to store the dateset and we can use them for personal usage so the users get a option whether they want to store to their own personal accounts or hub servers it may save storage for hub.

[2020-12-29 10:06] sparkingdark opened #404 "Native support for google drive,mega like third party online storage"
## 🚨🚨 Feature Request

- [x] Related to an existing #400

A method or support for  google drive,mega,Microsoft Dropbox to store the dateset and we can use them for personal usage so the users get a option whether they want to store to their own personal accounts or hub servers it may save storage for hub.

It's also helpful when hub servers down they can use from their google or Microsoft account

[2020-12-29 10:12] #403 closed

[2020-12-29 10:12] sparkingdark commented on #403
duplicate

[2020-12-30 05:35] #390 closed

[2020-12-31 14:20] ADI10HERO opened #409 "[FEATURE] Update circle ci to test on multiple environments"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Testing should be done on multiple environments using circle ci as well

### If your feature will improve `HUB`

Makes hub more robust

[2021-01-03 12:07] #389 closed

[2021-01-03 13:00] mynameisvinn commented on #329
hey @sparkingdark let me know if this is something you plan to work on. I'd like to do some new year cleaning of issues :)

[2021-01-03 13:03] sparkingdark commented on #329
Yes

[2021-01-03 13:20] mynameisvinn commented on #374
Completely agree @ADI10HERO.

Hub currently [uses `flake8`](https://github.com/activeloopai/Hub/blob/master/.flake8) for  instead of `pylint`. I believe `flake8` checks for docstring style too, but will double check.

[2021-01-03 14:06] mynameisvinn commented on #293
@sparkingdark let me know if you need support here :)

[2021-01-03 18:05] davidbuniat commented on #293
@mynameisvinn this has been moved to https://github.com/activeloopai/Hub/pull/370

[2021-01-04 07:09] sohamsshah commented on #393
Hey Vinn, I would like to work on this issue. Can you guide me how shall I get started?

[2021-01-06 12:50] sohamsshah opened #416 "[FEATURE]: Add example Notebook link in README.md"
## 🚨🚨 Feature Request

- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Whenever a new user/contributor comes to Hub, the few things that one seeks is Docs, Contributing.md, community and Use cases and examples(if any) - generally in the README.md file itself. Presently we have nice tutorials and examples in the repo, but aren't well reference

[2021-01-06 16:55] sohamsshah opened #418 "[FEATURE]: Add Hub Shield Badge for the users to put in their projects/products in README.md"
## 🚨🚨 Feature Request

- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
It is an enhancement for the library.

### If your feature will improve `HUB`

Yes, certainly. By adding this shield link for the users to add in their project README.md enhances our product.

### Description of the possible solution

We can use [shield.io](https://shields.

[2021-01-06 17:34] sohamsshah commented on #418
Please have a look at #419

[2021-01-06 19:42] mynameisvinn commented on #416
@sohamsshah This is a great idea!

By the way, what other tutorials and examples should be included?

[2021-01-07 01:45] #418 closed

[2021-01-07 17:24] sohamsshah commented on #416
Yeah! I am linking a PR to this issue.

We can convert the examples into ipynb tutorials. Also we can include examples and tutorials that covers image, video, NLP and csv related data uploading to Hub examples so that it can assist users as per their use case. We do have examples and tutorials in our repository.

#### I am right now adding tutorials in Notebooks table and will add a link to the ex

[2021-01-07 17:52] sohamsshah opened #422 "[BUG]: CODE_OF_CONDUCT.md has missing link reference."
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
The CODE_OF_CONDUCT.md file has a missing link.

### 🧰 Possible Solution
Added it in #421

[2021-01-08 12:13] mynameisvinn commented on #416
That sounds good @sohamsshah, please submit a PR!

Ideally, tutorials and examples are categorized by modality (image, video, text).

[2021-01-09 18:11] mynameisvinn opened #427 "[FEATURE]: Infer audio format from file extension"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

The [`Audio`](https://github.com/activeloopai/Hub/blob/5c269a9d1663ee76f8a83f2f7aa2a15a259fd2fd/hub/schema/audio.py#L6) api should automatically infer format from file extension. A valid format is anything that [ffmpeg](https://ffmpeg.org/) can read, and that includes wav, mp3, etc. It should throw an exception when it is

[2021-01-09 23:47] mynameisvinn opened #428 "[FEATURE]: Create Tensorflow benchmark"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
No.

There is a need for a Tensorflow benchmark (similar to the [Pytorch benchmark](https://github.com/activeloopai/Hub/tree/master/benchmarks)) using CIFAR-10.

### If your feature will improve `HUB`
Reproducible benchmarks will help the community understand Hub's value pr

[2021-01-10 02:29] sohamsshah commented on #427
Interesting issue. If I am not mistaken, the idea is to perform exception handling on the file format and throw exceptions for invalid ones in the audio.py file.

[2021-01-11 21:55] mynameisvinn opened #438 "[FEATURE]: Text Processing API"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

A high level API that converts Hub's Text into a Dataloader for Hugging Face transformers.

### Is your feature request related to a problem?

No.

In order to use Hugging Face's pre-trained transformers, we have to prepare text data in a specific way.

For example, in order to use [BERT](https://huggingface.co/transformer

[2021-01-12 13:36] mynameisvinn commented on #438
@madhucharan Here is a [description](https://github.com/activeloopai/Hub/blob/master/hub/schema/text.py) of Hub's `Text` Schema and here is its corresponding [source](https://github.com/activeloopai/Hub/blob/master/hub/schema/text.py).

[2021-01-12 18:08] AbhinavTuli opened #441 "[BUG]Test issue"
Testing. Ignore.

[2021-01-12 18:20] #441 closed

[2021-01-13 12:18] mynameisvinn commented on #428
tagging @madhucharan

[2021-01-14 12:31] mynameisvinn opened #446 "[FEATURE] Improve README for benchmarks"
## 🚨🚨 Feature Request
- [x] A new implementation (Improvement, Extension)

[Hub's benchmark](https://github.com/activeloopai/Hub/tree/master/benchmarks) needs a README.

Ideally, this README should contain:
1. Benchmark objectives ("What are we benchmarking and why?"
2. Methodology ("How are we benchmarking Hub" and "What are we comparing Hub to?")
3. Data visualizations
4. Results

### If your fe

[2021-01-14 15:16] sanggusti opened #450 "[BUG] benchmarks/benchmark_to_pytorch_from_cloud.py returns ShapeArgumentNotFoundException()"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

Running the script then
[code]

[2021-01-14 15:16] sanggusti opened #451 "[BUG] benchmarks\benchmark_to_pytorch_from_cloud.py raise ShapeArgumentNotFoundException()"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

Running the script then
[code]

[2021-01-14 15:17] #450 closed

[2021-01-14 17:13] AbhinavTuli opened #452 "[BUG]to_pytorch fails when called on a dataset that the user doesn't own"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
to_pytorch fails when called on a dataset that the user doesn't own. This is primarily due to [this line of code](https://github.com/activeloopai/Hub/blob/master/hub/api/dataset.py#L528) i.e. calling self.flush(). The same problem doesn't exist for datasets that the user owns.

**Input Code**

[code]

**Stack Trace**
[code]

**Expected behavior**
The datas

[2021-01-14 17:29] AbhinavTuli commented on #451
I think this might be happening because you don't have the credentials to access "s3://snark-test/superficial_dataset".
Hub assumes that you're trying to create a new dataset as it can't access the existing one which causes the error (as shape must be provided on dataset creation).
I think we can work on improving this error message. Thanks for raising this! 🙂

[2021-01-14 17:37] AbhinavTuli opened #453 "[BUG] Problem with using Hub on Windows"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

Issue is pertaining to a windows env. The package 'pwd' is unavailable for windows and instead a package called 'winpwd' is used. This causes the basic example of the READ.ME file to fail. It fails while instantiating the Dataset object.

### ⚙️ Environment
- `OS`:  Windows 10 Version 2004 Build 19041.572

[2021-01-14 17:45] madhucharan commented on #453
Hi, I would like to work on this

[2021-01-15 08:27] Anselmoo opened #455 "[FEATURE] Extending the hub tag by a logo"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Extend the `HUB` tag by the activeloop hub logo via [https://simpleicons.org/](https://simpleicons.org/)

Before:

![hub](https://img.shields.io/badge/powered%20by-hub%20-ff5a1f.svg)

After should similar to:

![hub](https://img.shields.io/badge/powered%20by-hub%20-ff5a1f.

[2021-01-15 08:35] mikayelh commented on #455
Thank you so much for submitting this, @Anselmooo. Will do this today.

[2021-01-15 09:23] Anselmoo commented on #455
I was taking a closer look at [ https://simpleicons.org/]( https://simpleicons.org/) and it might be difficult to get it accepted due to their Alexa Ranking rules.
However, there is the option to link to the hosted `JSON` file in the activeloop-REPO, which is linked on the hub `svg` locally.
[https://shields.io/endpoint](https://shields.io/endpoint)

[2021-01-16 13:57] DebadityaPal opened #461 "Error in Documentation of Schema"
In the example code of the documentation of Schema, subsection - "Tensor"
[code]
a positional argument follows a keyword argument, which is thrown as an error during its execution.

[2021-01-16 14:06] haiyangdeperci commented on #461
@DebadityaPal hi, thank you for raising this issue and letting us know about the problem. Would the code below resolve it for you?
[code]

[2021-01-16 14:45] DebadityaPal commented on #461
Hi @haiyangdeperci , yes this works perfectly! thank you. I just felt like mentioning this as others who are trying the package out for the first time might get confused like me as this is what the docs state.

[2021-01-16 19:34] haiyangdeperci commented on #461
Of course, I am really grateful you mentioned it. If you find other issues with the docs or the code, let us know :) Commit 610ffd6 fixes this problem.

[2021-01-16 19:34] #461 closed

[2021-01-18 12:59] #367 closed

[2021-01-18 13:24] sparkingdark commented on #438
Assign please...give it a shot and should be choice over bert,gpt2,transformer as well.

[2021-01-18 16:46] mynameisvinn commented on #453
FYI this is an issue with [anaconda's `posixpath.py`](https://github.com/tpn/py2711-conda-pkg/blob/5d075df70736aac72459d3072c3408a40562caa2/Lib/posixpath.py#L259).

[2021-01-18 18:25] mynameisvinn commented on #438
Alternative approach would look like this:
[code]

[2021-01-18 20:10] mikayelh commented on #455
Ok this one's above my capabilities hehe :D @Diveafall can you take over pls?

[2021-01-18 20:59] mynameisvinn opened #470 "[FEATURE] Open Request for Datasets"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

If you're searching for a dataset and do not find it in Activeloop, you can request it here and one of our community members will be able to help :-)

### If your feature will improve `HUB`

We want to make sure frequently used datasets are available to all. Our starting point is this [wonderful repo](https://www.paperswit

[2021-01-19 06:45] DebadityaPal opened #471 "[FEATURE] Loading a Dataset as a tuple instead of a dictionary"
## 🚨🚨 Feature Request

- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Currently,, the generators for the Keras library uses batches of (x, y) tuples in order to feed data to the model. The Hub schemas only let us change the shape and/or datatype of the data within a dictionary. If we could extend this behavior to load data as batches of tupl

[2021-01-19 12:02] mynameisvinn commented on #471
Hi @DebadityaPal thanks for the request!

Are you looking for a better way to do this:  `(X, y) = ds["data", i].compute(), ds["label", i].compute()`?

[2021-01-19 13:05] DebadityaPal commented on #471
This would certainly work for smaller datasets. However, with larger databases, we cannot load all the data into memory at once. It would be better if there was some way the dataset could yield tuples rather than having to manipulate the dictionary into a tuple. This would allow us to feed the dataset to the Keras model directly.

[2021-01-19 13:16] AbhinavTuli commented on #471
That makes sense @DebadityaPal. Could you share some sample code of how you're doing it currently vs how you would want it to be after this feature is implemented? That should make the issue more clear

[2021-01-19 13:19] mynameisvinn commented on #471
Gotcha, so something more like this?

[code]

[2021-01-19 15:19] DebadityaPal commented on #471
Thanks, @mynameisvinn this works perfectly!

@AbhinavTuli what I was initially doing was something like this,  I converted the whole data to (X, y) pairs first.
[code]

what I would like to do is:
[code]
I know that schema is supposed to give a structure to a local dataset that one is about to upload, but it would be good if we could use it to restructure retrieved datasets and especially convert

[2021-01-19 15:47] mynameisvinn commented on #471
Glad I was helpful! Let me know if you need anything else.

[2021-01-19 20:14] mynameisvinn commented on #453
Hey @madhucharan checking in on this branch, let me or Abhinav know if you hit a roadblock!

[2021-01-19 20:18] #395 closed

[2021-01-20 02:36] sparkingdark commented on #438
Awesome

[2021-01-20 07:44] DebadityaPal commented on #428
I would like to work on this issue if no one else currently is.

[2021-01-20 12:50] mynameisvinn commented on #428
@DebadityaPal would love your help! Want to give it a try and let me know if you run into trouble?

[2021-01-20 14:19] DebadityaPal commented on #428
Yep, that sounds perfect!

[2021-01-20 15:47] DebadityaPal commented on #470
I had a few datasets in mind

1. SQuAD (Stanford)
2. WikiSQL
3. AudioSet (Google): This one is a huge dataset. There are 2,084,320 clips of 10-second duration with 527 labels. This could pose a real challenge, but it would also serve as a great proof of concept. Do let me know if  I  can help in any way.

For the first 2, I can upload them to the hub.

[2021-01-20 17:08] x213212 commented on #427
# typer checker
can use mutagen or ffprobe check data format
https://mutagen.readthedocs.io/en/latest/user/gettingstarted.html

https://stackoverflow.com/questions/53144494/get-duration-from-multiple-video-files

so possible add type checker in there

![](https://i.imgur.com/9OpKdOL.png)

[code]

![](https://i.imgur.com/koUq8UE.png)
[code]

we can get true data formate infomation
![](https://i.img

[2021-01-20 18:33] ahmedshahriar opened #475 "[BUG] Installing Hub package on Jupyter Notebook generates Error"
## 🐛🐛 Bug Report

Running `!pip3 install -U hub==1.0.0` generates errors on **Jupyter Notebook.**
Here is the error from **colab notebook**

[code]

Full log

[code]

### ⚙️ Environment

- Python 3.6.9

[2021-01-20 18:40] mikayelh commented on #475
Sorry about this, @ahmedshahriar - thanks for bringing it up! Will take a look at it for you.

[2021-01-20 18:54] ahmedshahriar commented on #306
`pip install -U hub==1.0.0`

Works fine on python 3.6

but generates errors on python 3.9

My Environment

` python 3.6.8`
` python 3.9.0`
` Windows 10 64 bit`

[2021-01-20 19:36] mynameisvinn commented on #475
@ahmedshahriar Looks like you're running into this problem on colab. Do you run into the same problem if you installed Hub on your local machine?

[2021-01-20 20:03] ahmedshahriar commented on #475
I faced this #306 with python 3.9 on windows

But it ran fine on **python 3.6** and **Anaconda3** (3.6.12,    3.7.9,   3.8.5) in my local machine

[2021-01-20 21:55] mynameisvinn opened #476 "[FEATURE] Append MPL headers on source"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Hub currently uses [Mozilla Public License](https://www.mozilla.org/en-US/MPL/) (MPL), which requires the following header (from Exhibit A of the license) to be attached to source.

[code]
We need help appending MPL headers on source (where appropriate).

[2021-01-20 21:59] mynameisvinn commented on #475
I did `!pip3 install -U hub==1.0.0` on a colab notebook and was able to proceed (see below). Can you try again on a fresh notebook?

<img width="1440" alt="Screen Shot 2021-01-20 at 4 58 15 PM" src="https://user-images.githubusercontent.com/5203948/105246134-d553b700-5b40-11eb-9dcd-79f9cfd9b4d1.png">

[2021-01-21 05:47] DebadityaPal opened #477 "[BUG] hub.Dataset.from_tensorflow throws error upon execution"
## 🐛🐛 Bug Report
The static method `from_tensorflow` throws an error upon execution. It looks like an issue with the Tensorflow 2.4.0 API update.

### ⚗️ Current Behavior
Upon execution, the static method throws the error: "module 'tensorflow' has no attribute 'python'". It happens because `tensorflow.__init__()` explicitly deletes its reference to the `tensorflow.python` module after importing ev

[2021-01-21 06:57] #477 closed

[2021-01-21 08:05] ahmedshahriar commented on #475
This was my log with a fresh notebook

![hub colab install log](https://user-images.githubusercontent.com/40615350/105321400-9af62280-5bf1-11eb-82b1-70732efd0b38.png)

[2021-01-21 12:39] mynameisvinn commented on #475
Is there a reason why you're installing hub 1.0.0 and not the latest (hub 1.1.3)?

[2021-01-21 14:32] KrishnaChaitanya1 commented on #476
Hi @mynameisvinn I am interested to this but I'm new. Could you explain this in detail?

[2021-01-21 14:47] KrishnaChaitanya1 commented on #292
Hi @edogrigqv2 . I have a doubt. When you say S3 credentials are you referring to the normal Access Keys (IAM) or the credential used when creating Presigned URL?

[2021-01-21 14:53] haiyangdeperci commented on #476
Hi @KrishnaChaitanya1 thanks for willing to contribute. Essentially, you need to copy the header mentioned by @mynameisvinn and place it at the top of each of the source files. Would you like to be assigned on this issue?

[2021-01-21 14:54] ahmedshahriar commented on #475
Actually, I went through the documentation . That's why I installed 1.0.0 at first but those two dependency errors happen in both of them only in colab. I guess it's a minor bug and will be fixed soon.

[2021-01-21 16:25] haiyangdeperci commented on #475
@ahmedshahriar Thanks for mentioning that. I've fixed the docs part. Have you tried running it in colab on Python 3.8 or 3.7?

[2021-01-21 16:57] ahmedshahriar commented on #475
Thanks

on colab, it's Python 3.6.9

[2021-01-22 05:27] KrishnaChaitanya1 commented on #476
Hi @haiyangdeperci . Sure assign it to me, let me give it a shot

[2021-01-22 07:47] haiyangdeperci commented on #476
@KrishnaChaitanya1 done, thanks for helping us :+1:

[2021-01-22 09:10] FayazRahman commented on #453
Do you think it'd be better if everything's switched to os.path instead of posixpath?

[2021-01-22 12:20] mynameisvinn commented on #476
@KrishnaChaitanya1 let me know if you run into problems. Good luck!

[2021-01-22 12:22] mynameisvinn commented on #475
@ahmedshahriar I'm closing this issue but let me (or @haiyangdeperci ) know if you run into any other dependency conflicts.

[2021-01-22 12:22] #475 closed

[2021-01-22 12:26] mynameisvinn commented on #471
@DebadityaPal I am closing this issue but let me (or @AbhinavTuli) know if you run into other memory-related issues.

[2021-01-22 12:26] #471 closed

[2021-01-22 12:29] mynameisvinn commented on #453
@FayazRahman Could you expand on that suggestion? Anaconda (not Hub) calls `posixpath.py`, which in turn tries to import `pwd` on a windows machine, thus throwing an importerror.

[2021-01-22 13:28] mynameisvinn commented on #427
@x213212 Thanks for pointing out mutagen, it looks very interesting!

Do you want to try implementing a solution? I can work with you and figure this out. (@sohamsshah you should join.)

[2021-01-22 14:10] FayazRahman commented on #453
Hub imports and uses posixpath for handling paths and the error was thrown when it tried to do `posixpath.expanduser("~/.activeloop/store")` because expanduser calls `import pwd`. Anaconda wasn't involved in my case and it was just a result of using posixpath which is meant for linux. I think using os.path would avoid future conflicts although no errors are thrown as of now.

[2021-01-22 22:36] mynameisvinn commented on #312
Hi @sparkingdark, I think the focus will be data and not model weights for now. We can revisit this feature request down the line.

[2021-01-22 22:36] #312 closed

[2021-01-23 11:12] haiyangdeperci commented on #428
Fixed by #486

[2021-01-23 11:12] #428 closed

[2021-01-23 16:14] x213212 commented on #427
@mynameisvinn Sound great ,You can send email to discuss this issue , my email is x8795278@gmail.com

[2021-01-24 07:24] AbhinavTuli commented on #453
Resolved by #472

[2021-01-24 07:24] #453 closed

[2021-01-24 07:25] AbhinavTuli commented on #452
Resolved by #466

[2021-01-24 07:25] #452 closed

[2021-01-24 07:47] DebadityaPal commented on #438
@mynameisvinn may I take up this issue? I have some experience working with transformers.

[2021-01-24 09:08] DebadityaPal commented on #359
I would like to work on this if no one else currently is.

[2021-01-24 10:16] sparkingdark opened #490 "In built Preprocessing module for both images and text data"
## 🚨🚨 Feature Request

- [x] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

When a user going to upload the data user need to use third-party libraries to process the data like for image skimage or PIL like this instead of that creating of inbuilt hub preprocessing module can be helpful

### If

[2021-01-24 13:00] mynameisvinn commented on #490
Thanks @sparkingdark.

Your example would probably look something like this:
[code]
I don't think that is a meaningful improvement over:
[code]
Moreover, I doubt we could do a better job than `skimage`, which has 400+ contributers since inception.

[2021-01-24 13:06] sparkingdark commented on #490
Better we give user option to use our app and we can built upon skimage,pil and other advance package available for use.so I think skimage package can be use to utilise by integrating with hub.

[2021-01-24 13:07] sparkingdark commented on #490
I give example of the preprocessing class how it implementing not using in hub which you describe thanks for that.i add in the feature.

[2021-01-25 06:50] BraveStone9 commented on #476
is this issue closed or I can still work on it. This is my first time contributing to an open-source project want to start from somewhere.

[2021-01-25 13:11] mynameisvinn commented on #476
Hi @BraveStone9 we could definitely use your help!

@KrishnaChaitanya1 mind giving us an update? That way we can resolve this issue together :)

[2021-01-25 13:27] mynameisvinn commented on #438
@DebadityaPal yes please! i've moved this thread to [discussions](https://github.com/activeloopai/Hub/discussions/492) :)

[2021-01-25 13:27] #438 closed

[2021-01-25 13:42] KrishnaChaitanya1 commented on #476
Hi @mynameisvinn I have completed adding them, I am pushing them to my forked repo so that you guys can look into it.

[2021-01-25 13:53] haiyangdeperci commented on #476
@KrishnaChaitanya1 Great, thanks so much for helping us! Could you send us a link? I've looked through your fork and I haven't seen any new comments.

[2021-01-25 13:55] KrishnaChaitanya1 commented on #476
@haiyangdeperci I am yet to push. when I ran the pytest command as mentioned in the Contributions.md, I am getting few errors. I am sorting them out

[2021-01-25 13:57] haiyangdeperci commented on #476
@KrishnaChaitanya1 all rights, no no worries :+1: Let us know if you need any help.

[2021-01-25 14:00] haiyangdeperci commented on #476
Hi @BraveStone9 Perhaps #393 could work for you? Would you like to be assigned?

[2021-01-25 14:08] KrishnaChaitanya1 commented on #476
Hi @haiyangdeperci. I pushed the changes I made to my fork. Could you check and let me know if everything is fine?

[2021-01-25 14:14] BraveStone9 commented on #476
@haiyangdeperci  sure, I can give it a try!

[2021-01-25 14:16] KrishnaChaitanya1 commented on #476
@haiyangdeperci .While executing pytest command, I encountered the following errors.
![Pytest](https://user-images.githubusercontent.com/18368405/105717312-fdc72100-5f45-11eb-91ef-82fb367839a5.png)
Is this okay or should some changes need to be made?

[2021-01-25 14:21] haiyangdeperci commented on #476
@KrishnaChaitanya1 I'll take a look in a moment.
@BraveStone9 all right, i'll assign you there

[2021-01-25 14:29] haiyangdeperci commented on #476
@KrishnaChaitanya1 could you remove  `test/filtering2/meta.json` and the like files from the commit? That might be a fix. Afterwards, make a PR. It'd be easier to check the with the CI output

[2021-01-25 14:34] KrishnaChaitanya1 commented on #476
@haiyangdeperci . Should I PR in the main hub repo or my fork? Sorry if I am asking simple questions. I am new to these :)

[2021-01-25 14:46] haiyangdeperci commented on #476
@KrishnaChaitanya1 great, taking a look!

[2021-01-25 20:59] haiyangdeperci commented on #451
@sanggusti Thanks for mentioning this. We've removed that benchmark.

[2021-01-25 20:59] #451 closed

[2021-01-25 21:06] mynameisvinn commented on #416
@sohamsshah checking in, I can review if you submit a PR :)

[2021-01-25 21:08] mynameisvinn commented on #393
@sohamsshah can you try running this [example for uploading images](https://github.com/activeloopai/Hub/blob/master/examples/tutorial/Tutorial%201a%20-%20Uploading%20Images.ipynb)? Once you have it working, then the video example will be super straightforward.

[2021-01-25 21:13] mynameisvinn commented on #422
hi @sohamsshah let me know if you want to submit a PR (I can review)

[2021-01-25 21:33] mynameisvinn commented on #329
hey @sparkingdark Have you run into issues pushing csv files to Hub?

[2021-01-26 03:27] sparkingdark commented on #329
No I am working on it ...

[2021-01-26 09:32] #359 closed

[2021-01-26 09:41] haiyangdeperci commented on #476
Fixed by #494

[2021-01-26 09:41] #476 closed

[2021-01-26 09:57] haiyangdeperci commented on #329
@sparkingdark Let us know if you need help :)

[2021-01-26 17:10] DebadityaPal opened #497 "[BUG] Tests fail in Windows Enviroment specifically"
## 🐛🐛 Bug Report
In the current test sequence, 11 tests fail with the error `AttributeError: module 'numcodecs' has no attribute 'MsgPack'`, however, this error does not exist in colab environments

### ⚗️ Current Behavior
When `pytest .` is run on a Windows 10 environment, 11 tests fail and 6 of them have the error message as described above.

**Expected behavior/code**
These errors should not be

[2021-01-26 17:13] haiyangdeperci commented on #497
@DebadityaPal Thanks for raising this issue and mentioning it in Slack earlier. We'll be working on it. Have you used the same environment but on a different OS? I'm asking just to be sure it is a Windows-specific issue.

[2021-01-26 17:15] DebadityaPal commented on #497
What I did was, I ran the functions on a google colab notebook, it didn't throw these errors then.

[2021-01-26 17:25] mynameisvinn commented on #497
@DebadityaPal Which hub version are you using? (I'm asking because I haven't seen this issue for windows machines before.)

[2021-01-26 17:26] mynameisvinn commented on #311
@sparkingdark I'm closing this issue, let me know if you have anything else needed on this front.

[2021-01-26 17:26] #311 closed

[2021-01-27 05:29] KrishnaChaitanya1 commented on #497
I faced this issue with Hub Version 1.1.0 I think.

[2021-01-27 07:26] KrishnaChaitanya1 commented on #497
These are the errors I am getting when I execute "pytest .".
![Shot1](https://user-images.githubusercontent.com/18368405/105957261-ff582c80-609e-11eb-8442-9cadda70a75e.png)

[2021-01-27 08:57] haiyangdeperci commented on #497
@KrishnaChaitanya1 @DebadityaPal have you tried updating Hub to 1.2?

[2021-01-27 09:35] KrishnaChaitanya1 commented on #497
@haiyangdeperci. Yes. Mine is 1.2

[2021-01-27 09:37] haiyangdeperci commented on #497
@KrishnaChaitanya1 Are you still facing the same issue in Hub 1.2?

[2021-01-27 09:40] KrishnaChaitanya1 commented on #497
@haiyangdeperci. Yes. The screenshot I posted is from 1.2

[2021-01-27 09:43] haiyangdeperci commented on #497
@KrishnaChaitanya1 Thanks for letting us know. I'll get hold of a Windows machine and I'll try to replicate that.

[2021-01-27 10:04] KrishnaChaitanya1 commented on #497
@haiyangdeperci . Changing the int64 to int32 in few files reduced the failures from 11 to 7.
![Shot2](https://user-images.githubusercontent.com/18368405/105975592-228dd680-60b5-11eb-9a1b-14e5b2675f7d.png)

[2021-01-27 10:10] DebadityaPal commented on #497
So after a bit of tinkering, I found out that the fix is relatively simple. We just need to do a `pip install msgpack` and that should solve the error.

[2021-01-27 10:11] haiyangdeperci commented on #497
@KrishnaChaitanya1 Could you specify the files?
@DebadityaPal Would that solve all of the test errors?

[2021-01-27 10:15] DebadityaPal commented on #497
It won't solve all the errors, but it will reduce the errors to 5. Now one of those is `ModuleNotFoundError: No module named 'pwd'`. I tried pip installing it but no module exists by that name.
The other 4 errors are assertion errors, so I think those are errors within the tests themselves.

[2021-01-27 10:17] haiyangdeperci commented on #497
@DebadityaPal I've just checked that `msgpack` gets installed by default through one of the packages in the requirements so explicitly adding it to `requirements.txt` might be a partial fix.

[2021-01-27 10:19] haiyangdeperci commented on #497
@DebadityaPal It seems to be another Windows-specific issue. I've found [a workaround](https://github.com/gitpython-developers/GitPython/issues/356) so far but I will be exploring to find a better solution.

[2021-01-27 10:25] DebadityaPal commented on #497
Okay, even I'll try to see if I can do something.

[2021-01-27 10:45] KrishnaChaitanya1 commented on #497
@haiyangdeperci.
1.  /hub/schema/tests/test_features.py (line 29, 36). This solves 2 of the assertion errors.
2. /hub/schema/tests/test_tensor.py (line 72, 77). This solves another 2 of the assertion errors.

After implementing the fix by @DebadityaPal . I ended up like this.
![Shot3](https://user-images.githubusercontent.com/18368405/105980424-d6459500-60ba-11eb-8b6d-2bd37a680be8.png)

[2021-01-27 10:56] haiyangdeperci commented on #497
@KrishnaChaitanya1 thanks for sharing that. Clearly @DebadityaPal's solution helps here but let's try to resolve this one last failing test.

[2021-01-28 15:04] mynameisvinn opened #502 "[FEATURE] Dataset Builders"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

A "Dataset Builder" for fetching and pushing datasets to Hub, in a standardized manner. It would be responsible for tasks such as:

1. verifying Hub credentials
2. downloading a dataset from a given url (streaming for larger files, perhaps with `urllib.FancyURLopener`)

[2021-01-28 15:09] mynameisvinn opened #503 "[FEATURE] Built-in tokenization feature for Text objects"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)
Text objects should have a built-in method to convert strings to tokens, according to a user-specified tokenizer.

### Is your feature request related to a problem?
Partially. Text objects currently use Bert tokenizers by default.

### If your feature will improve `HUB`

[2021-01-28 15:15] mynameisvinn opened #504 "[FEATURE] Capturing metadata about datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)
Many datasets are accompanied by a rich catalog. For example, [CORD-19 dataset](https://github.com/allenai/cord19) contains valuable information on the dataset organization.

### Is your feature request related to a problem?
Currently there is no straightforward way to c

[2021-01-28 15:18] AbhinavTuli commented on #504
@mynameisvinn I believe this exists currently in Hub. See #363

[2021-01-28 15:19] mynameisvinn opened #505 "[FEATURE] DataFrames as a first class schema"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

Should DataFrames be treated as a first-class schema (alongside Text, Audio, Images)?

### If your feature will improve `HUB`
Even though Hub is designed for unstructured datasets, many data science projects still rely on DataFrames in some form or fashion. While there

[2021-01-28 15:28] mynameisvinn opened #506 "[FEATURE] Dataset Permission"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
On certain occasions, users have requested the ability to change visibility permissions _after_ the upload. For example, to create a private dataset, the user must specify `public=False` when he creates the dataset objec

[2021-01-28 15:39] mynameisvinn opened #507 "[FEATURE] Dataset Organization and Retrieval"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

How can we capture metadata on datasets?
### If your feature will improve `HUB`
Many datasets are accompanied with informative metadata.

### Description of the possible solution
Perhaps something like this:
[code]

[2021-01-29 16:17] mynameisvinn commented on #504
@AbhinavTuli You're right. Closing this issue.

[2021-01-29 16:17] #504 closed

[2021-01-29 17:36] mynameisvinn opened #510 "[FEATURE] Windows Support"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Consolidating a number of windows issues such as #251 , #497, #306.

### If your feature will improve `HUB`
Many Hub users run window machines.

### Description of the possible solution
#410 is a start to flag all window

[2021-01-30 16:03] mynameisvinn opened #513 "[FEATURE] Sampling from Hub datasets while preserving distribution"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

During exploratory analyses, It is useful to sample from large datasets while preserving its statistical properties. Scikit has a comprehensive discussion on [stratified sampling](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.model_selection).

###

[2021-01-30 16:09] mynameisvinn opened #514 "[FEATURE] Specify cache location"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

This request explores the utility of explicitly specifying cache locations.

A user has requested to explicitly manage cache (eg specify cache location): "Where does it store the cache? Can I modify this location?"

This behavior is not uncommon in PyTorch, where a user

[2021-01-30 16:19] mynameisvinn opened #515 "[FEATURE] Specify datastore"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Some users have requested the option to "just" use Hub while using a private bucket.

While they can save it to a local machine with `url = "./data/examples/new_api_intro"`, they should be able to specify remote stores t

[2021-01-30 16:30] mynameisvinn opened #516 "[FEATURE] Benchmarking memory"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [X] A new implementation (Improvement, Extension)

We should benchmark memory usage when fetching from a Hub dataset.

### If your feature will improve `HUB`
In the near term, well-scoped memory benchmarks will assess new features. In the long term, it can be used to compare performance with other libraries such as Zarr

[2021-01-30 16:38] mynameisvinn opened #517 "[FEATURE] Hub Tutorial for Distributed Training"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`
Distributed training is often used for large datasets.

We need a tutorial for distributed training, where each worker fetches from Hub.

### Description of the possible solution
Ideally, this tutorial uses AWS SageMaker's [`sagema

[2021-01-30 16:38] AbhinavTuli commented on #515
@mynameisvinn we already support s3, gcs, and azure urls for Datasets. I believe this issue can be closed unless I'm misinterpreting it.

[2021-01-30 16:43] mynameisvinn opened #518 "[FEATURE] Handling TFRecords"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
There is no opinionated way on how `TFRecords` should play with Hub.

### If your feature will improve `HUB`
Treating `TFRecords` as if its a first class data type would reduce friction. Currently, users (like me) unpack

[2021-01-30 16:47] AbhinavTuli commented on #513
Sounds like an interesting feature. How do you imagine this would work for more complex datasets that have more than 2 tensors (multiple ClassLabels for instance)? How would we identify distribution in such a scenario?

Also, I think we should rethink the API, the proposed solution doesn't make it clear that we're retaining the distribution. The result also probably wouldn't be in a pair format th

[2021-01-30 16:49] AbhinavTuli commented on #514
I think @edogrigqv2 can probably address this better, but we only have a memory cache at the moment and no storage cache, so we can't really specify a location for that. A force_reload feature can be implemented though.

[2021-01-30 16:51] mynameisvinn opened #519 "[FEATURE] Helper package to stream data"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

For larger datasets, the ability to stream data while handling interruptions is an important one.

### If your feature will improve `HUB`
This feature would help users fetch and push large binary files.

### Description of the possible solution
In its most basic form, a

[2021-01-30 17:01] mynameisvinn opened #520 "[FEATURE] Extend benchmarks to all storage destinations"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Benchmark should include major storage destinations. Current [benchmarks](https://github.com/activeloopai/Hub/blob/master/benchmarks/benchmark_random_access.py) do not specify storage and therefore rely on the default se

[2021-01-30 20:17] mynameisvinn opened #521 "[FEATURE] Support for binary data formats"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

This request explores the need for ways to handle [HDF5](http://www.h5py.org/), a popular file format for handling large complex datasets, especially in the scientific community.

### If your feature will improve `HUB`
If implemented, this feature would eliminate conver

[2021-01-30 20:24] mynameisvinn opened #522 "[FEATURE] Higher order grouping"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

This request examines the importance of "grouping" data objects.

For scientific research, there is a regular need to group datasets. (That is why there is a concept of grouping in HDF5 and [Zarr](https://zarr.readthedocs.io/en/stable/tutorial.html#groups)).

For exampl

[2021-01-30 20:35] mynameisvinn commented on #515
Thanks @AbhinavTuli. This request examines the need to extend to other object stores (eg on-premise, Digital Ocean, S3-compatible platforms).

[2021-02-01 09:33] KrishnaChaitanya1 commented on #516
Hi @mynameisvinn . I am interested in doing this. However I am new to benchmarking. Can you tell me how to do this? Jakub gave some pointers as to where to start. I am going through those