[2021-02-01 09:36] edogrigqv2 commented on #514
Right now cache is only in the memory. So it is pointless discussing this issue until storage caching is implemented. We had LMDBStore cache before, but it did not work out for us. It was buggy and regularly throwing errors.

[2021-02-01 09:39] haiyangdeperci commented on #516
@KrishnaChaitanya1 you may start from going through the documentation of the `memory_profiler` and applying it to Hub functions.

[2021-02-01 09:41] KrishnaChaitanya1 commented on #516
@haiyangdeperci . Sure will check that.

[2021-02-01 09:43] haiyangdeperci commented on #516
Great! You might also check #520 out.

[2021-02-01 15:07] KrishnaChaitanya1 commented on #516
@haiyangdeperci @mynameisvinn. Is this what you were expecting?
![shot3](https://user-images.githubusercontent.com/18368405/106476722-5b6ee680-64cd-11eb-9fce-1126bcfb5819.png)

[2021-02-01 15:22] mynameisvinn commented on #516
@KrishnaChaitanya1 so far so good. Don't forget to track parameters (eg caching arguments) for reproducibility.

[2021-02-02 04:00] imshashank commented on #517
+1

[2021-02-02 05:35] Siddhant-K-code commented on #470
How to upload the dataset? what all are the required changes we have to do in files to contribute to a new dataset?

[2021-02-02 05:43] AbhinavTuli commented on #470
Hey @Siddhant-K-code! The dataset upload process involves you creating a new self-contained file in which you first define the dataset schema and then upload the items to the dataset.
For reference, you can take a look at [these tutorials](https://github.com/activeloopai/Hub/tree/master/examples/tutorial) and also our [documentation](https://docs.activeloop.ai).
Feel free to ask here or in the sla

[2021-02-02 10:10] edogrigqv2 opened #525 "[BUG] Transform multiprocessing is slower than single-threaded one"
## 🐛🐛 Bug Report
Using transform with "processed" mode is slower than "single"
`https://github.com/activeloopai/Hub/blob/3d3aeaaea7fe7c30636bde34f1060969ade807a5/benchmarks/gradient_health.py`
In the end change "single" to "processed" and compare speeds.

### ⚙️ Environment
Ubuntu, Python 3.8

[2021-02-02 13:03] mynameisvinn commented on #470
One more thing @Siddhant-K-code, we are trying to improve so can you let us know if something isn't clear? That way we can fix it and improve it for everyone else :-)

[2021-02-02 14:26] KrishnaChaitanya1 commented on #516
Hi @mynameisvinn . Can you elaborate a bit?

[2021-02-02 14:46] haiyangdeperci commented on #516
@KrishnaChaitanya1 This is a good start. Whenever you set up an environment for benchmarking there are different conditions that can affect the measured performance. Here (I believe) @mynameisvinn wanted you to parametrize the function that you are profiling. For instance, the `cache` or `storage_cache` arguments could be `False` or `True`, and you should be mindful of both.

[2021-02-02 14:53] mynameisvinn commented on #516
@haiyangdeperci is on top of things per usual

[2021-02-02 14:53] KrishnaChaitanya1 commented on #516
@haiyangdeperci Thanks for the info. So in a sense I should play a bit with the parameters right?

[2021-02-02 15:07] haiyangdeperci commented on #516
@KrishnaChaitanya1 yeah, the idea is that you design the setup in a way that the same function can be run with different parameters

[2021-02-02 15:07] KrishnaChaitanya1 commented on #516
@haiyangdeperci Got It. I will try doing it.

[2021-02-02 15:08] haiyangdeperci commented on #516
Awesome, looking forward to your benchmarks

[2021-02-02 15:28] DebadityaPal commented on #518
I would like to  work on this issue if no one is already working on it

[2021-02-02 15:42] AbhinavTuli commented on #518
Great! Assigning you to it

[2021-02-02 15:56] DebadityaPal commented on #518
@mynameisvinn @AbhinavTuli, so essentially, what we want is TFRecords to be a Hub supported Data Format. Like Hub already has `ClassLabels()` to store labels, should I make a similar class that handles TFRecords?

[2021-02-02 16:10] mynameisvinn commented on #518
@DebadityaPal exactly, we want `TFRecords` to be a first class schema. I believe you're familiar with `TFRecords` while digging through benchmarking :-)

[2021-02-02 16:29] DebadityaPal commented on #518
Yep! I shall get it done

[2021-02-02 18:09] mynameisvinn opened #526 "[FEATURE] Refactoring Dataset Class"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

Currently, [`to_pytorch`](https://github.com/activeloopai/Hub/blob/ccbca366bc83922753a769d607aae9143617a1c5/hub/api/dataset.py#L531) and [`to_tensorflow`](https://github.com/activeloopai/Hub/blob/ccbca366bc83922753a769d607aae9143617a1c5/hub/api/dataset.py#L567) are cont

[2021-02-02 18:56] mynameisvinn opened #527 "[FEATURE] Parameterize testing"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

Improve test coverage by evaluating multiple arguments.

For example, this [function](https://github.com/activeloopai/Hub/blob/ccbca366bc83922753a769d607aae9143617a1c5/hub/schema/tests/test_features.py#L111) tests `float32` (which should throw an exception) but should t

[2021-02-03 08:06] madhucharan commented on #358
Hi,
I would like to know about all the expected tdypes to be included  and any other checks needed for any other format other than the two checks mentioned (for png and jpeg)

[2021-02-03 08:13] AbhinavTuli commented on #358
Hey @madhucharan! All variations of int and float need to be supported. Only the 2 checks for png and jpeg need to be considered for now. Let me know if you're starting on this and I'll assign it to you 🙂

[2021-02-03 08:16] madhucharan commented on #358
Yeah, I am interested in working on this and one more question - the checks are to be added as tests in the test file or as new functions within the same image class.

[2021-02-03 08:36] AbhinavTuli commented on #358
Great! Assigning you now. The checks will be in the same file and need to be called on the initialization of this class. Separate unit tests would need to be created to test out whether the class is working as intended.

[2021-02-03 08:53] madhucharan commented on #358
Ok, Got it. will update accordingly.

[2021-02-03 11:53] mynameisvinn commented on #358
@madhucharan as mentioned by @AbhinavTuli, focus on updating the function first.

I will write the unit tests, which your updated function will need to pass - even I know you just had 10 days of exams ;)

[2021-02-03 12:42] haiyangdeperci opened #529 "[FEATURE] Benchmarking Process Enhancement Plan"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

General plan for contributors to track progress on benchmarks:

- [x] README as specified by #446 @haiyangdeperci
- [ ] variable number of workers in all benchmarks
- [x] standardization of the benchmarks (e.g. merging Tiledb & zarr-related files into one for sequential access, parametrization across all the benchmarks) @D

[2021-02-03 13:18] mynameisvinn commented on #527
adding @drewpotter

[2021-02-04 08:25] oKatanaaa opened #532 "[BUG] Unable to convert COCO to TensorFlow dataset"
Calling `.to_tensorflow()` on any of the COCO datasets yields TypeError. It happens for both TensorFlow 1.x and TensorFlow 2.x.

The problematic code:
[code]

Error message:
[code]

Here is a GoogleColab notebook that reproduces the error:
https://colab.research.google.com/drive/1tnlnqivwfgfL38U1hrCMJEDYLfhXA96-?usp=sharing

[2021-02-04 08:30] haiyangdeperci commented on #532
Hi @oKatanaaa! Thanks for notifying us. I have run through your code and I have noted the issue. I will see what I can do to help you out

[2021-02-04 08:41] haiyangdeperci commented on #532
The issue seems to be in the 'object' key, which is a sequence. As a quick work-around I can provide you with the COCO dataset without a sequence and see if that works. How does that sound?

[2021-02-04 08:48] oKatanaaa commented on #532
Let's try it out. What should I do?

[2021-02-04 08:58] haiyangdeperci commented on #532
@oKatanaaa Great! I am preparing the dataset, I will try to reproduce it without the faulty part. Then, I will provide you with a tag and you will be able to test it out. This may take a moment.

[2021-02-04 09:54] #510 closed

[2021-02-04 13:08] haiyangdeperci commented on #532
@oKatanaaa the dataset without the sequence is ready for you. Just run:
[code]

[2021-02-04 14:49] DebadityaPal commented on #518
I  was working  with TFRecords and I came across a doubt. TFRecords can store multiple key-value pairs inside them and they have a schema of their own. So while implementing TFRecords as a datatype for hub, should I set a constraint to only allow one key-value pair inside each TFRecords object? Or should it be such that a single TFRecords object can store multiple fields?

  Or another option woul

[2021-02-04 15:53] mynameisvinn commented on #518
I don't think we should constrain to a single key value pair. For example, [AudioSet](https://research.google.com/audioset/download.html), a popular dataset, has multiple fields.

Can you show an example of a function that deserializes a `tfrecord`, where there is random access?

[2021-02-04 16:25] DebadityaPal commented on #518
I don't have much experience working with TFRecords, so the way I  usually deserialize it is I create a dataset object from the tfrecords file and use a parsing function.

[code]

Something like this.

[2021-02-04 17:28] oKatanaaa commented on #532
Yeah, this one works good. Thanks a lot!

[2021-02-04 17:34] haiyangdeperci commented on #532
Great, glad to be of use ;) I assume these datasets need a general overhaul and we will probably do that in the future at once. @mynameisvinn

[2021-02-04 17:34] #532 closed

[2021-02-04 17:54] mynameisvinn commented on #532
@haiyangdeperci yes, the dataset technical debt is accruing :-(

[2021-02-05 12:11] DebadityaPal commented on #518
We might have a problem ahead. Currently, after the TF 2.0 update, The TFRecordReaders have been deprecated and the recommended way to read TFRecord files is by using the `TFRecordDataset` class in the `tf.data ` API. Upon reading a bit, I found out that TensorFlow datasets might not support random access. This might cause a conflict with the way hub works right now.

[2021-02-05 12:21] haiyangdeperci commented on #518
@DebadityaPal That's really unfortunate. I think we have already had issues with TF 2.4 compliance. When did TFRecordReaders become deprecated? Was it before TF 2.3.1? @mynameisvinn will probably help you here

[2021-02-05 15:36] DebadityaPal commented on #518
In their docs, I have found the TFRecords Reader twice.
1. `tf.compat.v1.TFRecordsReader` : Problem with this is it is deprecated in all versions  of TF 2. Does not support eager execution.
2. `tf.raw_ops.TFRecordsReader` : Couldn't find proper documentation for this, really hard to read and properly understand its current docs as not much is written, also does not support eager execution.

[2021-02-06 12:17] mynameisvinn opened #536 "[FEATURE] Hub + Hugging Face Tutorial"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`
Along with computer vision, there is significant interest in NLP from the Hub community, particularly around transformers like BERT.

### Description of the possible solution
End to end tutorial with a small dataset such as CoLA.

[2021-02-06 12:27] DebadityaPal commented on #536
[This Google Colab Notebook
](https://colab.research.google.com/drive/11OHo8aHFY-3nyF1CTcFrqjc9EjHrjVW3?usp=sharing
) is my attempt at creating the tutorial using the CoLA dataset. Suggestions from the community are highly welcome

[2021-02-06 12:48] drewpotter opened #537 "[BUG] NotHubDatasetToOverwriteException on docker compose locally"
## 🐛🐛 Bug Report
When running docker compose locally, an exception is raised:
`hub.exceptions.NotHubDatasetToOverwriteException: Unable to overwrite the dataset. `

### ⚗️ Current Behavior
When I run `docker-compose up` I get some error messages. However, I should state that some of the tests do run!

[code]

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A c

[2021-02-06 15:03] mynameisvinn commented on #536
@DebadityaPal is it possible to use Hub's tokenizer (rather than tokenizing separately)?

[code]

[2021-02-06 15:27] DebadityaPal commented on #536
Alright, I'll try to incorporate that

[2021-02-06 18:56] DebadityaPal commented on #536
@mynameisvinn can I use Hub's tokenizer with the existing CoLA dataset? Whenever I use it, hub thinks I want to create a new dataset, however, I just want to fetch a dataset. Is that possible?

[2021-02-06 21:59] mynameisvinn commented on #536
Interesting. For the time being, can you apply a transform (ie tokenizing) to the existing `hub.Dataset` object? (Ping me if you get stuck.)

Looping in @AbhinavTuli, who would have an opinion on tokenizing existing datasets.

[2021-02-06 22:01] mynameisvinn commented on #537
Hey @drewpotter, I'm having a hard time reproducing this error. Give me some time and I will get back to you.

[2021-02-07 00:07] davidbuniat commented on #537
@drewpotter you are doing all right. I have been able to reproduce the error, it fails on a test due because of a packability error as shown in your log.

If you want to run Hub inside docker you can just
[code]

then feel free to start a python program and import hub
[code]

Still, packability should be resolved. Adding @edogrigqv2 to this thread.

[2021-02-08 12:03] drewpotter commented on #537
Many thanks @davidbuniat I will try this out!

[2021-02-08 15:33] mynameisvinn commented on #536
This looks really good. By the way, there should be some preprocessing steps to remove special characters (such as &amp, @) when working with BERT.

[2021-02-08 17:36] haiyangdeperci commented on #516
@KrishnaChaitanya1 Could you give us an update on this task? Let us know if you need help.

[2021-02-08 18:28] DebadityaPal commented on #536
I think huggingface transformers now support special tokens because I tried passing some into the tokenizer and the tokenizer mapped them to token ids without error. On decoding those token ids I got the special characters back.

[2021-02-09 12:32] mynameisvinn commented on #536
@DebadityaPal This looks great. Do you mind converting this into a jupyter notebook and putting it in [examples](https://github.com/activeloopai/Hub/tree/master/examples)? Submit the PR and I'll merge :)

[2021-02-09 12:59] KrishnaChaitanya1 commented on #516
Hi @haiyangdeperci . I was busy the last week. Didnt find time to work on this. I will make some progress this week.

[2021-02-09 13:07] #536 closed

[2021-02-09 13:16] haiyangdeperci commented on #516
No worries, I was just checking what the status is :+1: Please take your time. If you happen to be free tomorrow, please join our benchmarking group call.

[2021-02-10 08:19] mikayelh commented on #393
Heya @sohamsshah , are you going to take over this task?

[2021-02-10 08:23] sohamsshah commented on #393
Yes, hopefully ☺️

[2021-02-10 08:33] mikayelh commented on #393
Supercool, thank you. Keep us posted in #documentation channel in Slack.

[2021-02-10 09:48] drewpotter commented on #527
I think I had a moment of clarity on this. It kind of just clicked after reading `Python Testing with pytest`

[code]
test_image_inputs = ["uint16", "uint32", "int16", "float32"]

@pytest.mark.parametrize('test_image', test_image_inputs)

def test_image(test_image):
    with pytest.raises(ValueError):
        image = Image((1920, 1080, 3), test_image)
[code]

Please advise if I am on the right tra

[2021-02-10 09:57] haiyangdeperci commented on #527
@drewpotter this is a great start and it already shows the importance of parametrized testing with the failing case. @mynameisvinn will definitely help you out here

[2021-02-10 11:42] DebadityaPal commented on #526
I would like to start contributing to this issue.
After the functions have been moved out to a separate file, how should I link the two? Would the integrations form a different class or should I import them in dataset.py and replace the definitions with the appropriate function calls?

[2021-02-10 11:44] DebadityaPal commented on #497
@AbhinavTuli should I close this issue?

[2021-02-10 12:28] #416 closed

[2021-02-10 12:36] #497 closed, assigned to nobody

[2021-02-10 14:45] drewpotter commented on #527
It is very curious, I get passed tests for all except `uint8` and `uint16` from the following, note that both double and float64 pass:
[code]

[code]

[2021-02-10 14:47] AbhinavTuli commented on #527
@drewpotter this seems to be because currently images support only uint8 and uint16 (due to compression reasons) and other formats raise value error

[2021-02-10 15:04] drewpotter commented on #527
Many thanks @AbhinavTuli, should I try to use compression for those formats within the test?

[2021-02-10 15:06] AbhinavTuli commented on #527
@drewpotter image compression has been implemented but it isn't used currently while storing images, so you can skip it for now 🙂

[2021-02-10 15:16] drewpotter commented on #527
Cool thanks. I am just about to submit a PR for this. Just checking the guidelines once again!

[2021-02-11 02:13] mynameisvinn commented on #518
I went through the TF documentation and found it unhelpful too. I prefer moving forward with >=TF 2.0 so we're not wasting time solving compatibility issues.

[2021-02-11 05:21] sohamsshah commented on #113
@mikayelh This has been added. Can close this issue :)

[2021-02-11 17:38] haiyangdeperci commented on #446
Resolved by #550

[2021-02-11 17:38] #446 closed

[2021-02-11 20:30] haiyangdeperci commented on #520
Hi @madhucharan! Are you having troubles with this issue?

[2021-02-12 02:00] madhucharan commented on #520
Hi @haiyangdeperci .Sorry, Currently working on two other issues at once since they are interlinked. But Will surely continue here once they are done. Within a day or two!

[2021-02-12 02:01] mynameisvinn commented on #537
@drewpotter Were you able to get this to work?

[2021-02-12 05:50] drewpotter commented on #537
These instructions provided by @davidbuniat enabled me to do some work on Hub with no problems!! I still get that same error when doing `docker-compose up` but it's not such a problem due to the steps above.

[2021-02-12 08:12] haiyangdeperci commented on #520
Great! No worries, I was just checking in :walking: :grin:

[2021-02-12 13:38] KrishnaChaitanya1 commented on #516
Hi @haiyangdeperci . Here are some screenshots. The first one is using Hub and the second one is using tensorflow. Loaded Cifar100 on both. Check and let me know if this helps
![Sho1](https://user-images.githubusercontent.com/18368405/107774948-b3c3a500-6d65-11eb-9ab7-379aac3344df.png)
![Shot2](https://user-images.githubusercontent.com/18368405/107774956-b625ff00-6d65-11eb-9217-407f1913e9a3.png)

[2021-02-12 13:45] haiyangdeperci commented on #516
Hi, thanks for helping us out. I would suggest defining parameters as variables instead of just duplicating lines. Also, in this case you should control for `cache` and `storage_cache` separately.

[2021-02-12 13:56] KrishnaChaitanya1 commented on #516
@haiyangdeperci . Sure I will try changing them to variables. Control for `cache` and `storage_cache` in the sense, I should use them separately right and not together

[2021-02-12 14:47] haiyangdeperci commented on #516
@KrishnaChaitanya1 correct! Sorry if I was not precise enough

[2021-02-14 10:21] mikayelh commented on #113
Thanks a lot, @sohamsshah, closing this issue! :) You're a rockstar for contributing. :)

[2021-02-14 10:21] #113 closed

[2021-02-14 14:19] KrishnaChaitanya1 commented on #516
Hi @haiyangdeperci . I modified the code to variables. Tested only for `cache`. Also added basic system information for flavor. Let me know if I should make any improvements.
![shot1](https://user-images.githubusercontent.com/18368405/107879244-bf49d400-6efd-11eb-9978-f0352e70301a.png)

[2021-02-15 14:43] madhucharan commented on #527
The current problem with this issue is when there is no support for other dtypes, It has been created and checked for errors if any other dtype is passed other than uint8,uint16. The PR is [here](https://github.com/activeloopai/Hub/pull/552). Now I have included support for all float and integer variants, We probably need to update the test cases to check the int and float variant tests and raise

[2021-02-16 01:36] sparkingdark commented on #490
@mynameisvinn @davidbuniat after finishing from CSV I will start working on this.

[2021-02-16 01:40] sparkingdark commented on #329
@haiyangdeperci definitely I will let you know.

[2021-02-16 12:11] mynameisvinn opened #560 "[FEATURE] Changelog"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Work closely with the core dev team (particularly @haiyangdeperci and @AbhinavTuli) to create and organize a changelog for each release. For example, this is the most recent update:

[code]

### If your feature will impr

[2021-02-16 13:29] mynameisvinn commented on #526
Let's discuss. To start, the [Dataset](https://github.com/activeloopai/Hub/blob/master/hub/api/dataset.py) class is way too heavy. Normally the correct way is to split into a base class and a subclass. But, in this case, that is too much of an overhaul.

In the meantime, a refactor could look like this:
[code]
Then dataset.py imports:
[code]
Not the ideal solution but it'd work until someone can c

[2021-02-16 14:26] AbhinavTuli commented on #560
If we could automate this process then it would be even better 😄

[2021-02-16 14:37] mynameisvinn commented on #527
thanks @madhucharan! Is there anything else you think we should consider?

[2021-02-16 14:41] madhucharan commented on #527
I think this should go fine.please let me know if you any help is needed to develop the same.

[2021-02-16 14:47] mynameisvinn opened #563 "[FEATURE] Integration with SageMaker"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Include functionality that allows SageMaker to ingest data from Hub.

### If your feature will improve `HUB`
SageMaker can easily fetch data from local filesystems and s3. By building an interface for SageMaker, we tie H

[2021-02-16 17:35] KrishnaChaitanya1 commented on #563
@mynameisvinn . I am interested to contribute in this. I already good knowledge on AWS services. Looking to expand in the ML area of AWS

[2021-02-16 17:45] Anselmoo opened #564 "[FEATURE] Automatic Release Drafter"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

`Hub` is an extended community with a big effort for improvement and bug fixing. Counting and evaluate all the PRs and Issues manually can be very exhausting and time-consuming.

Therefore, an automatic release drafter might make sense??

[https://github.com/marketplace/ac

[2021-02-16 18:52] mynameisvinn commented on #564
thanks @Anselmoo, am looking into this. (I haven't used this before.)

[2021-02-16 18:55] mynameisvinn commented on #563
Sounds good @KrishnaChaitanya1, adding you! Let me scope it out better and we can get started.

[2021-02-16 20:44] jeblad commented on #365
Static code analysis, good, I like that!

[2021-02-16 20:48] jeblad commented on #313
Piece wise uploading from checkpoints, good, I can like that!

I previously had to use a rather slow ADSL line, and often run into similar problems because the line went down midway in a transfer. Use of checkpoints is a very good idea!

[2021-02-16 22:01] jeblad commented on #307
It is very wise to add license to the dataset itself. Also, license should refer to a standard license with no additional text if possible, but note that some licenses assume additional clauses like [Creative Commons by Attribution Share-Alike](https://creativecommons.org/licenses/by-sa/1.0/). There is a [SPDX License List](https://spdx.org/licenses/) of open standard tags for such licenses, it co

[2021-02-16 22:05] mynameisvinn commented on #307
@jeblad is this something you could help us with?

[2021-02-16 22:06] mynameisvinn commented on #313
@jeblad are you aware of any python libraries for fault tolerant streaming over sockets?

[2021-02-16 22:35] jeblad commented on #236
Please clarify if there is (or will be) a supported version 0 format, and what this will be.

[2021-02-16 22:54] jeblad opened #566 "[FEATURE] Minimum documentation for Docker"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

A minimum documentation for Docker, with link to an official image. (Seems like there are both a `Dockerfile` and a `docker-compose.yaml` file, but not sure what is uploaded to Docker Hub?.)

Note that [Official Images on Docker Hub](https://docs.docker.com/docker-hub/o

[2021-02-16 23:00] jeblad opened #567 "[FEATURE] Refactor docker-setup"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

Move the docker setup to a separate repository.  Moving this outside core makes cleaner code.

Keeping docker-setup inside the core code, then adding a number of other similar systems like Vagrant, will over time create a mess. Better move them out. It also makes bug-tr

[2021-02-16 23:19] mynameisvinn commented on #567
Good hygiene!

[2021-02-16 23:32] jeblad opened #568 "[FEATURE] “Labels” are not labels, but categories"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

This is somewhat controversial in ML-discussions, but I believe it is important. “Labels” are referring phrases that identify something. They are not in any way wetted, they are free text. When someone refers to a photo of me they may use “John”, “John Blad”, “John Erli

[2021-02-16 23:45] jeblad opened #569 "[FEATURE] Lock split in test and training with a “salt” argument"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

In some cases you want to try out a specific learning algorithm, and you want to lock (or fix) the split in test and training, so it can be verified at a later time. When you have locked the split all samples extracted for training and test should be exactly the same, g

[2021-02-16 23:59] jeblad opened #570 "[FEATURE] Web login should use 2fa"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

Given the present situation on the web, I believe all websites that try to provide “trustworthy” services should use 2fa or Mfa. Some 2fa (as minimum) solution should be implemented, like Time-based One-time Password and/or HMAC-based One-time Password. Use something re

[2021-02-17 00:06] jeblad opened #571 "[FEATURE] File transfer from command line should use SSH"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

If possible any file transfer initiated from the command line should use SSH. Full shell access are probably not necessary, but perhaps SCP. With credentials available (in .ssh) it should not be necessary to give a password from the command line.

The public key must be

[2021-02-17 00:15] jeblad opened #572 "[FEATURE] Expose commit ids and/or tags for specific commits"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

To make results reproducible, when datasets can be updated, it must be possible to either download specific commit ids or commits must be tagged. If commits are tagged, then there must be some way to verify if the tag is moved from one commit to another. I believe the b

[2021-02-17 00:16] lkafle opened #573 "[BUG] Could not upload Image Data as shown in example to my activeloop account"
An error occurred (AccessDenied) when calling the PutObject operation: User: arn:aws:sts::100000070732:assumed-role/hyper-assumerole/public is not authorized to perform: s3:PutObject on resource: arn:aws:s3:::snark-hub/public/lkafle/lkaflehub/meta.json
An error occurred (AccessDenied) when calling the PutObject operation: User: arn:aws:sts::100000070732:assumed-role/hyper-assumerole/public is not

[2021-02-17 00:22] jeblad opened #574 "[FEATURE] Signed download"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

The dataset as downloaded should be signed. This makes it possible to download a adataset as-is and then do local modifications, yet still be able to say that “this was what I got”.

Especially when you do some kind of processing on the server this could be important. I

[2021-02-17 00:27] davidbuniat commented on #574
This is great feature request @jeblad! We have recently introduced versioning in the alpha of the next release, please [docs](https://docs.activeloop.ai/en/release-v1.3.0/concepts/versioning.html). Do you think this solves the problem or you would prefer to have more explicit signature on the data than versioning with commits?

[2021-02-17 00:29] jeblad opened #575 "[FEATURE] Official normalizations"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

To be able to compare algorithms it is important that the data itself has gone through well-defined and reproducible normalization. Such normalization borders on feature processing, and exactly where to draw the line is difficult. The important thing is to avoid any var

[2021-02-17 00:29] davidbuniat commented on #573
@lkafle thanks for reporting the issue, if you could follow up the templates provided that would be easier to follow through. Quick question, can you try `hub login` and only then run the script. It could be that you are not authenticated (however definitely we need an exception improvement).

[2021-02-17 00:32] davidbuniat commented on #572
@jeblad added comment in the https://github.com/activeloopai/Hub/issues/573  regarding [versioning](https://docs.activeloop.ai/en/release-v1.3.0/concepts/versioning.html ) in 1.3.0a. Just curious have you already tried versioning and you prefer to have additional information re ids/tags is enough?
[code]

[2021-02-17 00:33] davidbuniat commented on #571
@jeblad We are directly using S3 API for uploading the data to the cloud. Do you need additional ssh/scp based backend storage for storing files on a remote machine?

[2021-02-17 00:35] davidbuniat commented on #570
Completely agree on this side. Currently the username/password is not stored. They are used for authenticating a session token. However, even so username/password should be removed.

[2021-02-17 00:37] davidbuniat commented on #569
@jeblad we have on the roadmap the split functionality, but curious to learn more about salts and how would you see using filters. Can you show an example code?

[2021-02-17 00:39] davidbuniat commented on #568
Tensor names in datasets are in free form. Do you think restricting the usage of key name "label" for the label tensor itself?

[2021-02-17 00:40] jeblad commented on #572
Seems like you guys already exposes commit ids and even have branches… Good!

I guess there are several features I haven't found, pretty new to the site. Just typing down what seems to be missing.

[2021-02-17 00:49] jeblad commented on #572
Seems done, so closing. (My fault, didn't find the correct doc!)

[2021-02-17 00:49] #572 closed

[2021-02-17 00:50] davidbuniat commented on #572
@jeblad thanks a lot! we need to put down all the features in the docs more vivid! This feedback is very useful!

[2021-02-17 00:52] lkafle commented on #573
Thanks @davidbuniat it worked me closing yes but error should have clearly said not logged in instead of ..
Please log in using Activeloop credentials. You can register at https://app.activeloop.ai
Username: lkafle
Password:
Login Successful.
lava@ubuntu:~/py_projects/hubproj$ sudo python3 hubcom.py
lava@ubuntu:~/py_projects/hubproj$

[2021-02-17 00:53] lkafle commented on #573
thanks after hub login it worked and me see my uploaded data in https://app.activeloop.ai/datasets/personal

[2021-02-17 00:59] davidbuniat commented on #573
Thats great! Agree, @lkafle lets keep this issue open until we fix the error.

[2021-02-17 01:13] jeblad commented on #571
Hm, … a somewhat swift generalization on the `hub` command on my part…

[2021-02-17 01:13] #571 closed

[2021-02-17 01:56] jeblad commented on #569
How to implement it depends on whether the order of the chunks will change (it probably will), the content of the chunks can change (it probably won't), and the samples have ids themselves. I guess I would go for the simpler solution and use the provided salt and create a new one with the commit id and chunk id. Then I would draw whether to include a specific sample from the given chunk. (This wil

[2021-02-17 01:59] davidbuniat commented on #569
gotcha! @AbhinavTuli what do you think?

[2021-02-17 02:06] jeblad commented on #570
Not sure if I understand you, but a 2fa auth is typically done with a password and an authenticator, not the authenticator alone. Also when I write web login I was thinking about the https://app.activeloop.ai site.

S3 has support for Mfa, so in the lib it should be fairly easy to allow use of additional tokens.

When you use 2fa (or Mfa) it is common to drop passwords and use simple pin-codes ins

[2021-02-17 02:14] jeblad commented on #568
Yes, labels are free form, but still they are indexed as if they are categories. After doing some (a lot) cleanup of RDF data, I always balk when someone refers to labels as categories. You can do some kinds of automatic cleanup, like capitalization and white space squashing, but are “Jeblad” and “John Blad” the same guy?

My reoccuring tantrum is that what we call things do matter for how we inte

[2021-02-17 02:25] jeblad commented on #574
I believe versioning of the data as it sits on the server is one thing, but the processing (the pipeline) before it is provided to the ML-library is another thing. The transcript (the pipeline log) can refer to a specific commit of data, and that would be sufficient if the store is deemed trustworthy.

Assume a hostile break-in and someone corrupts the data, how can a user down-stream observe that

[2021-02-17 02:28] dhiganthrao commented on #560
Hey! If it's fine with you, I'd like to be assigned to this issue. I feel that this would be a good opportunity to get to know how Hub works, and hopefully contribute to other issues as well that are a bit more advanced. Thank you!

[2021-02-17 05:07] AbhinavTuli commented on #569
@jeblad your solution looks interesting. A couple of points from my side:-
1. Choosing certain samples from a chunk and discarding the rest could be a little wasteful as the entire chunk would still be retrieved. While that is what happens after filtering, ideally we should further store the output of the filter as a separate dataset itself if we want to train on it efficiently. (Storing it would

[2021-02-17 05:57] sparkingdark commented on #573
Assign @davidbuniat

[2021-02-17 12:00] mynameisvinn commented on #574
@jeblad I've thought about signed downloads for fluid, updated datasets too, perhaps a simple md5 or sha1 would suffice. Do you have any good suggestions on how to efficiently hash datasets?

[2021-02-17 18:17] KrishnaChaitanya1 commented on #563
Hi @mynameisvinn . I have couple of doubts regarding this.

Firstly, where does the scope of Hub end. Like using boto3 to move the dataset from Hub to S3 and then to SageMaker or are you thinking something else?

Secondly, this is a noob question. Are we trying to use SageMaker in training model as well? I think this doesn't make sense as it doesnt work for all the end users right?
Lastly, since w

[2021-02-17 21:48] jeblad commented on #575
Typically, a numeric value might be spread over a logarithmic scale, and the value used as a one-hot (or a few hots) cell in a vector. In a few hot encoding a few vector cells would contain a coarse encoded value, such that the sum of the cells approach a more correct value than a single one-hot cell.

Values in an image might be log-compressed and perhaps passed through a sobel filter. It might a

[2021-02-17 22:09] jeblad commented on #574
I was thinking signed by the uploader, but I'm not quite sure how to do that in your code.

If you (aka Activeloop) creates (split out) the chunks, then you (aka Activeloop) must sign the chunks. If one and the same party is doing the signing, then a hash would be nearly the same (!) but note that a full signature makes it possible to verify that you (Activeloop) in fact did sign the chunk. (It pr

[2021-02-17 22:28] jeblad commented on #569
1. Don't take my rough sketch as any advice on how to store the down-filtered chunks! =)
2. Most storage engines don't retain order for blobs unless you somehow force it to do so. I don't have enough knowledge about your solution on that point. Recreating a salt for a specific chunk seems to be a low-cost operation, so I would guess the cost of making the code a bit more solid is worth it.
3. If y

[2021-02-17 22:40] jeblad opened #580 "[FEATURE] Europeana datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

It could be interesting to create some datasets from the [Europeana collection](https://pro.europeana.eu/). I have some knowledge about the technical structure, but please note that those collections are HUGE!

It might be possible to create something similar to “fashio

[2021-02-18 02:25] mynameisvinn commented on #580
Hey @jeblad thanks for the suggestion. I have not heard about Europeana before and will check it out. Would you be interested in working together to create a tutorial for the community using this dataset?

[2021-02-18 02:26] mynameisvinn commented on #575
Thanks @jeblad! This is an interesting suggestion. Have you run into this issue when you use Hub for your data pipelines?

[2021-02-18 04:04] shantanuo opened #581 "Download the sample .csv file"
I tried the "Uploading Dataframes" notebook found in examples folder.

https://github.com/activeloopai/Hub/blob/master/examples/tutorial/Tutorial%201b%20-%20Uploading%20Dataframes.ipynb

I get an error on the very first line. From where do I download the csv file?
[code]

[2021-02-18 05:39] AbhinavTuli commented on #581
@mynameisvinn should be able to help you out with that.
In the meantime, feel free to try out the tutorial with any other csv file you might have 😄

[2021-02-18 06:19] dhiganthrao commented on #560
@mynameisvinn thoughts? Sorry for seeming pushy.

[2021-02-18 08:56] AbhinavTuli commented on #560
@dhiganthrao thanks for your interest, it's not at all pushy, we're always happy to see enthusiastic contributors! I think this issue might get obsolete once #565 gets merged. We need some help making our docs better, would you be interested in that instead?

[2021-02-18 10:19] dhiganthrao commented on #560
@AbhinavTuli sure! Sounds like a good thing to start off with.

[2021-02-18 10:31] AbhinavTuli commented on #560
Awesome! You can join our [slack community ](http://slack.activeloop.ai/), there we have a separate channel dedicated to docs that you can join.

[2021-02-18 12:03] jeblad commented on #580
It is the Norwegian part I know best, as it was my responsibility when I worked for the Norwegian Culture Council.
I was thinking about trying to extract a training set from it and upload that to learn myself how to use Activeloop.

Previously entries in the collections had only localized labels and descriptions, so some kind of translation must be implemented. That is probably the biggest problem

[2021-02-18 12:16] Grrr1Want2 opened #582 "Data"

[2021-02-18 12:42] haiyangdeperci commented on #582
HI @Grrr1Want2, I think you opened this issue by mistake. Let me know if it is not the case :wink:

[2021-02-18 12:42] #582 closed

[2021-02-18 12:44] mynameisvinn commented on #560
Not pushy at all @dhiganthrao ... I love the initiative! I'll find you something good to work on :)

[2021-02-18 12:45] mynameisvinn commented on #581
@shantanuo I will fix this and get right back to you!

[2021-02-18 12:47] mynameisvinn commented on #580
I think that's a great way to get acquainted with Hub :) Let me know if you run into any issues.

[2021-02-18 12:57] axc888 commented on #335
@mynameisvinn wanted to understand in our current documentation do we have a separate tutorial section?
If it is then I think this feature talks about adding a link to both Colab(ipynb) and github(.py) for a particular tutorial.
We can have a converter that can convert python to ipynb file and vice versa but that would require writing tutorials in a specific format so that the script can understan

[2021-02-18 12:59] mynameisvinn commented on #513
@AbhinavTuli is this feature request related to your train/test split functionality?

[2021-02-18 13:06] mynameisvinn commented on #335
@axc888 we do have a separate tutorials folder, [here](https://github.com/activeloopai/hub)!

Have you run into this problem while learning Hub? If so, we can work together to resolve it :)

[2021-02-18 13:27] bittlingmayer commented on #580
What happens if you don't translate anything?  Trained models will just learn the full mix of labels, correct?

[2021-02-18 16:19] mynameisvinn opened #586 "[FEATURE] Designing hashing techniques to efficiently compare large scale, out of core machine learning datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Machine learning datasets are often continuously modified yet there is no efficient way to determine if two datasets are the same (aside from changelogs, which are not always available). This challenge becomes especially

[2021-02-18 17:38] stanbiryukov opened #587 "[FEATURE] xarray integration + support for multidimensional arrays"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

Add support for multidimensional arrays. A typical usage pattern is weather or climate data where the variables are feature arrays by latitude, longitude, time, and pressure level. Building on xarray's `Dataset.to_zarr` method with a compatible Hub array storage schema

[2021-02-18 21:39] brilhana opened #588 "[FEATURE] New Dataset Required: One Billion Word Dataset"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

N/A.

### If your feature will improve `HUB`

It's currently very tedious to download the One Billion World Dataset (9.9 GB zipped) as it seems to be only available on http://statmt.org/wmt11/training-monolingual.tgz.

[2021-02-18 21:49] mynameisvinn commented on #588
Thanks @brilhana! someone from our team will look into this. How are you currently using Hub? Any feedback is deeply appreciated :)

[2021-02-18 21:53] mynameisvinn commented on #587
Thanks @stanbiryukov! I'll work with the engineering team and to get this feature developed. Just so I can be effective, can you let me know how you're currently using Hub?

[2021-02-18 22:00] jeblad commented on #580
A label “[mangletre](https://digitaltmuseum.no/search/?q=mangletre)” for a Norwegian sample would be “manglebræt” for a Danish sample, “manglebräde” in a Swedish sample, “Trafakefli” in an Islandic sample, and “Kaulauslauta” in a Finnish sample. There isn't anything that connects those samples and identifies them as thec same. (Well, we can do it by translating by using a controlled vocabulary, bu

[2021-02-18 22:04] jeblad commented on #580
I've asked The National Museum of Art, Architecture and Design in Norway if we could use their catalogs for building datasets for style transfer and forgery detection. It is easier to do the discussion with them, and later add in other museums. Part of the collection is available in Europeana, but as I recall it isn't “clean”. That is, it is art, it is always messy.

[2021-02-18 22:28] mynameisvinn commented on #580
Sounds good, lets hope they respond positively!

[2021-02-18 22:38] stanbiryukov commented on #587
Hi @mynameisvinn - currently I've explored using the `schema.BBox` and `schema.Tensor` to store some flat 2D geospatial arrays. Support for multidimensional arrays would be great. It looks like there are some feature requests on the roadmap that might be complementary here (ie zarr grouping, and storing binary data like HDF5). The netCDF-like data access pattern would be useful to think through.

[2021-02-18 22:48] mynameisvinn commented on #587
Yep good to know! How big is your geospatial dataset? (I'm trying to get a sense of how users deal with small/big datasets.)

[2021-02-18 23:05] stanbiryukov commented on #587
Typically too big to fit into memory :) a good example is ERA5 climate reanalysis data, where the various climate variables are gridded by .25 x .25 lat lon with 24 hours of data and 37 pressure layers. Xarray's `to_zarr`/`from_zarr` enables nice appending methods and lazy loading of these types of arrays with the appropriate metadata. Leveraging Hub's api would be great for these types of dataset

[2021-02-18 23:06] mynameisvinn commented on #587
i LOVE your use case. Can we spend chat for 10 min next week?

[2021-02-18 23:07] #526 closed

[2021-02-18 23:19] stanbiryukov commented on #587
Sounds great! I'll reach out via slack

[2021-02-19 00:33] jeblad commented on #575
I observed this as a bug a long time ago when the sampling frequency of one signal was a little off from what it was said to be, and that interfered with another signal, creating oscillations.

It is not so much for avoiding bugs (like instability) as it is for reproducibility. Someone publishes a paper, and you want to reproduce it to verify the results. If the paper use a log-transform on 4-bit

[2021-02-19 00:47] jeblad opened #589 "[FEATURE] Metadata for each sample"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [ ] A new implementation (Improvement, Extension)

In some cases, in particular when the samples are work of art, they must each have associated metadata. This could contain creator, year, name of artwork, and license. In some countries this is written out in law, even if some provisions exist to list the metadata elsew

[2021-02-19 04:38] davidbuniat commented on #589
You can assign metadata per sample as a separate tensor with type of text.

e.g. if you have in your case
[code]

For dataset metadata we have an option for adding the data into `meta.json`, however we don't publicly expose it as a function, do you think that would be useful?

[2021-02-19 06:10] dhiganthrao commented on #560
@mynameisvinn thank you! Will do my best.

[2021-02-19 13:47] Rishab26 opened #593 "[Develop Federated datasets on Hub data]"
## 🚨🚨 Feature Request

Hub could possibly have many datasets set under the private tag(Cannot be seen to other users). Developing a FL Feature enables users to utilise private datasets already loaded in the hub under Federated settings to train models.

Since Hub is great for data management - a natural progression would be to be able to build federated datasets at the beginning.

In my humble opi

[2021-02-19 14:44] mynameisvinn commented on #593
hi @Rishab26 since this would be a new use case, could you demonstrate a hypothetical workflow?

Using your example, why would someone do `hub.load_federated_dataset(mnist)`? `hub.Dataset` consolidates data into a single object, even if it comes from disparate sources.

(I'm trying to understand if Hub could actually be valuable to users.)

[2021-02-19 15:29] benchislett commented on #586
Ideas:

- Lazy-load the hashing. Run the whole thing as an iterative process from the beginning of the desired comparison targets. This will work well if we do not expect many comparisons to come back true, but will be pretty slow if we get many hits. This also assumes that two identical datasets that have been shuffled are not equivalent.
- Hash once, and re-hash only updated slices. There's a pr

[2021-02-19 15:51] mynameisvinn commented on #586
@benchislett I really enjoy thinking about this problem (especially since it is widespread) so let's dig into this.

1. Yep, a single pass through the dataset eg comparing two lists. O(N) complexity. However, the problem occurs if there is random shuffling. Two datasets, one with [A,B,C] and the other [A,C,B] should produce identical hashes.
2. This solution is an improvement over the first, since

[2021-02-19 16:01] benchislett commented on #586
Bloom filters might work, but I worry about false positives. Something tells me that this is a solved problem, so I'll do some more digging.

[2021-02-19 16:05] benchislett commented on #586
Come to think of it, one of my profs specializes in this sort of thing. She might have some helpful ideas... stay tuned

[2021-02-19 16:50] Rishab26 commented on #593
Hi @mynameisvinn ,

As Hub expands to more users, groups and companies -

I anticipate there would be a lot more users uploading their datasets to the Hub privately as well.

With FL, we can leverage these datasets as well since it preserves privacy but at the same time enables developers to train their models on these datasets. ( I came across a case where a startup in India were looking for an a

[2021-02-19 18:11] mynameisvinn commented on #593
@Rishab26 I think I understand the line of thinking, but private datasets are not accessible to third parties, _even if they use privacy preserving techniques_.

Are there any other potential use cases you can think of?

[2021-02-19 20:35] Anselmoo opened #595 "[FEATURE] Adding pytest and coverage to Github action"
## 🚨🚨 Feature Request: Adding pytest and coverage to Github action

- [x] Issue #371

### Is your feature request related to a problem?

Adding pytest & coverage to all python versions and platforms in [GitHub Action](https://github.com/activeloopai/Hub/tree/master/.github/workflows) .

### If your feature will improve `HUB`

Increase stability and performance in the long term

[2021-02-19 20:36] #371 closed

[2021-02-19 20:42] Anselmoo opened #596 "Adding python 3.9 to the GitHub Action workflow"
## 🚨🚨 Feature Request Adding python 3.9 to the GitHub Action workflow

- [x] Issue #371

### Is your feature request related to a problem?

Adding python 3.9 to the GitHub Action workflow

### If your feature will improve `HUB`

Python version 3.9 becomes sooner or later the standard workhorse, so it should be included to cover also this version as well.

[2021-02-19 22:02] Anselmoo opened #597 "[BUG] release-drafter not finding config file because of typo"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
The release drafter should automatically find the PRs, but it doesn't work due to the wrong spelling of the config file:

* `release_drafter.yml` has to become `release-drafter.yml`

[2021-02-19 22:10] Anselmoo opened #599 "[FEATURE] GitHub Action pipeline should get a dependency"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

The GitHub Action pipeline should get an internal dependency so if the `test` fails, `test_with_optional `will not start

### If your feature will improve `HUB`

If `test` fails there is no need to extend the test. This will save resources for other parallel running PRs.

### Description of the possible solution

Adding

[

[2021-02-20 02:02] qizhen816 opened #603 "Local dataset server like MinIO [FEATURE]"
## 🚨🚨 Feature Request

- [x] Related to an existing [Issue](../../../issues)

### Is your feature request related to a problem?

In my environment, there are multiple local servers storing data and training models. To properly manage data, I wanna isolate one machine and start a data server like MinIO. Unfortunately HUB can only store data locally, or upload to S3, Google and Azure. Is there a pla

[2021-02-20 10:37] subhamagarwal624 commented on #597
i would like to solve the bug ?

[2021-02-20 12:26] KrishnaChaitanya1 commented on #563
Hey @mynameisvinn . Any thoughts on this?

[2021-02-20 12:35] mynameisvinn commented on #563
1. Moving data from Hub to S3 is not feasible. An alternative approach could be rewriting SageMaker's SDK so it can read from Hub (although this would be a major initiative). Another approach could be making this available only when S3 is used as a storage option for Hub. What do you think?
2. No, we should not take an opinion on the ML training workflow.
3. I have not worked with Kinesis before,

[2021-02-20 12:37] mynameisvinn commented on #597
Yes @subhamagarwal624 please help!

[2021-02-20 12:42] mynameisvinn commented on #603
You could try using a local tag (eg `tag = "./local_dir"`), which tells Hub to work with the local machine.

I know it doesn't directly answer your question, but I have not tried out Hub + MinIO. @AbhinavTuli might be able to help.

[2021-02-20 13:17] KrishnaChaitanya1 commented on #563
I think we can try rewriting SageMaker SDK, although it might take a lot of time. The alternate approach makes a lot of sense.

Regarding the Kinesis, even I have not worked on that but I do know some basics. I thought why cant we expand the Hub functionalities for streaming data as well. I was thinking while writing this that it doesn't work out because, Streaming data needs a sink something Kine

[2021-02-20 13:22] mynameisvinn commented on #563
1. I think we would have to focus on situations where Hub is used in conjunction with S3. Can you go through the codebase and see if it's possible to fetch a S3's bucket/key (once authenticated)?
2. No worries.

[2021-02-20 13:29] mynameisvinn commented on #586
@benchislett MinHash's shingles assume constant ordering, whereas ML datasets are often randomly shuffled. Would this be a problem?

You had a great suggestion with MinHash. Keep up the great work!

[2021-02-20 13:34] KrishnaChaitanya1 commented on #563
Sure, will do

[2021-02-20 15:56] Anselmoo commented on #597
@subhamagarwal624 thx for helping but unfortunately we have fixed this bug. However the [release-drafter.yml Template](https://github.com/activeloopai/Hub/blob/master/.github/release-drafter.yml) has to be updated, respectively, someone has to compare the current issue labels and add these and removed labels in the template which are not used.

I guess that would be an enhancement issue.

[2021-02-20 15:57] #597 closed

[2021-02-20 16:09] subhamagarwal624 commented on #597
Yes I will do it plz elaborate what enhancement task to do

On Sat, Feb 20, 2021, 9:27 PM Anselm Hahn <notifications@github.com> wrote:

[2021-02-21 12:07] AbhinavTuli commented on #603
Hey @qizhen816, hub should already work with MinIO, take a look at this [example](https://github.com/activeloopai/Hub/blob/master/examples/dataset_endpoint_minio.py) for reference. Do let me know if you face any issues.

[2021-02-21 12:10] gabriel-milan commented on #603
I was also thinking about it, and then I found [this test case](https://github.com/activeloopai/Hub/blob/master/hub/api/tests/test_dataset.py#L1107) where you can set `url` to `s3://whatever` and the token to something like this:
[code]

and it just works! I've tested myself by hosting a local [minio/minio container](https://hub.docker.com/r/minio/minio) and this [Getting started example](https://

[2021-02-21 12:21] AbhinavTuli commented on #603
@gabriel-milan it's good to hear that you got it working. I think we should probably add it to the getting started section along with gcs, s3, azure sections. Would you be interested in making a PR for the same 😄 ?

[2021-02-21 12:31] gabriel-milan commented on #603
Sure, there you go! https://github.com/activeloopai/Hub/pull/605

[2021-02-21 13:21] haritsahm opened #606 "[BUG] Bbox coordinate mismatch in hub visualization"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
In Hub documentation, [BBox](https://docs.activeloop.ai/en/latest/api.html#hub.schema.bbox.BBox) is defined as tensorflow's style of _**normalized**_ coordinate in [ymin, xmin, ymax, xmax]. But when I want to visualize it in app.activeloop.ai, the bbox was very small at the top-left corner.

**Input Code**
[code]

**Expected behavior/code**
The bbox should

[2021-02-21 14:03] AbhinavTuli commented on #606
@Diveafall can you take a look at this?

[2021-02-22 01:47] qizhen816 commented on #603
Thanks! It works!

[2021-02-22 01:47] #603 closed

[2021-02-22 08:24] Diveafall commented on #606
Hey @haritsahm!

Thanks for creating this issue. I'll look into this ASAP and let you know!

[2021-02-22 18:13] madhucharan commented on #581
Hey @mynameisvinn, does this needs any collaborator? If yes please describe the issue so that I could work on this

[2021-02-22 18:15] madhucharan commented on #573
@sparkingdark does this issue needs any collaborator? Or you could handle it. Let me know if you need any help :)

[2021-02-22 18:15] mynameisvinn commented on #581
yes! @madhucharan can you try a different csv file? (not madden)

[2021-02-22 18:21] madhucharan commented on #581
Sure, will check if this works for other csv files and then we can build an intuition upon how to tackle this issue.

[2021-02-22 18:24] madhucharan commented on #490
@sparkingdark I was also planning the same. But just found that this issue has already opened. How about we both building this module? Let me know if it works. We shall include all types of preprocessing methods for images and text.

[2021-02-23 01:25] sparkingdark commented on #490
Obviously it's a great idea.

[2021-02-23 02:04] mynameisvinn commented on #581
sounds good, let me know if you run into issues!

[2021-02-23 10:52] Zillibub opened #611 "[BUG] large_dataset_build.py falls with an error"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Launch of an large_dataset_build.py falls with an exception
[code]

The chuck value in schema in given example is `chunks=(2, 1920, 1080, 3)`. So to run this code without exceptions I need to change it to `chunks=(1, 1920, 1080, 3)`. Why is there an assertion for `chunks[0] == 1`?

**Expected behavior/code**
Probably an exception with explanation why I can

[2021-02-23 11:01] Diveafall commented on #606
Hey @haritsahm!

First of all, thank you for your feedback! The default bounding box structure was different in our docs and our app. To address your problem I have done the following:

1. I have changed the default bounding box structure in the app to be normalized.
2. I have added the ability to change the `dtag` of a tensor. This was if your bounding box is using a different type of structure,

[2021-02-23 11:06] AbhinavTuli commented on #611
Thanks for raising this @Zillibub, I think the example is incorrect. Moreover I agree that throwing an assertion here is a bad idea, let's get this fixed! In the meantime, you can use this schema instead in the example:-
[code]

[2021-02-23 11:15] haritsahm commented on #606
Great! I will let you know the result. Is the new update available in python pip or do I need to install it from source?

[2021-02-23 13:18] AbhinavTuli commented on #606
@Diveafall has updated the webapp on his side and I've updated the docs too. You can continue using the same version as before (although the docstring might be incorrect there, the). In the next pip release, the doc string should get updated too.
Here's the [updated doc for bbox](https://docs.activeloop.ai/en/latest/concepts/features.html?highlight=BBox#hub.schema.bbox.BBox) btw

[2021-02-23 13:19] haritsahm commented on #606
Thank you for the help and update!

[2021-02-23 13:19] #606 closed

[2021-02-23 13:20] Diveafall commented on #606
@haritsahm Can you see the bounding boxes now?

[2021-02-23 13:27] haiyangdeperci commented on #606
@AbhinavTuli @haritsahm is the default bbox format _normalized_ or _unnormalized_ now?

[2021-02-23 14:47] Diveafall commented on #606
@haiyangdeperci Normalized.

[2021-02-23 15:33] haritsahm commented on #606
Yes I can!

You can use **both** but you have to choose the datatype in the visualizer app, but the official documentation uses **_normalized_**
 [xmin, ymin, xmax, ymax]

You can use the **_unnormalized_ [xmin, ymin, xmax, ymax] ** and set the bbox datatype with **Basic [xmin, ymin, xmax, ymax]**  (the first option)

You can also use the Tensorflow's version of **_normalized_ [ymin, xmin, ymax, x

[2021-02-23 17:10] surak opened #614 ""Connectors" from Activeloop webpage in documentation/source?"
Hello!

I have been looking for a code like yours for a while, and I am interested in self-hosting datasets because of special characteristics of the I/O and interconnect of our supercomputers [1], plus the massive size of the datasets we are aiming for in our research institute [2].

However, your documentation as of Feb 23, 2021, does describe only S3, MinIO, GCS and Azure. However, your webpage

[2021-02-23 19:00] davidbuniat commented on #614
@surak thanks for pointing that out! Those connectors are private source. We have also additionally lined up for MongoDB and Elastic connectors on the roadmap. I would love to get your thoughts here on the type of usage you would need.

[2021-02-24 15:17] madhucharan commented on #527
@mynameisvinn , @davidbuniat  I am currently writing tests for this, But if you see, I ran the test on my main branch but strange!

`
FAILED test_features.py::test_image[uint32] - Failed: DID NOT RAISE <class 'ValueError'>
FAILED test_features.py::test_image[int160] - Failed: DID NOT RAISE <class 'ValueError'>
FAILED test_features.py::test_image[float32] - Failed: DID NOT RAISE <class 'ValueError'

[2021-02-24 22:59] davidbuniat commented on #527
If you added support for those dtypes, then you should switch testing against raising Error, now you need to test if you can create image with such dtypes (instead of checking if throws an error.)

[2021-02-25 06:34] DebadityaPal commented on #611
Can someone guide me to the file in question? I could try to fix the issue.

[2021-02-25 06:39] DebadityaPal commented on #611
@AbhinavTuli, can you point me to the large_dataset_builder.py example file? I can try to write an explanation replacing the assertion.

[2021-02-25 06:54] AbhinavTuli commented on #611
@DebadityaPal here's the [file](https://github.com/activeloopai/Hub/blob/master/examples/large_dataset_build.py). You don't need to add an exception there, just replace schema with the one I mentioned above.
The exception itself needs to be added in shape_detector.py instead of the assertion mentioned above.

[2021-02-25 17:39] SauravMaheshkar opened #618 "[BUG] Broken Links in Docs 📃"
## 🐛🐛 Bug Report

In the Notes Subsection of the [How to Upload a Dataset](https://docs.activeloop.ai/en/latest/dataset.html) page in docs, the links to all the examples (Uploading MNIST, Uploading CIFAR, and Uploading COCO) are broken.

### ⚗️ Current Behavior

The links are broken and point to older versions of the examples directory

### 🧰 Possible Solution  (optional)

Fix links to redirect to

[2021-02-25 19:47] Anselmoo commented on #596
In order to verify if Python 3.9 is supported by all dependencies of Hub. Working with a local dependency manager like:

1. [Pipenv](https://pypi.org/project/pipenv/)
2. [Poetry](https://python-poetry.org)

will easily figure out about current status quo. Both tools will check if the dependencies are compatible with python 3.9

[2021-02-26 02:20] SauravMaheshkar commented on #567
Can I work on this @mynameisvinn, maybe create another folder `/packages` or `/setup` and add the Dockerfile there. I assume @jeblad meant folder instead of repository.

Also, a thing to consider, we should probably upload our images to Github Packages as well, that way they are visible in the Packages section of our repository.

[2021-02-26 02:39] jeblad commented on #567
Docker setup should be in a separate repo, and pull in ActiveLoop as a submodule. The Docker repo needs ActiveLoop, but activeloop does not need docker. It is the same if you want to define a Vagrant setup, it does not belong inside ActiveLoop. You can infact add nearly any type of environment, and they should all be defined outside ActiveLoop itself.

Something should only be added to ActiveLoop

[2021-02-26 05:08] SauravMaheshkar commented on #567
Thanks, @jeblad for the feedback, I made a repository [hub-development](https://github.com/SauravMaheshkar/hub-development) using my profile, let me know how it looks. I wrote some instructions for cloning too, although @mynameisvinn I think they require some more clarification.

[2021-02-26 11:48] DebadityaPal commented on #618
I checked out the examples you mentioned and I believe they're pretty old, to the point of being outdated compared to the latest API. I think the best course of action would be to create new examples using the latest API and then link those to the docs.

[2021-02-26 12:03] haiyangdeperci commented on #618
@DebadityaPal I believe you are write. These examples are deprecated as they use deprecated code (like `hub.tensor`, `hub.load`). I think the dataset page you mentioned should not be actually visible in the latest version of the docs.
Use [getting started](https://docs.activeloop.ai/en/latest/simple.html) or [dataset concepts](https://docs.activeloop.ai/en/latest/concepts/dataset.html) to learn ho

[2021-02-26 13:02] jeblad commented on #567
One pretty good example on how to do it is [mediawiki-docker](https://github.com/wikimedia/mediawiki-docker). To make Activeloop simple to use it should perhaps build upon official images for PyTorch and TensorFlow.

Note that the mediawiki-docker downloads the lib as a tar-bundle. It is possible to do something similar from Github.

[2021-02-26 13:31] jeblad commented on #589
It is somewhat common in other datasets and config files to use a leading curly alpha (@) for metadata that can safely be thrown away during normal processing, as it will only be used for special meta-processing. It is although a possible problem that metadata like the creators name will sometimes be used as an indexed target, so should it be thrown away or kept as a label?

A notable exception is

[2021-02-27 06:55] sparkingdark opened #627 "Adding a version checking in hub cli tool"
Currently, there is no hub version check command so a `hub -v` so the
**output** will be like this

[code]

tagging @AbhinavTuli @davidbuniat assign me

[2021-02-27 08:32] Anselmoo commented on #618
@DebadityaPal @haiyangdeperci @mynameisvinn

If you are planning to rewrite, respectively, fix some of the examples, you might think about doing it in the KERAS-IO approach??

They are using the script [tutobooks](https://github.com/keras-team/keras-io/blob/master/scripts/tutobooks.py) to generate from the versioned and tested `python script` the docs in markdown and a living hands-on example for

[2021-02-28 05:27] KrishnaChaitanya1 commented on #563
Hey @mynameisvinn . I was bit busy with some medical emergency the last week. Will start looking into it this week.

[2021-02-28 13:13] mynameisvinn commented on #627
@sparkingdark That's a good idea. The standard format is:
[code]
which returns:
[code]

[2021-02-28 13:42] #611 closed

[2021-02-28 21:01] mynameisvinn commented on #588
hi @brilhana, please check out `activeloop/lm1b`!

[2021-02-28 21:01] #588 closed

[2021-03-01 03:53] benchislett commented on #586
@mynameisvinn Check this out.
https://stackoverflow.com/questions/3191020/commutative-accumulator-based-function-for-calculating-a-digest-of-multiple-has

Sound familiar? I think this deals with all of our problems. The full solution being:

Calculate the hash per-chunk on any upload or modify. Store these in a global index table. We can use some distributed programming techniques here or fiddle w

[2021-03-01 16:33] mynameisvinn commented on #586
@benchislett I love this approach, as it relaxes constraints around order. I'll prototype something and see how it could work.

[2021-03-01 20:23] McCrearyD opened #633 "[BUG] UGRENT: public access datasets not actually publicly accessible"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
without a docker container (local development), when a user first tries to access public datasets they are denied while following [these setup instructions](https://github.com/activeloopai/Hub#getting-started).

**Input Code**
- REPL or Repo link if applicable: https://github.com/activeloopai/Hub#getting-started

[code]

**Expected behavior/code**
expected

[2021-03-01 20:27] McCrearyD commented on #633
community member experienced this issue at the same time i did: https://hubdb.slack.com/archives/C01D9P7SSKU/p1614401029023100

[2021-03-01 20:50] McCrearyD commented on #633
## TEMP FIX
follow the [docker setup instructions](https://github.com/activeloopai/Hub/blob/460f256a5c28a7605d005d3172a56a14b26f214c/docs/source/tutorials/docker.md) until we get local fixed

[2021-03-01 21:28] McCrearyD commented on #633
i've deduced the problem not to be the fault of the backend. my reasoning:
- if the backend was the problem, docker dataset access would be denied.
    - locally built docker container (with AND without credentials) can access data as expected

the problem arises when trying to run a script that uses hub **outside** of docker containers.

[2021-03-01 23:31] #633 closed

[2021-03-02 08:13] DebadityaPal opened #635 "[FEATURE] Support for SparseArrays and SparseTensors"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Certain Genomic datasets can be sparse arrays or sparse tensors. The Hub Schema as of now does not support sparse tensors. We could create a schema datatype to support the same.

### If your feature will improve `HUB`

[2021-03-02 13:06] mynameisvinn commented on #635
Could we convert sparse arrays to CSR format?

[2021-03-02 14:09] KrishnaChaitanya1 commented on #516
Hi @haiyangdeperci . Can you check the above comment and let me know your thoughts? I changed it to variables as you mentioned.

[2021-03-02 14:25] haiyangdeperci commented on #516
@KrishnaChaitanya1 can you send in the entire code in the form of a PR? It would be easier for us to review that. I assume you are running this with `cache` variable equal to `False` and then `True`. That's all right. We need to gather these results in some readable format so you may include that as well. If you need more support, come to the benchmark call tomorrow, the team and other community m

[2021-03-02 15:01] KrishnaChaitanya1 commented on #516
@haiyangdeperci . Created PR. #638. I have a doubt, how do you remove those merge commits?

[2021-03-02 15:10] DebadityaPal commented on #635
@mynameisvinn Yep, we could also keep the option of choosing either CSR or CSV. There was one more version called COO (COOrdinate format), which is faster while creating the array. I read all of this in the [scipy documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.coo_matrix.html). Maybe we could borrow some ideas from them?

[2021-03-02 15:13] DebadityaPal opened #639 "[FEATURE] WikiSQL Dataset"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../../../issues)
- [X] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

WikiSQL dataset is a very common and famous dataset for the NL2SQL problem involving translating natural language queries to SQL statements. It would be a good addition to the public datasets that  Hub already has.

### Descriptio

[2021-03-03 01:41] mynameisvinn commented on #614
@surak @davidbuniat bump! I'd love to talk with you about your use case and see how Hub can help.

[2021-03-03 02:32] MargauxMasson opened #641 "[FEATURE] S3 tag?"
How do I use Hub when I have the path to an s3 bucket (already with the training folder I want)
Because I can’t use the path as an Activeloop path when getting the data

So far it seems I can only upload a dataset to s3 using Hub but can't use it as a dataset with a tag like this: ds = Dataset(tag)

[2021-03-03 04:34] AbhinavTuli commented on #641
@MargauxMasson thanks for the question!
You can in fact, use the s3 path directly to load/store a Hub dataset using ds = Dataset("s3://path/to/folder")
However to make sure this works you need to either have your aws credentials as environment variables or pass the creds as a token
[code]

[2021-03-04 10:47] surak commented on #614
Hi, thanks for the reply! You are more than welcome to contact me directly, or give me your contact.

We are the biggest research center of Europe, and also the biggest computer center [1]. Recently, the German government started an nationwide initiative on machine learning, and we are the ones bringing it to scale. [2]

Turns out that we are building our knowledge and infrastructure from scratch.

[2021-03-04 17:30] mynameisvinn commented on #593
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:30] #593 closed

[2021-03-04 17:31] mynameisvinn commented on #587
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:31] #587 closed

[2021-03-04 17:31] mynameisvinn commented on #580
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:31] #580 closed

[2021-03-04 17:31] mynameisvinn commented on #563
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:31] #563 closed

[2021-03-04 17:32] #527 closed

[2021-03-04 17:32] mynameisvinn commented on #574
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:32] #574 closed

[2021-03-04 17:32] mynameisvinn commented on #519
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:32] #519 closed

[2021-03-04 17:32] mynameisvinn commented on #518
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:32] #518 closed

[2021-03-04 17:32] mynameisvinn commented on #517
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:32] #517 closed

[2021-03-04 17:33] #521 closed

[2021-03-04 17:33] mynameisvinn commented on #522
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:33] #522 closed

[2021-03-04 17:33] mynameisvinn commented on #329
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:33] #329 closed

[2021-03-04 17:33] mynameisvinn commented on #310
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:33] #310 closed

[2021-03-04 17:34] mynameisvinn commented on #306
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:34] #306 closed

[2021-03-04 17:34] mynameisvinn commented on #115
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:34] #115 closed

[2021-03-04 17:34] mynameisvinn commented on #111
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:34] #111 closed

[2021-03-04 17:35] mynameisvinn commented on #109
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:35] #109 closed

[2021-03-04 17:35] mynameisvinn commented on #112
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:35] #112 closed

[2021-03-04 17:35] mynameisvinn commented on #515
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:35] #515 closed

[2021-03-04 17:43] KrishnaChaitanya1 commented on #563
Sure @mynameisvinn

[2021-03-04 17:45] mynameisvinn commented on #514
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:45] #514 closed

[2021-03-04 17:45] mynameisvinn commented on #516
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:45] #516 closed

[2021-03-04 17:45] mynameisvinn commented on #513
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:45] #513 closed

[2021-03-04 17:45] mynameisvinn commented on #506
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:45] #506 closed

[2021-03-04 17:45] mynameisvinn commented on #502
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:45] #502 closed

[2021-03-04 17:45] mynameisvinn commented on #505
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:46] mynameisvinn commented on #505
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:46] mynameisvinn commented on #507
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:46] #507 closed

[2021-03-04 17:46] mynameisvinn commented on #505
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:46] #505 closed

[2021-03-04 17:46] mynameisvinn commented on #427
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:46] #427 closed

[2021-03-04 17:46] mynameisvinn commented on #335
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:46] #335 closed

[2021-03-04 17:47] mynameisvinn commented on #490
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:47] #490 closed

[2021-03-04 17:54] mynameisvinn commented on #503
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:54] #503 closed

[2021-03-04 17:54] #422 closed

[2021-03-04 17:55] mynameisvinn commented on #393
Closing this feature request due to inactivity and lack of interest. Will revive it if more users request it.

[2021-03-04 17:55] #393 closed

[2021-03-04 21:34] jeblad commented on #580
Ok?

[2021-03-04 21:38] jeblad commented on #574
Ok.

[2021-03-04 21:39] mynameisvinn commented on #627
hey @sparkingdark let me know if you're still working on this, thanks!

[2021-03-04 21:40] mynameisvinn commented on #251
@davidbuniat Closing this issue until it re-emerges again

[2021-03-04 21:40] #251 closed

[2021-03-05 01:31] sparkingdark commented on #329
I will start working on this,so I reopened this.

[2021-03-05 03:52] dhiganthrao opened #648 "[BUG] Dynamic Tensors in Text Datasets unable to reduce in size while assigning new elements with lesser length"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Unable to assign new values to elements in uploaded Text datasets if the new element is lesser in length compared to the original element.

**Input Code**

[code]

**Expected behavior/code**

The value of `ds2['Review',1]` should now become `hello!`

### ⚙️ Environment

- `Python` version(s): Good [Python 3.8.5]
- `OS`:  Ubuntu 18.04
- `IDE`:  VS-Code, Jup

[2021-03-05 03:52] dhiganthrao commented on #648
@AbhinavTuli following up on our conversation from a few days back. Hope this issue is descriptive of the problem!

[2021-03-05 14:06] mynameisvinn commented on #581
closing this due to inactivity, will reopen if theres interest

[2021-03-05 14:06] #581 closed

[2021-03-05 14:06] mynameisvinn commented on #570
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:06] #570 closed

[2021-03-05 14:07] mynameisvinn commented on #537
Resolved!

[2021-03-05 14:07] #537 closed

[2021-03-05 14:07] mynameisvinn commented on #455
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:07] #455 closed

[2021-03-05 14:09] #627 closed

[2021-03-05 14:09] mynameisvinn commented on #110
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:09] #110 closed

[2021-03-05 14:09] mynameisvinn commented on #108
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:09] #108 closed

[2021-03-05 14:09] mynameisvinn commented on #105
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:09] #105 closed

[2021-03-05 14:09] mynameisvinn commented on #93
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:09] #93 closed

[2021-03-05 14:09] mynameisvinn commented on #58
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:09] #58 closed

[2021-03-05 14:10] mynameisvinn commented on #104
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:10] #104 closed

[2021-03-05 14:12] mynameisvinn commented on #101
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:12] #101 closed

[2021-03-05 14:12] mynameisvinn commented on #107
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:12] #107 closed

[2021-03-05 14:12] mynameisvinn commented on #103
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:12] #103 closed

[2021-03-05 14:12] mynameisvinn commented on #57
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:12] #57 closed

[2021-03-05 14:12] mynameisvinn commented on #56
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:12] #56 closed

[2021-03-05 14:13] mynameisvinn commented on #102
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:13] #102 closed

[2021-03-05 14:13] mynameisvinn commented on #64
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:13] #64 closed

[2021-03-05 14:13] #373 closed

[2021-03-05 14:14] mynameisvinn commented on #114
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-05 14:14] #114 closed

[2021-03-05 14:15] #293 closed

[2021-03-05 14:15] #236 closed

[2021-03-05 14:16] mynameisvinn commented on #127
Closing this due to inactivity, will reopen if theres widespread interest.

[2021-03-07 11:54] #520 closed

[2021-03-07 14:01] #313 closed

[2021-03-07 15:00] SauravMaheshkar commented on #618
There's this Github Action [linkinator-action](https://github.com/JustinBeckwith/linkinator-action) that checks your README and other markdowns for 404s. Maybe worth checking out, used by node.js itself.

[2021-03-08 21:35] mynameisvinn opened #665 "[FEATURE] Highlight usage analytics"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Description of the possible solution

[code]

[2021-03-09 00:07] #665 closed

[2021-03-09 00:08] mynameisvinn commented on #575
Version control for transformations will be added in the next release, which might make rollbacks easier. Closing this issue unless there are comments.

[2021-03-09 00:08] #575 closed

[2021-03-09 02:52] mynameisvinn commented on #566
Closing as this is low priority, unless someone can help.

[2021-03-09 02:52] #566 closed

[2021-03-09 12:15] mynameisvinn opened #669 "[BUG]"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Hub's version info is present in two locations, `setup.py` and `hub/version.py`. As result, the released version displays the wrong version info (1.2.3 instead of 1.3.0) when users do `hub --version`.

### 🧰 Possible Solution  (optional)
Remove version info from `setup.py`.

[2021-03-09 12:55] dhiganthrao commented on #669
If you don't mind, I'd like to tackle this issue! @mynameisvinn

[2021-03-09 13:22] mynameisvinn commented on #669
yes please @dhiganthrao! ready whenever you are!

[2021-03-09 13:24] mynameisvinn commented on #560
@dhiganthrao were you able to work on this?

[2021-03-10 17:43] surak commented on #614
bump

[2021-03-10 19:53] mynameisvinn commented on #614
Hi @surak whats the best way to reach you? I'm at vin@activeloop.ai or @vinn on hub's slack.

[2021-03-10 19:56] mynameisvinn commented on #569
Hey @jeblad we will push this along - have often do you run into reproducibility issues while using hub? (Asking so we can figure out the right abstraction for the api.)

[2021-03-10 20:01] #470 closed

[2021-03-11 07:21] dhiganthrao commented on #560
@mynameisvinn I was under the assumption that this would be covered in #565! I could work on this if no one else is currently doing so, or help out anyone who is!

[2021-03-11 13:32] mynameisvinn commented on #648
@AbhinavTuli bump!

[2021-03-11 14:10] surak commented on #614
Thanks! Check your email. You might delete it from here to avoid the spam bots!

[2021-03-11 19:53] McCrearyD opened #678 "[BUG] hub dataset `.to_pytorch(...)` doesn't work"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
if you try to call `.to_pytorch(...)` on a hub dataset with the lambda function to decompose it simply doesn't call it. also, the transform parameter is simply never called.

[2021-03-11 19:54] McCrearyD commented on #678
workaround: you can create a dataset class but this is very messy.

[2021-03-11 19:57] AbhinavTuli commented on #678
@McCrearyD a description of the dataset schema as well as the error you faced would be helpful for debugging.
As far as I remember, the transform parameter is called here :-https://github.com/activeloopai/Hub/blob/master/hub/api/integrations.py#L617

[2021-03-11 20:03] McCrearyD commented on #678
the error message doesn't give a useful call stack, but when i put prints inside the converter function & transform function (even with 0 dataloader workers) simply nothing is called

[2021-03-11 20:04] McCrearyD commented on #678
when i finish what i'm working on i will add more code & stuff, i just wanted to create an issue so i wouldn't forget

[2021-03-12 13:41] mynameisvinn commented on #641
Hi @MargauxMasson here is the [relevant documentation](https://docs.activeloop.ai/en/latest/simple.html#s3).

Closing this issue unless you couldn't get this to work.

[2021-03-12 13:41] #641 closed

[2021-03-12 13:42] mynameisvinn commented on #400
Closing this issue due to inactivity.

[2021-03-12 13:42] #400 closed

[2021-03-12 13:44] DebadityaPal opened #681 "[BUG] README Links broken"
## 🐛🐛 Bug Report
Some of the readme links are broken due to incorrect relative paths. Especially the links from the translated READMEs back to the English README.

### ⚗️ Current Behavior
Hyperlinks do not change the version of the README

### 🧰 Possible Solution  (optional)
Manually Fixing the links.

[2021-03-13 01:11] #681 closed

[2021-03-14 14:15] mynameisvinn opened #685 "[FEATURE] - Update Hub Wiki"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [X] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
The README page is getting too unwieldy and verbose.

This request suggests moving information to Hub's wiki page.

### If your feature will improve `HUB`
Keep onboarding information in README, and move everything else to the

[2021-03-15 17:56] DebadityaPal opened #688 "[BUG] CodeCov throws Forbidden Error"
## 🐛🐛 Bug Report
When we browse files through the CodeCov website to check code coverage for each file separately, the file isn't displayed. Instead, we get a Forbidden screen.

**Expected behavior/code**
Previously it was possible to check the individual code coverage of the files and see which lines are not covered by the unit tests. This simplified the process of increasing code coverage.

[2021-03-17 15:17] haiyangdeperci commented on #688
@kristinagrig06

[2021-03-18 06:46] madhucharan commented on #685
Hi @Vinn, I would like to know what sections of read me do you feel are better to move into wiki page?

I will change them to wiki home and then point a link on read me file

[2021-03-18 09:24] kristinagrig06 commented on #688
@DebadityaPal, can you please try to log out from codecov, remove codecov access from [here](https://github.com/settings/applications), then log back into Codecov and try to access that page. Please let me know if the problems persist.

[2021-03-18 12:34] DebadityaPal commented on #688
Thanks a tonne @kristinagrig06! it works now.

[2021-03-18 12:34] #688 closed

[2021-03-18 18:58] madhucharan commented on #308
Hi @davidbuniat , I would like to get some details related to this issue. What should be updated with the existing models.py as an extension for this usecase. Can we impliment a feature of uploading models.h5 files so that others can load them and use them locally without pretraining? Sorry if its already exists I haven't checked. If it's not would you guide me adding this feature? and also would

[2021-03-18 23:19] mynameisvinn commented on #586
Closing due to lack of interest from users.

[2021-03-18 23:19] #586 closed

[2021-03-19 05:33] madhucharan commented on #323
Hi @AbhinavTuli , How about changing max depth from 1000 to 10^6 or another? as we are dealing with large inputs. One question I have is do we need to explicitly mention in our code or notebook etc or do we need to put this is our hub function files?

[2021-03-19 08:33] AbhinavTuli commented on #323
Irrespective of how big the dataset is, ideally the recursion stack shouldn't get that deep. It was a logical error in the code if I recall correctly. Anyway, I believe this issue had been resolved, so I'm closing it for now. Feel free to reopen it if you're able to recreate it.

[2021-03-19 08:33] #323 closed

[2021-03-19 09:31] kristinagrig06 commented on #364
Hey @raijinspecial , can you please check if this problem still persists. Couldn't recreate this issue in the current version. This could have been resolved by #398.

[2021-03-19 09:51] madhucharan commented on #404
@davidbuniat , for this issue, I am assuming that we need to incorporate google drive API for authentication and then storing it in user specified path?If not coul you guide me on this?

[2021-03-19 14:09] #364 closed

[2021-03-19 18:02] mynameisvinn commented on #573
@madhucharan @sparkingdark Let me know if you're still interested in working on this issue.

[2021-03-19 18:07] madhucharan commented on #573
@mynameisvinn , Does the PR sent by @sparkingdark resolves this ?

[2021-03-19 19:17] TakshPanchal commented on #365
@davidbuniat , may I change all Mutable default args, according to [this guidline](https://docs.python-guide.org/writing/gotchas/#mutable-default-arguments) ??

[2021-03-20 08:29] madhucharan commented on #404
@mynameisvinn Could you help me in finding out whether my thoughts are right or wrong?

[2021-03-20 10:43] SauravMaheshkar commented on #685
Just a suggestion.

We can use `<details></details>` In Github Markdown

For example:
<details>
  <summary><b>DISCLAIMER</b></summary>
  - <kbd>WORK IN PROGRESS</kbd>
 </details>

[2021-03-20 10:47] madhucharan commented on #685
Sure, @SauravMaheshkar I will update it after getting a full review. This is v1 to understand what to include

[2021-03-20 12:46] sparkingdark commented on #573
@mynameisvinn @madhucharan yes it give you the required error message.

[2021-03-20 13:06] bopardikarsoham commented on #560
Hey @mynameisvinn assuming no one has been assigned to this issue, can I work on this issue?

[2021-03-21 08:17] AbhinavTuli commented on #560
Hey @bopardikarsoham! with the auto release drafter from #565, this has mostly been automated, please feel free to choose another issue 😄

[2021-03-21 08:17] #560 closed

[2021-03-21 10:16] bopardikarsoham commented on #618
I will like to work on this issue @SauravMaheshkar

[2021-03-21 14:45] Zillibub opened #702 "[BUG] Dataset copy from fs to Azure does not work correcty on Windows"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Copying of datasets from Windows to Azure blob does not work correctly. All uploaded values are zeros.

**Input Code**

[code]

**Expected behavior/code**
Values returned from Azure Dataset should be the same that are in Local Dataset

### ⚙️ Environment

- `Python` version(s):
    - [3.7.9]
- `OS`: [Windows 10]
- `IDE`: [Jupyter Lab]

[2021-03-22 08:35] AbhinavTuli commented on #702
Interesting. Thanks for pointing it out, I'll take a look at this. We'll soon be adding tests for multiple environments that will hopefully catch these bugs.

[2021-03-23 04:59] mynameisvinn commented on #678
@McCrearyD were you able to resolve this issue?

[2021-03-23 05:05] McCrearyD commented on #678
i also wasn't able to recreate this, i experienced the issue in kristina's intellinair codebase, but otherwise not.

i will close this

[2021-03-23 05:05] #678 closed

[2021-03-23 05:49] bopardikarsoham commented on #639
I would like to work on this issue.

[2021-03-23 06:05] DebadityaPal commented on #639
Sure @bopardikarsoham, you can find the dataset here: [https://github.com/salesforce/WikiSQL](https://github.com/salesforce/WikiSQL)

[2021-03-23 06:14] Mayurji commented on #669
@madhucharan, Is it resolved ?

[2021-03-23 06:38] bopardikarsoham commented on #639
I just wanted a little help @DebadityaPal . I am not able to install WikiSQL by the installation guide given in the README of salesforce/WikiSQL.

[2021-03-23 06:46] kristinagrig06 commented on #639
@bopardikarsoham, can you please provide more details about what problems you encountered during the installation.

[2021-03-23 06:54] bopardikarsoham commented on #639
The "pip install -r requirements.txt " does not work. It tells me that there is no such directory as 'requirements.txt'.

[2021-03-23 07:25] DebadityaPal commented on #639
when you run `pip install -r requirements.txt`, are you in the  correct directory? You need to do a `cd` into the repo after cloning it.

[2021-03-23 07:57] bopardikarsoham commented on #639
Yes I did do a cd into WikiSQL and then I performed this "pip install -r requirements.txt".

[2021-03-23 08:33] madhucharan commented on #669
Hi @Mayurji , I am working on it, I will send a pr updated today eveng.

[2021-03-23 09:19] bopardikarsoham commented on #589
Do you mean we have to do a citation of the original user for each dataset? @jeblad @mynameisvinn

[2021-03-23 12:24] DebadityaPal commented on #639
Can you run an `ls` command in the  directory and show me the result with a screenshot over slack?

[2021-03-23 14:18] mynameisvinn commented on #589
Not necessarily, since not all datasets require citation. But you should use best judgment!

[2021-03-23 16:30] mynameisvinn commented on #365
Closed because this issue is resolved.

[2021-03-23 16:30] #365 closed

[2021-03-23 16:31] mynameisvinn commented on #358
Closing due to inactivity.

[2021-03-23 16:31] #358 closed

[2021-03-23 16:45] mynameisvinn commented on #308
hey @madhucharan what do you think of [something like this](https://github.com/mynameisvinn/DropletML) for storing/loading model weights ?

[2021-03-23 16:46] mynameisvinn commented on #121
Closing this due to inactivity.

[2021-03-23 16:46] #121 closed

[2021-03-23 16:59] madhucharan commented on #308
Hi @mynameisvinn This is awesome, I like to work on implementing the same workflow on hub just like the way it stores datasets?may be in another storage bucket for weights?

[2021-03-23 17:03] #564 closed

[2021-03-23 17:21] mynameisvinn commented on #36
closed due to inactivity

[2021-03-23 17:21] #36 closed

[2021-03-23 17:29] mynameisvinn commented on #573
Closing since it is resolved.

[2021-03-23 17:29] #573 closed

[2021-03-23 17:38] mynameisvinn commented on #567
@SauravMaheshkar I love `hub-development`. @imshashank Can we add a separate repo for docker? Something like `activeloop/hub-docker`.

[2021-03-23 17:42] #314 closed

[2021-03-23 17:54] mynameisvinn commented on #569
Closed due to little interest from community. We can reopen when necessary.

[2021-03-23 17:54] #569 closed

[2021-03-23 18:00] mynameisvinn commented on #525
Closing for now.

[2021-03-23 18:00] #525 closed

[2021-03-23 18:01] mynameisvinn commented on #341
Closing

[2021-03-23 18:01] #341 closed

[2021-03-23 18:02] mynameisvinn commented on #294
Closing due to inactivity. I will reopen if this issue pops up again.

[2021-03-23 18:02] #294 closed

[2021-03-23 18:03] mynameisvinn commented on #292
Closing due to inactivity.

[2021-03-23 18:03] #292 closed

[2021-03-23 18:04] mynameisvinn commented on #568
Closing for now unless someone can come up with a clear solution.

[2021-03-23 18:04] #568 closed

[2021-03-23 18:05] mynameisvinn commented on #596
Closing for now, will re-open when we run into dependency issues.

[2021-03-23 18:05] #596 closed

[2021-03-23 18:05] #669 closed

[2021-03-23 18:06] mynameisvinn commented on #321
Closing this, will re-open if this issue comes up again.

[2021-03-23 18:06] #321 closed

[2021-03-23 18:22] mynameisvinn commented on #685
hey @madhucharan I am reviewing your PR for the new README

[2021-03-23 18:27] mynameisvinn commented on #404
yep @madhucharan you are correct, we would to handle `client_id`, `client_secret` and possibly refresh tokens.

[2021-03-23 18:28] #299 closed

[2021-03-23 18:29] #149 closed

[2021-03-23 18:32] #614 closed

[2021-03-23 18:35] madhucharan commented on #404
@mynameisvinn In general, while I was working on colab, to access gdrive to load data or to store, there will be a connection establishment where we need to copy an access token and enter to establish connection. I went through the api docs and may be hub needs to have the client_id and secret and then with auth2.0 the user will provide access token right? I would like to know if it can be done by

[2021-03-23 18:41] mynameisvinn commented on #404
@madhucharan can you share one of your colab notebooks with me so I can see how you connect to google drive?

[2021-03-23 18:46] #595 closed

[2021-03-23 18:47] mynameisvinn commented on #238
Closed due to inactivity.

[2021-03-23 18:47] #238 closed

[2021-03-23 18:47] #317 closed

[2021-03-23 18:48] mynameisvinn commented on #589
Closing because we have [issue](https://github.com/activeloopai/Hub/issues/307).

[2021-03-23 18:48] #589 closed

[2021-03-23 18:49] madhucharan commented on #404
![image](https://user-images.githubusercontent.com/62477860/112201088-e9e22780-8c35-11eb-92b1-46d85f719f2e.png)
![image](https://user-images.githubusercontent.com/62477860/112201304-1f871080-8c36-11eb-9232-c959b4c3d9eb.png)
![image](https://user-images.githubusercontent.com/62477860/112201413-3af21b80-8c36-11eb-9eb4-0f1ef013863c.png)

I generally use the documentation provided by the colab on welc

[2021-03-23 18:54] mynameisvinn commented on #374
Closing this issue unless it comes up again.

[2021-03-23 18:54] #374 closed

[2021-03-23 18:58] mynameisvinn commented on #308
Great @madhucharan , let's bring it up with the community and see if it's something they would use.

[2021-03-23 19:06] mynameisvinn commented on #635
@DebadityaPal Since [chunks are compressed](https://github.com/activeloopai/Hub/blob/e3f1c848a084cb7d5b5472ba16fc0d2015fc5a59/hub/api/dataset_utils.py#L217), wouldn't that solve the space issue? In other words, sparse tensors should show high compression ratios with no modification to schema. Your thoughts?

[2021-03-23 19:09] mynameisvinn commented on #529
@haiyangdeperci do you want to keep this issue open? Otherwise I will close. Thanks!

[2021-03-23 19:09] DebadityaPal commented on #635
Oh Yeah! It totally skipped my mind that we have a compressor. That should solve the space issue. Well then, I guess I can close this issue then.

[2021-03-23 19:09] #635 closed

[2021-03-23 19:11] mynameisvinn commented on #639
@bopardikarsoham exactly what did not work? Are you using Python 2 or 3?

Can you follow these instructions?
[code]

[2021-03-24 06:51] bopardikarsoham commented on #639
@mynameisvinn Yes I did follow these instructions but they did not work. I have discussed it with @DebadityaPal and it seems to be an issue from their end. So, I have raised an issue in their repository.

[2021-03-24 07:23] kristinagrig06 commented on #618
Will be fixed by #618.

[2021-03-24 07:25] SauravMaheshkar commented on #567
Thanks, @mynameisvinn, I'd actually stopped working on the repository ( was waiting for feedback ).

Right now, It just has resources for creating `submodules` and `virtual environment(virtualenv)`. Setup for Docker is still left. I'll have to work it out (still a bit new to `submodule + Docker`).

Should I work on this?

[2021-03-24 10:45] haiyangdeperci commented on #529
@mynameisvinn Let's keep it for now. I'll talk to other contributors and I'll update it when I get a free moment

[2021-03-24 14:51] mynameisvinn commented on #567
Yes, I learned something new here too. In the past I included my dockerfile in the parent dir, but that does not seem like best practices.

[2021-03-24 19:46] bopardikarsoham commented on #307
@edogrigqv2 @mynameisvinn I would like to work on this issue.

[2021-03-25 20:52] #685 closed

[2021-03-27 16:14] RashmiBorse commented on #639
I would like to work on this issue @DebadityaPal @mynameisvinn

[2021-03-27 16:17] DebadityaPal commented on #639
@bopardikarsoham is still working on it. I believe we should give them a bit more time. But if the issue goes stale, sure go ahead! what do you say @mynameisvinn ?

[2021-03-27 17:40] RashmiBorse commented on #307
I would like to work on this issue @edogrigqv2

[2021-03-27 18:22] bopardikarsoham commented on #639
@DebadityaPal @mynameisvinn Yes I have raised an issue regarding the installation in their repository. But, still nobody has responded regarding that issue.

[2021-03-27 18:30] bopardikarsoham commented on #307
Sorry, @RashmiBorse. I am currently working on this issue. But, in case I am not able to, I will surely give you a chance.

[2021-03-27 18:36] bopardikarsoham commented on #307
But, yeah we can work together too @RashmiBorse if you want to.

[2021-03-28 12:08] mikayelh commented on #307
@bopardikarsoham @RashmiBorse fyi @edogrigqv2 is not currently working on Hub! @mynameisvinn is a better contact. :)

[2021-03-30 17:51] mynameisvinn commented on #639
Not sure how @DebadityaPal @bopardikarsoham want to proceed.

[2021-03-30 17:51] #639 closed

[2021-03-30 18:10] McCrearyD opened #731 "[BUG] "processed" transforms significantly slower than "threaded""
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
when running a large transform job, scheduler="processed" is significantly slower than "threaded".

tested by having the transform upload to s3.

[2021-03-30 18:14] McCrearyD commented on #731
@AbhinavTuli

[2021-03-31 05:08] AbhinavTuli commented on #731
@McCrearyD I had experimented with the idea of ``` number of samples per shard = workers * 32 * (number of samples that fit in 16mb)``` but the thing was that for datasets that have really huge sample sizes, that are bigger than 16 mb (for example intelinair), this was leading to memory issues.
This was because the number of ```number of samples that fit in 16mb``` came out to be 0 but we then too

[2021-03-31 05:49] McCrearyD commented on #731
why do we need to auto infer this? we don't have to make any decisions here if they provide us with a batch size

[2021-03-31 05:50] AbhinavTuli commented on #731
Yup, we do have an argument for this, sample_per_shard, but ideally, we want to auto infer this. It's unintuitive for the end user.

[2021-03-31 08:14] Diveafall commented on #307
Hey @bopardikarsoham!

Just assigned this issue to you! Don't hesitate to ask any questions regarding this issue.

[2021-04-01 22:52] mccrearyd opened #739 "[BUG] hub.auto loading empty images"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
if you use hub.auto to create a dataset for https://www.kaggle.com/coloradokb/dandelionimages you get a lot of images that are of shape (0, 0, 0)

[2021-04-04 12:27] mynameisvinn commented on #404
Thanks @madhucharan!

[2021-04-08 11:40] mynameisvinn commented on #731
@McCrearyD Did you identify the root cause? Another explanation is that GIL contention could be more pronounced in multiprocessing on multiple cores for io, resulting in thrashing.

[2021-04-09 23:40] manashmandal opened #760 "[BUG] Setting dtype to `str` on Text schema yields ZeroDivisionError"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
If I try to create a dataset with one of the schema property as a Text schema and setting `dtype` to `str` it throws ZeroDivisionError.

**Input Code**

[code]

**It works fine without setting `dtype` parameter.**

**Expected behavior/code**
Initialize a dataset based on given url without throwing any error.

### ⚙️ Environment

- `Python` version(s):

[2021-04-10 03:54] dhiganthrao commented on #760
I guess this is because when you use the Text schema type, it autoconverts the given string to an `int64` representation. Removing the `dtype` parameter should solve this problem as you've mentioned, as it would default to `int64`. The text is still intact though; once you store the dataset, and call an element using `compute()`, it should yield the same text element.

Reference for schema: https:

[2021-04-10 16:21] mccrearyd opened #761 "[BUG] dataset indexing isn't normalized for different schema entries"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
if i have a dataset with the schema:

`{train: {image: Image()},
test: {image: Image()}}`

& i try to access `len(ds)`, it gives me the length of all samples. if i do `len(ds['train'])` i get 1. this is ok....

but when i do `len(ds['train']['image'])` it says: `'TensorView' has no len()`

also, when i do `ds['train']['image'][0]` i get the correct 0th ele

[2021-04-11 05:58] McCrearyD commented on #731
@mynameisvinn i had not considered this, i will use this information when tackling new code base

[2021-04-12 13:32] mynameisvinn commented on #760
@dhiganthrao is absolutely correct. Hub handles `str` by converting each char into its corresponding `int64` representation (see this [loc](https://github.com/activeloopai/Hub/blob/2d57bc8557af71bc2bc6154023a1b42a9efbf568/hub/schema/text.py#L14)).

Having seen this bug, I don't know why a user should have the option to specify dtype for text.

[2021-04-12 13:33] mynameisvinn commented on #760
@manashmandal I am closing this issue unless you were unable to get it to work.

[2021-04-12 13:33] #760 closed

[2021-04-12 13:35] mynameisvinn commented on #731
Sounds good @McCrearyD , let me know if you want to chat about this. It might also be as simple as "use multithreaded when I/O bound, multiprocessing when CPU bound". If that is true, we could infer the appropriate parallelization technique.

[2021-04-12 19:04] CorboDiei commented on #761
@McCrearyD Might this be a good first issue? If so I would like to be assigned.

[2021-04-12 23:16] mynameisvinn commented on #404
Update: I'd love to replicate this behavior somehow but haven't been successful.

[2021-04-14 09:20] sparkingdark commented on #404
@mynameisvinn are you created a new notebook using a google account on a chrome browser? In that case google automatically authorize colab to use the drive, try to use a third-party notebook or another one's colab notebook.

[2021-04-14 11:17] mynameisvinn commented on #404
@sparkingdark Okay, I will use a local Jupyter notebook.

[2021-04-18 17:11] Anselmoo opened #778 "Pickle compatibility is not given between pickle and cloudpickle => GitHub Action crash"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

By activating the pytest environment of [GirHub Actions - package.yml](https://github.com/activeloopai/Hub/blob/master/.github/workflows/package.yml), a compatibility problem shows up, as a result of incompatibility in the pickle protocols. The consequence is the CI test is crashed!

1) [https://github.com/Anselmoo/Hub/runs/2374960592?check_suite_focus=tr

[2021-04-18 17:59] Anselmoo opened #779 "Undefined environment variable in compute/tests/test_transform.py"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

The environment variable has to be first defined in GitHub actions via secrets. Otherwise, it will crash

[environment-variables](https://docs.github.com/en/actions/reference/environment-variables)
[encrypted-secrets](https://docs.github.com/en/actions/reference/encrypted-secrets)
https://github.com/activeloopai/Hub/blob/29ec1cda491d9a8afc794484f31137fb2d

[2021-04-22 12:51] mynameisvinn commented on #779
@Anselmoo Fetching secrets and writing to a remote destination seem unnecessary for this test. Do you think it makes more sense to write to a local path (eg `ds.store('./tmp`) rather than a remote test account?

[2021-04-22 12:54] mynameisvinn commented on #778
@Anselmoo this seems like an easy fix. Since a `Dataset` is easily serializable I am not sure why cloudpickle was used in the first place. Can you submit a PR and I will merge?

[2021-04-22 18:54] Anselmoo commented on #779
@mynameisvinn in this context, it is actually essential for PRs from outside / forked repositories. At the moment, only the [CircleCI](https://github.com/activeloopai/Hub/blob/master/.circleci/config.yml) runs a full unit- and coverage-test, if contributions are already merged into the master or on the way to be merged into the master. That's not clear, however, I know that CircleCI is not running

[2021-04-23 15:11] mynameisvinn commented on #778
@Anselmoo mind separating the PRs? It will served as future documentation on the decision between pickle and cloudpickle :)

Submit PR and I'll merge!

[2021-04-23 18:59] Anselmoo opened #795 "Adding .dccache to .gitignore"
## 🚨🚨 Feature Request

- [x] A new implementation  for Improvement

### Is your feature request related to a problem?

Adding `.dccache` to [.gitignore](https://github.com/activeloopai/Hub/blob/master/.gitignore) for the MAC Users. This will avoid passing the `.dccache` to PR of single users.

[2021-04-23 19:12] Anselmoo opened #797 "Double definition of ray in requirements-optional.txt"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

A double definition of ray in the `requirements-optional.txt` is not needed.

**Input Code**

https://github.com/activeloopai/Hub/blob/5f1ab722667552a3ae049b4f465b3d140f70487d/requirements-optional.txt#L4

https://github.com/activeloopai/Hub/blob/5f1ab722667552a3ae049b4f465b3d140f70487d/requirements-optional.txt#L8

### 🧰 Possible Solution  (optional)

Re

[2021-04-26 19:04] mynameisvinn commented on #797
@Anselmoo good catch! Mind submitting a PR and I'll merge?

[2021-04-26 19:15] Anselmoo commented on #797
@mynameisvinn, thx for the feedback. PR is already submitted #798

[2021-04-26 19:20] Anselmoo commented on #778
@mynameisvinn there is one more `cloudpickle` in the following test below

https://github.com/activeloopai/Hub/blob/27483e6c8dc2d45b4efcc478a6cdfbe6d2e0d532/hub/store/tests/test_s3_storage.py#L43-L47

If that is not necessary, we can completely remove it, even from the [https://github.com/activeloopai/Hub/blob/master/requirements-dev.txt](https://github.com/activeloopai/Hub/blob/master/requirement

[2021-04-28 04:48] #778 closed

[2021-04-28 04:48] #797 closed

[2021-04-30 05:17] FayazRahman commented on #739
I am not able to recreate this behavior. Did you use the complete dataset?

[2021-04-30 09:16] kristinagrig06 commented on #795
Resolve by #796.

[2021-04-30 09:16] #795 closed

[2021-04-30 13:19] mynameisvinn commented on #779
Yep exactly! This test covers transforms, not connections. Mind submitting a PR?

[2021-04-30 15:53] FayazRahman commented on #739
@McCrearyD If you stopped computing transformation abruptly and then tried auto.infer.infer_dataset on the same dataset again, hub thinks transformation is already done because of the existence of the "hub" directory and the images which were not processed is already initialized in the directory with shape (0, 0, 0) and this is what we're seeing.

[2021-04-30 17:50] Anselmoo commented on #779
@mynameisvinn  thx for the feedback!

If I look into the current master it looks like this issue would be already fixed by `@pytest.mark.skipif(not hub_creds_exist(), reason="requires hub credentials")`? Can you confirm it? If so, we can close the issue.

https://github.com/activeloopai/Hub/blob/4f3bd325790eadab15867c1a2c124a75719708c1/hub/compute/tests/test_transform.py#L370-L374

[2021-05-04 22:11] haiyangdeperci commented on #409
Fixed by #719

[2021-05-04 22:11] #409 closed

[2021-05-04 22:11] #529 closed

[2021-05-08 09:11] Anselmoo opened #843 "Extend the setup.py classifier by topics"
## 🚨🚨 Feature Request

- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

A clear and concise description of what the problem is. Ex. I have an issue when [...]

### If your feature will improve `HUB`

For easier finding and labeling of `hub`, the classifier of setup.y

https://github.com/activeloopai/Hub/blob/3500ec69f56b63c24bf2cf7391e559c82ca

[2021-05-08 16:40] todo[bot] opened #845 "boto3 list_objects only returns first 1000 objects"
https://github.com/activeloopai/Hub/blob/f9032c7e5448cb9a6e4a34dc6eed217fab2fec96/hub/core/storage/s3/s3_mapper.py#L116-L121

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f9032c7e5448cb9a6e4a34dc6eed217fab2fec96 when #838 was merged. cc @activeloopai.

[2021-05-08 16:40] todo[bot] opened #846 "add pytest benchmarks"
https://github.com/activeloopai/Hub/blob/f9032c7e5448cb9a6e4a34dc6eed217fab2fec96/hub/core/tests/test_storage_provider.py#L51

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f9032c7e5448cb9a6e4a34dc6eed217fab2fec96 when #838 was merged. cc @activeloopai.

[2021-05-08 16:40] todo[bot] opened #847 "Better S3 Exception handling"
https://github.com/activeloopai/Hub/blob/f9032c7e5448cb9a6e4a34dc6eed217fab2fec96/hub/util/exceptions.py#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f9032c7e5448cb9a6e4a34dc6eed217fab2fec96 when #838 was merged. cc @activeloopai.

[2021-05-08 21:48] mynameisvinn commented on #779
Sorry @Anselmoo ! Don't know how I missed this. This looks right so I will close the issue.

[2021-05-08 21:48] #779 closed

[2021-05-11 08:07] kristinagrig06 commented on #843
Resolved by #844.

[2021-05-11 08:07] #843 closed

[2021-05-15 14:11] sparkingdark opened #864 "[BUG]Dtype not supported in hub.auto.classification"
## 🐛🐛 Bug Report
when I try to upload a image classification dataset using hub.auto there was a dtype not supported error :
[code]

dataset used https://www.kaggle.com/gpiosenka/sports-classification can you take a look  @McCrearyD  @mynameisvinn  probably image datatype not added

[2021-05-16 07:18] DebadityaPal opened #865 "[FEATURE] ImageDataGenerator for Hub"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Data Augmentation is an important step while working with small datasets in Computer Vision. An incentive for not using Hub and storing data on local machines right now is the data augmentation pipeline.

With Keras, a develo

[2021-05-19 08:40] punidramesh commented on #847
Hey, I would like to work on this. If I'm not wrong, error handling for error codes from: https://docs.aws.amazon.com/cli/latest/reference/s3api/delete-objects.html is to be implemented?

[2021-05-19 09:07] AbhinavTuli commented on #847
Hey @punidramesh! Sure, I can assign this to you.
You're on the right track but it's not just for delete objects like the link you provided and we're using boto3 and not aws-cli.
This might also require some extensive testing to see what errors can actually arise. For eg. what if the internet connection gets interrupted? or what if the s3 credentials are invalid/expired?
For all such cases, we nee

[2021-05-19 09:07] #846 closed

[2021-05-19 09:10] punidramesh commented on #847
Got it, thanks for your inputs.

[2021-05-19 11:53] AbhinavTuli commented on #847
You can take a look at https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html, it lists errors corresponding to each call. Look at all the calls being made in s3.py. You might also want to take a look at the permissions corresponding to each call such as get_object as I guess there could also be permission issues sent back as a separate HTTP status code.

[2021-05-19 19:34] McCrearyD commented on #739
it ran on the entire dataset @FayazRahman, sorry for the huge delay i didn't see the notification for this

[2021-05-19 19:34] McCrearyD commented on #739
i did't abruptly stop transformation, it may be because of backwards compatibility though

[2021-05-19 19:42] Anselmoo opened #872 "Change in the order of the tuple for Ubuntu-OS"
It looks like that the order of the tuple is a change in the case of Ubuntu OS which will cause an assert error.

[code]

https://github.com/activeloopai/Hub/blob/3500ec69f56b63c24bf2cf7391e559c82ca01569/hub/auto/tests/test_image_classification.py#L77-L79

Possible workaround:

Instead of a total compare, a partial compare like:

 assert 'train' in ['train', 'val']
 assert 'val' in ['train', 'val'

[2021-05-19 19:56] FayazRahman commented on #739
Okay but the behavior I mentioned should also not happen. Why do we initialize images before processing?

[2021-05-20 05:08] dhiganthrao commented on #739
@FayazRahman my guess is, when you run a transform on a dataset, you need to pass an iterable to it. The length of this iterable is what determines the number of items in the Hub dataset. Since this is already known when you pass the iterable to the transform, the Hub dataset just consists of empty tensors (or images in this case). Since the transform didn't actually pass any data to the dataset (

[2021-05-29 22:19] pablovela5620 opened #905 "Schema for keypoints (points2d/points3d) documentation"
I'm relatively new to this repo, I'm testing this out for pose estimatino use case and looking at the google objectron dataset I know you can visualize keypoints as well as connect them via the `points2d` and `points3d` dtag, but I haven't found any documentation on it and haven't managed to figure it out.

Any help would be appreciated!

[2021-05-30 09:49] dhiganthrao commented on #905
@pablovela5620 Greetings, and welcome to Hub! We have a notebook explaining how Objectron can be used with Hub! Here's the [link](https://github.com/activeloopai/Hub/blob/master/examples/notebooks/Hello_Objectron.ipynb). Hopefully this helps in making it more clear!

[2021-05-30 16:17] pablovela5620 commented on #905
Hey, thanks so much for the response! I'm actually looking at it from the point of view of UPLOADING a dataset to visualize within the app.activeloop.ai such as this
![image](https://user-images.githubusercontent.com/25287427/120111643-c1e4d800-c140-11eb-8ea8-4ffd90581ed3.png)
rather than how to deal with an already uploaded dataset. The documentation says
![image](https://user-images.githubuserco

[2021-05-31 12:43] kristinagrig06 commented on #618
I’m closing this issue because it has been inactive for a few months. Please reopen if you still encounter this issue in the upcoming versions of docs.

[2021-05-31 12:43] #618 closed

[2021-05-31 12:44] kristinagrig06 commented on #567
Closing this issue because it has been inactive for a few months.

[2021-05-31 13:29] kristinagrig06 commented on #648
Closing this issue as it will be outdated in v2.0.

[2021-05-31 13:29] #648 closed

[2021-05-31 13:36] kristinagrig06 commented on #404
I’m closing this issue because it has been inactive for a while and isn't related to v2.0.

[2021-05-31 13:36] #404 closed

[2021-05-31 15:33] DebadityaPal opened #909 "[BUG] Image schema raises error in new version"
## 🐛🐛 Bug Report
The new version of hub `v.1.3.7` raises the  following error: `hub.exceptions.NotFoundException: Not supported dtype for Image`
with the schema:
[code]
when I try to run the following line: `ds = hub.Dataset(f"debadityapal/{ds_tag}", schema=schema, shape=(5000,), mode="w")`

Error is not raised in `v1.3.5`

[2021-06-01 02:30] shayanfazeli opened #911 "[FEATURE] read/write in webdataset format"
Providing support for adding/reading a dataset that is already prepared in "[webdataset](https://github.com/tmbdev/webdataset)" format to/from the hub will be a great feature.

[2021-06-01 04:24] dhiganthrao commented on #905
@pablovela5620 hey there, and sorry for the delay in answering. I've brought this up with our engineering team, and I'll get back to you by the end of the day with a proper answer!

[2021-06-01 05:40] dhiganthrao commented on #911
Hey there! Thank you for using Hub, and for bringing this up to our notice. I'll bring this up to the rest of the team, and will let you know about it in some time!

[2021-06-01 13:38] pablovela5620 commented on #905
Great, appreciate the help!

[2021-06-01 13:46] mynameisvinn commented on #911
hey @shayanfazeli so i understand the motivation: what is the use case to convert data in `webdataset` format to `hub`? After all, both are eventually passed to `DataLoaders`.

[2021-06-01 15:06] mattiasarro opened #912 "[BUG] Sequences of fixed vs varying size handled inconsistently"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior

**Input Code**

[code]

**Expected behavior**

I would expect it to work consistently across "ragged" sequences (rows with varying length) as well as ones where each row has the same number of elements.

### ⚙️ Environment

- `Python` version: 3.6.9
- `Packages`: [ `hub==1.3.5`, `zarr==2.7.1`]

### 🧰 Possible Solution  (optional)

`zarr.indexing.BasicInde

[2021-06-01 15:17] dhiganthrao commented on #912
Hey there! Thanks for bringing this issue up. We'll try reproducing this issue and get back to you in some time!

[2021-06-03 18:56] mynameisvinn commented on #911
Thanks @shayanfazeli

1. I'll look into this.
2. That is a good observation. I think it might easier to directly subclass `torch.utils.data.dataset.IterableDataset`.
3. Tar is a great compression technique. It is also possible to [compress with Hub](https://github.com/activeloopai/Hub/blob/bd6d192b8aab8f40221815ba4161b9c6394088af/hub/api/dataset_utils.py#L267).

Finally, Webdataset throws POSIX fi

[2021-06-04 06:01] dhiganthrao commented on #912
@mattiasarro, apologies for the delay in answering! We still haven't come up with a permanent fix for this, but here's a quick patch to your issue: specifying different `schemas` to handle sequences of varying length vs static length.
Something like this:
[code]

[code]
Again, this is a quick patch and not a permanent fix. We'll be sure to work on this and fix it soon!

[2021-06-04 06:11] mattiasarro commented on #912
Thanks @dhiganthrao for the input! So does @FayazRahman 's [PR](https://github.com/activeloopai/Hub/pull/915) not fix it? Or you mean the workaround can be used until the PR gets released in the next pip package?

For me, the schema of the dataset needs to be `schema={"txts": Sequence(dtype=Text(max_shape=(100,)))}`, because the txts field is variable in general. However when I use Hub transform t

[2021-06-04 06:18] dhiganthrao commented on #912
@mattiasarro I didn't get around to reviewing the PR, as it was closed. However, this issue should mostly get solved in 2.0 - since there's going to be a complete rewrite of the codebase, with some focus on dynamic tensors as well.

[2021-06-04 06:35] mattiasarro commented on #912
Just realised the PR is closed but not merged. Any rough timelines for when 2.0 will be released?

[2021-06-04 06:45] FayazRahman commented on #912
@mattiasarro @dhiganthrao Sorry guys I did something really stupid and saw the bug go away and thought it fixed it.

[2021-06-04 13:10] dhiganthrao commented on #912
@FayazRahman don't worry about it! @mattiasarro, the alpha version of Hub 2.0 is expected to release on June 10!

[2021-06-04 13:45] dhiganthrao commented on #905
@pablovela5620, apologies for the delay! In [app.activeloop.ai](https://app.activeloop.ai), you can change the `datatag` of the `Tensor` to `Point 2D Bounding Box`. This enables the visualizer to plot the `Tensor` on the image as a 2D Bounding Box! Only the author of the dataset can change the `datatag`s, by the way. Hope this solves your issue!

[2021-06-04 14:23] pablovela5620 commented on #905
Where does one modify the datatag? I'm confused about the difference between schemas and datatags. I see theres a BoundingBox schema option, is that what you mean?
![image](https://user-images.githubusercontent.com/25287427/120816398-af8ee380-c51e-11eb-9e37-ff9080ce1fb2.png)
It looks like this only a Tuple of shape 4, the example above of the 3d bbox projected into 2d contains more than 4 image co

[2021-06-04 14:24] pablovela5620 commented on #905
I'm basically trying to visualize 2d keypoints similar to this, but I'm not sure if this tool supports the option or not
![image](https://user-images.githubusercontent.com/25287427/120816731-0694b880-c51f-11eb-95cb-9e312e1a8d8d.png)

[2021-06-04 14:34] dhiganthrao commented on #905
@pablovela5620, you can change the `datatag` in the visualization website itself.
![image](https://user-images.githubusercontent.com/53207198/120817213-25bb3680-c56f-11eb-946f-64a443c1bdb7.png)
Simply head on to your dataset in the website and try changing the `datatag` to the `Point 2D` mentioned above.
Regarding your particular use case: Right now, these types of keypoints are not supported by H

[2021-06-04 14:39] pablovela5620 commented on #905
Gotcha, thanks for the help!

[2021-06-04 14:39] #905 closed

[2021-06-12 17:13] praneethratna commented on #761
@McCrearyD Hi , I'm new to open source contribution and if this is a good first issue could this be assigned to me as i would like to work on it?

[2021-06-12 17:22] dhiganthrao commented on #761
@praneethratna hey there, and welcome to Hub! Thanks for your interest in this issue! This issue was part of Hub 1.0, an old codebase which we're completely rewriting now. There's going to be a brand new version of Hub, 2.0, coming out soon! Stay tuned!

[2021-06-12 18:22] McCrearyD commented on #761
@praneethratna @dhiganthrao yep, this will no longer be an issue :)

[2021-06-18 17:41] pablovela5620 commented on #909
having the same problem with both `uint8' and 'uint16'

[2021-06-18 18:26] dhiganthrao commented on #909
Hey guys! This issue will get resolved soon in Hub 2.0. We're releasing an alpha version next week, so stay tuned!

[2021-06-21 19:09] emakei opened #980 "[BUG] no suitable image found"
## 🐛🐛 Bug Report
I'd try to register from zsh

### ⚗️ Current Behavior
I cannot register on hub

**Input Code**
hub register

**Expected behavior/code**
I don't now

### ⚙️ Environment

- `Python`: 3.9.5 (default, May  7 2021, 18:34:13)
  [Clang 12.0.5 (clang-1205.0.22.9)] on darwin
- `OS`: macOS Big Sur 11.4 on Apple Silicon (M1)
- `IDE`: zsh
- `Packages`: hub

### 🖼 Additional context/Screenshot

[2021-06-21 19:41] dhiganthrao commented on #980
Hey there, and welcome to Hub! Can you let us know what version of Hub you're using? Please use `hub --version`.

[2021-06-21 19:48] emakei commented on #980
[code]

[2021-06-22 04:19] dhiganthrao commented on #980
From your error traceback, I can suggest the following:
- Apologies if I'm wrong, but it looks like there's no issue with Hub as such, but rather a problem with an import, which is NumPy in this case. Please verify that that was installed properly.
- If you're sure that your setup is alright, could you just let me know how you installed Hub? Simply by using `pip install hub`?

[2021-06-22 15:36] FayazRahman commented on #865
Will it be okay to use scipy as a dependency for applying transformations?

[2021-06-22 15:42] dhiganthrao commented on #865
Looping @AbhinavTuli into this conversation as he can provide more context on this issue.

[2021-06-22 18:26] DebadityaPal opened #985 "[FEATURE] Dataset Request: IAM Words Dataset"
## 🚨🚨 Dataset Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

My current research involves working with the IAM dataset, However, I am facing troubled uploading the dataset via Google Colab, as Google drive integration is really slow and the runtime has limited memory.

Uploading the Dataset via my local is really slow and time-consumin

[2021-07-02 09:02] DebadityaPal commented on #985
@dhiganthrao @mynameisvinn @kristina-arezina  Tagging for visibility.

[2021-07-02 11:36] dhiganthrao commented on #985
@DebadityaPal once the stable version of 2.0 is released, we'll make sure to try and upload the dataset! That will mostly be in ~2 weeks.

[2021-07-14 03:18] dhiganthrao commented on #980
Hey there @emakei! Bumping this up to see if you've still got any issues. I'm also excited to announce we’ve released the 2.0 community beta - you can try it out using pip (`pip install hub`). You can access the docs [here](https://docs.activeloop.ai/), and access some small tutorials to get started with 2.0 [here](https://docs.activeloop.ai/getting-started/)! You can also let me know if you run i

[2021-07-14 03:27] dhiganthrao commented on #912
Closing this issue, as dynamic sequences are properly handled in 2.0.
@mattiasarro, @FayazRahman - I'm also excited to announce we’ve released the 2.0 community beta - you can try it out using pip (`pip install hub`). You can access the docs [here](https://docs.activeloop.ai/), and access some small tutorials to get started with 2.0 [here](https://docs.activeloop.ai/getting-started/)! You can also

[2021-07-14 03:27] #912 closed

[2021-07-14 03:32] dhiganthrao commented on #909
Closing this issue, as there is no schema in 2.0.
@DebadityaPal, @pablovela5620 - I'm also excited to announce we’ve released the 2.0 community beta - you can try it out using pip (`pip install hub`). You can access the docs [here](https://docs.activeloop.ai/), and access some small tutorials to get started with 2.0 [here](https://docs.activeloop.ai/getting-started/)! You can also let me know if y

[2021-07-14 03:32] #909 closed

[2021-07-14 03:42] dhiganthrao commented on #761
Closing this issue as it won't have scope in 2.0.
@CorboDiei, @praneethratna - I'm also excited to announce we’ve released the 2.0 community beta! You can try it out using pip (`pip install hub`). You can access the docs [here](https://docs.activeloop.ai/), and access some small tutorials to get started with 2.0 [here](https://docs.activeloop.ai/getting-started/)! You can also let me know if you r

[2021-07-14 03:42] #761 closed

[2021-07-14 03:43] #702 closed

[2021-07-14 03:50] dhiganthrao commented on #864
Closing this issue, as this particular error won't arise in 2.0.

[2021-07-14 03:50] #864 closed

[2021-07-14 06:17] #845 closed

[2021-07-14 07:04] dhiganthrao commented on #739
Closing this issue as it will get resolved in 2.0.

[2021-07-14 07:04] #739 closed

[2021-07-15 18:11] Anselmoo opened #1051 "[BUG] Release-Drafter have to change from master to main"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
https://github.com/activeloopai/Hub/blob/07fb8d2f99451e30771dcb6b278ee589da801141/.github/workflows/release-drafter.yml#L5-L6

==> Contributions will not be count by name / user

[2021-07-16 14:42] Irvenae opened #1056 "[BUG] Example not working"
## 🐛🐛 Bug Report

When I run the example at https://docs.activeloop.ai/getting-started/creating-datasets-manually. I get an error.

### ⚗️ Current Behavior

[code]

Dtype was expected to be 'uint32' instead it was 'int64'. If you called `create_tensor` explicitly with `dtype`, your samples should also be of that dtype. Htype 'class_label' expects samples to have dtype='uint32'.

### ⚙️ Environment

[2021-07-16 17:38] dhiganthrao commented on #1056
Hey there @Irvenae, and thank you for using Hub!
Have you tried setting the `dtype` parameter to `int64` when you create the tensor? Something like
`ds.create_tensor("labels", dtype="int64")`

[2021-07-16 18:27] Irvenae commented on #1056
that is what I suggest as a possible solution in my last line.
Probably you don't want to do this though because you want to store it as an uint32. (maybe even less uint8 in the example case (or even 1 bit))

I think actually that you get the expected behavior because if the types don't match you could get in weird behavior situations e.g. when you have a 1 bit type and you try to store 3. this wo

[2021-07-16 18:38] mccrearyd commented on #1056
ds.labels.append(np.asarray([label]).astype(np.uint32)[0])

can instead be:

ds.labels.append(np.uint32(label))

[2021-07-16 18:39] mccrearyd commented on #1056
we have this functionality already, but i don't think it's on the latest release.

#1014

[2021-07-16 18:42] mccrearyd commented on #1056
also, to address your suggestion: you can override the default type while creating the tensor. (dtype=uint8)

the reason we have default uint32 is because uint8 only offers 256 possible values. you will pretty quickly run out, and so for default, since the labels tensor is extremely tiny anyways, it's better safe than overflow

[2021-07-16 18:43] mccrearyd commented on #1056
if you want 1bit, use:

ds.create_tensor(..., dtype=bool)

[2021-07-16 18:46] Irvenae commented on #1056
yes, I know how to update the type :)
that isn't the problem. I just wanted to note that the example doesn't work out of the box :)
so it is probably better to cast to do expected numpy type by the suggested modification (ds.labels.append(np.uint32(label)) )

[2021-07-16 18:51] dhiganthrao commented on #1056
@Irvenae yep, understood! Thank you for bringing this up to our attention. We'll make the changes shortly!

[2021-07-16 18:56] istranic commented on #1056
Thanks for pointing this out @Irvenae

Docs have been updated.

[2021-07-16 18:56] #1056 closed

[2021-07-16 19:22] mccrearyd commented on #1056
good point, thank you @Irvenae !

[2021-07-16 19:26] mccrearyd commented on #1056
we will fix this by casting int32 -> uint32 when it is safe to do so (int32 value is >= 0). i misread the original comment :-P

[2021-07-17 15:19] dhiganthrao commented on #1051
Closing as relevant pull request got merged.

[2021-07-17 15:19] #1051 closed

[2021-07-26 09:22] dhiganthrao commented on #980
Closing this due to lack of activity.

[2021-07-26 09:22] #980 closed

[2021-08-25 13:35] rahulbshrestha opened #1130 "[BUG] dataset_meta.json isn't updated after create_tensor"
## 🐛🐛 Bug Report

After loading an existing dataset with hub.dataset, create_tensor doesn't update the "tensors" attribute in dataset_meta.json.

### ⚗️ Current Behavior

For example, a dataset called "hub_dataset" with tensor "images" already exists. Loading it with hub.dataset then appending a new tensor, "test":

[code]
The "tensors" attribute in dataset_meta.json won't contain the "test" tenso

[2021-09-02 07:57] wakanawakana opened #1145 "[FEATURE]"
Hello, contributors.

I accessed the self-certified Nooba and it didn't work.
I understand that this problem is caused by self-certification, but there was no workaround.
Will S3 compatible object storage, such as Nooba( self-certification ), be available?

[2021-09-03 00:43] wakanawakana commented on #1145
@dhiganthrao Thank you for the response.

I expect the AI ​​Database to become widespread with fast object strorage and this hub effort.
Nooba ×　NooBaa〇
https://www.noobaa.io/

[2021-09-03 08:04] Irvenae opened #1147 "[BUG] page not found https://api-docs.activeloop.ai/htypes.html"
## 🐛🐛 Bug Report

On the website when on this page: https://docs.activeloop.ai/getting-started/creating-datasets-manually

In the section

[code]

When clicking on here you get redirected to https://api-docs.activeloop.ai/htypes.html which does not exist.

[2021-09-03 08:08] Irvenae commented on #1147
Actually found the page now:
should be renamed to  `https://api-docs.activeloop.ai/htype.html`

[2021-09-03 08:11] Irvenae commented on #1147
As an extra question should I post the issue here? (I can't seem to find the website code)

[2021-09-03 09:01] dhiganthrao commented on #1147
@Irvenae greetings, and thank you for bringing this up to our notice! We'll fix this issue shortly.

[2021-09-03 11:34] istranic commented on #1147
Fixed. Thanks for pointing this out. Any time there's a bug feel free to post here or on Slack!

[2021-09-03 11:34] #1147 closed

[2021-09-05 11:05] kmkolasinski opened #1149 "[QUESTION] How to handle variable length text or JSON types in Hub ?"
Hi, thank working on Hub ! I wonder whether it's possible to store data type of variable length like Texts or JSON objects. This seems to be possible already, since images are stored in that way (using compression and bytes). However, it is not clear to me how to achieve this for mentioned types.

Here is an example what I would like to achieve in practice:

[code]

Is such thing possible in Hub 2

[2021-09-05 11:45] davidbuniat commented on #1145
Hi @wakanawakana, fully aligned on AI database approach and really appreciate your feedback. Can you please give us more context on Nooba's self-certification issue?

Please feel free to join our community http://slack.activeloop.ai/ and PM me to discuss the issue. Happy to setup a call to go through the internals if needed.

[2021-09-05 17:43] dhiganthrao commented on #1149
@kmkolasinski, greetings, and welcome to Hub! Regarding text support for Hub, we're currently working on it and hope to release it in some time! Regarding JSON support, we haven't put it on the roadmap yet; however, let me discuss with the team and let you know more!

[2021-09-05 19:20] istranic commented on #1130
@mccrearyd I'm also experiencing this issue. Will create a ticket internally.

Thanks for pointing this out @rahulbshrestha!

[2021-09-05 20:32] istranic commented on #1130
@rahulbshrestha I'm able to re-create this error when adding a tensor to an older dataset, but when I create a new dataset and do everything from scratch, it works fine.

Are you having this issue when adding tensors to older datasets, or does it also happen to datasets that you created recently?

[2021-09-05 21:03] istranic commented on #1149
@kmkolasinski to give you more details, we'll add text support by the end of September. However, there is a hack you can use to add any type of data (including text) by converting from text -> bytes -> numpy array -> hub. I don't recommend this, but we can provide this hack if you need a solution asap.

Regarding JSON support, we don't have that on the roadmap, because our data model for your use

[2021-09-06 00:33] kmkolasinski commented on #1149
Thanks @istranic  and @dhiganthrao  you answered to all of my questions :) Can't wait for the text type support !

Regarding the JSON field, sometimes it maybe easier to just dump JSON data w/o taking care of its hierarchy and structure and since you will add text support I can easily use json.dumps if I will really need to store JSONs together with other data.

I'm closing this issue and thanks a

[2021-09-06 00:33] #1149 closed

[2021-09-09 15:22] rahulbshrestha commented on #1130
@istranic This issue only occurs when adding tensors to older datasets. For a new dataset, as you mentioned, it works fine.

[2021-09-12 16:15] kristinagrig06 opened #1156 "[FEATURE] Add support for CSV/Excel files to hub.auto"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Enable support for direct parsing of multiple CSV/Excel files into one Hub dataset, using hub.auto. Will be possible once text support is finalized.

### Description of the possible solution

The directory of CSV files can be as follows

[2021-09-12 16:24] kristinagrig06 opened #1157 "[FEATURE] New Dataset: IAM Words Dataset"
## 🚨🚨 Feature Request

- [x] Related to an existing [Issue](https://github.com/activeloopai/Hub/issues/985)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Upload IAM Words Dataset to Hub. The Dataset can be found at https://fki.tic.heia-fr.ch/databases/iam-handwriting-database

For more information please take a look at the [docs](https://docs.activelo

[2021-09-12 16:33] kristinagrig06 opened #1158 "[FEATURE] Dataset renaming"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Add functionality for easy renaming of datasets. With this, a user can rename any of their datasets without having to delete and re-upload their data under a different dataset name.

### Description of the possible solution

Possible sy

[2021-09-12 16:43] kristinagrig06 opened #1159 "[FEATURE] Convert Hub Dataset to pandas DataFrame format"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Enable users to seamlessly switch from a Hub dataset to a pd.DataFrame and leverage the tools of the Pandas library. Would be best for tabular data such as numerical features.

Syntax:

`ds.to_dataframe()`, where ds is a Hub dataset.

[2021-09-12 17:00] kristinagrig06 opened #1160 "[FEATURE] Better S3 Exception handling"
## 🚨🚨 Feature Request

- [x] Related to an existing [Issue](https://github.com/activeloopai/Hub/issues/847)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

All errors related to the S3 storage are now handled by general exceptions, e.g https://github.com/activeloopai/Hub/blob/879efa1d7e8e4a7e91dcc569a83a8f17a2e6560a/hub/util/exceptions.py#L282

### Desc

[2021-09-12 17:20] kristinagrig06 opened #1161 "[FEATURE] Add generic image transformations to hub.compute()"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Modify image data from Hub Datasets using basic image transforms. This modifications can be applied to the existing/new datasets using `hub.compute()` functionality.

For more information, please see the [docs](https://docs.activeloop.a

[2021-09-12 17:41] kristinagrig06 opened #1162 "[FEATURE] Google Drive storage provider"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Support Google Drive as a storage provider for Hub datasets.

### Description of the possible solution

Implementations of already supported storage providers can be used as examples: [S3 storage](https://github.com/activeloopai/Hub/blo

[2021-09-12 17:50] kristinagrig06 opened #1163 "[FEATURE] Disallow certain methods for dataset and tensor views"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

Disallow certain methods for datasets and tensor views. A "view" is a result of slicing a dataset or tensor (ds[10:20], tensor[220:30], etc).

**Dataset.create_tensor()**. This method should only be allowed for the base dataset/group. When called on a view, throw an exception

[2021-09-12 18:16] kristinagrig06 opened #1164 "[FEATURE] Dataset copying"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Copy data from one dataset to another by simply transferring files between the underlying storages. This can be faster than append/extend in a for loop or hub transforms as the chunks are not unpacked into samples. Works only if the sou

[2021-09-12 18:23] kristinagrig06 opened #1165 "[FEATURE] Add method to delete all samples from tensor"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Add a `tensor.clear()` method that deletes all data from a tensor. The tensor itself should not be deleted from the dataset.

Difficulty: Medium

[2021-09-12 18:35] kristinagrig06 opened #1166 "[FEATURE] Allow all supported image formats in hub.auto"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

Right now [hub.dataset.ingest](https://api-docs.activeloop.ai/#hub.ingest) only supports .jpg(.jpeg) and .png files.

### Description of the possible solution

Add more file formats. The full list of extensions can be found b

[2021-09-12 18:38] kristinagrig06 opened #1167 "[FEATURE] Create Dataset from pandas DataFrame"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Allow Dataset creation from a pandas DataFrame via a static method such as hub.dataset.from_dataframe.

[code]

Difficulty: Medium

[2021-09-12 18:44] kristinagrig06 opened #1168 "[FEATURE] Redis storage provider"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Support Redis as a storage provider for Hub datasets.

### Description of the possible solution

Implementations of already supported storage providers can be used as examples: [S3 storage](https://github.com/activeloopai/Hub/blob/879ef

[2021-09-12 18:56] kristinagrig06 opened #1169 "[FEATURE] Retry login instead of exiting"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

When `activeloop login` is used and a user enters the wrong username or password by mistake, the prompt exits. Instead, the prompt could refresh and ask for the credentials again instead of exiting. There could also be a quit option if

[2021-09-12 19:11] kristinagrig06 opened #1170 "[FEATURE] Create Datasets from TFRecords"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Add hub.auto functionality for easy parsing of TFRecords into a Hub dataset.

[2021-09-12 19:20] kristinagrig06 opened #1171 "[FEATURE] Tutorials of fixing common exceptions in Hub"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Create a Jupyter notebook that points out some common cases where users might go wrong and get errors. Explain what these errors are, how they’re caused, and how one can fix them.

Examples of errors: Importing hub not working until run

[2021-09-12 19:27] kristinagrig06 opened #1172 "[FEATURE] Tutorial notebooks for popular datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Create notebooks with training pipelines using popular datasets available in Hub. A list of all datasets from activeloop can be found by running:
`activeloop list-datasets --workspace activeloop`

[2021-09-13 07:25] kristinagrig06 opened #1173 "[FEATURE] Tool to upload all image files to a hub store"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Create a tool that will recursively walk a given local directory and upload any image files found to the given hub-format store.

### Description of the possible solution

Suggested API:
[code]
The labels-file could be a comma-separated

[2021-09-13 07:34] kristinagrig06 opened #1174 "[FEATURE]Track tensor sizes in tensor metas"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
Right now we have no easy way of calculating how much space a tensor takes up. so when a user wants to know how much data they have, we can only estimate (and if this data is dynamic, these estimations decrease in accuracy).

[2021-09-13 07:49] kristinagrig06 opened #1175 "[FEATURE] PyTorch & Tensorflow aliases for datasets"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

These methods of converting hub datasets to PyTorch or TensorFlow exist right now:
[code]
Aliases of the same methods can be created, e.g.:
[code]

[2021-09-13 07:58] muhdhisham commented on #1175
I'm new to open source, can you please tell how to get started to resolve this.

[2021-09-13 08:16] kristinagrig06 opened #1176 "[FEATURE] CLI commands for common dataset tasks"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Add CLI commands to run basic dataset tasks, e.g.:
1.  delete dataset
2.  hub.auto ingest dataset (requires hub auto)
3.  get dataset meta

Difficulty: Medium

[2021-09-13 09:04] AbhinavTuli commented on #1175
Hey @muhdhisham! It's good to see that you're interested in contributing to hub. Adding an alias for methods in Python is rather trivial. You need to navigate to the Dataset class in hub/core/dataset.py and make the changes.
Adding aliases should be very similar to how this alias is defined here https://github.com/activeloopai/Hub/blob/main/hub/core/dataset.py#L480

[2021-09-13 09:40] kristinagrig06 opened #1177 "[FEATURE] Add tensor.pytorch and tensor.tensorflow methods"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Currently, only Datasets can be used to create PyTorch Dataloaders, TensorFlow Datasets.
Need to add functionality to convert Hub tensors to PyTorch/TensorFlow compatible format.

Difficulty: Medium

[2021-09-13 09:42] kristinagrig06 opened #1178 "[FEATURE] Progress bar for .extend()"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Calculate the number of bytes to upload before extending, if it is above a certain amount turn on a progress bar and give the completion details in GB/MB.

Difficulty: Medium

[2021-09-13 09:50] kristinagrig06 opened #1179 "[FEATURE] Check if hub.read() path is a dataset and raise a better exception"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

We have hub.read and hub.load, hub.load is for loading datasets and hub.read is for reading sample files. Sometimes users mistake hub.read for hub.load and vice versa.

### Description of the possible solution

hub.read if po

[2021-09-13 09:55] kristinagrig06 opened #1180 "[FEATURE] Beautify meta .json files"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?
All of our json files(currently tensor_meta.json and dataset_meta.json) use json.dumps which means the json output is all on a single line. This can make it harder for a user to read them, especially when we start adding more

[2021-09-13 09:57] kristinagrig06 opened #1181 "[FEATURE] Specify default value for num_workers"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

For methods that take a `num_workers` argument for parallelizing, specify a default value like `None` that sets it to the max value (num cores total).

1.`pytorch`
2.`tensorflow`
3.`compute`

Difficulty: Easy

[2021-09-13 09:59] kristinagrig06 opened #1182 "[FEATURE] Check if a dataset already exists"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Need a way to check if a dataset already exists.

hub.empty throws an error if a dataset exists and hub.load throws an error if the dataset does not exist.

Need a way to check if a dataset already exists without throwing an error.

###

[2021-09-13 10:55] muhdhisham commented on #1175
@AbhinavTuli is this okay.

[2021-09-13 14:12] kristinagrig06 opened #1184 "[FEATURE] HuggingFace to Hub converter"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

Add a converter from HuggingFace Datasets to Hub format.
Can be added once text support is ready.

Difficulty: Medium-hard

[2021-09-13 14:14] muhdhisham commented on #1160
I'm a beginner, can anyone please tell how to get started to resolve this.

[2021-09-14 15:48] bhattbhuwan13 commented on #1181
Hi, this seems easy. I am new to open source and would like to work on this. Can you clarify what you mean by:

1.`pytorch`
2.`tensorflow`
3.`compute`

[2021-09-14 17:53] muhdhisham commented on #1180
I would like to give this a shot. Can to please tell how to get started with solving this issue.

[2021-09-14 19:02] Hemantr05 commented on #1167
Hi @kristinagrig06 can you please assign this issue to me?

[2021-09-16 19:58] mccrearyd commented on #1180
@muhdhisham https://github.com/activeloopai/Hub/blob/b77952c0209a6bed91a2cbadfa1afa7bb4b7913f/hub/core/storage/cachable.py#L30

[2021-09-16 20:00] mccrearyd commented on #1180
the follwing meta files can be beautified:

- tensor_meta.json
- dataset_meta.json

after implementing beautify code, it would be nice if you could add a test for this.

this test should be in the file: `Hub/hub/core/meta/tests/test_beautify.py`

[2021-09-17 05:08] bhattbhuwan13 commented on #1179
I would like to work on this

[2021-09-17 05:26] dhiganthrao commented on #1179
@bhattbhuwan13, greetings, and welcome to Hub! Thank you for wanting to contribute to Hub for Hacktoberfest! Do you have a proposed solution in mind?

[2021-09-19 19:15] mccrearyd commented on #1179
hi @bhattbhuwan13 as a starting point, you can check out [where `hub.read` is defined](https://github.com/activeloopai/Hub/blob/main/hub/api/read.py). it returns a [sample](https://github.com/activeloopai/Hub/blob/main/hub/core/sample.py) object and this is where the contribution for this issue would live!

[2021-09-23 15:55] sparkingdark commented on #1182
@kristinagrig06  is this up for grab,give it a try.

[2021-09-23 16:02] dhiganthrao commented on #1182
@sparkingdark, hey there, and welcome to the Hacktoberfest issues! Do you have a proposed solution in mind?

[2021-09-23 16:05] sparkingdark commented on #1182
Hey as I am gone for a long time so I first need to check the codebase so that's why I pick this and after that I can come up with a solution,if that is okay let's assign me.

[2021-09-23 16:08] dhiganthrao commented on #1182
Sure, will assign you to this issue and you can work on a solution!

[2021-09-23 17:53] dhiganthrao commented on #1160
Greetings, @muhdhisham, and welcome to Hub! Since you've mentioned you're a beginner, it may be a good idea to move to another, easier issue, in case you run into any problems with this issue. You can take a look at some issues marked as "good first issues" (#1182 for example.)

[2021-09-24 07:07] bhattbhuwan13 commented on #1179
@dhiganthrao @mccrearyd

Here is my proposed solution:

**For hub.read()**
If value of [`path`](https://github.com/activeloopai/Hub/blob/0d0508e875f0d444395bbaa62e4295bdd856fa5c/hub/api/read.py#L12) variable provided to this method has an extension i.e `filename.png` or `filename.jpg`, or `<any_file>.<any_extension>`, then it is a local file and it is safe to use `hub.read()`. If that is not the c

[2021-09-24 15:47] dhiganthrao commented on #1179
@bhattbhuwan13, great approach!

A few comments to think about while you work:
- Rather than running a check to see if the path variable contains an extension or not, you could check if the path value points to a file or a folder using the `os` module.
- If it’s a file, `hub.read` will work while `hub.load` should fail.
- If it’s a folder, `hub.read` should fail while `hub.load` will work.

[2021-09-24 16:04] bhattbhuwan13 commented on #1179
@dhiganthrao , that is an even clever suggestion. But, I have a query.
The input to `hub.load` can be a url for the dataset. Will your suggested approach work in that case?

[2021-09-24 17:57] dhiganthrao commented on #1179
If it's just a normal URL, Hub would error out saying there isn't a dataset at this location. You can add a check to see if the incoming path starts with any of our compatible storages: for example, you could check if the incoming path variable starts with `hub://` or `s3://` etc.

[2021-09-26 18:42] DiptoChakrabarty commented on #1181
Can I take this up .

Just to clarify my approach , some of the methods and functions do not have a num_workers default size set for example https://github.com/activeloopai/Hub/blob/7ffb209c3166d18ba837a94f940ac228834edd4a/hub/core/storage/prefetch_lru_cache.py#L39  .
The num_workers have to be given a default value which could be None (as mentioned in the issue )or can be set to 2 (which is the m

[2021-09-27 04:29] dhiganthrao commented on #1181
@DiptoChakrabarty, greetings, and welcome to Hub! Yep, your approach sounds good, and looking forward to seeing you open a PR solving this issue!

[2021-09-27 10:27] bhattbhuwan13 opened #1205 "[FEATURE] Use Poetry for dependency management"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

In large projects, it can be painful to separate development and production dependencies. Poetry can solve this issue.

### If your feature will improve `HUB`

-

### Description of the possible solution

Use poetry for depen

[2021-09-27 17:03] dhiganthrao commented on #1205
Hey there @bhattbhuwan13, thank you for bringing this to our notice! Looping in @davidbuniat and @AbhinavTuli to comment more on this feature.

[2021-09-27 22:02] davidbuniat commented on #1205
@bhattbhuwan13 Thanks for bringing the solution. I have few questions here and maybe more in future.

1) Does it make easy adding optional dependancies e.g. building `pip3 install hub[distributed]` that comes with all sort of additional distributed dependancies?
2) What about minimizing the dependancies and creating wheels for each architecture?

[2021-09-29 22:16] SatYu26 commented on #1180
I was looking into this and found some good solutions. the one I liked was to use `indent` in `json.dumps`.

[2021-09-30 04:59] Eeshaan-Dutt commented on #1179
on specifying the hub.read(), lets take the path address(Abs/relative) and navigate to the directory specified, preferably to the parent directory, and list all the contents/ files in all formats. using regex module, we can check if file exists there or not, if yes, then we can go ahead with hub.read(), else, we can return a boolean value via function which automatically toggles the reading proced

[2021-09-30 05:13] tatevikh opened #1213 "[FEATURE] Delete tensor from a dataset"
## 🚨🚨 Feature Request

- [ ] Related to an existing [Issue](../issues)
- [x] A new implementation (Improvement, Extension)

### If your feature will improve `HUB`

this task is to allow deleting a tensor alongside its data.

API:
`ds.delete_tensor(tensor_name, large_ok = False)`

when `large_ok` is False, only tensors that contain <= 1GB of data can be deleted. If the tensor contains > 1GB, you sh

[2021-09-30 05:31] mccrearyd commented on #1180
@SatYu26 sure, indent=4 and sort_keys=True should do the trick.

[2021-10-01 02:43] dhiganthrao commented on #1179
Hey @Eeshaan-Dutt, thanks for the great idea! Since this issue is assigned to @bhattbhuwan13, if you want to contribute towards Hub during Hacktoberfest, you can take a look at our other open issues [here](https://github.com/activeloopai/Hub/projects/11)!

[2021-10-01 06:52] cr1spyvada commented on #1159
I would like to try to work on this issue, I have knowledge of pandas library but am a beginner in open source.

[2021-10-01 17:31] bopardikarsoham commented on #1157
Hi @kristinagrig06, can you please assign this issue to me?

[2021-10-02 03:55] rktejesh commented on #1213
@tatevikh Can I work on this issue?

[2021-10-02 04:06] monalisha31 commented on #1169
@tatevikh  I would like to work on this issue.

[2021-10-02 05:22] tatevikh commented on #1169
sure, good luck!

[2021-10-02 05:23] tatevikh commented on #1213
sure, enjoy!

[2021-10-02 06:00] dhiganthrao commented on #1180
Hey @SatYu26, thanks for the suggestions! Looking forward to a PR 😄

[2021-10-02 06:02] dhiganthrao commented on #1175
@muhdhisham please re-open this PR so you can sign the CLA and get it merged 😄

[2021-10-02 06:04] dhiganthrao commented on #1172
Hey @Eeshaan-Dutt, you can use them, but please keep in mind that Hub should be the star of these tutorials - whatever can be done with Hub, should be done!

[2021-10-02 06:08] dhiganthrao commented on #1157
Hey @bopardikarsoham, and thank you for your willingness to contribute! We'll have official support for text data next week, so you can work on this issue then. Please make sure that you upload the dataset in its entirety, changing as little as possible while converting it to Hub format. Once you upload the dataset, please send the path to the dataset (it would look something like this: `hub://use

[2021-10-02 06:16] Eeshaan-Dutt commented on #1172
Ok, Being a newbie to this domain, pls. excuse my mistakes, and let me know the same, I guess that I can make a tutorial notebook, based on which we can give the user to decide the input dataset they want to work on, based on type of dataset, we can initialise the pipeline using the scikit learn package pipeline, and its parameters. The parameters would be dependent on dataset itself, as the user

[2021-10-02 10:03] TakshPanchal commented on #1161
Hey, I wanted to try this issue. I wanted to know that which image transformations are recommended?

[2021-10-02 10:44] SatYu26 commented on #1180
how should I check if the changes I have made are correct or not? And I have never written tests before if anyone can help me, it would be better.

[2021-10-02 13:06] pranatimittal commented on #1165
Hey, can I do this? I am interested but I will need some help since I am new to it.

[2021-10-02 18:43] mccrearyd commented on #1161
@TakshPanchal i recommend running a chain of some common transformations found on pytorch https://pytorch.org/vision/stable/transforms.html

[2021-10-02 19:10] TakshPanchal commented on #1161
Thanks, @mccrearyd . So where can I put all code for these transformations?

[2021-10-03 05:56] dhiganthrao commented on #1165
Hey @pranatimittal, greetings and welcome to Hub! Great to hear that you're interested in contributing. Do you have an initial approach to solve this problem? We can help you out better that way!

[2021-10-03 07:49] pranatimittal commented on #1165
@dhiganthrao I was think to take tensor name as input whose data needs to deleted. then use `torch.empty()` to return an empty tensor. is that okay?

[2021-10-03 10:08] parth1614 commented on #1166
Greetings there! Can I hop on to this issue?

[2021-10-03 12:26] jaivanti commented on #1171
Hi, Can you please elaborate this? Like should we make multiple notebooks for different errors?

[2021-10-03 16:11] ixsluo opened #1221 "[questions] incompatible with tensorboard"
I'm trying to install hub using `pip install hub`, and hub requires google-auto~=2.0.2, which is conflict to tensorboard.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorboard 2.6.0 requires google-auth<2,>=1.6.3, but you have google-auth 2.0.2 which is incompatible

[2021-10-03 16:18] ixsluo commented on #1221
Though they can be installed at the same time and imported together, I wonder if there will be a problem

[code]

[2021-10-03 16:32] ixsluo commented on #1221
Apparently tensorboard won't run in this case

[code]

[2021-10-03 18:01] MoritzWillmann commented on #1177
Hey @kristinagrig06 @tatevikh, very cool project! Can I collaborate in this issue? I am new to open source but I have experience in software development (also in a team). I also have experience with pytorch and tensorflow.

[2021-10-03 19:27] davidbuniat commented on #1221
Hi @ixsluo, yes seems there is a dependency conflict. Can you try downgrading `google-auth` to `1.35.0` and see if both hub and tensorboard operate on your conda environment?

[2021-10-04 01:51] ixsluo commented on #1221
Thank you for your advise. With `google-auth=1.35.0`, hub seems work.

[2021-10-04 01:52] #1221 closed

[2021-10-04 02:40] dhiganthrao commented on #1177
Hey @MoritzWillmann, welcome to Hub and Hacktoberfest, and thank you for your willingness to contribute! Do you have a proposed solution in mind for this issue?

[2021-10-04 02:41] dhiganthrao commented on #1171
Hey @jaivanti, welcome to Hub, and thank you for your willingness to contribute! I would suggest you go through the codebase first, try finding out as many exceptions as you can, and compile them all into one Jupyter Notebook. It isn't necessary right now to have different notebooks for different exceptions.

[2021-10-04 02:42] dhiganthrao commented on #1171
I'll assign you to this issue if you're willing to work on it, let me know! 😄

[2021-10-04 05:43] MoritzWillmann commented on #1177
Hey @dhiganthrao, I checked out some of your code for `.numpy()` yesterday and I think I'll first implement it similar to that. I read [in pytorch forums](https://discuss.pytorch.org/t/copy-raw-float-buffer-to-tensor-efficiently-without-numpy/98524) though that transforming a buffer to `torch.Tensor` directly can be slow so I'd benchmark it against a call `torch.from_numpy(np.frombuffer(...))`. Do

[2021-10-04 13:05] divikshrivastava commented on #1130
@istranic and @rahulbshrestha , I am a beginner developer, can I take a stab at this if it's still open ?

[2021-10-04 14:27] dhiganthrao commented on #1130
Hey @divikshrivastava, greetings to Hub, and thank you for your willingness to contribute! Since this issue is not high priority, would you mind taking a look at the open issues for Hacktoberfest? Here's the link: https://github.com/activeloopai/Hub/projects/11.

[2021-10-04 15:45] jaivanti commented on #1171
Yeah I would like to work on it...Thanks

[2021-10-05 19:36] DiptoChakrabarty commented on #1181
hey @dhiganthrao I guess the previous method I said was incorrect just wanted to clarify that methods and functions associated with `pytorch` `tensorflow` and `compute` , in there num_workers has to be as default `None` to pickup thr max num cores.

for example here
https://github.com/activeloopai/Hub/blob/f1b487d646d2e738af4636a8bce10bf66299cc11/hub/core/dataset.py#L474-L478

Is this approach cor

[2021-10-06 05:54] nollied opened #1234 "help fix corrupted datasets!"
difficulty: advanced/creative

oh no datasets are corrupted! your mission, should you choose to accept, is to save them!

lol but fr we need a way to, if the user's tensor_meta.json/dataset_meta.json files get messed up, try to re-create them.

basically a tensor_meta.json contains:

- length
- min_shape <-- need to iterate over the whole dataset
- max_shape <-- also need to iterate over whole dat

[2021-10-06 06:07] farizrahman4u commented on #1177
I think for now .pytorch() and .tensorflow() can call .numpy() underneath. @AbhinavTuli ?

[2021-10-06 06:19] dhiganthrao commented on #1166
Hey there @parth1614! Apologies for the delay in answering, and welcome to Hub! Thank you for your willingness to contribute! Do you have a proposed solution in mind?

[2021-10-06 06:21] dhiganthrao commented on #1175
Hey @muhdhisham - bumping this up in case you haven't seen it!

[2021-10-06 10:23] farizrahman4u commented on #1177
@MoritzWillmann sounds good.

[2021-10-06 19:43] thisiseshan commented on #1234
Mission Accepted

[2021-10-07 14:59] krishnajalan commented on #1168
So a Redis client need to be implemented?

[2021-10-08 07:41] dhiganthrao commented on #1175
Closing this issue as it's been resolved by @muhdhisham. Thank you for your contribution to Hub!

[2021-10-08 07:41] #1175 closed

[2021-10-08 07:43] dhiganthrao commented on #1169
@monalisha31 - hey there, and welcome to Hub! Do you have any updates/questions about this issue you'd like to share with us? 😄

[2021-10-08 07:43] dhiganthrao commented on #1167
Hey @Hemantr05 - just checking in if you have any updates/questions about this issue for us. 😄

[2021-10-08 19:45] Hemantr05 commented on #1167
No no, no issues. Was going through the code base, shall commit soon

[2021-10-09 06:48] prajvan commented on #1160
hi @dhiganthrao , if this issue isnt assigned, i can take it up

[2021-10-10 13:22] jaivanti commented on #1171
https://colab.research.google.com/drive/1yLNm_Nyh98nrSAooSqR6dVWm6hNgvXSL?usp=sharing
@dhiganthrao This is the colab notebook...I am adding errors and all....Please do check and let me know, if there's any need for any change

[2021-10-10 16:00] TakshPanchal commented on #1161
created a [PR](TakshPanchal:main).

[2021-10-10 16:41] TakshPanchal commented on #1176
Hey, I wanted to take this issue.

[2021-10-10 16:52] TakshPanchal commented on #1176
For the first command,
It should take a path and the dataset will be deleted.  Am I correct?

[2021-10-11 02:39] dhiganthrao commented on #1176
Hey @TakshPanchal - thanks for your willingness to contribute! Yep, the first command should delete the entire dataset which is present at the specified path.

[2021-10-11 02:47] dhiganthrao commented on #1171
Hey @jaivanti - I took a look at your notebook, and I have a small change to request:
- In the `ReadOnlyModeError` section of your notebook, you've mentioned that "The above command does not download dataset on local and is present only in read-only mode. So, if you want to make modifications, you have to first get it into writing format.". However, you're loading a dataset from another account, w

[2021-10-12 05:45] dhiganthrao commented on #1172
@Anaxagoras7, there's a PR open for the same, but it hasn't been updated for some time. If you think you have a good solution to this, go for it!

[2021-10-14 18:34] FayazRahman opened #1260 "[BUG] Creating a tensor deeper than one level does not work from non-head node"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
After checking out to a non-head node, creating a tensor deeper than one level (eg., "x/y/z", "a/b/c/d") throws TensorDoesNotExistError at second level (i.e., Tensor 'y' does not exist for "x/y/z", Tensor 'b' does not exist for "a/b/c/d")

**Input Code**

[code]

**Error**

[code]

**Expected behavior/code**

Expect tensor to be created.

### ⚙️ Environmen

[2021-10-16 14:07] Anaxagoras7 commented on #1172
Sure @dhiganthrao

[2021-10-18 05:56] TakshPanchal commented on #1176
@dhiganthrao, which branch should I choose as a base?

[2021-10-20 13:27] dhiganthrao commented on #1171
Hey @jaivanti - any updates/questions you have about this? 😄

[2021-10-21 02:38] dhiganthrao commented on #1168
@krishnajalan, apologies for the delay! Yep, similar to how we can store Hub datasets on platforms like S3, we need to implement a way to store Hub datasets as a Redis database.

[2021-10-21 14:18] bhattbhuwan13 commented on #1179
@dhiganthrao , I was working on this but I am getting `DefaultCredentialsError` when running tests. This is before even modifying the code. Here is the complete summary(look at the last line in the screenshot attached).
<img width="1280" alt="Screen Shot 2021-10-21 at 8 02 36 PM" src="https://user-images.githubusercontent.com/15955955/138296590-5a237be6-1bc3-4b11-bf97-61e7b9b9af48.png">

[2021-10-24 09:53] FayazRahman opened #1286 "[BUG] Index Error when calling numpy on tensor of loaded dataset after appending to it"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
After creating a dataset, opening it and then appending to it, tensor.numpy() throws an index error after loading the dataset again.

**Input Code**

[code]
Above code gives:
[code]

[2021-10-28 11:18] qzylalala opened #1303 "[BUG] Got an error when followed the quick start tutorial"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
I got an error when followed the quick start tutorial in https://docs.activeloop.ai/quickstart

**Input Code**

[code]

I got an error

[code]

### ⚙️ Environment

- `Python` version(s): 3.8
- `OS`: Windows 10
- `IDE`: Pycharm

[2021-10-28 16:34] #1303 closed, assigned to nobody

[2021-10-29 13:20] hoshimura opened #1308 "[BUG] cannot do dataset.tensorflow() on text tensors"
## 🐛🐛 Bug Report
trying to create  a text tensor and then converting to .tensorflow() raises typeerror because the meta dtype is passed as is and tf.TensorSpec does not support python str

### ⚗️ Current Behavior
trying to create  a text tensor and then converting to .tensorflow() raises typeerror

**Input Code**

[code]

**Expected behavior/code**
dataset_to_tensorflow should cast strings to tf.s

[2021-10-29 17:07] #1286 closed, assigned to nobody

[2021-10-30 11:03] jaivanti commented on #1171
Also...wanted to know..like the example repo is not listed in hacktober .....so wont that pull request be counted

[2021-11-01 10:01] hoshimura opened #1312 "[BUG] cannot do .pytorch() on text tensors"
## 🐛🐛 Bug Report
Similar to #1308 text tensors yield an error when trying to convert to pytorch

### ⚗️ Current Behavior
Pytorch does not support string tensors out of the box, so the solution here would include converting the tensor to a byte array.
Traceback (most recent call last):
  File "/home/johansy/.virtualenvs/dataloader/lib/python3.8/site-packages/hub/core/storage/prefetch_lru_cache.py",

[2021-11-01 14:04] #1308 closed

[2021-11-11 07:26] ChandanChainani opened #1339 "[FEATURE] Documentation for code structuring and flow"
## 🚨🚨 Feature Request

It would be good if we can add code structure and flow information for new contributer who want to get started in contributing to the project.

- [ ] Related to an existing [Issue](../issues)
- [ ] A new implementation (Improvement, Extension)

### Is your feature request related to a problem?

A clear and concise description of what the problem is. Ex. I have an issue when

[2021-11-11 10:38] dhiganthrao commented on #1339
Hey @ChandanChainani, and welcome to Hub! For this issue, what exactly do you have in mind? We have a [CONTRIBUTING.md](https://github.com/activeloopai/Hub/blob/main/CONTRIBUTING.md) for contributing guidelines, and the [Documentation](https://docs.activeloop.ai) for how to use Hub.

[2021-11-12 03:53] ChandanChainani commented on #1339
Hi @dhiganthrao

[smart_open](https://github.com/RaRe-Technologies/smart_open) one of the project in github has [`extending`](https://github.com/RaRe-Technologies/smart_open/blob/develop/extending.md) doc with the help of which one can easily extend the capability of the [smart_open](https://github.com/RaRe-Technologies/smart_open), which explain a bit about how the code is structured how all the

[2021-11-15 15:07] dhiganthrao commented on #1339
Hey @ChandanChainani, I see what you mean. We could potentially include this in a doc, thank you for the example and raising this issue! Let me get back to the team about this.

[2021-11-17 06:28] AbhinavTuli commented on #1312
Fixed by #1342

[2021-11-17 06:28] #1312 closed

[2021-11-21 06:48] FeryET commented on #127
Any news on this? Conda is one of the most popular package managers for DS applications and this is a must IMO.

[2021-11-26 12:24] hoshimura opened #1355 "[BUG] dataset.checkout branch name does not checkout latest commit of that branch"
## 🐛🐛 Bug Report
I know version control is in alpha and I hope I have understood usage correctly. That said it seems to me that the
dataset.checkout using a branch name does not yield the last commit on that branch

### ⚗️ Current Behavior
If I checkout a branch, do modifications and commit and after do checkout branch I will be pointed to the branch start.
Seamingly the dataset.commit_id is not u

[2021-11-26 12:42] AbhinavTuli commented on #1355
Hey @hoshimura !

I ran the code and got the following 2 outputs on subsequent runs:-
` NEW d6ed02d85c41446be7e0437279872d0a85448bb8 d6ed02d85c41446be7e0437279872d0a85448bb8`
`old 63c07e49332ccc945d5c7645fa673b31576016f3 {}`

`cid_updated = ds.commit("updated") # HERE cidbr_start == cid_updated != ds.commit_id`
This is expected behaviour, when you checkout to a new branch (that you've just created

[2021-11-26 13:00] hoshimura commented on #1355
That was a fast reply! So I misinterpreted the expected output from commit on the first commit. Seems it will always return the commit id from before the commit though?
I find it a bit odd that ds.commit() and ds.commit_id directly after are not the same

[2021-11-26 13:04] AbhinavTuli commented on #1355
So the thing is that ds.commit() returns the commit_id to the "checkpoint" you just created while ds.commit_id is the current commit id which is different.
This is done so that you can use the output of ds.commit() to go back to your checkpoint.

On the other hand ds.commit_id is the current commit id to which you are writing to (think of this as the commit id of the uncommitted changes on head) a

[2021-11-26 13:38] hoshimura commented on #1355
Ok, I might be stuck in a git way of interpreting commits.
Then, the ds.info missing info is the only outstanding issue here.

[2021-11-26 19:39] istranic commented on #127
Hi @FeryET. Thank you for checking in on this. We plan to release a conda distribution by December 24.

[2021-11-28 08:18] AbhinavTuli commented on #1355
Hey @hoshimura! #1356 should fix the info issue. Would be great if you could test it out on your end too.

[2021-11-29 07:47] hoshimura commented on #1355
@AbhinavTuli . I just ran the same code with your  #1356 and it works. The info is now present as expected.

[2021-11-29 08:45] hoshimura opened #1359 "[BUG] using version control with @hub.compute"
## 🐛🐛 Bug Report
If using version control with hub compute, fetching the newly added data goes south.

### ⚗️ Current Behavior
Traceback (most recent call last):
  File "/home/johansy/.virtualenvs/dataloader/lib/python3.8/site-packages/hub/core/storage/local.py", line 49, in __getitem__
    with open(full_path, "rb") as file:
FileNotFoundError: [Errno 2] No such file or directory: 'localrepo/strin

[2021-11-29 08:51] AbhinavTuli commented on #1359
Hey, could you try this on main? This issue should already be fixed.

[2021-11-29 08:54] hoshimura commented on #1359
@AbhinavTuli Thanks! I was continuing from the last commit. I confirm the issue is **NOT** on current main b028efadfaf451afa874f26f84c4292b7082d84f

[2021-11-29 08:54] #1359 closed

[2021-11-29 13:45] hoshimura commented on #1355
@AbhinavTuli sorry for this reopening. I did some further testing and I am not convinced that the current setup is easily understood.
If I checkout a branch I expect it to be a branch containing the history preceding the checkout. But I get the ds.commit_id which is an empty place.
[code]
and in a second run
[code]

[2021-11-29 19:06] istranic commented on #1355
Hi @hoshimura . Thank you for pointing out this issue. We are updating the return values from the version-control-related commands to make them more clear.

Currently, when you checkout `cid = ds.checkout("testbr")`, it is checking out the history preceding the "testbr" branch, even though cid does not match cidbr. Basically, the checkout works as expected, but the return value is not as expected.

[2021-11-29 19:34] hoshimura commented on #1355
Hi. Yeah, I agree that it is working as designed, explained also by @AbhinavTuli above and I am just saying that not keeping the history in the branch is not exactly obvious, especially not if one is used to other VCS like git. So if it is a feature you like to keep until reworked then we might as well close the issue.

[2021-12-02 17:50] istranic commented on #1355
Hi @hoshimura Thank you for taking the time today to chat about this issue. I ran the code above using [#1356](https://github.com/activeloopai/Hub/pull/1356) and it seems to be working correctly. Checking out using a `branch_name` seems to be loading data from commits that were made after the branch was initially created. Even though the returned `commit_ids` are still not intuitive, the correct d

[2021-12-02 17:53] hoshimura commented on #1355
Ok, perfect. Then your dev was right in that it has been fixed and I must
have messed up pip packages or something.
Ping when you are ready!
Johan

Den tors 2 dec. 2021 18:50istranic ***@***.***> skrev:

[2021-12-07 19:26] nollied opened #1377 "[FEATURE] single-CSV auto ingestion"
## 🚨🚨 Feature Request

Related to #1156 (this issue is a building block to it)

## Description

build the implementation of the API:
[code]

#1156 is the feature to support a directory of CSV files, but a single CSV file is sufficient for now.

[2021-12-12 15:56] noringname opened #1387 "Visualize local datasets"
Can I use the platform to visualize datasets created from local files?
Or do I have to use S3, GCP as storage to visualize datasets?

[2021-12-12 23:00] davidbuniat commented on #1387
Thanks @noringname for raising the feature request. We are looking into how we can embed into a jupyter notebook or run a local server. Can you share about your use case more?

[2021-12-13 15:59] noringname commented on #1387
First, I want to thank you for your amazing work!
My case is that my team doesn't have access to either S3 or GCP due to some reasons, so we have to create hub datasets from local hard drives, thus I noticed that visualization problem.
By the way, will you support keypoints dataset visualization in the future?

[2021-12-13 20:09] davidbuniat commented on #1387
Thanks @noringname for your kind words!

We have coco example https://app.activeloop.ai/activeloop/coco-train that contains keypoints. You can inspect construction of it by

[code]

We are now working on making keypoints more generic, is there a specific type of keypoints you are working we can prioritize?

[2021-12-13 20:10] davidbuniat commented on #1387
On visualization side we are looking into loading local datasets. Will keep you updated on the progress. :)

[2021-12-17 10:41] noringname commented on #1387
Look forward to it!
I noticed "AWS S3 / S3 compatible" in the datasets creation section, may I ask what does S3 compatible mean? For example, does Aliyun OSS work?
Thanks

[2021-12-20 15:41] #1213 closed

[2021-12-20 23:04] davidbuniat commented on #1387
@noringname yes, we haven't tried Aliyun but any S3 compatible API should work. You would need to provide `endpoint_url ` as an additional parameter for creds.

[code]

Please let us know if you have issues.

[2021-12-21 11:33] XDRAGON2002 commented on #1181
Hey, I am new to opensource and would like to work on this issue, could someone guide me as to how I would go about accomplishing this ?

[2021-12-22 13:36] noringname commented on #1387
This is very helpful! I'll try it out.

[2021-12-24 07:50] luca-medeiros commented on #1387
I ran into some issues trying David's solution:
`S3GetError: Could not connect to the endpoint URL: "http://localhost:8888/BUCKET_NAME/DATASET_NAME/dataset_meta.json"`

Any ideas for solving it?

[2021-12-24 19:30] mikayelh commented on #1387
hey @luca-medeiros, sorry about that. We will look into it shortly and get back to you!

[2021-12-24 21:30] davidbuniat commented on #1387
@luca-medeiros I have added an example of MinIO with Hub here https://github.com/activeloopai/examples/tree/main/examples/minio. Can you please give a try and let me know if the problem still persists.

If the problem still holds for you, can you please create a separate issue with minimally reproducible code.

[2021-12-27 09:55] #1355 closed

[2021-12-27 10:07] hoshimura opened #1414 "[BUG] dataset.pytorch() does seamingly not use current branch"
## 🐛🐛 Bug Report
If I checkout a branch and add tensors to that branch and on a second run checkout the branch and try to access the dataset as pytorch data I get KeyError with a random commit version basepath such as
KeyError: 'versions/66802f9752262792100255fc4f06ae49c607e9e7/strings/chunks/72ec8774'
If I look for the data swapping 66802f9752262792100255fc4f06ae49c607e9e7 for the latest cidupdat

[2021-12-27 10:08] AbhinavTuli commented on #1414
Hey @hoshimura ! Could you try this out on main? I think it should work. I just merged a PR for this 10 minutes back #1410

[2021-12-27 10:10] hoshimura commented on #1414
aight. I will

[2021-12-27 10:15] hoshimura commented on #1414
@AbhinavTuli Ok, I confirm #1410 fixes this. I thought, or actually hoped (e g did not check), that 2.2.0 had it fixed already. Thanks for the swift reply!

[2021-12-27 10:15] #1414 closed

[2022-01-04 13:25] JohanOu opened #1428 "Can I use hub in other frame like mindspore、paddlepaddle？"
If it is possible,how to code?

[2022-01-04 21:03] davidbuniat commented on #1428
Thanks @JohanOu for the feature request. We have currently no integrations with mindspore or paddlepaddle, but would love help in building one from the community.

Here are the steps that would be required

1) first step would be to add an integration in https://github.com/activeloopai/Hub/tree/main/hub/integrations
2) link inside the [dataset](https://github.com/activeloopai/Hub/blob/main/hub/cor

[2022-01-05 06:21] vaibhav-35 commented on #1181
Hello @DiptoChakrabarty, I am new here. Just saw this issue. I am just starting off with opensource . Maybe you can guide a bit and we can fix the issue together.

[2022-01-05 07:09] istranic commented on #1181
Hey @vaibhav-35. This feature has already been completed. I'm sorry about our poor management of Github issues. I will close this one.

[2022-01-05 07:09] #1181 closed

[2022-01-07 16:57] yuvalsCG opened #1430 "Can I use hub tensor/group info as a dict?"
I would like to iterate over the keys of the info

[2022-01-07 18:10] istranic commented on #1430
Hey @yuvalsCG. Thank you for raising this issue! We're aware of this constraint and will fix it in our next release.

[2022-01-07 18:44] istranic commented on #1377
Hey @nollied We're having a quiet week this week... half of us are at CES, and the other half are on vacation. We'll get back to you next week!

[2022-01-07 21:50] yuvalsCG commented on #1430
hi, thank you for the answer.
It will also be nice if info can be saved for a specific part of a tensor and not only for the whole tensor. For example, I have a tensor of different videos and it would be helpful for me if I could save metadata for each one of them.

[2022-01-08 00:57] istranic commented on #1430
Hey @yuvalsCG I think you should already be able to do that. Simply create a 'metadata' tensor of htype = 'json' or 'list', and then run ds.metadata.append(dict or list). If a sample has no metadata, you an append an empty dict or list.

Does this solution work for you?

[2022-01-09 00:09] flpvvvv opened #1431 "[BUG] PyTorch Dataloader doesn't work on the versioned dataset"
## 🐛🐛 Bug Report

When the dataset is committed/versioned, then if we iterate `dataloader` from `ds.pytorch`, it looks for a file that doesn't exist. For example, a file like: `versions/6638f5b89f2fe54e28446666e7e08515df2bcb0f/images/chunks/f82df5c5`.

[2022-01-09 08:03] davidbuniat commented on #1431
Thanks @flpvvvv for raising the issue, the following PR should have fixed the issue https://github.com/activeloopai/Hub/pull/1410, and will be released next week. Can you confirm if it is resolved by installing from the source?

[2022-01-09 10:28] flpvvvv commented on #1431
Hi @davidbuniat , thanks for your reply.
I tested the latest version 2.2.1 (from the source), and it worked perfectly !
Thanks. It's a great package !

[2022-01-09 10:28] #1431 closed

[2022-01-10 11:13] satti007 opened #1432 "Hello, does hub support dicom images? Tqs"

[2022-01-10 16:17] istranic commented on #1432
Hi @satti007 . Unfortunately, we don't support Dicom images yet. I assume you're in the healthcare space?

Would you say this is the most common format for medical images?

[2022-01-10 17:45] mikayelh commented on #1431
@flpvvvv, thank you so much for helping us get better by providing feedback! Mind joining our community (slack.activeloop.ai). I'll ping you there and we'll arrange some swag to be sent your way. :)

[2022-01-10 17:48] satti007 commented on #1432
Yes, I work in healthcare and dicom is the common format for medical images

[2022-01-10 21:44] yuvalsCG commented on #1430
thank you very much, it might work. i'll check it

[2022-01-10 21:51] yuvalsCG opened #1433 "[BUG] hub.read failing with h265 videos"
Hi, hub.read() fails to decompress h265 videos right. I get unreadable videos with a higher number of frames (x10). When converting it to h264 first, hub.read() seems to work fine.

[2022-01-10 22:36] istranic commented on #1433
Hey @yuvalsCG! Sorry about this issue! We will look into it asap.

[2022-01-11 11:08] flpvvvv commented on #1431
@mikayelh yeah, I would love to join the community, please invite me via slack.

[2022-01-11 18:42] dhiganthrao commented on #1432
This could potentially be included if [Pydicom](https://github.com/pydicom/pydicom) is added as an external dependency, with it running in the back once `hub.read` is called on a DICOM image, converting it into arrays. Apart from DICOM, NIfTI files are a common format for healthcare data; especially for neuroimaging data. [NiBaBel](https://github.com/nipy/nibabel) provides support for this as well

[2022-01-11 19:40] istranic commented on #1432
@dhiganthrao Yes, we likely can. Thank you for doing the research!

[2022-01-11 19:40] istranic commented on #1432
@satti007 Just curious, what type of medical images do you work with... MRI, X-Ray, CT, other types?

[2022-01-11 21:01] satti007 commented on #1432
@istranic Basically with all the types you mentioned Xray, CT, MRI, and  Ultrasound too.

[2022-01-11 21:25] istranic commented on #1432
@satti007 Got it. Thank you! Is your main objective to store this data in hub format, or would you also want our App to support visualization of the data?

[2022-01-11 22:30] satti007 commented on #1432
I am more interested in visualisation.

[2022-01-11 22:30] mikayelh commented on #1431
Hey @flpvvvv, thanks a lot for wanting to join! I don't see an email on your GitHub account, so if you can click [this link](slack.activeloop.ai) and join yourself it would be great.

[2022-01-12 03:20] dhiganthrao commented on #1432
@istranic if possible, could I take a shot at adding support for storing this data? At first glance, it looks like running Pydicom/NiBabel in the back while calling `hub.read` should work. Is this fine?

[2022-01-12 03:28] istranic commented on #1432
@dhiganthrao That's a part of it. We'd also need to build the code that returns the data as arrays, list or arrays, etc. for cases of single images (Xray, ultrasound) and image stacks (MRI, CT). Is that something you can do?

[2022-01-12 06:14] dhiganthrao commented on #1432
I just thought that this problem involved the conversion of the data into a NumPy array for hub.read to use, with the respective Python library in the back converting the data into an array. Not sure if I understand what you mean by returning the data as arrays.

[2022-01-13 19:25] mikayelh commented on #1171
hi @jaivanti - I am really sorry for no response on this issue. Is the notebook your [final submission](https://colab.research.google.com/drive/1yLNm_Nyh98nrSAooSqR6dVWm6hNgvXSL?usp=sharing)? We're glad to send over some swag for contribution as soon as I receive confirmation on your end! :)

[2022-01-13 19:28] mikayelh commented on #1166
This issue is still up for grabs in case anyone is interested!

[2022-01-13 19:28] mikayelh commented on #1172
@Anaxagoras7 did you send a PR for this? I had a hard time tracking this down. If not, this issue is still up for grabs in case anyone is interested!

[2022-01-13 19:31] mikayelh commented on #1176
@istranic - we did resolve #1 and #2 (I guess @FayazRahman has completed them), correct?

[2022-01-13 19:32] mikayelh commented on #1165
@tatevikh could you please confirm that this is resolved by [this](https://github.com/activeloopai/Hub/pull/1288). That PR was hanging for a long time.

[2022-01-13 19:35] mikayelh commented on #1168
This one is still up for grabs! :)

[2022-01-13 19:51] mikayelh commented on #1160
This one is still up for grabs, folks!

[2022-01-13 19:55] mikayelh commented on #1157
This one is still up for grabs!

[2022-01-13 19:56] mikayelh commented on #1167
hey @Hemantr05 - unassigned due to incactivity. If you are still interested, please let me know so I can assign this back. In the meantime, it is up for grabs!

[2022-01-13 20:13] #1176 closed

[2022-01-14 04:43] istranic commented on #1433
Hey @yuvalsCG, we're having trouble recreating this issue. Any chance you could send us the files that caused trouble? We can exchange the data privately of course.

[2022-01-14 09:56] yuvalsCG commented on #1433
Hi, what's your mail?

[2022-01-14 12:33] istranic commented on #1433
@yuvalsCG Pls ping me at ivo@activeloop.ai

[2022-01-14 14:55] Nageshbansal commented on #1182
Hey @dhiganthrao  , can I work on this issue?

[2022-01-14 14:59] tatevikh commented on #1182
Hi @Nageshbansal! Absolutely and thanks for your interest in Hub.

[2022-01-14 15:22] istranic commented on #1433
Hey @yuvalsCG. Thank you for sending over the files! We were able to replicate your issues on `main`.

It appears that [This PR](https://github.com/activeloopai/Hub/pull/1361) also solves the issues. We need to do more testing and cleanup, but I'll keep you posted on the merge.

Thank you for your patience!

[2022-01-15 00:17] mikayelh commented on #1182
@Nageshbansal hi! thanks so much for your willingness to contribute! If you have any questions, please join our community [slack](slack.activeloop.ai) to ask away!

[2022-01-15 12:28] gaurav879 commented on #1169
I would like to work on this issue.

[2022-01-15 14:36] jaivanti commented on #1171
Yeah! That notebook is pretty much the final submission. Thanks a lot for responding

[2022-01-15 15:47] tatevikh commented on #1169
Hi @gaurav879 ! Thanks for your interest in Hub. Let us know if you need any help.

[2022-01-15 18:52] davidbuniat opened #1438 "[BUG] Cannot create an OBJECT array from memory buffer"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
Cannot create an OBJECT array from memory buffer. Dataset has been created using numpy objects and a tensor dtype is

**Input Code**

[code]

### ⚙️ Environment

- `Python` version(s): Python 3.6.9
- `OS`: Ubuntu 18.04.6 LTS
- `IDE`: VS-Code

### 🧰 Possible Solution
Either do not allow numpy objects to be uploaded or parse numpy() properly.

[2022-01-15 19:45] davidbuniat opened #1439 "[Feature] pretty prints of objects"
## 🚨🚨 Feature Request

### If your feature will improve `HUB`

To explore the structure of a dataset it is convenient to have nicer and more informative prints of dataset objects and samples

### Description of the possible solution

#### 1) show ds

now

[code]

Something along the lines would work (taken from SQLlite)

[code]

and in jupyter notebook shown as a table similar to pandas

#### 2) s

[2022-01-17 00:29] nollied opened #1441 "[INTEGRATION] wrapped fsspec storage providers"
when developing hub we explicitly decided not to use [fsspec](https://filesystem-spec.readthedocs.io/en/latest/) because we deemed it was too slow. so we went with [our own storage providers interface](https://github.com/activeloopai/Hub/tree/main/hub/core/storage).

this is great, but we might be able to advance prototyping for users if we open this up as an integration.

also interoperability be

[2022-01-17 00:30] nollied commented on #1441
@FayazRahman i would love you forever if you picked this one up :D <3

[2022-01-18 05:57] #1184 closed

[2022-01-18 16:41] tatevikh commented on #1159
This issue is still up for grabs in case anyone is interested!

[2022-01-20 06:34] #1433 closed

[2022-01-20 13:05] istranic commented on #1433
Hey @yuvalsCG. We fixed the issue on main branch and we're going to release it on pipy on Monday. If you have an opportunity to test out main, can you pls ping us if you still face the problem in this thread?

[2022-01-26 08:59] hoshimura opened #1456 "[BUG] 10x slowdown of dataset on s3 provider when using version control features"
## 🐛🐛 Bug Report
I have noticed a 10x slow down of processing time if using version control.

### ⚗️ Current Behavior
I create an image dataset with only image tensors and jpg images
ds.dataset(s3somewhere)

then benchmark using tfds.benchmark with ds.tensorflow()

**Input Code**
[code]

[2022-01-26 12:43] AbhinavTuli commented on #1456
Hey @hoshimura! Thanks for pointing this out, I've diagnosed the issue and it turns out it happens when we create a commit/branch with no data present (i.e. it's only using data from previous commits). I'll be pushing a fix shortly.

[2022-01-26 12:44] hoshimura commented on #1456
@AbhinavTuli excellent news! thanks!

[2022-01-26 13:28] AbhinavTuli commented on #1456
@hoshimura #1458 should fix the issue. Let me know once you get a chance to try it out.

[2022-01-27 07:00] #1456 closed

[2022-01-29 01:48] jinlinyi opened #1461 "[BUG]hub.util.exceptions.AuthorizationException: Signature expired"
## 🐛🐛 Bug Report

### ⚗️ Current Behavior
[code]

**Input Code**
[code]

### ⚙️ Environment

- `Python` version(s):Python 3.9.7 (default, Sep 16 2021, 13:09:58)
[GCC 7.5.0] :: Anaconda, Inc. on linux
- `OS`: CentOS Linux release 7.9.2009 (Core)
- `Packages`: hub==2.2.2

[2022-01-29 01:55] davidbuniat commented on #1461
Thanks @jinlinyi! looking into the issue.

[2022-01-29 15:19] khustup commented on #1461
Hi @jinlinyi We changed the message to be more descriptive - "Token expired. Please login again". Logging in again will fix the issue. We will continue to work on final fix of the issue, to avoid token validation when accessing public datasets. Thanks.

[2022-01-29 21:19] jinlinyi commented on #1461
Hi @khustup, thank you for the quick response! I just pip install hub and try to query the dataset on my server. I am not aware of any login steps. Could you let me know where to log in? Thanks!